<md-content class="md-padding page-content">
    <div ng-repeat="location in vm.locations">
        <md-card>
            <md-card-content ng-if="!location.isEdit">
                <div layout="column">
                    <div flex layout="row">
                        <md-input-container flex="25">
                            <label>Название</label>
                            <input value="{{location.name}}" ng-readonly="true">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Описание</label>
                            <input value="{{location.description}}" ng-readonly="true">
                        </md-input-container>
                    </div>
                    <div flex layout="row">
                        <md-input-container flex>
                            <label>Дата создания</label>
                            <input value="{{location.createDate | FormatToStandartDate}}" ng-readonly="true">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Состояние</label>
                            <input value="{{location.disabled ? 'Отключена' : 'Включена'}}" ng-readonly="true">
                        </md-input-container>
                    </div>
                </div>
            </md-card-content>
            <md-card-content ng-if="location.isEdit">
                <div layout="column">
                    <div flex layout="row">
                        <md-input-container flex>
                            <label>Название</label>
                            <input ng-model="vm.editableLocation.name">
                        </md-input-container>
                        <div flex layout-align="start center" layout="row">
                            <div>Состояние : </div>
                            <md-switch ng-model="vm.editableLocation.isActive" class="md-primary" aria-label="Состояние">
                                {{ vm.editableLocation.isActive ? "Включить" : "Отключить" }}
                            </md-switch>
                        </div>
                    </div>
                    <div flex layout="row">
                        <md-input-container flex>
                            <label>Описание</label>
                    <textarea ng-model="vm.editableLocation.description">
                    </textarea>
                        </md-input-container>
                    </div>
                </div>
            </md-card-content>
            <md-dialog-actions class=card-actions" layout="row" layout-align="end center">
                <div ng-if="location.isEdit">
                    <md-button class="md-primary md-raised" ng-click="vm.cancelEditLocation(location)">Отменить</md-button>
                    <md-button class="md-primary md-raised" ng-click="vm.saveChanges()">Сохранить</md-button>
                </div>
                <div ng-if="!location.isEdit">
                    <md-button class="md-primary md-raised" ng-click="vm.editLocation(location)">Редактировать</md-button>
                    <md-button class="md-raised md-warn" ng-click="vm.showConfirm($index)">Удалить</md-button>
                </div>
            </md-dialog-actions>
        </md-card>
    </div>

    <md-button aria-label="menu" class="md-fab md-warn btn-add-entity" ng-click="vm.isShowNewLocationForm = true">
        <md-tooltip>
            Добавить
        </md-tooltip>
        +
    </md-button>

    <md-card ng-if="vm.isShowNewLocationForm">
        <md-card-content>
            <div layout="column">
                <div flex="40" layout="row">
                    <md-input-container flex="40">
                        <label>Название</label>
                        <input ng-model="vm.newLocation.name" >
                    </md-input-container>
                </div>
                <div flex layout="row">
                    <md-input-container flex>
                        <label>Описание</label>
                        <textarea ng-model="vm.newLocation.description"></textarea>
                    </md-input-container>
                </div>
            </div>
        </md-card-content>
        <md-dialog-actions class=card-actions" layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-click="vm.setDefaultNewLocation()">Отменить</md-button>
            <md-button class="md-primary md-raised" ng-click="vm.createLocation()">Создать</md-button>
        </md-dialog-actions>
    </md-card>


</md-content>