<div flex class="form calculator-form">
    <div flex class="top">
        <div flex class="you-choose-text">Вы выбрали:</div>
        <div layout="row" class="info">
            <div flex="65">
                <div flex class="column-name">Процессор</div>
                <div flex class="column-name">Оперативная память</div>
                <div flex class="column-name">Дисковое пространство</div>
                <div flex class="column-name">Операционная система</div>
                <div flex class="column-name"
                     ng-show="vm.vmOption.subscriptionType==vm.subscriptionTypes.Fixed">Срок оплаты
                </div>
            </div>
            <div flex layout="column">
                <div flex class="column-value">{{vm.vmOption.cpu}} ядро</div>
                <div flex class="column-value">{{vm.vmOption.ram|convertFromMb}} </div>
                <div flex class="column-value">{{vm.vmOption.hdd|convertFromGb}} </div>
                <div flex class="column-value">{{vm.vmOption.userOperatingSystem.name}}</div>
                <div flex class="column-value"
                     ng-show="vm.vmOption.subscriptionType==vm.subscriptionTypes.Fixed">
                    {{vm.vmOption.countMonth}} месяца
                </div>
            </div>
        </div>
    </div>
    <div flex class="bottom">
        <div flex class="total-time">
                        <span ng-show="vm.vmOption.subscriptionType==vm.subscriptionTypes.Fixed">
                            За {{vm.vmOption.countMonth}} месяца
                        </span>
                        <span ng-hide="vm.vmOption.subscriptionType==vm.subscriptionTypes.Fixed">
                            За 1 час
                        </span>

        </div>
        <div layout="row">
            <div class="total-price">
                               <span ng-show="vm.vmOption.subscriptionType==vm.subscriptionTypes.Fixed">

                         {{vm.vmOption.price *vm.vmOption.countMonth - (vm.vmOption.price *vm.vmOption.countMonth*vm.discountSize)}} ₽
                        </span>
                        <span ng-hide="vm.vmOption.subscriptionType==vm.subscriptionTypes.Fixed">
                            {{vm.vmOption.price|money}} ₽
                        </span>

            </div>
            <div flex class="polygon-discount-div" ng-if="vm.discountSize">

                <img flex src="client/content/images/polygon-discount.png" alt="Polygon discount">
                <span>-{{vm.discountSize!=1?vm.discountSize*100:0}}%</span>
            </div>
        </div>
        <button ladda="vm.buyLoading"
                data-style="zoom-in"
                flex class="btn-yes"
                ng-click="vm.vmBuy()">
            Мне подходит!
        </button>
    </div>
</div>