<md-card>
    <md-card-content>
        <h1 class="md-padding">Расходы</h1>

        <md-card ng-if="vm.type == 'Usage'" flex>
            <md-card-content>
                <div layout layout-sm="column">
                    <md-input-container flex="25">
                        <label>Группировать по</label>
                        <md-select ng-model="vm.searchParams.periodType">
                            <md-option ng-repeat="type in vm.periodType | filter:{isShow:true}" value="{{type.value}}">
                                {{type.translate}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </md-card-content>
            <div class="md-actions card-actions" layout="row" layout-align="end center">
                <md-button class="md-raised" ng-click="vm.clearSearchParams()">Сбросить</md-button>
                <md-button class="md-raised" ng-click="vm.applyFilter()">Применить</md-button>
            </div>
        </md-card>

        <div class="md-padding" flex ng-if="vm.subscriptionPayments.items.length">
            <md-list class="task-border-list md-whiteframe-5dp">
                <md-list-item dir-paginate="subscriptionPayment in vm.subscriptionPayments.items | itemsPerPage: vm.paginationSettingFixPayment.pageSize"
                              total-items="vm.subscriptionPayments.totalRows"
                              current-page="vm.paginationSettingFixPayment.pageNumber"
                              pagination-id="subscriptionPaymentId"
                              ng-click="vm.visibleSubscriptionPayment(subscriptionPayment)">

                    <div layout="row" flex ng-show="!subscriptionPayment.show">
                        <span class="bold">Количество месяцев: {{subscriptionPayment.monthCount}}</span>
                        <div layout="row" flex layout-align="center">
                            <span class="bold">Сумма: {{subscriptionPayment.amount}}</span>
                        </div>
                        <div layout="row" flex layout-align="end center">
                            <span class="bold">Дата: {{subscriptionPayment.date | FormatToStandartDate}}</span>
                        </div>
                    </div>

                    <div class="width-100" ng-show="subscriptionPayment.show"
                         ng-include="'app/pages/money/virtualMachinePayment/vpsSingleTemplate/vpsSingle.template.html'">
                    </div>

                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </div>


        <div class="pagination-center" ng-if="vm.subscriptionPayments.items.length">
            <dir-pagination-controls
                    boundary-links="true"
                    pagination-id="subscriptionPaymentId"
                    on-page-change="vm.pageChangeHandler('subscriptionPayment', newPageNumber)"
                    template-url="content/pagination/dirPagination.tpl.html">
            </dir-pagination-controls>
        </div>

        <div class="md-padding" flex ng-if="vm.usageSubscriptionPayments.items.length">
            <md-list class="task-border-list md-whiteframe-5dp">
                <md-list-item dir-paginate="usageVm in vm.usageSubscriptionPayments.items | itemsPerPage: vm.paginationSettingUsagePayment.pageSize"
                              total-items="vm.usageSubscriptionPayments.totalRows"
                              current-page="vm.paginationSettingUsagePayment.pageNumber"
                              pagination-id="usageSubscriptionPaymentId"
                              ng-click="vm.visibleUsageSubscriptionPayment(usageVm)">

                    <div class="width-100" ng-show="vm.usageSubscriptionPayments.periodType">
                        <div layout="row" flex ng-show="!usageVm.show">
                            <div layout="row" flex>
                                <span class="bold">Тип: {{vm.usageSubscriptionPayments.periodType}}</span>
                            </div>
                            <div layout="row" flex layout-align="center">
                                <span class="bold">Сумма: {{usageVm.totalAmount}}</span>
                            </div>
                            <div ng-show="usageVm.month" layout="row" flex layout-align="end">
                                <span class="bold">Месяц: {{usageVm.month}}</span>
                            </div>
                            <div ng-show="!usageVm.month" layout="row" flex layout-align="end">
                                <span class="bold">Дата: {{usageVm.date | FormatToStandartDate}}</span>
                            </div>
                        </div>

                        <div class="width-100" ng-show="usageVm.show"
                             ng-include="'app/pages/money/virtualMachinePayment/cloudPaymentTemplate/cloudPayment.template.html'">
                        </div>

                        <md-divider ng-if="!$last"></md-divider>
                    </div>

                    <div class="width-100" ng-show="!vm.usageSubscriptionPayments.periodType">
                        <div layout="row" flex ng-show="!usageVm.show">
                            <div layout="row" flex>
                                <span class="bold">Сумма: {{usageVm.amount}}</span>
                            </div>
                            <div layout="row" flex layout-align="end">
                                <span class="bold">Дата: {{usageVm.date | FormatToStandartDate}}</span>
                            </div>
                        </div>

                        <div class="width-100" ng-show="usageVm.show"
                             ng-include="'app/pages/money/virtualMachinePayment/cloudPaymentTemplate/cloudPayment.template.html'">
                        </div>

                        <md-divider ng-if="!$last"></md-divider>
                    </div>
                </md-list-item>
            </md-list>
        </div>


        <div layout="row" layout-align="center" ng-if="vm.usageSubscriptionPayments.items.length">
            <dir-pagination-controls
                    boundary-links="true"
                    pagination-id="usageSubscriptionPaymentId"
                    on-page-change="vm.pageChangeHandler('usageSubscriptionPayment', newPageNumber)"
                    template-url="content/pagination/dirPagination.tpl.html">
            </dir-pagination-controls>
        </div>

    </md-card-content>
</md-card>