<div class="auth-form register-form" style="height: 255px;;">
    <div class="btn-close">
        <img class="btn-close-image" src="client/content/images/btn-close.png" alt="Close" ng-click='vm.close()'/>
    </div>
    <div class="form-content">
        <form ng-submit="vm.reset(formReset)" name="formReset">
            <div class="header-text">Восстановление пароля</div>

            <div class="main-text first-header">Ввведите email, на который мы вышлем инструкцию для восстановения доступа</div>
            <div class="main-text first-header">E-mail</div>
            <input type="email" class="form-input register-form-input" placeholder="Ваш e-mail" name="email" ng-model="vm.email" required/>
            <div class="error-text first-header" ng-show="vm.submited&&formReset.email.$error.required">E-mail обязателен</div>

            <button ladda="vm.resetLoading" data-style="zoom-in" class="btn-form-action btn-register " ripple type="submit">Выслать </button>
        </form>
    </div>
</div>