<md-card>
    <md-card-content>
        <h1 class="md-padding">Расходы</h1>
        <div class="md-padding"  flex ng-if="vm.paymentGameServer.items.length">
            <md-list class="task-border-list md-whiteframe-5dp">
                <md-list-item dir-paginate="paymentGameServer in vm.paymentGameServer.items | itemsPerPage: vm.paginationSetting.pageSize"
                              total-items="vm.paymentGameServer.totalRows"
                              current-page="vm.paginationSetting.pageNumber"
                              pagination-id="paymentGameServerId"
                              ng-click="vm.visiblePaymentGameServer(paymentGameServer)">
                    <div layout="row" flex ng-show="!paymentGameServer.show">
                        <div layout="row" flex layout-align="start center">
                            <span class="bold">Количество месяцев: {{paymentGameServer.monthCount}}</span>
                        </div>
                        <div layout="row" flex layout-align="start center">
                            <span class="bold">Количество слотов: {{paymentGameServer.slotCount}}</span>
                        </div>
                        <div layout="row" flex layout-align="center">
                            <span class="bold">Сумма: {{paymentGameServer.amount}}</span>
                        </div>
                        <div layout="row" flex layout-align="end center">
                            <span class="bold">Дата: {{paymentGameServer.date | FormatToStandartDate}}</span>
                        </div>
                    </div>

                    <div class="width-100" ng-show="paymentGameServer.show">
                        <md-card-content flex>
                            <h2>{{paymentGameServer.id}}</h2>
                            <div layout="row" flex>
                                <md-input-container flex="40">
                                    <label>SubscriptionGameServerId</label>
                                    <input readonly="" value='{{paymentGameServer.gameServerId}}' name="gameServerId">
                                </md-input-container>
                                <md-input-container flex="40">
                                    <label>Игровой сервер</label>
                                    <input readonly="" value='{{paymentGameServer.gameServerName}}' name="gameServerName">
                                </md-input-container>
                            </div>
                            <div layout="row" flex>
                                <md-input-container flex="40">
                                    <label>Количество месяцев</label>
                                    <input readonly="" value='{{paymentGameServer.monthCount}}' name="gameServerId">
                                </md-input-container>
                                <md-input-container flex="40">
                                    <label>Сумма</label>
                                    <input readonly="" value='{{paymentGameServer.amount}}' name="gameServerName">
                                </md-input-container>
                                <md-input-container flex="40">
                                    <label>Дата</label>
                                    <input readonly="" value='{{paymentGameServer.date | FormatToStandartDate}}' name="gameServerName">
                                </md-input-container>
                            </div>
                            <div layout="row" flex>
                                <md-input-container flex>
                                    <label>Количество слотов</label>
                                    <input readonly="" value='{{paymentGameServer.slotCount}}' name="coreCount">
                                </md-input-container>
                            </div>
                            <div layout="row" flex>
                                <md-input-container flex>
                                    <label>paymentModelType</label>
                                    <input readonly="" value='{{vm.paymentViewModelType[paymentGameServer.paymentModelType]}}' name="coreCount">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>billingTransactionId</label>
                                    <input readonly="" value='{{paymentGameServer.billingTransactionId}}' name="coreCount">
                                </md-input-container>
                            </div>
                        </md-card-content>
                    </div>
                </md-list-item>
            </md-list>
        </div>

        <div class="pagination-center" ng-if="paymentGameServer.items.length">
            <dir-pagination-controls
                    boundary-links="true"
                    pagination-id="paymentGameServerId"
                    on-page-change="vm.pageChangeHandler(newPageNumber)"
                    template-url="content/pagination/dirPagination.tpl.html">
            </dir-pagination-controls>
        </div>
    </md-card-content>
</md-card>