.cloud-hosting-calculator-page {
  width: 1000px;
  margin: 0 auto;

  .hosting-content {
    margin-top: 42px;
    padding-bottom: 50px;

    .left {

      .header {
        font-family: firaSansRegular;
        font-size: 27px;
        color: #3f4549;

        span {
          font-family: firaSansMedium;
        }
      }

      .advantages {
        margin-top: 50px;
      }
    }

    .right {

      .form {

        margin-left: 50px;
        margin-top: 8px;
      }
      .under-form {
        margin-left: 50px;
        margin-top: 17px;

        .pay-text {
          font-family: firaSansRegular;
          font-size: 14px;
          color: #38454e;
        }

        .cards-div {
          margin-top: 10px;

          img {
            width: 66%;
          }
        }

        .under-card-text {
          font-family: firaSansRegular;
          font-size: 13px;
          color: #3f4549;
          margin-top: 16px;
          padding-left: 3px;
          line-height: 1.4;

          span {
            font-family: firaSansMedium;
          }
        }

        .phone {
          font-family: firaSansMediumItalic;
          font-size: 22px;
          color: #4d5d69;
          margin-top: 28px;
          padding-left: 6px;
        }

        .under-phone-text {
          font-family: firaSansMediumItalic;
          font-size: 12px;
          color: #4d5d69;
        }
      }
    }
  }
}

.form {
  background-color: #fff;
  border: 1px solid #9fb4c1;
  border-radius: 4px;
  overflow: hidden;

  .top {
    padding-left: 28px;
    padding-top: 17px;
    padding-bottom: 35px;

    .you-choose-text {
      font-family: firaSansMedium;
      font-size: 21px;
      color: #3f4549;
    }

    .info {
      margin-top: 10px;
      padding-right: 29px;

      .column-name {
        font-family: firaSansRegular;
        font-size: 13px;
        color: #aab0b4;
        margin-top: 5px;
        padding-bottom: 7px;
      }

      .column-value {
        font-family: firaSansMedium;
        font-size: 13px;
        color: #3f4549;
        text-align: right;
        padding-top: 6px;
      }
    }
  }

  .bottom {
    background-color: #e5ebef;
    padding-bottom: 24px;

    .total-time {
      font-family: firaSansRegular;
      font-size: 14px;
      color: #3f4549;
      padding-top: 22px;
      padding-left: 33px;
    }

    .total-price {
      font-family: helveticaNeueBold;
      font-size: 37px;
      color: #609bca;
      margin-top: 2px;
      padding-left: 33px;
    }

    .polygon-discount-div {
      margin-left: 2px;
      margin-top: -14px;
      position: relative;

      span {
        position: absolute;
        top: 29%;
        left: 10%;
        font-family: firaSansBold;
        font-size: 18px;
        color: #fff;
        text-shadow: 0px 2px 2px #689f9b;
      }
    }


  }
}

.hosting-parameters {
  padding-top: 11px;

  .parameter {
    margin-top: 41px;

    .param-image-div {

      .param-image {
        width: 100%;
      }
    }

    .param-name {
      font-family: firaSansMedium;
      font-size: 14px;
      color: #3f4549;
      padding-top: 2px;
      padding-left: 11px;
    }

    .param-slider {
      padding-left: 33px;
    }

    .param-input {
      padding-left: 12px;
      padding-top: 4px;

      input {
        font-family: firaSansMedium;
        font-size: 15px;
        color: #4d5d69;
        width: 102%;
        height: 100%;
        line-height: 28px;
        border-radius: 4px;
        border: 1px solid #8595a1;
        padding-left: 11px;
      }
    }

    .param-total {
      font-family: helveticaNeue;
      font-size: 15px;
      color: #96a9b7;
      padding-left: 12px;
      padding-top: 11px;
    }

    .param-select-div {
      margin-left: 31px;
      width: 97%;
      padding: 8px 10px;
      font-family: firaSansMedium;
      font-size: 14px;
      color: #3f4549;
      border-radius: 4px;
      border: 1px solid #b8c4cc;
      background-color: #dfe5e9;

      .dropdown {
        margin: 4px 0;
      }
    }

    .param-text {
      font-family: firaSansRegular;
      font-size: 13px;
      color: #3f4549;
      padding-top: 2px;
      padding-left: 9px;
      line-height: 1.4;
    }

    .param-time-switcher {
      padding-left: 10%;
      padding-right: 20%;

      .btn-time-switcher {
        font-family: firaSansMedium;
        font-size: 14px;
        color: #4d5d69;
        border: 1px solid #b8c4cc;
        box-shadow: inset 0 1px 2px #fff, 0 1px 2px #b8c4cc;
        border-right: none;
      }

      .btn-selected {
        background-color: #5e99c9;
        color: #fff;
        box-shadow: inset 0 2px 3px #183788;
      }
    }

    .btn-time-switcher:nth-child(1) {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    .btn-time-switcher:nth-child(4) {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-right: 1px solid #b8c4cc;
    }
  }

  .param-footer {
    text-align: center;
    font-family: firaSansMediumItalic;
    font-size: 14px;
    color: #939ea7;
    margin-top: 10px;
    margin-left: -43px;

    span {
      font-family: helveticaNeueMadiumItalic;
    }
  }
}

.btn-yes {
  font-family: firaSansMediumItalic;
  font-size: 15px;
  color: #fff;
  background-color: #5c97c8;
  margin-top: 5px;
  padding: 11px 40px;
  border-radius: 20px;
  border: none;
  border-bottom: 1px solid #3872b4;
  margin-left: 25px;
  &:active
  {
    position:relative;
    top:1px;
  }
}
