.personal-account-finance-form {

  .header {
    font-size: 24px;
    font-family: firaSansMedium;
    margin: 0;
    margin-bottom: 10px;
  }

  .current-balance {
    margin-left: 10px;

    .text {
      margin-top: 5px;
      margin-right: 15px;

      span {
        margin-left: 10px;
        font-family: firaSansMedium;
        font-size: 18px;
        color: #609bca;
      }
    }
  }

  .subheader-div {
    margin-top: 15px;
    margin-left: 10px;

    .subheader {
      font-size: 18px;
      font-family: firaSansMediumItalic;
      margin-left: 0;
    }

    .item {
      margin: 10px 5px;
    }
  }
}