<div flex class="personal-account-finance-form" ng-if="vm.isShowCurrentBalance">
    <div flex class="header">Финансы</div>

    <div layout="row" class="current-balance" ng-show="vm.isShowCurrentBalance">
        <div class="text">Текущий баланс <span>{{vm.userPaymentForecast.currentBalance|money}} ₽</span> </div>
        <btn-replenish></btn-replenish>
    </div>
</div>