<div>
    <md-menu md-offset="0 -5" ng-hide="vm.pending">
        <md-button aria-label="Open demo menu" class="md-primary md-raised subscription-widget-button updateStatusGameServerButton"
                   ng-click="vm.openMenu($mdOpenMenu, $event)">
            Сменить статус
        </md-button>
        <md-menu-content width="4">
            <md-menu-item ng-repeat="manage in vm.manageGameServer">
                <md-button ng-click="vm.changeState(manage.name)">
                    {{manage.translate}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <md-progress-circular md-mode="indeterminate" ng-show="vm.pending"></md-progress-circular>
</div>