.container {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    border: 2px solid #aad1f9;
    transition: opacity 0.1s linear;
    border-top: 0px;
}

.bottom-block {
    display: block;
    position: relative;
    min-height: 55px;
    width: 100%;
}

.task-createdAt{
    float: right;
}

.task-card{
    margin: 5px;
    color: white;
}

.task-card-create{
    background-color: #34A853;
}

.task-card-error{
    background-color: #DF393D;
}

.virtual-machine-username-titile{
    cursor: pointer;;
}