
    <md-content class="md-padding page-content">
<!--{typeTask: typeTask.ChangeStatus}-->
        <md-card ng-show="currentVirtualMachine">
            <md-card-content>
                <div layout="row" flex>
                    <div layout="row" flex>
                        <div flex="35">
                            <div>
                                <h3>{{currentVirtualMachine.name}}</h3>
                            </div>
                            <div class="machineImage">
                                <img ng-src="{{BASE_INFO.URL}}{{BASE_INFO.PORT}}{{currentVirtualMachine.osImageFilePath}}">
                            </div>
                        </div>
                        <div flex="20" layout="column" layout-align="end start">
                            <md-input-container>
                                <label>Ядра</label>
                                <input readonly="" value='{{currentVirtualMachine.coreCount}} ЦП'></input>
                            </md-input-container>
                            <md-input-container>
                                <label>Память</label>
                                <input readonly="" value='{{currentVirtualMachine.ramCount}} Мб'></input>
                            </md-input-container>
                            <md-input-container>
                                <label>Жесткий диск</label>
                                <input readonly="" value='{{currentVirtualMachine.hardDriveSize}} Гб'></input>
                            </md-input-container>
                        </div>
                        <div flex-offset="10" layout="column" layout-align="end start">
                            <md-input-container ng-hide="currentVirtualMachine.pendingStatus">
                                <label>Состояние</label>
                                <input readonly="" value='{{statusVm.arrayItems[currentVirtualMachine.status].translate}}'></input>
                            </md-input-container>
                            <md-input-container ui-sref="usersSingle({id:currentVirtualMachine.userId})">
                                <label>Создатель</label>
                                <input readonly="" class="virtual-machine-username-titile" value='{{currentVirtualMachine.userName}}'></input>
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="column" flex="35">
                        <div flex layout="row" layout-align="end start">
                            <md-button  class="md-primary md-raised" ng-click="showAdvanced($index)">Изменить машину</md-button>
                        </div>
                        <div flex layout="row" layout-align="end end">
                            <div>
                                <md-menu md-offset="0 -5" ng-hide="currentVirtualMachine.pendingStatus">
                                    <md-button aria-label="Open demo menu" class="md-primary md-raised"
                                               ng-click="openMenu($mdOpenMenu, $event)">
                                        Сменить статус
                                    </md-button>
                                    <md-menu-content width="4">
                                        <md-menu-item ng-repeat="manage in manageMachine">
                                            <md-button ng-click="changeState(manage.value)">
                                                <!--<md-icon md-menu-align-target>{{manage.picture}}</md-icon>-->
                                                {{manage.name}}
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                <md-progress-circular md-mode="indeterminate" ng-hide="!currentVirtualMachine.pendingStatus"></md-progress-circular>
                                <md-button class="md-raised md-warn" ng-click="showConfirm($index)">Удалить</md-button>
                            </div>

                        </div>
                    </div>
                </div>
            </md-card-content>
            <div class="md-actions card-actions" layout="row" layout-align="end center">
            </div>
        </md-card>
        <md-card>
            <!--<div ng-show="defaultTasks.items.length">-->

                <!--<md-card ng-repeat="task in processingTasks | filter: showProcessingTask"-->
                         <!--ng-class="{'task-card-error': task.isError}">-->
                    <!--<md-progress-linear md-mode="indeterminate"></md-progress-linear>-->
                    <!--<md-card-content>-->
                        <!--<span class="task-createdAt">{{task.createdAt| date:'dd.MM.yyyy hh.mm.ss'}}</span>-->
                    <!--</md-card-content>-->
                <!--</md-card>-->

            <!--</div>-->
        </md-card>
        <md-card>
            <md-card-content>
                <h1>Состояние</h1>

                <md-monitoring-chart vm-id="vmId"></md-monitoring-chart>

            </md-card-content>

        </md-card>
        <md-card>
            <md-tabs md-dynamic-height="" md-border-bottom="" md-selected="tabs.selectedIndex">
                <md-tab label="Задачи"></md-tab>
                <md-tab label="Бекапы"></md-tab>
                <md-tab label="Снепшоты"></md-tab>
            </md-tabs>
            <md-card-content>
                <ng-switch on="tabs.selectedIndex">
                    <div ng-switch-when="0">
                        <div flex class="md-padding" ng-show="processingTasks.items.length">
                            <h4>В процессе</h4>
                            <md-list class="task-border-list md-whiteframe-5dp">
                                <md-list-item ng-repeat="task in processingTasks.items"
                                              ng-init="task.show = false"
                                              ng-click="visibleTask(task)">

                                    <div ng-show="!task.show" flex layout="column" class="proccesingTask">
                                        <div layout="row" flex>
                                            <span class="bold">{{typeTask.arrayItems[task.typeTask].translate}}</span>
                                            <div layout="row" flex layout-align="end center">
                                                <span>Начата: {{task.createdAt | date:'dd.MM.yyyy hh:mm:ss'}}</span>
                                            </div>
                                        </div>
                                        <md-progress-linear flex md-mode="indeterminate"></md-progress-linear>
                                    </div>


                                    <md-card ng-show="task.show" flex>
                                        <md-card-content>
                                            <div layout layout-sm="column">
                                                <md-input-container flex>
                                                    <label>ID</label>
                                                    <input readonly="" value={{task.id}}></input>
                                                </md-input-container>
                                            </div>
                                            <div layout layout-sm="column">
                                                <md-input-container flex>
                                                    <label>Type Task</label>
                                                    <input readonly="" value={{typeTask.arrayItems[task.typeTask].translate}}></input>
                                                </md-input-container>
                                                <md-input-container flex>
                                                    <label>Status Task</label>
                                                    <input readonly="" value={{task.statusTask.name}}></input>
                                                </md-input-container>
                                                <md-input-container flex>
                                                    <label>Resource Type</label>
                                                    <input readonly="" value={{task.resourceType.name}}></input>
                                                </md-input-container>
                                            </div>
                                            <div layout layout-sm="column">
                                                <md-input-container flex>
                                                    <label>Created At</label>
                                                    <input readonly="" value="{{task.createdAt | date:'dd.MM.yyyy hh:mm:ss'}}"></input>
                                                </md-input-container>
                                                <md-input-container flex>
                                                    <label>Started At</label>
                                                    <input readonly="" value="{{task.startedAt}}"></input>
                                                </md-input-container>
                                                <md-input-container flex>
                                                    <label>Completed At</label>
                                                    <input readonly="" value="{{task.completedAt}}"></input>
                                                </md-input-container>
                                            </div>
                                            <div layout layout-sm="column">
                                                <md-input-container flex>
                                                    <label>Options</label>
                                                    <input readonly="" value="{{task.arrayOptions}}"></input>
                                                </md-input-container>
                                                <md-input-container flex>
                                                    <label>Error Message</label>
                                                    <input readonly="" value="{{task.errorMessage}}"></input>
                                                </md-input-container>
                                            </div>
                                        </md-card-content>
                                    </md-card>
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-list-item>
                            </md-list>
                        </div>
                        <div class="md-padding" flex>
                            <h4>Выполнены</h4>
                            <md-list class="task-border-list md-whiteframe-5dp">
                                <md-list-item dir-paginate="task in completedTasks.items | itemsPerPage: completedTasks.pageSize"
                                              total-items="completedTasks.totalRows"
                                              current-page="completedTasks.currentPage"
                                              pagination-id="tasks"
                                              class="card-entity"
                                              ng-init="task.show = false"
                                              ng-click="visibleTask(task)">

                                    <div layout="row" flex ng-show="!task.show">
                                        <span class="bold">{{typeTask.arrayItems[task.typeTask].translate}}
                                            <span class="taskOptions" ng-show="task.typeTask == typeTask.UpdateVm">
                                                CPU:{{task.arrayOptions.Cpu}},
                                                RAM:{{task.arrayOptions.Ram}},
                                                HDD:{{task.arrayOptions.Hdd}}
                                            </span>
                                        </span>

                                        <div layout="row" flex layout-align="end center">
                                            <span>Выполнена: {{task.completedAt  | FormatToStandartDate}}</span>
                                        </div>
                                    </div>

                                    <md-card ng-show="task.show" flex>
                                        <md-card-content>
                                            <div layout layout-sm="column">
                                                <md-input-container flex>
                                                    <label>ID</label>
                                                    <input readonly="" value={{task.id}}></input>
                                                </md-input-container>
                                            </div>
                                            <div layout layout-sm="column">
                                                <md-input-container flex>
                                                    <label>Type Task</label>
                                                    <input readonly="" value={{typeTask.arrayItems[task.typeTask].translate}}></input>
                                                </md-input-container>
                                                <md-input-container flex>
                                                    <label>Status Task</label>
                                                    <input readonly="" value={{task.statusTask.name}}></input>
                                                </md-input-container>
                                            </div>
                                            <div layout layout-sm="column">
                                                <md-input-container flex>
                                                    <label>Created At</label>
                                                    <input readonly="" value="{{task.createdAt | FormatToStandartDate}}"></input>
                                                </md-input-container>
                                                <md-input-container flex>
                                                    <label>Started At</label>
                                                    <input readonly="" value="{{task.startedAt | FormatToStandartDate}}"></input>
                                                </md-input-container>
                                                <md-input-container flex>
                                                    <label>Completed At</label>
                                                    <input readonly="" value="{{task.completedAt  | FormatToStandartDate}}"></input>
                                                </md-input-container>
                                            </div>
                                            <div layout layout-sm="column">
                                                <md-input-container flex ng-init="value = updateTaskValue(task)">
                                                    <label>Options</label>
                                                    <input readonly="" value={{value}}></input>
                                                </md-input-container>
                                                <md-input-container flex>
                                                    <label>Error Message</label>
                                                    <input readonly="" value={{task.errorMessage}}></input>
                                                </md-input-container>
                                            </div>
                                        </md-card-content>
                                    </md-card>

                                    <md-divider ng-if="!$last"></md-divider>
                                </md-list-item>
                            </md-list>
                            <dir-pagination-controls
                                    boundary-links="true"
                                    on-page-change="pageChangeHandler('task', newPageNumber)"
                                    template-url="content/pagination/dirPagination.tpl.html"
                                    pagination-id="tasks">
                            </dir-pagination-controls>
                        </div>
                    </div>
                    <div ng-switch-when="1">
                        <md-content>
                            <md-list class="task-border-list md-whiteframe-5dp">
                                <md-list-item dir-paginate="backup in backupVms.items | itemsPerPage: backupVms.pageSize"
                                              total-items="backupVms.totalRows"
                                              current-page="backupVms.currentPage"
                                              pagination-id="backups"
                                              class="card-entity">

                                    <div layout="row" flex>
                                        <span class="bold">{{backup.name}}</span>

                                        <div layout="row" flex layout-align="end center">
                                            <span>{{backup.dateCreated | FormatToStandartDate}}</span>
                                        </div>
                                    </div>

                                    <md-divider ng-if="!$last"></md-divider>

                                </md-list-item>
                            </md-list>

                            <dir-pagination-controls
                                    boundary-links="true"
                                    on-page-change="pageChangeHandler('backup', newPageNumber)"
                                    template-url="content/pagination/dirPagination.tpl.html"
                                    pagination-id="backups">
                            </dir-pagination-controls>
                        </md-content>
                    </div>
                    <div ng-switch-when="2">
                        <md-content>
                            <md-card dir-paginate="snapshot in snapshotVms.items | itemsPerPage: snapshotVms.pageSize"
                                     total-items="snapshotVms.totalRows"
                                     current-page="snapshotVms.currentPage"
                                     pagination-id="snapshots"
                                     class="card-entity">
                                <md-card-content>
                                    <h2 class="md-title">{{snapshot.id}}</h2>
                                    <div layout layout-sm="column">
                                        <md-input-container flex>
                                            <label>name</label>
                                            <input readonly="" value='{{snapshot.name}}'>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>date</label>
                                            <input readonly="" value="{{snapshot.date | FormatToStandartDate}}">
                                        </md-input-container>
                                    </div>
                                </md-card-content>
                            </md-card>
                            <dir-pagination-controls
                                    boundary-links="true"
                                    on-page-change="pageChangeHandler('snapshot', newPageNumber)"
                                    template-url="content/pagination/dirPagination.tpl.html"
                                    pagination-id="snapshots">
                            </dir-pagination-controls>
                        </md-content>
                    </div>
                </ng-switch>
            </md-card-content>
        </md-card>
    </md-content>

    <script type="text/ng-template" id="editVirtualMachineForm.tmpl.html">
        <md-dialog aria-label="Virtual Machines">
            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Изменить параметры</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <md-icon md-svg-src="../content/images/ic_close_24px.svg"
                                     aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content style="min-width:800px; max-width:1024px;max-height:810px;">
                    <md-content class="md-padding">
                        <div>
                            <div layout="">
                                <div flex="10" layout="" layout-align="center center">
                                    <span class="md-body-1">CPU</span>
                                </div>
                                <md-slider flex="75" class="md-primary" md-discrete="" ng-model="machine.cpu" step="1" min="{{machine.operatingSystem.minCoreCount}}" max="16" aria-label="rating">
                                </md-slider>
                                <div  flex="10" layout layout-align="center center">
                                    <span>{{machine.cpu}} ЦП</span>
                                </div>
                            </div>
                            <div layout="">
                                <div flex="10" layout="" layout-align="center center">
                                    <span class="md-body-1">RAM</span>
                                </div>
                                <md-slider flex="75" class="md-primary" md-discrete="" ng-model="machine.ram" step="512" min="{{machine.operatingSystem.minRamCount}}" max="16384" aria-label="rating">
                                </md-slider>
                                <div flex="10"  layout layout-align="center center">
                                    <span>{{machine.ram}} Мб</span>
                                </div>
                            </div>
                            <div layout="">
                                <div flex="10" layout="" layout-align="center center">
                                    <span class="md-body-1">HDD</span>
                                </div>
                                <md-slider flex="75" class="md-primary" md-discrete="" ng-model="machine.hdd" step="1" min="{{machine.hardDriveSize}}" max="512" aria-label="rating">
                                </md-slider>
                                <div flex="10"  layout layout-align="center center">
                                    <span>{{machine.hdd}} Гб</span>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-dialog-content>
                <div class="md-actions" layout="row">
                    <md-button ng-click="cancel()">Отмена</md-button>
                    <md-button ng-click="answer()" style="margin-right:20px;">Изменить</md-button>
                </div>
            </form>
        </md-dialog>
    </script>