<md-content class="md-padding page-content">
    <md-card>            
        <md-card-content>
            <h2 class="md-title ">Фильтры</h2>
            <div layout layout-sm="column">
                <md-input-container flex="40">
                    <label>Тип даты </label>
                    <md-select ng-model="searchParam.typeDate">
                        <md-option ng-repeat="type in typeOfPeriod" value="{{type.value}}">{{type.translate}}</md-option>
                    </md-select>
                </md-input-container>
                <div>
                    <md-datepicker type="date" ng-model="searchParam.startDate" md-placeholder="С">
                    </md-datepicker>                
                    <md-datepicker ng-model="searchParam.endDate" md-placeholder="По">
                    </md-datepicker>
                </div>                   
            </div>
            <div layout layout-sm="column">
                <md-input-container flex="30" class="margin-right-20">
                    <label>Тип задачи</label>
                    <md-select ng-model="searchParam.typeTask">
                        <md-option ng-repeat="type in typeOfTask" value="{{type.value}}">{{type.translate}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="30" class="margin-right-20">
                    <label>Статус задачи</label>
                    <md-select ng-model="searchParam.statusTask">
                        <md-option ng-repeat="type in statusOfTask" value="{{type.value}}">{{type.translate}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="30">
                    <label>Тип виртуализации</label>
                    <md-select ng-model="searchParam.virtualization">
                        <md-option ng-repeat="type in typeOfVirtualization" value="{{type.value}}">{{type.translate}}</md-option>
                    </md-select>
                </md-input-container>                   
            </div>
        </md-card-content>
        <div class="md-actions card-actions" layout="row" layout-align="end center">
            <md-button class="md-raised" ng-click="clearSearchParams()">Сбросить</md-button>
            <md-button class="md-raised" ng-click="applyFilter()">Применить</md-button>
        </div>  
    </md-card>
        <md-card ng-if="tasks.length" 
        dir-paginate="task in tasks |  itemsPerPage: pageSize" 
        current-page="currentPage"
        total-items="totalRows">            
            <md-card-content>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>ID</label>
                        <input readonly="" value={{task.id}}></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>ID ресурса</label>
                        <input readonly="" value="{{task.resourceId}}"></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>ID пользователя</label>
                        <input readonly="" value="{{task.userId}}"></input>
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Тип задачи</label>
                        <input readonly="" value="{{task.typeTask.translate}}"></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Статус задачи</label>
                        <input readonly="" value="{{task.statusTask.translate}}"></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Тип ресурса</label>
                        <input readonly="" value="{{task.resourceType.translate}}"></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Тип виртуализации</label>
                        <input readonly="" value="{{task.virtualization.translate}}"></input>
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Создана</label>
                        <input readonly="" value="{{task.createdAt | FormatToStandartDate}}"></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Запущена</label>
                        <input readonly="" value="{{task.startedAt | FormatToStandartDate}}"></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Вуполнена</label>
                        <input readonly="" value="{{task.completedAt | FormatToStandartDate}}"></input>
                    </md-input-container>
                </div>
                <div  layout="column">
                    <md-input-container flex=>
                        <label>Опции задачи</label>
                        <textarea msd-elastic readonly="" ng-model="task.options"></textarea>
                    </md-input-container>       
                   
               
                    <md-input-container flex ng-if="task.errorMessage!=null&&task.errorMessage!=''">
                        <label>Сообщение</label>
                        <textarea msd-elastic readonly="" ng-model="task.errorMessage"></textarea>
                  
                    </md-input-container>                   
                </div>
            </md-card-content>
            <div class="md-actions card-actions" layout="row" layout-align="end center">        
                <md-button class="md-raised md-warn" ng-click="showConfirm(task.id)">Удалить</md-button>
            </div>             
        </md-card> 
        <div class="pagination-center">
            <dir-pagination-controls
                    boundary-links="true"
                    on-page-change="pageChangeHandler(newPageNumber)"
                    template-url="content/pagination/dirPagination.tpl.html">
            </dir-pagination-controls>   
        </div>
</md-content>  