﻿<md-content class="md-padding page-content">
    <md-content class="page-content">
        <md-content>
            <md-card ng-show="filters">
                <md-card-content>
                    <h2 class="md-title ">Фильтры</h2>

                    <div layout="row" flex>
                        <div layout="column" flex="25">
                            <md-input-container>
                                <label>Статус сообщения</label>
                                <md-select ng-model="searchEmailParams.emailStatus"
                                           placeholder="Выберите тип статуса" ng-change="loadPage()">
                                    <md-option ng-value="opt.value" ng-repeat="opt in emailResultStatus">{{ opt.translate }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>Обработано</label>
                                <md-select ng-model="searchEmailParams.isProcessed"
                                           placeholder="Выберите тип обработки" ng-change="loadPage()">
                                    <md-option ng-value="opt.value" ng-repeat="opt in isProcessed">{{ opt.translate }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="column" flex="20" flex-offset="3">
                            <md-input-container>
                                <label for="sender">Поиск по отправителю:</label>
                                <input ng-model="searchEmailParams.sender" id="sender" class="form-control"
                                       placeholder="Отправитель">
                            </md-input-container>
                            <md-input-container>
                                <label for="receiver">Поиск по получателю:</label>
                                <input ng-model="searchEmailParams.receiver" id="receiver" class="form-control"
                                       placeholder="Получатель">
                            </md-input-container>
                        </div>
                        <div layout="column" flex="20" layout-align="center center">
                            <md-button class="md-raised margin-bottom-25" ng-click="textChangeHandler()">Поиск отправителя</md-button>
                            <md-button class="md-raised margin-bottom-25" ng-click="textChangeHandler()">Поиск получателя</md-button>
                        </div>
                        <div layout="column" flex="35" flex-offset="2" layout-align="center center">
                            <div class="margin-bottom-15">
                                <span>С</span>
                                <md-datepicker ng-model="searchEmailParams.fromDate" md-placeholder="Выберите дату"
                                               ng-change="loadPage()"></md-datepicker>
                                <span>числа</span>
                            </div>
                            <div class="margin-bottom-15">
                                <span>По</span>
                                <md-datepicker ng-model="searchEmailParams.toDate" md-placeholder="Выберите дату"
                                               ng-change="loadPage()"></md-datepicker>
                                <span>число</span>
                            </div>                            
                        </div>
                    </div>
                </md-card-content>
            </md-card>

            <md-button class="md-primary md-raised" ng-click="filtersHandler()">
                <span ng-show="!filters">Показать фильтры</span>
                <span ng-show="filters">Скрыть фильтры</span>
            </md-button>
        </md-content>

        <md-card dir-paginate="email in emails | itemsPerPage: pageSize" total-items="totalRows"
                 current-page="pageNumber" class="card-entity">
            <md-card-content flex layout="row">
                <div flex="55" layout="column">
                    <div flex layout="row">
                        <div flex="70" layout="row">
                            <h2 flex="10" class="md-title">{{email.id}}</h2>
                            <md-input-container flex flex-offset="5">
                                <label>Отправитель</label>
                                <input readonly="" value='{{email.from}}'>
                            </md-input-container>
                            <md-input-container flex flex-offset="5">
                                <label>Получатель</label>
                                <input readonly="" value='{{email.to}}'>
                            </md-input-container>
                        </div>
                    </div>
                    <div flex>
                        <md-input-container flex="65">
                            <label>Тема</label>
                            <input readonly="" value='{{email.subjectParams}}'>
                        </md-input-container>
                    </div>
                    <md-input-container flex>
                        <label>Сообщение</label>
                        <textarea readonly="">{{email.bodyParams}}</textarea>
                    </md-input-container>
                </div>
                <div flex="45" flex-offset="5" layout="column">
                    <div flex layout="row">
                        <md-input-container flex="55">
                            <label>Дата отправления</label>
                            <input readonly="" value="{{email.dateSending | FormatToStandartDate}}">
                        </md-input-container>
                        <md-input-container flex="40" flex-offset="5">
                            <label>Статус</label>
                            <input readonly="" value='{{emailResultStatus[email.emailResultStatus].translate}}'>
                        </md-input-container>
                    </div>
                    <div flex layout="row">
                        <md-input-container flex>
                            <label>Причина</label>
                            <input readonly="" value='{{email.reason}}'>
                        </md-input-container>
                        <md-input-container flex flex-offset="5">
                            <label>Обработано</label>
                            <input readonly="" value='{{email.isProcessed}}'>
                        </md-input-container>
                    </div>
                    <div flex layout="row">
                        <md-input-container>
                            <label>Шаблон</label>
                            <input readonly="" value='{{emailTemplateType[email.emailTemplateType].translate}}'>
                        </md-input-container>
                    </div>
                </div>
            </md-card-content>
            <div class="md-actions card-actions" layout="row" layout-align="end center">
                <div flex-offset="10">
                    <md-button class="md-primary md-raised" ng-click="showConfirm($index)">Удалить</md-button>
                </div>
            </div>
        </md-card>
    </md-content>
    <div layout="row" layout-align="center">
        <dir-pagination-controls
                boundary-links="true"
                on-page-change="pageChangeHandler(newPageNumber)"
                template-url="content/pagination/dirPagination.tpl.html">
        </dir-pagination-controls>
    </div>
</md-content>