<md-dialog data-aria-label="Создание/редактирование модели">
    <form name="editForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Создание/Редактирование</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="dialog.cancel()">
                    <md-icon md-svg-src="../content/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-card-content layout="column" style="padding: 15px 15px">
                <md-input-container flex>
                    <label>Имя</label>
                    <input ng-model="dialog.hyperVHostEdit.name" name="name" required></input>
                    <div ng-messages="editForm.name.$error">
                        <div ng-message='required'></div>
                    </div>
                </md-input-container>

                <md-input-container flex>
                    <label>Хост</label>
                    <input ng-model="dialog.hyperVHostEdit.host" name="host" required></input>
                    <div ng-messages="editForm.host.$error">
                        <div ng-message='required'></div>
                    </div>
                </md-input-container>

                <md-input-container flex>
                    <label>Количество ядер</label>
                    <input ng-model="dialog.hyperVHostEdit.coreNumber" name="coreNumber" required></input>
                    <div ng-messages="editForm.coreNumber.$error">
                        <div ng-message='required'></div>
                    </div>
                </md-input-container>

                <md-input-container flex>
                    <label>Память</label>
                    <input ng-model="dialog.hyperVHostEdit.ramSize" name="ramSize" required></input>
                    <div ng-messages="editForm.ramSize.$error">
                        <div ng-message='required'></div>
                    </div>
                </md-input-container>

                <md-input-container flex>
                    <label>Пользователь</label>
                    <input ng-model="dialog.hyperVHostEdit.userName" name="userName" required></input>
                    <div ng-messages="editForm.userName.$error">
                        <div ng-message='required'></div>
                    </div>
                </md-input-container>

                <md-input-container flex>
                    <label>Пароль</label>
                    <input ng-model="dialog.hyperVHostEdit.password" name="password" required></input>
                    <div ng-messages="editForm.password.$error">
                        <div ng-message='required'></div>
                    </div>
                </md-input-container>

                <md-input-container flex>
                    <label>Сеть для доступа</label>
                    <input ng-model="dialog.hyperVHostEdit.defaultVmNetworkName" name="defaultVmNetworkName" required></input>
                    <div ng-messages="editForm.defaultVmNetworkName.$error">
                        <div ng-message='required'></div>
                    </div>
                </md-input-container>

                <div flex layout-align="start center" layout="row" ng-if="dialog.hyperVHostEdit.id">
                    <div>Состояние : </div>
                    <md-switch  ng-model="dialog.hyperVHostEdit.disabled" class="md-primary" aria-label="Состояние">
                        {{ dialog.hyperVHostEdit.disabled ? "Отключен" : "Включен" }}
                    </md-switch>
                </div>


            </md-card-content>
        </md-dialog-content>

        <div class="md-actions" layout="row">
            <md-button ng-click="dialog.cancel()">Отмена</md-button>
            <md-button ng-click="dialog.answer()" ng-disabled="editForm.$invalid" style="margin-right:20px;">Применить
            </md-button>
        </div>
    </form>
</md-dialog>