<md-content class="md-padding page-content">
    <md-button aria-label="menu" class="md-fab md-warn btn-add-entity" ng-click="vm.showEdit()">
        <md-tooltip>
            Добавить
        </md-tooltip>
        +
    </md-button>
    HyperVHost
    <md-card ng-repeat="hypervhost in vm.hyperVHosts">
        <md-card-content>
            <div layout="column">
                <div layout="row" flex="90">
                    <md-input-container flex="35">
                        <label>Имя</label>
                        <input readonly="" value='{{hypervhost.name}}'></input>
                    </md-input-container>
                    <md-input-container flex="35">
                        <label>Хост</label>
                        <input readonly="" value='{{hypervhost.host}}'></input>
                    </md-input-container>
                    <md-input-container flex="35">
                        <label>Состояние</label>
                        <input readonly="" value='{{hypervhost.disabled ? "Отключен" : "Включен" }}'></input>
                    </md-input-container>
                </div>
                <div layout="row" flex="90">
                    <md-input-container flex="35">
                        <label>Количество ядер</label>
                        <input readonly="" value='{{hypervhost.coreNumber }}'></input>
                    </md-input-container>
                    <md-input-container flex="35">
                        <label>Память</label>
                        <input readonly="" value='{{hypervhost.ramSize}}'></input>
                    </md-input-container>
                    <md-input-container flex="35">
                        <label>Пользователь</label>
                        <input readonly="" value='{{hypervhost.userName}}'></input>
                    </md-input-container>
                    <md-input-container flex="35">
                        <label>Пароль</label>
                        <input readonly="" value='{{hypervhost.password }}'></input>
                    </md-input-container>
                </div>
                <div layout="row" flex="90">
                    <md-input-container flex="35">
                        <label>Дата добавления</label>
                        <input readonly="" value='{{hypervhost.dateAdded  | FormatToStandartDate}}'></input>
                    </md-input-container>
                    <md-input-container flex="35">
                        <label>Сеть для доступа</label>
                        <input readonly="" value='{{hypervhost.defaultVmNetworkName}}'></input>
                    </md-input-container>
                    <md-input-container flex="35">
                        <label>Создано</label>
                        <input readonly="" value='{{hypervhost.createdManual ? "В ручную" : "Автоматически"}}'></input>
                    </md-input-container>
                </div>
            </div>
        </md-card-content>
        <div class="md-actions card-actions" layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-click="vm.showEdit($index)">Редактировать</md-button>
            <md-button class="md-raised md-warn" ng-click="vm.showConfirm($index)">Удалить</md-button>
        </div>
    </md-card>
</md-content>