<md-content class="md-padding page-content">
    <md-tabs md-dynamic-height md-border-bottom md-selected="tabs.selectedIndex">
        <md-tab label="Игры">
        </md-tab>
        <md-tab label="Игровые хосты">
        </md-tab>
    </md-tabs>

    <ng-switch on="tabs.selectedIndex">
        <div ng-switch-when="0">
            <div ui-view="gameView"></div>
        </div>
        <div ng-switch-when="1">
            <div ui-view="hostView"></div>
        </div>
    </ng-switch>
</md-content>