<div ng-if="!vm.isAuth">
    <a class="header-link link-create-account" ng-click="vm.register()" data-tap-disabled="true">Создать аккаунт</a>
    <label class="header-link link-login" style="height:50px" ng-click="vm.login()" data-tap-disabled="true">Войти</label>
</div>

<div ng-if="vm.isAuth" layout="row">
    <div class="auth-user-div">Добро пожаловать, <span ng-click="vm.showPersonalAccount()">{{vm.userName}}</span> </div>
    <label class="header-link link-logout" ng-click="vm.logout()">Выйти</label>
</div>
