.auth-user-div {
  margin: 0 15px;
  font-family: firaSansRegular;
  color: #495965;
  font-size: 13px;
  margin-top: 4px;
  span {
    font-family: firaSansMedium;
    cursor: pointer;
    text-decoration: underline;
    font-size: 13px;
    color: #548bb1;
  }
}

.link-logout {
  margin-top: 4px;
}

