<div flex class="vm-status-form height-100 padding-15" layout="column">
    <div class="module-info">
        <div class="header">Информация о машине</div>

        <div flex layout="row">
            <div class="subheader-div" flex="">
                <div class="subheader">Общая информация</div>
                <div layout="row" class="item">
                    <div flex="60">Состояние:</div>
                    <div flex class="value">
                        <vm-state state="vm.virtualMachine.userVm.status"></vm-state>
                    </div>
                </div>
                <div layout="row" class="item">
                    <div flex="60">ОC:</div>
                    <div flex class="value">
                        {{vm.virtualMachine.userVm.operatingSystem.name}}
                    </div>
                </div>
                <div ng-show="vm.virtualMachine.userVm.virtualizationType==1" layout="row" class="item">
                    <div flex="60">Окончание подписки:</div>
                    <div flex class="value">{{vm.virtualMachine.dateEnd | date:'d.MM.yyyy'}}</div>
                </div>
                <div ng-show="vm.virtualMachine.userVm.virtualizationType==0" layout="row" class="item">
                    <div flex="60">Цена в час:</div>
                    <div flex class="value">
                        {{vm.currentPriceVm.priceHourly.Sum|money}}Р
                    </div>
                </div>
            </div>
            <div class="subheader-div" flex>
                <div class="subheader">Характеристики</div>
                <div layout="row" class="item">
                    <div flex="55">CPU:</div>
                    <div flex class="value">{{vm.virtualMachine.userVm.coreCount}}</div>
                </div>
                <div layout="row" class="item">
                    <div flex="55">RAM:</div>
                    <div flex class="value">{{vm.virtualMachine.userVm.ramCount}}MB</div>
                </div>
                <div layout="row" class="item">
                    <div flex="55">Hdd:</div>
                    <div flex class="value">{{vm.virtualMachine.userVm.hardDriveSize}}Gb</div>
                </div>
            </div>
        </div>

        <div flex layout="row">
            <div class="subheader-div" flex>
                <div class="subheader">Состояние</div>
                <div layout="row" class="item">
                    <div flex="60">Загрузка CPU:</div>
                    <div flex class="value" ng-show="vm.virtualMachine.userVm.operatingSystemPassword">{{vm.machineState.cpuLoad}}%</div>
                    <div flex class="value">{{vm.machineState.cpuLoad}}%</div>
                </div>
                <div layout="row" class="item">
                    <div flex="60">Загрузка RAM:</div>
                    <div flex class="value">{{vm.machineState.ramLoad}}GB</div>
                </div>
                <div layout="row" class="item">
                    <div flex="60">Время работы:</div>
                    <div flex class="value"
                         am-time-ago="vm.machineState.upTime | amParse:'HH:mm:ss'">{{vm.machineState.upTime}}
                    </div>
                </div>
            </div>

            <div class="subheader-div" flex>
                <div class="subheader">Параметры подключения</div>
                <div layout="row" class="item">
                    <div flex="55">Имя пользователя:</div>
                    <div flex class="value">{{vm.virtualMachine.userVm.userName}}</div>
                </div>
                <div layout="row" class="item">
                    <div flex="55">Пароль:</div>
                    <div flex class="value"  ng-show="vm.virtualMachine.userVm.operatingSystemPassword">{{vm.virtualMachine.userVm.operatingSystemPassword}}</div>
                    <div flex class="value"  ng-hide="vm.virtualMachine.userVm.operatingSystemPassword">Не назначен</div>
                </div>
                <div layout="row" class="item">
                    <div flex="55">Ip адрес:</div>
                    <div flex class="value" ng-show="vm.virtualMachine.userVm.IpAdresses[0].IPv4">{{vm.virtualMachine.userVm.IpAdresses[0].IPv4}}</div>
                    <div flex class="value" ng-hide="vm.virtualMachine.userVm.IpAdresses[0].IPv4">Не назначен</div>
                </div>
            </div>
        </div>
    </div>

    <div class="subheader-div module-manage">
        <button flex class="primary-button manage-btn"
             ng-class="{'disabled-btn': !status.isActive}"
             ng-repeat="status in vm.typeChangeStatus.arrayItems"
             ng-click="vm.setStatus(status)">
            {{status.translate}}
        </button>
    </div>

</div>