.vm-status-form {
  padding: 15px;

  .header {
    font-size: 24px;
    font-family: firaSansMedium;
    margin: 0;
    margin-bottom: 10px;
  }

  .subheader-div {
    margin-top: 15px;
    margin-left: 10px;

    .subheader {
      font-size: 18px;
      font-family: firaSansMedium;
      margin-left: 0;
    }

    .item {
      margin: 10px 5px;
      font-family: firaSansRegular;

      .value {
        font-family: firaSansRegular;
        color: #609bca;
      }
    }

    .manage-btn {
      margin-right: 15px;
      width: 140px;
    }


  }
}