.container {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    border: 2px solid #aad1f9;
    transition: opacity 0.1s linear;
    border-top: 0px;
}

.bottom-block {
    display: block;
    position: relative;
    min-height: 55px;
    width: 100%;
}

.task-createdAt{
    float: right;
}

.task-card{
    margin: 5px;
    color: white;
}

.task-card-create{
    background-color: #34A853;
}

.task-card-error{
    background-color: #DF393D;
}

.btn-grey{
    background-color: #666666;
}

.task-border-list{
    border: 1px solid rgba(0,0,0,0.12);
    padding: 0;
}

.task-border-list md-list-item span{
    font-size: 80%;
}

.task-border-list md-list-item span.bold{
    font-weight: bold;
}

.proccesingTask{
    padding-bottom: 11px;
}

span span.taskOptions{
    font-size: 100%;
}
/*.md-list*/

.userVm-createDate-filter{
    margin-top: 10px;
    margin-left: 20px;
}

.virtual-machine-title{
    cursor: pointer;
}