
<md-content class="md-padding page-content">
        <md-card>
            <md-card-content>
                <h2 class="md-title ">Фильтры</h2>
                <div layout layout-sm="column">
                    <select-user flex="30" ng-model="searchParam.user"></select-user>
                    <md-input-container flex="20">
                        <label>Тип виртуализации</label>
                        <md-select ng-model="searchParam.virtualization">
                            <md-option ng-repeat="type in typeOfVirtualization" value="{{type.value}}">{{type.name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <div class="userVm-createDate-filter">
                        <md-datepicker flex="25" type="date" ng-model="searchParam.createDateFrom" 
                            md-placeholder="Создано с">
                        </md-datepicker>                
                        <md-datepicker flex="25" ng-model="searchParam.createDateTo" 
                            md-placeholder="По"
                            md-min-date="searchParam.createDateFrom">
                        </md-datepicker>
                    </div>
                </div>
            </md-card-content>
            <div class="md-actions card-actions" layout="row" layout-align="end center">
                <md-button class="md-raised" ng-click="clearSearchParams()">Сбросить</md-button>
                <md-button class="md-raised" ng-click="applyFilter()">Применить</md-button>
            </div>  
        </md-card>
        <div ng-show="defaultTasks.items.length">

            <md-card ng-repeat="task in defaultTasks.items | filter: {typeTask: typeTask.CreateVm}"
                     ng-class="{'task-card-error': task.isError}">
                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                <md-card-content>
                    <span>Создание машины: {{task.arrayOptions.Name}}</span>
                    <span class="task-createdAt">{{task.createdAt | FormatToStandartDate}}</span>
                </md-card-content>
            </md-card>

        </div>
        <md-card ng-if="defaultVirtualMachines.items.length" ng-repeat="machine in defaultVirtualMachines.items">
            <md-card-content>
                <div layout layout-sm="column">
                    <div>
                        <h2 class="md-title virtual-machine-title" 
                            ui-sref="virtualMachine({id:machine.id})">
                            {{machine.name}}
                        </h2>
                        <h2 class="md-title">{{helpRequest.summary}}</h2>
                    </div>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Ядра</label>
                        <input readonly="" value='{{machine.coreCount}}'></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Память</label>
                        <input readonly="" value='{{machine.ramCount}}'></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Жесткий диск</label>
                        <input readonly="" value='{{machine.hardDriveSize}}'></input>
                    </md-input-container>
                    <md-input-container ui-sref="usersSingle({id:machine.userId})" flex>
                        <label>Создатель</label>
                        <input readonly="" class="virtual-machine-username-titile" value='{{machine.userName}}'></input>
                    </md-input-container>
                </div>
            </md-card-content>
            <div class="md-actions card-actions" layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" ui-sref="virtualMachine({id:machine.id})">Управление машиной</md-button>
                <md-input-container flex="10">
                    <label>Состояние</label>
                    <input readonly="" value='{{statusVm.arrayItems[machine.status].name}}'></input>
                </md-input-container>
                <md-menu md-offset="0 -5" ng-init="machine.pendingStatus = false" ng-hide="machine.pendingStatus">
                    <md-button aria-label="Open demo menu" class="md-primary md-raised"
                               ng-click="openMenu($mdOpenMenu, $event)">
                        Сменить Состояние
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item ng-repeat="manage in manageMachine">
                            <md-button ng-click="changeState(machine, manage.value)">
                                <!--<md-icon md-menu-align-target>{{manage.picture}}</md-icon>-->
                                {{manage.name}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-progress-circular md-mode="indeterminate" ng-hide="!machine.pendingStatus"></md-progress-circular>
                <md-button class="md-raised md-warn" ng-click="showConfirm($index)">Удалить</md-button>
            </div>
        </md-card>


    </md-content>
    <md-button aria-label="menu" class="md-fab md-warn   btn-add-entity" ng-click="showAdvanced()">
        <md-tooltip>
            Добавить
        </md-tooltip>
        +
    </md-button>

    <script type="text/ng-template" id="editVirtualMachineForm.tmpl.html">
        <md-dialog aria-label="Virtual Machines">
            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Добавление</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <md-icon md-svg-src="../content/images/ic_close_24px.svg"
                                     aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content style="max-width:800px;max-height:810px;min-width:300px;">

                    <md-content class="md-padding" layout="column">
                        <md-input-container flex>
                            <label>Name</label>
                            <input ng-model="machine.name">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Type of virtualization</label>
                            <md-select ng-model="machine.typeVirtualization">
                                <md-option ng-repeat="type in TypeVirtualization" value="{{type.value}}">
                                    {{type.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container ng-if="machine.typeVirtualization != null" flex>
                            <label>Operating System</label>
                            <md-select ng-model="machine.os" ng-change="chooseOS()">
                                <md-option ng-repeat="os in OSs" value="{{os.id}}">
                                    {{os.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <div ng-show="machine.os != null">
                            <md-input-container flex>
                                <label>CPU (min {{os.minCoreCount}})</label>
                                <input ng-model="machine.cpu" numbers-only="numbers-only">
                            </md-input-container>
                            <md-input-container flex>
                                <label>RAM (min {{os.minRamCount}})</label>
                                <input ng-model="machine.ram" numbers-only="numbers-only">
                            </md-input-container>
                            <md-input-container flex>
                                <label>HDD (min {{os.minHardDriveSize}})</label>
                                <input ng-model="machine.hdd" numbers-only="numbers-only">
                            </md-input-container>
                        </div>
                    </md-content>
                </md-dialog-content>
                <div class="md-actions" layout="row">
                    <md-button ng-click="cancel()">Отмена</md-button>
                    <md-button ng-click="answer()" style="margin-right:20px;">Создать</md-button>
                </div>
            </form>
        </md-dialog>
    </script>