<div flex class="hosting-parameters">


    <cloud-param-sliders vm-option="vm.vmOption"></cloud-param-sliders>
    <div class="parameter" layout="row">
        <div flex="5" class="param-image-div">
            <img class="param-image" flex src="client/content/images/OS-icon.png" alt="Processor">
        </div>
        <div flex="15" class="param-name">Операционная система</div>
        <div dropdown-select="vm.userOperatingSystem" flex="45" class="param-select-div"
             dropdown-model="vm.vmOption.userOperatingSystem"
             dropdown-item-label="name" >
        </div>
        <div flex="35" class="param-text">
            Трафик на 3 ТБ <br/>
            включен в стоимость
        </div>
    </div>

    <div class="parameter" layout="row">
        <div flex="5" class="param-image-div">
            <img class="param-image" flex src="client/content/images/calendar-icon.png" alt="Processor">
        </div>
        <div flex="10" class="param-name">Тип машины</div>
        <div flex="85" class="param-time-switcher" style="padding-left: 48px;" layout="row">
            <button ng-class="{'btn-selected':vm.vmOption.subscriptionType==vm.subscriptionTypes.Usage}"
                    ng-click="vm.vmOption.subscriptionType=vm.subscriptionTypes.Usage" flex class="btn-time-switcher">
                Оплата за потребление
            </button>
            <button ng-class="{'btn-selected':vm.vmOption.subscriptionType==vm.subscriptionTypes.Fixed}"
                    ng-click="vm.vmOption.subscriptionType=vm.subscriptionTypes.Fixed" flex class="btn-time-switcher">
                Фиксированная
            </button>
        </div>
    </div>

    <div class="parameter" layout="row" ng-show="vm.vmOption.subscriptionType==vm.subscriptionTypes.Fixed">
        <div flex="5" class="param-image-div">
            <img class="param-image" flex src="client/content/images/calendar-icon.png" alt="Processor">
        </div>
        <div flex="10" class="param-name">Срок оплаты</div>
        <div flex="85" class="param-time-switcher" style="padding-left: 48px;" layout="row">

            <button ng-repeat="period in vm.periods"
                    ng-class="{'btn-selected':period.isSelected}"
                    ng-click="vm.btnSelect($index)"
                    flex class="btn-time-switcher">
                {{period.month==12? 1: period.month}} {{period.month == 1 ? "месяц" : period.month == 3 ? "месяца" : period.month == 6 ? "месяцев" : period.month == 12 ? "год":""}}
            </button>

            <!--<button ng-class="{'btn-selected':btnSelected[0]}" ng-click="btnSelect(0)" flex class="btn-time-switcher">1
                месяц
            </button>
            <button ng-class="{'btn-selected':btnSelected[1]}" ng-click="btnSelect(1)" flex class="btn-time-switcher">3
                месяца
            </button>
            <button ng-class="{'btn-selected':btnSelected[2]}" ng-click="btnSelect(2)" flex class="btn-time-switcher">6
                месяцев
            </button>
            <button ng-class="{'btn-selected':btnSelected[3]}" ng-click="btnSelect(3)" flex class="btn-time-switcher">1
                год
            </button>-->
        </div>
    </div>

        <div flex class="param-footer">Экономия <span>1890 ₽</span></div>
</div>