<md-card>
    <div class="md-padding">
        <div flex>
            Скидка за покупку на длительный срок игровых машин
            <md-button class="md-raised btn-yellow"
                       ng-hide=""
                       ng-click="vm.blockDiscountType()">
                Выключить
            </md-button>
            <md-button class="md-raised btn-yellow"
                       ng-show=""
                       ng-click="vm.unBlockDiscountType()">
                Включить
            </md-button>
        </div>

        <md-card-content layout="row">
            <div layout="column" flex>
                <div class="divider" flex layout="row"
                     ng-repeat="discount in vm.discounts | filter: {resourceType: vm.ResourceType.Gs}"
                     ng-form="form_repeat"
                     ng-class="{'active':discount.disable}">

                    <div flex="30" layout="row" layout-align="start center" ng-if="!discount.edit">
                        <div flex><span>{{discount.monthCount}} </span></div>
                        <div flex><span>{{discount.discountSize}}%</span></div>
                    </div>

                    <div flex="50" layout="row" layout-align="start center" ng-if="discount.edit">
                        <md-input-container flex>
                            <input type="number"
                                   name="count" style="width:100%;"
                                   ng-model="discount.MonthCountEdit"
                                   placeholder="Количество месяцев"
                                   ng-class="{ 'input-danger': discount.try&&form_repeat.count.$invalid }"
                                   integer min="0" required>
                        </md-input-container>
                        <md-input-container flex>
                            <input type="number"
                                   name="size" style="width:100%;"
                                   ng-model="discount.DiscountSizeEdit"
                                   ng-class="{ 'input-danger': discount.try&&form_repeat.size.$invalid }"
                                   placeholder="Процент" integer min="0" required>
                        </md-input-container>
                    </div>
                    <div flex layout="row" layout-align="center center">
                        <div ng-hide="discount.edit">
                            <md-button class="md-raised md-primary" ng-click="vm.startEdit(discount)">Изменить</md-button>
                            <md-button class="md-raised md-warn" ng-click="vm.removeDiscount($index)">Удалить</md-button>
                        </div>
                        <div>
                            <md-button class="md-raised md-primary" ng-show="discount.disable &&!discount.edit" ng-click="vm.unBlockDiscount(discount)">Включить</md-button>
                            <md-button class="md-raised md-primary" ng-hide="discount.disable||discount.edit" ng-click="vm.blockDiscount(discount)">Выключить</md-button>
                        </div>
                        <div ng-show="discount.edit">
                            <md-button class="md-raised md-primary" ng-click="vm.endEdit(discount, form_repeat)">Принять</md-button>
                            <md-button class="md-raised md-warn" ng-click="vm.backEdit(discount)">Отмена</md-button>
                        </div>
                    </div>
                </div>
            </div>
        </md-card-content>
        <div class="md-actions card-actions" layout="column" ng-form="form">
            <div flex layout="row">
                <md-input-container flex="30">
                    <label></label>
                    <input type="number" name="count" style="width:100%;"
                           ng-model="vm.newDiscount.monthCount"
                           name=""
                           placeholder="Количество месяцев"
                           ng-class="{ 'input-danger': try&&form.count.$invalid }"
                           integer min="0" required>
                </md-input-container>
                <md-input-container flex="20">
                    <label></label>
                    <input type="number" name="size" style="width:100%;"
                           ng-model="vm.newDiscount.discountSize" name=""
                           ng-class="{ 'input-danger': try&&form.size.$invalid }"
                           placeholder="Процент" integer min="0" required>
                </md-input-container>
                <div flex="20" layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" ng-click="vm.addDiscount(form)">Добавить</md-button>
                </div>
            </div>
            <div flex>
                <p class="text-danger" ng-show="try&&(form.count.$error.number||form.size.$error.number)">
                    Необходимо
                    число, без символов</p>

                <p class="text-danger" ng-show="try&&(form.count.$error.min||form.size.$error.min)">Должно быть
                    больше нуля</p>

                <p class="text-danger" ng-show="try&&(form.count.$error.required||form.size.$error.required)">
                    Обязательно</p>
            </div>
        </div>
    </div>
</md-card>
