<div class="single-request-form">
    <div layout="row" class="header">Ваше обращение</div>
    <div layout="row">
        <textarea class="detail-area" ng-readonly="true">{{vm.helpDeskRequest.details}}</textarea>
    </div>

    <div layout="row" class="header">Решение вашей проблемы</div>
    <div layout="column" class="document">
        <div ng-scrollbar bottom rebuild-on-resize rebuild-on="rebuild:me"  class="scrollbar-body">
            <div class="scrollbar-padding">

                <div class="document-body">
                    <div class="comment-form"
                         ng-repeat="comment in vm.commentList"
                         ng-class="{'admin-comment': !comment.isUserComment, 'not-read-comment': !comment.isRead}">
                        <span></span>
                        <div layout="column">
                            <div flex class="comment-date">{{comment.creationDate| FormatToStandartDate}}</div>
                            <div flex class="comment-text">{{comment.comment}}</div>
                        </div>
                    </div>

                    <div class="comment-form new-comment">
                        <span></span>
                        <div layout="column">
                            <div flex class="comment-date">{{vm.newComment.creationDate | FormatToStandartDate}}</div>
                            <div layout="row" class="comment-text-div">
                            <textarea flex="80" class="new-comment-text"
                                      placeholder="Спросите что вас волнует"
                                      ng-model="vm.newComment.comment">
                            </textarea>
                                <div flex layout="row" layout-align="center center">
                                    <button class="primary-button btn-send" ng-click="vm.addNewComment()">Отправить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>