.single-request-form {
  border-left: 1px dashed #cad2db;
  border-right: 1px dashed #cad2db;
  padding: 0 20px;

  .header {
    margin: 10px 0;
    font-family: firaSansMedium;
    font-size: 18px;
  }

  .detail-area {
    width: 100%;
    min-height: 50px;
    border-radius: 4px;
    padding: 15px;
    font-family: firaSansRegular;
    font-size: 16px;
    line-height: 1.4;
  }

  .document {
    padding: 0;

    .comment-form {
      border-radius: 4px;
      border: 1px solid #cad2db;
      background-color: #c7edfc;
      min-height: 35px;
      width: 98% ;
      padding: 5px 10px;
      margin: 15px;

      .comment-date {
        font-family: firaSansMedium;
        margin: 5px 0;
      }
      .comment-text {
        font-family: firaSansRegular;
        margin: 5px 0;
        line-height: 1.4;
      }

      span {
        position: absolute;
        margin-left: -19px;
        margin-top: 1%;
        width: 15px;
        height: 15px;
        display: inline-block;
        -ms-transform: skewY(-135deg);
        -webkit-transform: skewY(-135deg);
        transform: rotate(-135deg);

        border-right: 1px solid #cad2db;
        border-top: 1px solid #cad2db;
        background-color: #c7edfc;
      }
    }

    .admin-comment {
      background-color: #e5f7fd;

      span {
        margin-left: 90.5%;
        -ms-transform: skewY(45deg);
        -webkit-transform: skewY(45deg);
        transform: rotate(45deg);
        background-color: #e5f7fd;
      }
    }

    .not-read-comment {
      background-color: #00aff0;

      span {
        background-color: #00aff0;
      }
    }

    .new-comment {
      background-color: #fff;

      span {
        background-color: #fff;
      }

      .comment-text-div {
        min-height: 90px;
        margin-bottom: 5px;

        .new-comment-text {
          width: 100%;
          padding: 10px;
          border-radius: 4px;
          line-height: 1.4;
        }

        .btn-send {
          width: auto;
          height: auto;
          padding: 5px 10px;
        }
      }
    }

    .scrollbar-body{
      height: 470px;
    }

    .document {
      border-style: solid;
      border-width: 1px;
      border-color: rgb(193, 201, 207);
      border-radius: 3px;
      background-color: rgb(250, 248, 248);
      padding-left: 15px;
      paddding-right: 15px;
      padding-bottom: 15px;
      padding-top: 15px;
      height: 510px;
      overflow: hidden;
    }

  }
}
