
<md-card layout="column" flex="65">
    <div class="md-padding">
        <div flex>
            {{header}}
            <md-button class="md-raised btn-yellow" ng-hide="(discounts|filter: {discountType:type}|filter: {disable:true}).length==(discounts|filter: {discountType:type}|filter).length" ng-click="blockDiscountType()">Выключить</md-button>
            <md-button class="md-raised btn-yellow" ng-show="(discounts|filter: {discountType:type}|filter: {disable:true}).length==(discounts|filter: {discountType:type}|filter).length" ng-click="unBlockDiscountType()">Включить</md-button>
        </div>
        <md-card-content layout="row" >

            <div layout="column" flex>
                <div class="divider" flex layout="row" flex data-ng-repeat="discount in discounts|filter: {discountType:type}|orderBy:'count'"
                    ng-form="form_repeat"
                    ng-class="{'active':discount.disable}"
                >

                    <div flex="30" layout="row" layout-align="start center" ng-if="!discount.edit">
                        <div flex><span>{{discount.count}} {{symbol}}</span></div>
                        <div flex><span>{{discount.discountSize}}%</span></div>
                    </div>

                    <div flex="50" layout="row" layout-align="start center" ng-if="discount.edit">
                        <md-input-container flex>
                            <input type="number"
                                   name="count" style="width:100%;"
                                   ng-model="discount.CountEdit"
                                   placeholder="Начальная скидка"
                                   ng-class="{ 'input-danger': discount.try&&form_repeat.count.$invalid }"
                                   integer min="0" required>
                        </md-input-container>
                        <md-input-container flex>
                            <input type="number"
                                   name="size" style="width:100%;"
                                   ng-model="discount.DiscountSizeEdit"
                                   ng-class="{ 'input-danger': discount.try&&form_repeat.size.$invalid }"
                                   placeholder="Процент" integer min="0" required>
                        </md-input-container>
                    </div>

                    <div flex layout="row" layout-align="center center">
                        <div ng-hide="discount.edit">
                            <md-button class="md-raised md-primary" ng-click="startEdit(discount)">Изменить</md-button>
                            <md-button class="md-raised md-warn" ng-click="removeDiscount(discount)">Удалить</md-button>
                        </div>
                        <div>
                            <md-button class="md-raised md-primary" ng-show="discount.disable &&!discount.edit" ng-click="unBlockDiscount(discount)">Включить</md-button>
                            <md-button class="md-raised md-primary" ng-hide="discount.disable||discount.edit" ng-click="blockDiscount(discount)">Выключить</md-button>
                        </div>
                        <div ng-show="discount.edit">
                            <md-button class="md-raised md-primary" ng-click="endEdit(discount, form_repeat)">Принять</md-button>
                            <md-button class="md-raised md-warn" ng-click="backEdit(discount)">Отмена</md-button>
                        </div>
                    </div>

                </div>
            </div>
        </md-card-content>
        <div class="md-actions card-actions" layout="column" ng-form="form">
            <div flex layout="row">
                <md-input-container flex="30">
                    <label></label>
                    <input type="number"  name="count" style="width:100%;"
                           ng-model="discount.count"
                           name=""
                           placeholder="Начальная скидка"
                           ng-class="{ 'input-danger': try&&form.count.$invalid }"
                           integer min="0" required>
                </md-input-container>
                <md-input-container flex="20">
                    <label></label>
                    <input type="number" name="size" style="width:100%;"
                           ng-model="discount.discountSize" name=""
                           ng-class="{ 'input-danger': try&&form.size.$invalid }"
                           placeholder="Процент" integer min="0" required>
                </md-input-container>
                <div flex="20" layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" ng-click="addDiscount(discount, form)">Добавить</md-button>
                </div>
            </div>
            <div flex>
                <p class="text-danger" ng-show="try&&(form.count.$error.number||form.size.$error.number)">
                    Необходимо
                    число, без символов</p>

                <p class="text-danger" ng-show="try&&(form.count.$error.min||form.size.$error.min)">Должно быть
                    больше нуля</p>

                <p class="text-danger" ng-show="try&&(form.count.$error.required||form.size.$error.required)">
                    Обязательно</p>
            </div>
        </div>
    </div>
</md-card>

