<div flex class="header-text">Покупка игрового сервера</div>
<div layout="row">
</div>
<form name="form">
    <div flex class="sub-header">1. Выберите игру</div>
    <div class="block" layout="column" layout-padding="">
        <div class="parameter" layout="row">
            <div flex="5" class="param-image-div">
                <img class="param-image" flex src="client/content/images/game-icon.png" alt="Game">
            </div>
            <div flex="15" class="param-name" layout="row" layout-align="start center">Ваша игра</div>
            <div flex="50" class="param-select-div"
                 dropdown-select="vm.gameList.items"
                 dropdown-model="vm.buyOptions.game"
                 dropdown-item-label="name"
                 dropdown-onchange="vm.selectGame(selected)">
            </div>
        </div>
    </div>

    <div flex class="sub-header">2. Выборите конфигурацию</div>
    <div class="block">
        <game-configuration buy-options='vm.buyOptions'>
        </game-configuration>
    </div>

    <div flex class="sub-header">3. Подтвердите выбор</div>
    <div class="block my-account-buy-game" layout="column" layout-padding="">
        <game-price buy-options='vm.buyOptions' game-buy="vm.gameBuy(form)" buy-loading="vm.buyLoading">
        </game-price>
    </div>
</form>
