.block {
  padding-bottom: 15px;

}

.my-account-buy-game .form .top .total-div .polygon-discount-div span {

}

.parameter {

  .param-image-div {

    .param-image {
      width: 100%;
    }
  }

  .param-name {
    font-family: firaSansMedium;
    font-size: 14px;
    color: #3f4549;
    padding-left: 10px;
    max-width: 13%;
  }

  .param-select-div {
    margin-left: 31px;
    width: 97%;
    padding: 8px 10px;
    font-family: firaSansMedium;
    font-size: 14px;
    color: #3f4549;
    border-radius: 4px;
    border: 1px solid #b8c4cc;
    background-color: #dfe5e9;
  }
}