<div flex class="vm-status-form">
    <div class="header">Информация о игровом сервере</div>

    <div class="subheader-div">
        <div class="subheader">Состояние</div>
        <div layout="row" class="item">
            <div flex="25">Текущая карта:</div>
            <div flex class="value">
                de_inferno
            </div>

        </div>
    </div>

    <div class="subheader-div">
        <div class="subheader">Параметры подключения</div>
        <div layout="row" class="item">
            <div flex="25">Имя пользователя:</div>
            <div flex class="value">{{vm.virtualMachine.userVm.userName}}</div>
        </div>
        <div layout="row" class="item">
            <div flex="25">Пароль:</div>
            <div flex class="value" ng-show="vm.virtualMachine.userVm.operatingSystemPassword">
                {{vm.virtualMachine.userVm.operatingSystemPassword}}
            </div>
            <div flex class="value" ng-hide="vm.virtualMachine.userVm.operatingSystemPassword">Не назначен</div>
        </div>
        <div layout="row" class="item">
            <div flex="25">Адрес сервера:</div>
            <div flex class="value" ng-show="vm.virtualMachine.userVm.IpAdresses[0].IPv4">
                {{vm.virtualMachine.userVm.IpAdresses[0].IPv4}}
            </div>
            <div flex class="value" ng-hide="vm.virtualMachine.userVm.IpAdresses[0].IPv4">Не назначен</div>
        </div>
    </div>

    <div class="subheader-div">
        <div class="subheader">Управление</div>
        <div layout="row" class="item">
            <button flex class="primary-button manage-btn"
                    ng-class="{'disabled-btn': vm.gameServer.serverState!=vm.GameServerStates.Disable}"
                    ng-click="vm.setStatus(vm.TypeChangeStatuses.Start)">
                Включить
            </button>

            <button flex class="primary-button manage-btn"
                    ng-class="{'disabled-btn':vm.gameServer.serverState!=vm.GameServerStates.Enable}"
                    ng-click="vm.setStatus(vm.TypeChangeStatuses.Stop)">
               Выключить
            </button>
        </div>
    </div>

</div>