.gs-console-form {


  .console {
    margin: 10px;
    background-color: #FFFFFF;
    height: 370px;
    border: 1px solid #d6dee1;
    border-radius: 3px;
    padding-left: 15px;
    paddding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;


    .scrollbar-body {
      height: 370px;

      .scrollbar-padding{
        padding-right: 50px;

        .document-body {
          font-family: firaSansRegular;
          font-size: 14px;
          color: #3f4549;
        }
      }

    }
  }

  .action-console-div {

    margin: 10px;

    .action-div{
      line-height: 30px;
      font-family: firaSansMediumItalic;

      .input-command {
        width: 90%;
        font-family: firaSansRegular;
        background-color: #fff;
        height: 36px;
        border-radius: 4px;
        border: 1px solid #d6dee1;
        color: #000000;
        padding: 0 15px;
      }

      .right-command-execute {
        margin-right: 10px;
      }
    }
  }
}

