<div class="gs-console-form">
    <div layout="column">
        <div class="console">
            <div ng-scrollbar bottom class="scrollbar-body" rebuild-on="rebuild:me">
                <div class="scrollbar-padding">
                    <div class="document-body">
                        <div ng-repeat="answer in vm.allCommands track by $index">
                            {{answer}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="action-console-div">
            <div layout="row" class="action-div" flex>
                <div flex="60">
                    <input type="text" class="input-command"
                           ng-model="vm.command" aria-label="command">
                </div>
                <div layout="row" flex="40">
                    <button flex ng-class="{'disabled-btn': !vm.command}"
                            class="primary-button btn-item right-command-execute"
                            ng-click="vm.sendCommand()">
                        Выполнить
                    </button>
                    <button flex class="primary-button btn-item"
                            ng-click="vm.clearConsole()">
                        Очистить
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>