<md-card dir-paginate="game in vm.gameList.items |  itemsPerPage: vm.paginationSettings.pageSize"
         current-page="vm.paginationSettings.pageNumber"
         total-items="vm.gameList.totalRows"
         class="card-SCVM">
    <md-card-content>
        <div layout="row">
            <div flex="20" layout="row" layout-align="center center">
                <img ng-src="{{vm.baseInfo.URL}}{{vm.baseInfo.PORT}}{{game.imageFileDescriptor.path}}"
                     alt="{{game.imageFileDescriptor.name}}"
                     class="game-image">
            </div>
            <div flex="60" layout="column" class="game-info">
                <div>{{game.name}}</div>
                <div layout="row">
                    <md-input-container flex>
                        <label>Семейство</label>
                        <input value='{{vm.gameFamily.arrayItems[game.family].name}}' ng-readonly="true">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Номер версии</label>
                        <input value='{{game.version}}' ng-readonly="true">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Код версии</label>
                        <input value='{{game.versionCode}}' ng-readonly="true">
                    </md-input-container>
                </div>
            </div>
        </div>
    </md-card-content>
    <md-dialog-actions class=card-actions" layout="row" layout-align="end center">
        <md-button class="md-primary md-raised" ui-sref="singleGame({id:game.id})">Просмотр</md-button>
    </md-dialog-actions>
</md-card>

<div layout="row" layout-align="center">
    <dir-pagination-controls
            boundary-links="true"
            on-page-change="vm.pageChangeHandler(newPageNumber)"
            template-url="content/pagination/dirPagination.tpl.html">
    </dir-pagination-controls>
</div>

<md-button aria-label="menu" class="md-fab md-warn btn-add-entity" ng-click="vm.isShowNewGameForm = true">
    <md-tooltip>
        Добавить
    </md-tooltip>
    +
</md-button>

<md-card class="card-SCVM" ng-if="vm.isShowNewGameForm">
    <md-card-content>
        <div layout="row">
            <div flex="20" layout="column">
                <div layout="row" layout-align="center center" class="game-icon-div">
                    <img ngf-src="vm.gameImage" class="game-image">
                </div>
                <div layout="row" layout-align="center center">
                    <md-button type="file" class="btn-attach md-primary md-raised"
                               ngf-select="vm.uploadFiles($file, $invalidFiles)"
                               ngf-max-size="5MB"
                               ng-model="vm.gameImage">
                        Добавить изображение
                    </md-button>
                </div>
            </div>

            <div flex layout="column" class="game-info">
                <div layout="row">
                    <md-input-container flex>
                        <label>Название игры</label>
                        <input ng-model="vm.newGame.name">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label>Семейство</label>
                        <md-select ng-model="vm.newGame.family">
                            <md-option ng-repeat="gameFamily in vm.gameFamily.arrayItems"
                                       ng-value="gameFamily.value">
                                {{ gameFamily.name }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Номер версии</label>
                        <input ng-model="vm.newGame.version">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Код версии</label>
                        <input ng-model="vm.newGame.versionCode">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label>Описание</label>
                        <textarea class="show-overflow"
                                  ng-model="vm.newGame.description"
                                  rows="8" md-select-on-focus>
                        </textarea>
                    </md-input-container>
                </div>
            </div>
        </div>
    </md-card-content>
    <md-dialog-actions class=card-actions" layout="row" layout-align="end center" style="margin-right: 6%;">
        <md-button class="md-primary md-raised" ng-click="vm.setDefaultNewGame()">Отменить</md-button>
        <md-button class="md-primary md-raised" ng-click="vm.createGame()">Создать</md-button>
    </md-dialog-actions>
</md-card>