<md-content class="md-padding page-content">

    <md-card flex>
        <md-card-content>
            <h2 class="md-title ">Фильтры</h2>

            <div layout layout-sm="column">
                <select-user flex="30" ng-model="searchParam.user"></select-user>
                <md-input-container flex="25">
                    <label>Тип транзакции</label>
                    <md-select ng-model="searchParam.transactionType">
                        <md-option ng-repeat="type in transactionType" value="{{type.value}}">
                            {{type.translate}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-datepicker class="margin-top10" ng-model="searchParam.dateFrom"
                               md-placeholder="С " class="margin-top10">
                </md-datepicker>
                <md-datepicker class="margin-top10" ng-model="searchParam.dateTo"
                               md-min-date="searchParam.dateFrom"
                               md-placeholder="До" class="margin-top10">
                </md-datepicker>

            </div>
        </md-card-content>
        <div class="md-actions card-actions" layout="row" layout-align="end center">
            <md-button class="md-raised" ng-click="clearSearchParams()">Сбросить</md-button>
            <md-button class="md-raised" ng-click="applyFilter()">Применить</md-button>
        </div>
    </md-card>


    <md-card flex dir-paginate="transaction in transactions.items |  itemsPerPage: transactions.pageSize"
             current-page="transactions.currentPage"
             total-items="transactions.totalRows">
        <md-card-content>
            <div layout layout-sm="column">
                <md-input-container class="link" ui-sref="usersSingle({id:transaction.userId})" flex>
                    <label>Идентификатор</label>
                    <input readonly="" value="{{transaction.userId}}"></input>
                </md-input-container>
                <md-input-container class="link" ui-sref="usersSingle({id:transaction.userId})" flex>
                    <label>Имя пользователя</label>
                    <input readonly="" value="{{transaction.userName}}"></input>
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex="40">
                    <label>Subscription UserVm Id </label>
                    <input readonly="" value="{{transaction.subscriptionVmId}}"></input>
                </md-input-container>
                <md-input-container flex>
                    <label>Тип транзакции</label>
                    <input readonly="" value="{{transaction.transactionType}}"></input>
                </md-input-container>
                <md-input-container flex>
                    <label>Сумма</label>
                    <input readonly="" value="{{transaction.cashAmount}}"></input>
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Описание</label>
                    <input readonly="" value="{{transaction.description}}"></input>
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>

    <div layout="row" layout-align="center">
        <dir-pagination-controls
                boundary-links="true"
                on-page-change="pageChangeHandler(newPageNumber)"
                template-url="content/pagination/dirPagination.tpl.html">
        </dir-pagination-controls>
    </div>

</md-content>