<div ng-controller="testController">
    <md-monitoring-chart vmId="D1678A08-A787-E511-8280-001D9264FC4D">

    </md-monitoring-chart>

    <!--<canvas id='line' class='chart chart-line' chart-data='data'-->
            <!--chart-labels='labels' chart-legend="true" chart-series='series'-->
            <!--chart-click='onClick' >-->
    <!--</canvas>-->
</div>