﻿<md-content>
    <md-card>
        <md-card-content>
            <div layout="row">
                <md-input-container flex>
                    <label>Тип виртуализации</label>
                    <md-select ng-model="usageVms.virtualization" placeholder="Виртуализация">
                        <md-option ng-value="opt.value" ng-repeat="opt in typeVirtualization.arrayItems">{{ opt.name }}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <label>Группировать по</label>
                    <md-select ng-model="usageVms.periodType">
                        <md-option ng-repeat="type in periodType | filter:{isShow:true}" value="{{type.value}}">
                            {{type.translate}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>            
            <div>
                <span>С</span>
                <md-datepicker ng-model="usageVms.startDate"
                               class="datepicker-date"
                               md-placeholder="дата"
                               md-min-date="0">
                </md-datepicker>
                <span>числа</span>
            </div>
            <div>
                <span>По</span>
                <md-datepicker ng-model="usageVms.endDate"
                               class="datepicker-date"
                               md-placeholder="дата"
                               md-min-date="usageVms.startDate">
                </md-datepicker>
                <span>число</span>
            </div>
            <select-user ng-model="usageVms.user"></select-user>
        </md-card-content>
        <div class="md-actions card-actions" layout="row" layout-align="end center">
            <md-button class="md-raised" ng-click="clearSearchParams()">Сбросить</md-button>
            <md-button class="md-raised" ng-click="applyFilter()">Применить</md-button>
        </div>
    </md-card>

    <md-card dir-paginate="usageVm in usageVms.items |  itemsPerPage: usageVms.pageSize"
             current-page="usageVms.currentPage"
             total-items="usageVms.totalRows"
             ng-click="visibleUsageVm(usageVm)"
            >
            <!-- <div ng-include="'app/pages/money/virtualMachinePayment/cloudPaymentTemplate/cloudPayment.template.html'"></div> -->
            <md-card-content>
                <div layout="row" flex ng-show="!usageVm.show">
                    <span class="bold">Подписка: {{usageVm.name}}</span>
                </div>
                
                <div layout="row" flex ng-show="usageVm.show">
                    <md-card class="width-100" ng-repeat="subscription in usageVm.subscriptions">
                        <md-card-content>
                            
                            <div ng-show="subscription.month" class="width-100" layout="row" flex>
                                <span class="bold">Месяц: {{subscription.month}}</span>
                                <div layout="row" flex layout-align="end">
                                    <span class="bold">Сумма: {{subscription.usageSubscriptionPayment.totalAmount}}</span>
                                </div>                                
                            </div>
                            
                            <div ng-show="!subscription.month" class="width-100" layout="row" flex>
                                <span class="bold">День: {{subscription.date | FormatToStandartDate}}</span>
                                <div layout="row" flex layout-align="end">
                                    <span class="bold">Сумма: {{subscription.usageSubscriptionPayment.totalAmount}}</span>
                                </div>                                       
                            </div>
                        </md-card-content>
                    </md-card>
                </div>

                <md-divider ng-if="!$last"></md-divider>
            </md-card-content>
    </md-card>
    <div layout="row" flex layout-align="center">
        <dir-pagination-controls
                boundary-links="true"
                on-page-change="pageChangeHandler(newPageNumber)"
                template-url="content/pagination/dirPagination.tpl.html">
        </dir-pagination-controls>
    </div>
</md-content>