<div flex class="personal-account-my-finance-form">

    <div flex class="request-content">
        <user-finance-list is-show-current-balance="true">

        </user-finance-list>
    </div>

    <div flex class="request-content">
        <account-transaction>

        </account-transaction>
    </div>
</div>