﻿<md-content class="md-padding page-content">
    <md-card>

        <md-card-content layout="column">
            <h2 flex class="md-title">Фильтры</h2>
            <div layout="row" flex>
                <select-user flex="30" ng-model="payments.user"></select-user>
            </div>

            <div layout="row" flex>
                <md-input-container flex="30">
                    <label>Тип завершения</label>
                    <md-select ng-model="payments.type" placeholder="Выберите тип платежа">
                        <md-option ng-repeat="type in paymentType.arrayItems" value="{{type.value}}">{{type.name}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" flex>
                <md-input-container flex="30">
                    <label>Тип завершения</label>
                    <md-select ng-model="payments.success" placeholder="Выберите тип завершения операции">
                        <md-option ng-repeat="type in successType" value="{{type.value}}">{{type.name}}</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="row" flex layout-wrap>
                <div layout="row" flex="30">
                    <md-input-container >
                        <label>Тип периода</label>
                        <md-select ng-model="payments.dateType" placeholder="Выберите тип даты">
                            <md-option ng-repeat="type in dateType" value="{{type.value}}">{{type.name}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div  layout="row"  flex="30">
                    <md-datepicker class="margin-top10"  type="date" ng-model="payments.fromDate" md-placeholder="С">
                    </md-datepicker >
                </div>
                <div  layout="row"  flex="30">
                    <md-datepicker class="margin-top10" flex ng-model="payments.toDate" md-placeholder="До">
                    </md-datepicker>
                </div>
            </div>
        </md-card-content>
        <div class="md-actions card-actions" layout="row" layout-align="end center">
            <md-button class="md-raised" ng-click="clearSearchParams()">Сбросить</md-button>
            <md-button class="md-raised" ng-click="applyFilter()">Применить</md-button>
        </div>
    </md-card>


    <md-card ng-if="payments.items.length"
         dir-paginate="payment in payments.items |  itemsPerPage: payments.pageSize"
         current-page="payments.currentPage"
         total-items="payments.totalRows">

        <md-card-content>
            <h2 class="md-title">Платеж {{payment.id}}</h2>
            <div layout layout-sm="column" layout-wrap>
                <md-input-container flex-md="25">
                    <label>Сумма</label>
                    <input readonly="" value='{{payment.cashAmount}}'>
                </md-input-container>
                <md-input-container flex-md="25">
                    <label>Платежная система</label>
                    <input readonly="" value='{{paymentType.arrayItems[payment.paymentSystem].name}}'>
                </md-input-container>
                <md-input-container flex-md="25">
                    <label>Дата</label>
                    <input readonly="" value="{{payment.date | FormatToStandartDate}}">
                </md-input-container>
                <md-input-container flex-md="25">
                    <label>Дата завершения</label>
                    <input readonly="" value="{{payment.dateEnd | FormatToStandartDate}}">
                </md-input-container>
                <md-input-container class="link" ui-sref="usersSingle({id:payment.userId})" flex-md="25">
                    <label>Имя пользователя</label>
                    <input readonly="" value='{{payment.userName}}'>
                </md-input-container>
                <md-input-container flex-md="25">
                    <label>Результат</label>
                    <input readonly="" value='{{payment.success?"Успешно":"Неудачно"}}'>
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
    <div class="pagination-center">
        <dir-pagination-controls
                boundary-links="true"
                on-page-change="pageChangeHandler(newPageNumber)"
                template-url="content/pagination/dirPagination.tpl.html">
        </dir-pagination-controls>
    </div>
</md-content>