<md-card>
    <md-card-content class="vm-short">
        <div flex layout="row">
            <div flex="35">
                <h2 ng-show="!vm.virtualMachine.show" class="link" ui-sref="subscriptionVirtualMachine({id:vm.virtualMachine.id})">{{vm.virtualMachine.name}}</h2>
                <h2 ng-show="vm.virtualMachine.show" flex="25">{{virtualMachine.name}}</h2>
                <div class="machineImage" flex="25">
                    <img ng-src="{{vm.BASE_INFO.URL}}{{vm.BASE_INFO.PORT}}{{vm.virtualMachine.userVm.osImageFilePath}}">
                </div>
            </div>

            <div flex="35">
                <div class="subheader-div" flex>
                    <div class="subheader">Общая информация</div>
                    <div layout="row" class="item">
                        <div flex="55">Состояние:</div>
                        <div flex class="value">
                            <vm-state state="vm.virtualMachine.userVm.status"></vm-state>
                            <admin-vm-state state="vm.virtualMachine.userVm.status"></admin-vm-state>
                        </div>
                    </div>
                    <div layout="row" class="item">
                        <div flex="55">ОC:</div>
                        <div flex class="value">
                            {{vm.virtualMachine.userVm.operatingSystem.name}}
                        </div>
                    </div>
                    <div ng-show="vm.virtualMachine.userVm.virtualizationType==1" layout="row" class="item">
                        <div flex="55">Окончание подписки:</div>
                        <div flex class="value">{{vm.virtualMachine.dateEnd | date:'d.MM.yyyy'}}</div>
                    </div>
                    <div ng-show="vm.virtualMachine.userVm.virtualizationType==0" layout="row" class="item">
                        <div flex="55">В час:</div>
                        <div flex class="value">
                            {{vm.currentPriceVm.priceHourly.Sum|money}}Р
                        </div>
                    </div>
                </div>
            </div>
            <div flex="35">
                <div class="subheader-div" flex>
                    <div class="subheader">Характеристики</div>
                    <div layout="row" class="item">
                        <div flex="55">CPU:</div>
                        <div flex class="value">{{vm.virtualMachine.userVm.coreCount}}</div>
                    </div>
                    <div layout="row" class="item">
                        <div flex="55">RAM:</div>
                        <div flex class="value">{{vm.virtualMachine.userVm.ramCount}}MB</div>
                    </div>
                    <div layout="row" class="item">
                        <div flex="55">Hdd:</div>
                        <div flex class="value">{{vm.virtualMachine.userVm.hardDriveSize}}Gb</div>
                    </div>
                </div>
            </div>
        </div>

        <div flex layout="row">
            <div flex="33">
                <div class="subheader">Состояние</div>
                <div layout="row" class="item">
                    <div flex="55">Загрузка CPU:</div>
                    <div flex class="value" ng-show="vm.virtualMachine.userVm.operatingSystemPassword">{{vm.machineState.cpuLoad}}%</div>
                    <div flex class="value">{{vm.machineState.cpuLoad}}%</div>
                </div>
                <div layout="row" class="item">
                    <div flex="55">Загрузка RAM:</div>
                    <div flex class="value">{{vm.machineState.ramLoad}}GB</div>
                </div>
                <div layout="row" class="item">
                    <div flex="55">Время работы:</div>
                    <div flex class="value"
                         am-time-ago="vm.machineState.upTime | amParse:'HH:mm:ss'">{{vm.machineState.upTime}}
                    </div>
                </div>
            </div>
            <div flex="33">
                <div class="subheader">Параметры подключения</div>
                <div layout="row" class="item">
                    <div flex="55">Имя пользователя:</div>
                    <div flex class="value">{{vm.virtualMachine.userVm.userName}}</div>
                </div>
                <div layout="row" class="item">
                    <div flex="55">Пароль:</div>
                    <div flex class="value"  ng-show="vm.virtualMachine.userVm.operatingSystemPassword">{{vm.virtualMachine.userVm.operatingSystemPassword}}</div>
                    <div flex class="value"  ng-hide="vm.virtualMachine.userVm.operatingSystemPassword">Не назначен</div>
                </div>
                <div layout="row" class="item">
                    <div flex="55">Ip адрес:</div>
                    <div flex class="value" ng-show="vm.virtualMachine.userVm.IpAdresses[0].IPv4">{{vm.virtualMachine.userVm.IpAdresses[0].IPv4}}</div>
                    <div flex class="value" ng-hide="vm.virtualMachine.userVm.IpAdresses[0].IPv4">Не назначен</div>
                </div>
            </div>
        </div>

        <div ng-show="!vm.single" class="md-actions card-actions" layout="row" layout-align="end center">
            <md-button ui-sref="subscriptionVirtualMachine({id:vm.virtualMachine.id})" class="md-raised">Просмотр</md-button>
        </div>

        <div ng-show="vm.single" class="md-actions card-actions" layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-click="vm.showEditVm()">Редактировать</md-button>
            <subscription-prolongation-button ng-show="vm.virtualMachine.subscriptionType == 1" success="vm.prolongateSuccess()" vm-id="vm.virtualMachine.id" ng-if="vm.virtualMachine.subscriptionType == vm.subscriptionType.Fixed"></subscription-prolongation-button>
            <update-machine-status-button vm-id="virtualMachine.id" pending="virtualMachine.pending"></update-machine-status-button>
            <update-machine-configuration-button user-vm="vm.virtualMachine.userVm" success="vm.prolongateSuccess()"></update-machine-configuration-button>
            <md-button class="md-raised md-warn" ng-click="vm.showConfirmVm()">Удалить</md-button>
        </div>
    </md-card-content>
</md-card>