<md-card>
    <md-card-content>
        <div layout="row" flex>
            <div flex="25" layout="column" layout-align="center center">
                <h2 ng-show="!vm.gameServer.show" class="link" ui-sref="subscriptionGameServer({id:vm.gameServer.id})">{{vm.gameServer.name}}</h2>
                <h2 ng-show="vm.gameServer.show">Подписка {{vm.gameServer.name}}</h2>
                <div flex="25">
                    <img ng-src="{{vm.BASE_INFO.URL}}{{vm.BASE_INFO.PORT}}{{vm.gameServer.gameServerTariff.game.imageFileDescriptor.path}}"
                         alt="{{game.imageFileDescriptor.name}}"
                         class="gameServerImage game-image">
                </div>
            </div>
            <div layout="column" flex="75">
                <div layout="column" flex>
                    <div flex>
                        <md-input-container ng-show="!vm.gameServer.show" class="link" ui-sref="subscriptionGameServer({id:vm.gameServer.id})">
                            <label>Машина</label>
                            <input readonly="" value='{{vm.gameServer.name}}' name="Machine">
                        </md-input-container>
                        <md-input-container ng-show="vm.gameServer.show">
                            <label>Машина</label>
                            <input readonly="" value='{{vm.gameServer.name}}' name="Machine">
                        </md-input-container>

                        <md-input-container>
                            <label>Количество слотов</label>
                            <input readonly="" value='{{vm.gameServer.slotCount}}' name="slotCount">
                        </md-input-container>

                        <md-input-container class="link" ui-sref="usersSingle({id:vm.gameServer.userId})">
                            <label>Создатель</label>
                            <input readonly="" value='{{vm.gameServer.userName}}' name="User">
                        </md-input-container>
                    </div>

                    <div flex>
                        <md-input-container class="link" ui-sref="singleGame({id:gameServer.gameServerTariff.game.id})">
                            <label>Тариф</label>
                            <input readonly="" value='{{vm.gameServer.gameServerTariff.name}}' name="gameServerTariffName">
                        </md-input-container>

                        <md-input-container ng-show="vm.gameServer.gameServerTariff.disabled">
                            <label>Архивный</label>
                            <input readonly="" value='{{vm.gameServer.gameServerTariff.disabled}}' name="gameServerTariffDisabled">
                        </md-input-container>

                        <md-input-container class="link" ui-sref="singleGame({id:vm.gameServer.gameServerTariff.game.id})">
                            <label>Игра</label>
                            <input readonly="" value='{{vm.gameServer.gameServerTariff.game.name}}' name="game">
                        </md-input-container>

                        <md-input-container>
                            <label>Семейство</label>
                            <input readonly="" value='{{vm.gameFamily.arrayItems[vm.gameServer.gameServerTariff.game.family].name}}' name="family">
                        </md-input-container>

                        <md-input-container ng-show="vm.gameServer.gameServerTariff.game.disabled">
                            <label>Архивный</label>
                            <input readonly="" value='{{vm.gameServer.gameServerTariff.game.disabled}}' name="disabledGame">
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="!vm.single" class="md-actions card-actions" layout="row" layout-align="end center">
            <md-button ui-sref="subscriptionGameServer({id:vm.gameServer.id})" class="md-raised">Просмотр</md-button>
        </div>
        <div ng-show="vm.single" class="md-actions card-actions" layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-click="vm.showEditGs()">Редактировать</md-button>
            <prologation-dialog-game-server gs-id="vm.gameServer.id" gs-name="vm.gameServer.name"></prologation-dialog-game-server>
            <update-status-game-server gs-id="vm.gameServer.id" pending="gameServer.pending"></update-status-game-server>
            <update-game-server game-server="vm.gameServer" update-slot-count="vm.updateSlotCount(vm.gameServer, slotCount)"></update-game-server>
            <md-button class="md-warn md-raised" ng-click="showEdit()">Удалить</md-button>
        </div>

    </md-card-content>
</md-card>