<div class="config height-100 padding-15">
    <div class="header module-info">

        <div>Конфигурация</div>

        <div ng-if="!vm.updating && !vm.prolongation" layout="row">
            <div flex class="subheader-div" layout="column">
                <div class="subheader">Параметры</div>
                <div flex="25" layout="row" class="item">
                    <div flex="25">CPU:</div>
                    <div flex class="value">{{vm.virtualMachine.userVm.coreCount}}</div>
                </div>
                <div flex="25" layout="row" class="item">
                    <div flex="25">RAM:</div>
                    <div flex class="value">{{vm.virtualMachine.userVm.ramCount}}MB</div>
                </div>
                <div flex="25" layout="row" class="item">
                    <div flex="25">Hdd:</div>
                    <div flex class="value">{{vm.virtualMachine.userVm.hardDriveSize}}Gb</div>
                </div>
            </div>

            <div flex class="subheader-div" layout="column">
                <div class="subheader">Информация</div>
                <div flex="25" layout="row" class="item">
                    <div flex="60">Стоимость в месяц:</div>
                    <div flex class="value">{{vm.currentPriceVm.priceMonth.Sum|money}}Р</div>
                </div>
                <div flex="25" layout="row" class="item">
                    <div flex="60">Начало подписки:</div>
                    <div flex class="value">{{vm.virtualMachine.dateCreate | date:'d.MM.yyyy'}}Р</div>
                </div>
                <div flex="25" layout="row" class="item">
                    <div flex="60">Окончание подписки:</div>
                    <div flex class="value">{{vm.virtualMachine.dateEnd | date:'d.MM.yyyy'}}Р</div>
                </div>
            </div>
        </div>

        <div ng-if="vm.updating">

            <cloud-param-sliders vm-option="vm.vmOption"></cloud-param-sliders>

            <div class="footer" layout="row" layout-align="start center">
                <div flex="20" class="btn-div">
                    <button flex class="primary-button" ng-click="vm.updating = false">Назад</button>
                </div>
                <div flex="30" class="total-price">Сейчас: {{vm.currentPriceVm.priceHourly.Sum|money}} ₽/мес</div>
                <div flex="30" class="total-price">Новая: {{vm.newPriceVm.priceHourly.Sum|money}} ₽/мес</div>
                <div flex="20" class="btn-div">
                    <button flex class="primary-button"
                            ng-click="vm.modify()"
                            ng-class="{'disabled-btn': !vm.wasChanges}">
                        Применить
                    </button>
                </div>
            </div>
        </div>

        <div ng-if="vm.prolongation" class="prolongation-change">
            <div class="top" layout="row" layout-align="center center">
                <div class="text">Продлить подписку на:</div>
                <input ng-model="vm.prolongateOption.monthCount"
                       ng-init="1"
                       placeholder="1">
                <div class="text">месяцев</div>
            </div>
            <div class="footer" layout="row" layout-align="space-between center">
                <div class="btn-div">
                    <button flex class="primary-button" ng-click="vm.prolongation = false">Отменить</button>
                </div>
                <div class="btn-div">
                    <button flex class="primary-button"
                            ng-class="{'disabled-btn': vm.prolongateOption.monthCount < 1}"
                            ng-click="vm.extendSubscription()">Продлить</button>
                </div>
            </div>
        </div>

    </div>


    <div class="module-manage">
        <div ng-if="!vm.updating && !vm.prolongation" layout="row">
                <div flex="25" class="btn-div" style="margin-left: 5%">
                    <button flex class="primary-button"
                            ng-click="vm.startUpdate()"
                            ng-class="{'disabled-btn': vm.virtualMachine.userVm.status==vm.status.UpdatingConf}" >
                        Изменить
                    </button>
                </div>

                <div flex="25" class="btn-div" style="margin-left: 25%">
                    <button flex class="primary-button"
                            ng-click="vm.prolongation = true"
                            ng-class="{'disabled-btn': vm.virtualMachine.userVm.status==vm.status.UpdatingConf}" >
                        Продлить
                    </button>
                </div>
        </div>
    </div>

</div>