<div class="my-account-form">
	<div class="user-info-container" layout="row">
		<div layout="column" flex="55">
			<div class="left" flex layout="row">
				<div flex="25" class="avatar-div">
					<img class="avatar-image" flex src="client/content/images/avatar.png" alt="Avatar">
				</div>
				<div flex="50" layout="column" class="user-info">
					<ul flex class="user-info-list">
						<li flex class="fio">{{vm.user.name + "  " + vm.user.lastName}}</li>
						<li flex class="user-type"> {{vm.user.userType === vm.userType.JuridicalPerson?"юридическое лицо":"физическое лицо"}}</li>
						<li flex class="user-region">{{vm.user.city+  " , "+vm.user.country}}</li>
					</ul>
				</div>
			</div>

			<div layout="row" class="current-balance">
				<div flex="65" class="balance-text">Текущий баланс <span>{{vm.userPaymentForecast.currentBalance|money}} ₽ </span></div>
                <div flex="35">
                    <btn-replenish></btn-replenish>
                </div>
			</div>
		</div>
		<div flex class="right" layout="column">
			<span>мобильный телефон</span>
			<span class="phone">+{{vm.user.phoneNumber}}</span>
			<span class="text">Все пароли от ваших серверов будут высылаться на этот номер!</span>
			<button class="btn-accent btn-edit-info " ui-sref="personalAccount.editUser">Редактировать данные</button>
		</div>
	</div>

	<div flex class="request-content">
		<user-finance-list is-show-current-balance="false">

		</user-finance-list>
	</div>

	<div flex class="request-content">
		<event-list>

		</event-list>
	</div>

	<div flex class="header-text" >Обращения в Тех. поддержку</div>
	<div flex class="request-content">
		<help-desk-request-list>

		</help-desk-request-list>
	</div>
	<button flex class="btn-accent ask-another-question" ui-sref="personalAccount.support">Задать другой вопрос</button>
</div>