$account-text-color: #3f4549;

.my-account-form {
	color: $account-text-color;
	padding-bottom: 155px;

	.user-info-container {
		margin:0 26px;
		margin-top: 30px;
		border-bottom: 1px solid #cad2db;
		padding-bottom: 17px;

		.left {
			.avatar-image {
				width: 92%;
				border-radius: 30px;
				overflow: hidden;
			}

			.user-info {
				margin-top: 2px;
				margin-left: 16px;

				.user-info-list {
					list-style: none;
					margin: 0;
					padding: 0;
				}

				.fio {
					font-family: firaSansMedium;
					font-size: 24px;
				}

				.user-type {
					font-family: firaSansRegular;
					font-size: 13px;
					color: #609bca;
					border: 1px solid #609bca;
					border-radius: 4px;
					text-align: center;
					line-height: 20px;
					margin-top: 5px;
					margin-right: 28%;
				}

				.user-region {
					font-family: firaSansMedium;
					font-size: 13px;
					margin-top: 11px;
				}
			}
		}

		.current-balance {
			font-family: firaSansRegular;
			font-size: 18px;
			margin-top: 15px;

			.balance-text {
				margin-top: 5px;

				span {
					font-family: firaSansMedium;
					color: #609bca;
				}
			}
		}

		.right {
			font-family: firaSansMedium;
			font-size: 13px;
			margin-left: 3px;
			margin-top: 5px;

			.phone {
				font-size: 22px;
				margin-left: -1px;
			}

			.text {
				font-family: firaSansRegular;
				color: #90a2b0;
				margin-top: 4px;
				margin-left: -2px;
			}


		}
	}

	.header-text {
		font-family: firaSansMedium;
		font-size: 24px;
		margin-left: 23px;
		margin-top: 27px;
	}

	.request-content {
		margin: 0 25px;
		margin-top: 18px;

		.request {
			border-bottom: 1px dashed #cad2db;
			padding: 19px 0;
			padding-bottom: 17px;

			.info {


				.text{
					font-family: firaSansMedium;
					font-size: 13px;
					color: #4d5d69;
				}

				.request-theme {
					font-family:firaSansMedium;
					font-size: 18px;
					color: #609bca;
					text-decoration: underline;
					margin-top: 4px;
				}

				.info-number {
					margin: 10px 0 15px -3px;
					width:18px;
				    height:18px;

				    border-radius:9px;
				    border-width: 1px;
				    line-height: 18px;

				    font-size:12px;
				    text-align:center;
				    font-family: firaSansMedium;
				    color: #fff;
				    background-color: #609bca;
				}

				.status {
					font-family: firaSansMedium;
					font-size: 13px;
					line-height: 23px;
					border-radius: 5px;
					border-width: 1px;
					padding: 0 7px;
					padding-top: 2px;
					display: inline-table;
				}

				.status-yellow {
					background-color: #ffd200;
					color: #4d5d69;
				}

				.status-green {
					background-color: #5fb613;
					color: #fff;
				}

				.time-important-text {
					font-family: firaSansRegular;
					font-size: 15px;
				}
			}

			.info:nth-child(3) {
				margin-left: 6px;
			}

			.info:nth-child(4) {
				margin-left: 10px;
			}
		}
	}



	.btn-accent{
		background-color: #e5ebef;
		font-family: firaSansMedium;
		font-size: 13px;
		color: #619ccb;
		border: 1px solid rgb(200, 208, 214);
		border-radius: 3px;
		box-shadow: inset 0px 1px 1px #ffffff;

		&:active{
			position: relative;
			top: 1px;

		}
	}

	.ask-another-question {
		margin-top: 29px;
	    margin-left: 23px;
	    line-height: 31px;
	    padding: 0 21px;


	}

	.btn-edit-info {
		margin-left: -3px;
		margin-top: 20px;
		line-height: 29px;
		margin-right: 40%;

	}
}

.btn-accent{
	line-height: 29px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #e5ebef;
	font-family: firaSansMedium;
	font-size: 13px;
	color: #619ccb;
	border: 1px solid rgb(200, 208, 214);
	border-radius: 3px;
	box-shadow: inset 0px 1px 1px #ffffff;

	&:active{
		position: relative;
		top: 1px;

	}

}