<div class="top-block">
    <div class="center-block">
        <div layout="row" class="navigation">
            <a>Главная</a>
            <span>&nbsp;-&nbsp;</span> <a>Услуги</a>
            <span>&nbsp;-&nbsp;</span> <a>Игровые сервера</a>
            <span>&nbsp;-&nbsp;{{vm.game.name}}</span>
        </div>

        <div layout="row" class="server-info">
            <div layout="column" class="left" flex="15">
                <div class="top">
                    <img ng-src="{{vm.baseInfo.URL}}{{vm.baseInfo.PORT}}{{vm.game.imageFileDescriptor.path}}"
                         alt="{{vm.game.imageFileDescriptor.name}}">
                </div>
                <div class="bottom" layout="row">
                    <div flex>
                        <img flex src="client/content/images/game-star.png" alt="Game Star">
                    </div>
                    <div flex>
                        <img flex src="client/content/images/game-star.png" alt="Game Star">
                    </div>
                    <div flex>
                        <img flex src="client/content/images/game-star.png" alt="Game Star">
                    </div>
                    <div flex>
                        <img flex src="client/content/images/game-star.png" alt="Game Star">
                    </div>
                    <div flex>
                        <img flex src="client/content/images/game-star.png" alt="Game Star">
                    </div>
                </div>
            </div>
            <div layout="column" class="right">
                <div class="top" flex="10">
                    {{vm.game.name}}
                </div>
                <div class="bottom" flex="70">
                    {{vm.game.description}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="buy-game-server-form" layout="column">
    <div layout="row" class="header">Оформление заказа</div>

    <div layout="row" class="main-block">
        <div flex="70" class="left">
            <game-configuration buy-options='vm.buyOptions'>

            </game-configuration>
        </div>

        <div flex class="right">
            <game-price buy-options='vm.buyOptions' game-buy="vm.gameBuy()">
            </game-price>
        </div>
    </div>
</div>