.top-block {
  background: url('../../../../../client/content/images/counter-strike.png') no-repeat 100% 0;
  background-size: 100%;
  padding-left: 5px;
  float: left;
  width: 100%;
  height: 300px;

  .center-block {
    width: 1000px;
    margin: 0 auto;

    .navigation {
      margin-top: 20px;
      font-size: 13px;
      font-family: firaSansBook;
      color: #fff;

      a {
        color: #fff;
        text-decoration: underline;
        cursor: pointer;
      }

      span {
        color: #7e7e7e;
      }
    }

    .server-info {
      margin-top: 43px;
      margin-left: -10px;

      .left {
        .top {
          width: 135px;
          height: 135px;
          overflow: hidden;
          cursor: pointer;
          border-radius: 30px;

          img {
            width: 100%;
          }
        }

        .bottom {
          margin-top: 10px;
        }
      }

      .right {
        color: #eeeeee;
        padding-left: 33px;

        .top {
          font-family: firaSansMedium;
          font-size: 27px;
        }

        .bottom {
          font-family: firaSansBook;
          font-size: 14px;
          line-height: 1.4;
          padding-top: 26px;
          max-width: 80%;
          max-height: 160px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.buy-game-server-form {
  width: 1000px;
  margin: 0 auto;
  font-size: 13px;
  min-height: 1000px;

  .header {
    font-family: firaSansMedium;
    font-size: 27px;
    color: #4d5d69;
    margin-top: 50px;
  }

  .main-block {
    margin-top: 24px;

    .left {

    }

    .right{

    }
  }
}