<div flex class="vm-usage-payment-form padding-15">
    <div layout="row" class="header-div">
        <div flex="80" class="header">Платежи облачной машины</div>
        <button flex class="btn-accent" ng-click="vm.useFilter()">Фильтры</button>
    </div>

    <div layout="row" ng-if="vm.isUseFilter">
        <resource-date-filter flex is-show-grouping="true" search-params="vm.searchParams"></resource-date-filter>
    </div>

    <div ng-class="{'task-list': vm.changePage || vm.usagePaymentList.items.length == vm.paginationSettings.pageSize }" >
        <div dir-paginate="usagePayment in vm.usagePaymentList.items |  itemsPerPage: vm.paginationSettings.pageSize"
             current-page="vm.paginationSettings.pageNumber"
             total-items="vm.usagePaymentList.totalRows"
             pagination-id="vm.myPaginationId"
             ng-show="vm.usagePaymentList.items.length">

            <div class="task-row" layout="row">
                <div flex="15">{{usagePayment.date | date:'d.MM.yyyy'}}</div>
                <div flex="60" class="type-task">Списывание за использование</div>
                <div flex="25" class="type-task">{{usagePayment.amount|money}}</div>
            </div>
        </div>

        <div class="task-row" layout="row" ng-show="vm.usagePaymentList.$resolved && !vm.usagePaymentList.items.length && !vm.changePage">
            <div flex="15">{{vm.currentDate | date:'d.MM.yyyy'}}</div>
            <div flex="85" class="type-task">Платежей не найдено</div>
        </div>

    </div>

    <div layout="row" layout-align="center">
        <dir-pagination-controls
                boundary-links="true"
                pagination-id="vm.myPaginationId"
                on-page-change="vm.pageChangeHandler(newPageNumber)"
                template-url="content/pagination/dirPagination.tpl.html">
        </dir-pagination-controls>
    </div>
</div>