
<button flex class="md-no-style md-button inner-list-button" md-ink-ripple class="md-clickable" ng-click="changePresentation()">

    <div class="paymentList" layout="row" flex ng-hide="show">
        <div layout="row" flex layout-align="start center">
            <span class="bold">Машина: {{subscriptionPayment.userVmName}}</span>
        </div>
        <div layout="row" flex layout-align="start center">
            <span class="bold">Количество месяцев: {{subscriptionPayment.monthCount}}</span>
        </div>
        <div layout="row" flex layout-align="center">
            <span class="bold">Сумма: {{subscriptionPayment.amount}}</span>
        </div>
        <div layout="row" flex layout-align="end center">
            <span class="bold">Дата: {{subscriptionPayment.date | FormatToStandartDate}}</span>
        </div>
    </div>

    <div class="width-100" ng-show="show"
         ng-include="'app/pages/money/virtualMachinePayment/vpsSingleTemplate/vpsSingle.template.html'">
    </div>
</button>