<md-content class="md-padding page-content">
    <md-button ng-show="isShowAddBtn" aria-label="menu" class="md-fab md-warn btn-add-entity" ng-click="showAdvanced()">
        <md-tooltip>
            Добавить
        </md-tooltip>
        +
    </md-button>
    System Center
    <md-card ng-repeat="scvm in defaultSCVMs" class="card-SCVM">
        <md-card-content>
            <h2 class="md-title">{{scvm.host}}</h2>

            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>userName</label>
                    <input readonly="" value='{{scvm.userName}}'></input>
                </md-input-container>
                <md-input-container flex>
                    <label>password</label>
                    <input readonly="" value='{{scvm.password}}'></input>
                </md-input-container>
                <md-input-container flex>
                    <label>name</label>
                    <input readonly="" value='{{scvm.name}}'></input>
                </md-input-container>
            </div>

            <h4 ng-if="scvm.hyperVHosts.length">HyperVHosts :</h4>

            <div ng-repeat="hyperVHost in scvm.hyperVHosts">
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>id</label>
                        <input readonly="" value='{{hyperVHost.id}}'></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>host</label>
                        <input readonly="" value='{{hyperVHost.host}}'></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>userName</label>
                        <input readonly="" value='{{hyperVHost.userName}}'></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>password</label>
                        <input readonly="" value='{{hyperVHost.password}}'></input>
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>coreNumber</label>
                        <input readonly="" value='{{hyperVHost.coreNumber}}'></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>ramSize</label>
                        <input readonly="" value='{{hyperVHost.ramSize}}'></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>valid</label>
                        <input readonly="" value='{{hyperVHost.valid}}'></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>dateAdded</label>
                        <input readonly="" value='{{hyperVHost.dateAdded | FormatToStandartDate}}'></input>
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>systemCenterVirtualManagerId</label>
                        <input readonly="" value='{{hyperVHost.systemCenterVirtualManagerId}}'></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>deleted</label>
                        <input readonly="" value='{{hyperVHost.deleted}}'></input>
                    </md-input-container>
                </div>
                <h6>Resources :</h6>

                <div ng-repeat="hyperVresource in hyperVHost.resources">
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>id</label>
                            <input readonly="" value='{{hyperVresource.id}}'></input>
                        </md-input-container>
                        <md-input-container flex>
                            <label>resourceType</label>
                            <input readonly="" value='{{hyperVresource.resourceType}}'></input>
                        </md-input-container>
                        <md-input-container flex>
                            <label>value</label>
                            <input readonly="" value='{{hyperVresource.value}}'></input>
                        </md-input-container>
                        <md-input-container flex>
                            <label>valid</label>
                            <input readonly="" value='{{hyperVresource.valid}}'></input>
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>updateDate</label>
                            <input readonly=""
                                   value='{{hyperVresource.updateDate | FormatToStandartDate}}'></input>
                        </md-input-container>
                        <md-input-container flex>
                            <label>hyperVHostId</label>
                            <input readonly="" value='{{hyperVresource.hyperVHostId}}'></input>
                        </md-input-container>
                        <md-input-container flex>
                            <label>deleted</label>
                            <input readonly="" value='{{hyperVresource.deleted}}'></input>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-card-content>
        <div class="md-actions card-actions" layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-click="showConfirm($index)">Удалить</md-button>
            <md-button class="md-primary md-raised" ng-click="showAdvanced($index)">Редактировать</md-button>
            <md-button class="md-primary md-raised">Управление</md-button>
        </div>
    </md-card>
</md-content>

<script type="text/ng-template" id="editSCVMform.tmpl.html">
    <md-dialog aria-label="System Center Virtual Manager">
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Добавление / Редактирование</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="../content/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content style="max-width:900px;max-height:810px; ">
                <md-input-container flex style="margin: 18px 18px">
                    <label>host</label>
                    <input ng-model="scvm.host">
                </md-input-container>
                <md-input-container flex>
                    <label>username</label>
                    <input ng-model="scvm.userName">
                </md-input-container>
                <md-input-container flex>
                    <label>password</label>
                    <input ng-model="scvm.password">
                </md-input-container>
                <md-input-container flex>
                    <label>name</label>
                    <input ng-model="scvm.name">
                </md-input-container>
            </md-dialog-content>
            <div class="md-actions" layout="row">
                <md-button ng-click="cancel()">Отмена</md-button>
                <md-button ng-click="answer()" style="margin-right:20px;">Применить</md-button>
            </div>
        </form>
    </md-dialog>
</script>