.message-dialog{
     height: 200px;
 }

.Rounded_Rectangle_8 {

  background-color: rgb(255, 255, 255);

  position: absolute;
  left: 138px;
  top: 640px;
  width: 1000px;
  height: 235px;
  z-index: 88;
}
