<div class="auth-form message-dialog">
    <div class="btn-close">
        <img class="btn-close-image" src="client/content/images/btn-close.png" alt="Close" ng-click='vm.close()'/>
    </div>
    <div class="form-content">
        <div class="header-text">{{vm.message.header}}</div>

        <div class="main-text first-header">{{vm.message.body}}</div>

    </div>

</div>