<div class="gs-setting-form">
    <div class="header">Настройки</div>
    <div layout="row" class="name-option-div">
        <div flex="25">Имя сервера</div>
        <input flex class="subscription-name-input" placeholder="{{vm.gameServer.name}}"
               ng-model="vm.subscriptionUpdateGameServerOption.name">
    </div>
    <div class="subheader">Уведомление</div>
    <md-radio-group ng-model="vm.notifyBy" class="md-primary radio-group">
        <md-radio-button value="email" md-no-ink="true">По Email</md-radio-button>
        <md-radio-button value="sms" md-no-ink="true">По СМС</md-radio-button>
    </md-radio-group>
    <div layout="row">
        <md-checkbox class="autoProlongation"
                     ng-model="vm.subscriptionUpdateGameServerOption.autoProlongation"
                     aria-label="Автопродление"
                     md-no-ink="true">
        </md-checkbox>Автопродление
    </div>
    <div layout="row" class="btn-manage-div" layout-align="end">
        <button class="primary-button btn-item"
                ng-class="{'disabled-btn': !vm.isEnableManageButtons}"
                ng-click="vm.returnValue()">
            Отменить
        </button>
        <button class="primary-button btn-item"
                ng-class="{'disabled-btn': !vm.isEnableManageButtons}"
                ng-click="vm.setNewOptions()">
            Сохранить
        </button>
    </div>
</div>