.gs-setting-form {
  padding: 10px 23px;
  font-family: firaSansMedium;
  font-size: 18px;
  color: #4d5d69;

  .header {
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
  }

  .subheader {
    margin: 20px 0 10px 0;
  }

  .autoProlongation {
    width: 20px;
    height: 20px;
    margin: 1px 10px 2px 0;
  }

  md-radio-group:not([disabled]).md-primary .md-on{
    background-color: #5da1dc !important;
  }

  md-checkbox.md-checked.autoProlongation .md-icon {
    background-color: #5da1dc !important;
  }

  md-checkbox.autoProlongation .md-icon {
    border-color: #4d5d69;
  }

  .name-option-div{
    line-height: 30px;
    font-family: firaSansMediumItalic;

    .subscription-name-input {
      padding: 5px 15px;
      border-radius: 4px;
      border: 1px solid #d6dee1;
    }
  }

  .btn-manage-div {

    .btn-item {
      width: 120px;
      margin: 5px;
    }

    .disabled-btn {
      background-color: #fff;
      box-shadow: none;
      text-shadow: none;
      color: #609bca;
      border: 1px solid;
      cursor: default;
      pointer-events: none;
    }
  }
}