<div class="error-text first-header" ng-message="UserExist">Пользователь уже существует</div>
<div class="error-text first-header" ng-message="serverError">Севрер не отвечает</div>
<div class="error-text first-header" ng-message="invalid_grant">Не правильная пара email/пароль</div>
<div class="error-text first-header" ng-message="user_blocked">Пользователь заблокирован</div>
<div class="error-text first-header" ng-message="user_email_not_confirmed">Email не подтвержден </div>
