<div flex ng-if="vm.state==vm.StatusVMs.Disable" class="server-status server-status-yellow">Приостановлена</div>
<div flex ng-if="vm.state==vm.StatusVMs.Deleted" class="server-status server-status-red">Заблокирована</div>
<div flex ng-if="vm.state==vm.StatusVMs.Enable" class="server-status server-status-green">Включена</div>
<div flex ng-if="vm.state==vm.StatusVMs.Creating" class="server-status server-status-green">Создается</div>
<div flex ng-if="vm.state==vm.StatusVMs.UpdatingConf" class="server-status  server-status-yellow">Обновление конфигурации</div>
<div flex ng-if="vm.state==vm.StatusVMs.UpdatingStatus" class="server-status  server-status-yellow">Обновление статуса</div>