<div class="config height-100 padding-15">
    <div class="module-info">
        <div class="header">Информация о бекапах</div>
        <div ng-if="!vm.updating" layout="row">
            <div flex class="subheader-div" layout="column">

                <div flex layout-padding="">
                    <div flex="65">Время выполнения копирования (GMT +3): 00:00</div>
                </div>
                <div flex layout-padding="">
                    <div flex="65">Хранить копии за последние:
                        {{vm.virtualMachine.dailyBackupStorePeriodDays}} {{vm.virtualMachine.dailyBackupStorePeriodDays==1?
                        "день" : vm.machine.dailyBackupStorePeriodDays <= 4 ? "дня" : "дней"}}
                    </div>
                </div>
                <div flex class="module-manage">
                    <div flex class="btn-div" style="margin-left: 5%">
                        <button flex class="primary-button"
                                ng-click="vm.startUpdate()"
                                ng-class="{'disabled-btn': vm.virtualMachine.userVm.status==vm.status.UpdatingConf}">
                            Изменить
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="vm.updating">
            <div flex layout-padding="">
                <div flex="55">Время выполнения копирования (GMT +3):</div>
                <input flex class="text-input" type="text" ng-model="vm.copyTime" required/>
            </div>

            <div flex layout-padding="">
                <div flex="55">
                    Хранить копии:
                </div>
                <button type="submit"
                        ng-class="{'btn-select':vm.updateSubscriptionBackupStoragePeriodModel.newPeriodDays==1}"
                        ng-click="vm.storeCopy(1)" flex class="flat-primary-button btn-send btn-day-switcher">1 дней
                </button>
                <button type="submit"
                        ng-class="{'btn-select':vm.updateSubscriptionBackupStoragePeriodModel.newPeriodDays==7}"
                        ng-click="vm.storeCopy(7)" flex class="flat-primary-button btn-send btn-day-switcher">7 дней
                </button>
                <button type="submit"
                        ng-class="{'btn-select':vm.updateSubscriptionBackupStoragePeriodModel.newPeriodDays==14}"
                        ng-click="vm.storeCopy(14)" flex class="flat-primary-button btn-send btn-day-switcher">14 дней
                </button>
                <button type="submit"
                        ng-class="{'btn-select':vm.updateSubscriptionBackupStoragePeriodModel.newPeriodDays==21}"
                        ng-click="vm.storeCopy(21)" flex class="flat-primary-button btn-send btn-day-switcher">21 день
                </button>
                <button type="submit"
                        ng-class="{'btn-select':vm.updateSubscriptionBackupStoragePeriodModel.newPeriodDays==28}"
                        ng-click="vm.storeCopy(28)" flex class="flat-primary-button btn-send btn-day-switcher">28 дней
                </button>
            </div>


            <div class="footer" layout="row" layout-align="start center">
                <div flex="20" class="btn-div">
                    <button flex class="primary-button" ng-click="vm.updating = false">Отменить</button>
                </div>
                <div flex="30" class="total-price" ng-if="vm.virtualMachine.subscriptionType==vm.SubscriptionType.Usage">
                    Сейчас: {{vm.currentPriceVm.priceHourly.Sum|money}} ₽/час

                </div>
                <div flex="30" class="total-price" ng-if="vm.virtualMachine.subscriptionType==vm.SubscriptionType.Fixed">
                    Сейчас: {{vm.currentPriceVm.priceMonth.Sum|money}} ₽/мес

                </div>


                <div flex="30" class="total-price" ng-if="vm.virtualMachine.subscriptionType==vm.SubscriptionType.Usage" >Новая : {{vm.newPriceVm.priceHourly.Sum|money}} ₽/час</div>
                <div flex="30" class="total-price" ng-if="vm.virtualMachine.subscriptionType==vm.SubscriptionType.Fixed">Новая : {{vm.newPriceVm.priceMonth.Sum|money}} ₽/мес</div>
                <div flex="20" class="btn-div">
                    <button flex class="primary-button" ng-click="vm.modify()">Cохранить</button>
                </div>
            </div>
        </div>
    </div>


</div>