<md-dialog aria-label="Редактирование подписки">
    <form name="editForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Редактирование подписки</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="dialogSub.cancel()">
                    <md-icon md-svg-src="../content/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:810px;max-height:810px; padding:23px" layout="column" flex>
            <md-input-container flex>
                <label>Название машины</label>
                <input ng-model="dialogSub.editSubscriptionVm.name">
            </md-input-container>
            <div flex layout-align="start center" layout="row" ng-if="dialogSub.fixed">
                <div>Автопродление : </div>
                <md-switch  ng-model="dialogSub.editSubscriptionVm.autoProlongation" aria-label="Автопродление">
                    {{ dialogSub.editSubscriptionVm.autoProlongation ? "Включено" : "Отключено" }}
                </md-switch>
            </div>

            <div class="md-actions" layout="row">
                <md-button ng-click="dialogSub.cancel()">Отмена</md-button>
                <md-button ng-click="dialogSub.answer()">Применить</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>