<md-content class="md-padding page-content">
    <div ng-if="vm.virtualMachine">
        <vm-short virtual-machine="vm.virtualMachine"
                  single="true"
                  show-edit-vm="vm.showEdit()"
                  show-confirm-vm="vm.showConfirm()"
                  prolongate-Success="vm.prolongateSuccess()">

        </vm-short>
    </div>

    <div ng-if="vm.type">
        <payment-virtual-machine vm-id="vm.virtualMachineId" type="vm.type"></payment-virtual-machine>
    </div>



    <tasks-virtual-machine vm-id="vm.virtualMachineId"></tasks-virtual-machine>

</md-content>
