<md-dialog data-aria-label="Создание/Редактирование новости">
    <form name="editForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Создание/Редактирование</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="dialogNew.cancel()">
                    <md-icon md-svg-src="../content/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-width:800px; max-width:1024px; max-height:810px; padding:23px">
            <div layout="column">
                <div layout="row">
                    <md-input-container flex="30">
                        <label for="NewsTitle">Заголовок</label>
                        <input ng-model="dialogNew.newsEdit.title" name="NewsTitle" id="NewsTitle" required>
                        <div ng-messages="editForm.NewsTitle.$error">
                            <div ng-message='required' ng-if="editForm.TemplateSubject.$dirty">Поле обязательное</div>
                        </div>
                    </md-input-container>
                </div>
                <md-input-container flex style="margin-top:0px;">
                    <label for="NewsBody">Описание</label>
                    <textarea ng-model="dialogNew.newsEdit.body" name="NewsBody" id="NewsBody" required></textarea>
                    <div ng-messages="editForm.NewsBody.$error">
                        <div ng-message='required' ng-if="editForm.NewsBody.$dirty">Поле обязательное</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="dialogNew.cancel()">Отмена</md-button>
            <md-button ng-click="dialogNew.answer()" ng-disabled="editForm.$invalid" style="margin-right:20px;">Применить
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>