<md-content class="md-padding page-content">
    <md-button aria-label="menu" class="md-fab md-warn btn-add-entity" data-ng-click="news.showEdit()">
        <md-tooltip>
            Добавить
        </md-tooltip>
        +
    </md-button>

    <md-content class="page-content">
        <md-card dir-paginate="new in news.news.items | itemsPerPage: news.paginationSettings.pageSize"
                 current-page="news.paginationSettings.pageNumber"
                 total-items="news.news.totalRows"
                >
            <md-card-content>
                <div layout="column">
                    <div layout="row" flex="90">
                        <md-input-container flex="35">
                            <label>Заголовок</label>
                            <input readonly="" value='{{new.title}}'></input>
                        </md-input-container>
                        <md-input-container flex="35">
                            <label>Пользователь</label>
                            <input readonly="" value='{{new.userName}}'></input>
                        </md-input-container>
                        <md-input-container flex="35">
                            <label>Дата создания</label>
                            <input readonly="" value='{{new.createTime | FormatToStandartDate}}'></input>
                        </md-input-container>
                    </div>
                    <div layout="row" flex>
                        <md-input-container flex>
                            <label>Описание</label>
                            <textarea readonly="">{{new.body}}</textarea>
                        </md-input-container>
                    </div>
                </div>
            </md-card-content>
            <div class="md-actions card-actions" layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" ng-click="news.showConfirm($index)">Удалить</md-button>
                <md-button class="md-primary md-raised" ng-click="news.showEdit($index)">Редактировать</md-button>
            </div>
        </md-card>
        <div class="pagination-center">
            <dir-pagination-controls
                    boundary-links="true"
                    on-page-change="news.pageChangeHandler(newPageNumber)"
                    template-url="content/pagination/dirPagination.tpl.html">
            </dir-pagination-controls>
        </div>
    </md-content>
</md-content>