$support-back-color: #e5ebef;
$support-text-color: #3f4549;

.support-page {
	width: 100%;
	color: $support-text-color;
	font-size: 13px;

	.header {
		background-color: $support-back-color;
		margin-left: 6%;
	    padding-left: 21px;
	    padding-top: 20px;
	    border-radius: 4px;
	    padding-right: 7px;
	    padding-bottom: 16px;
	    width: 88%;


		.subheader {
			font-family: firaSansMedium;
		}

		.subheader-text {
			font-family: firaSansRegular;
			margin-top: 1px;
		}

		.subheader-two {
			margin-top: 19px;
		}
	}

	.ask-question-header {
		font-family: firaSansBook;
		font-size: 20px;
		margin-left: 47px;
		margin-top: 49px;
		width: 88%;
	}

	.main-block {
		background-color: $support-back-color;
		border-radius: 4px;
		padding: 23px 21px 6px 21px;
		margin: 16px -45px 42px 46px;
		width: 88%;
		font-family: firaSansMedium;

		.item {
			margin-bottom: 16px;

			input {
				font-family: firaSansRegular;
				background-color: #f7f7f7;
				border: 1px solid #d6dee1;
			}

			.text-input {
				font-family: firaSansRegular;
				background-color: #f7f7f7;
				height: 36px;
				margin-top: 9px;
				border-radius: 4px;
				border: 1px solid #d6dee1;
				color: $support-text-color;
				padding: 0 15px;
			}

			.down {
				margin-top: 8px;
			}
		}

		.item-email {
			margin-left: 28px;
		}

		.input-question {
			min-height: 120px;
			padding-top: 5px !important;
		}

		.footer {
			padding-top: 3px;

			.item {
				border: 1px dashed #b2b8bd;
				padding-left: 12px;
				line-height: 14px;
				border-radius: 5px;
				padding-top: 11px;
				padding-bottom: 9px;

				.btn-attach {
					float: left;
				    background-color: #b2b8bd;
				    border-radius: 5px;
				    color: #fff;
				    font-family:firaSansMedium;
				    font-size: 13px;
				    white-space:nowrap;
				    overflow:visible;
				    border: 1px;

					em{
					    vertical-align:middle;
					    margin-left: -4px;
					    margin-top: -2px;
					    margin-right: 6px;
					    display:inline-block;
					    width:15px;
					    height:15px;
					    background: url(../../../../content/images/attach-image.png)
						no-repeat 100% 0;
						-webkit-background-size:cover;
						-moz-background-size:cover;
						background-size:cover;
						background-position: left top;
					    background-size: 15px;

						font-size: 13px;
						font-family: "FiraSans";
						color: rgb(108, 126, 140);
						line-height: 1.154;
					}
				}

				.btn-attach:active {
					position:relative;
					top:-1px;
					left: -1px;
					box-shadow: 0 0 0px #b8c3cc;
				}

				.text {
					font-family: firaSansRegular;
					font-size: 13px;
					color: #858d94;
					margin-left: 28px;
				}

				.uploaded-files-div {
					font-family: firaSansRegular;
					font-size: 13px;
					color: #858d94;
					margin-top: 10px;

					div {
						padding: 2px 10px;
						border: 1px solid;
						border-radius: 4px;
						margin: 5px;
						float: left;
						max-width: 45%;
						overflow: hidden;

						span {
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
							display: inline-block;
							max-width: 80%;
						}

						img {
							cursor: pointer;
							margin-left: 5px;
							display: inline-block;
							margin-bottom: 2px;
						}
					}
				}
			}

			.btn-send {
				font-family: firaSansRegular;
				margin: 3px 0 18px 40px;
				height: 44px;
			}
		}
	}
}