<div flex class="support-page">
	<div flex class="header">
		<div flex class="subheader">График работы</div>
		<div flex class="subheader-text">Круглосуточная техподдрежка, как по телефону, так и через форму обратной связи ниже.</div>
		<div flex class="subheader subheader-two">Время ответа</div>
		<div flex class="subheader-text">В среднем от 10 минут до 24 часов, в зависимости от сложности запроса.</div>
	</div>
	<div flex class="ask-question-header">Задать вопрос</div>
	<form ng-submit="vm.sendMessage(form)" name="form">
		<div flex class="main-block">
			<div layout="row">
				<div flex class="item" layout="column">
					<div layout="row">
						<span flex="30">Вас зовут:</span>
						<span flex class="error-message" ng-show="vm.submitted&&form.userName.$error.required">Обязательно к заполнению</span>
					</div>
					<input type="text" class="text-input"
						   name="userName" ng-model="vm.userQuestion.userName" required
						   ng-class="{down : !(vm.submitted&&form.userName.$error.required)}"/>
				</div>
				<div flex class="item item-email" layout="column">
					<div layout="row">
						<span flex="30">E-mail:</span>
						<span flex class="error-message" ng-show="vm.submitted&&form.email.$error.required">Обязательно к заполнению</span>
					</div>
					<input class="text-input" type="email"
						   name="email" ng-model="vm.userQuestion.email" required
						   ng-class="{down : !(vm.submitted&&form.userName.$error.required)}"/>
				</div>
			</div>
			<div class="item" layout="column">
				<div layout="row">
					<span flex="30">Тема вопроса:</span>
					<span flex class="error-message" ng-show="vm.submitted&&form.theme.$error.required">Обязательно к заполнению</span>
				</div>
				<input class="text-input" type="text"
					   name="theme" ng-model="vm.userQuestion.details" required
					   ng-class="{down : !(vm.submitted&&form.userName.$error.required)}"/>
			</div>
			<div class="item" layout="column">
				<div layout="row">
					<span flex="30">Ваш вопрос:</span>
					<span flex class="error-message" ng-show="vm.submitted&&form.question.$error.required">Обязательно к заполнению</span>
				</div>
				<textarea class="text-input input-question"
						  name="question" ng-model="vm.userQuestion.summary" required
						  ng-class="{down : !(vm.submitted&&form.userName.$error.required)}">
				</textarea>
			</div>
			<div class="footer" layout="row">
				<div flex="60" class="item" layout="column">
					<div layout="row">
						<button type="file" class="btn-attach" flex
								ngf-select="vm.uploadFiles($files, $invalidFiles)"
								ngf-max-size="5MB"
								ngf-max-files="5"
								multiple="multiple"
								ngf-select-disabled="vm.files.length >= 5">
							<em class="btn-attach-image"></em>
							Прикрепить файл
						</button>
						<div flex class="text"> До 5 файлов размером <br/> до 5,0 МБ каждый.</div>
					</div>
					<div class="uploaded-files-div" ng-show="vm.files.length > 0">
						<div flex ng-repeat="file in vm.files">
							<span>{{file.name}}</span>
							<img src="client/content/images/btn-close.png" alt="Close" ng-click="vm.removeFile($index)"/>
						</div>
					</div>
				</div>
				<button ladda="vm.loading" data-style="zoom-in" flex class="flat-primary-button btn-send" type="submit">Отправить</button>
			</div>
		</div>
	</form>
</div>