.basket-page {
	width: 1000px;
	margin: 0 auto;

	.navigation {
		margin-left: -2px;
		padding-top: 20px;
		font-size: 13px;
		font-family: firaSansBook;

		a {
			color: #548fc4;
			text-decoration: underline;
			cursor: pointer;
		}

		span {
			color: #3f4549;
		}
	}

	.basket-content {
		margin-top: 42px;
		padding-bottom: 50px;

		.left {
			overflow: hidden;

			.server-count {
				font-family: firaSansMedium;
				font-size: 27px;
				color: #3f4549;
			}

			.clear-basket {
				font-family: firaSansMedium;
				font-size: 13px;
				color: #609bca;
				text-decoration: underline;
				text-align: right;
				padding-top: 13px;
				padding-right: 5px;
				cursor: pointer;
			}

			.basket-items {
				background-color: #fff;
				border: 1px solid #9fb4c1;
				border-radius: 4px;
				margin-top: 25px;

				.item {	
					margin-top: 23px;
					padding-bottom: 70px;

					.column div:nth-child(2) {
						margin-top: 9px;
					}

					.column-one {
						padding-left: 28px;
					}

					.column-two {
						padding-left: 25px;
					}

					.column-three {
						padding-left: 25px;
					}

					.column-four {
						padding-left: 18px;
					}


					.column-name {
						font-family: firaSansRegular;
						font-size: 13px;
						color: #adacac;
					}

					.service-name {
						font-family: firaSansMedium;
						font-size: 21px;
						color: #3f4549;
					}

					.count-input-div {
						margin-top: -3px;

						.count-input {
							width: 85%;
							min-height: 32px;
							font-family: firaSansRegular;
							font-size: 15px;
							color: #4d5d69;
							padding-left: 10px;
							border-radius: 3px;
							border: 1px solid #9fb4c1;
						}
					}

					.plus-minus-div {
						margin-top: 0 !important;
						font-family: firaSansRegular;
						font-size: 24px;
						color: #5d97c8;

						.sign {
							margin: 0 !important;
							line-height: 5px;
							padding-top: 5px;
							padding-left: 2px;
							cursor: pointer;
						}
					}

					.service-price {
						font-family: helveticaNeueBold;
						font-size: 15px;
						color: #4d5d69;
					}

					.service-total-price {
						font-family: helveticaNeueBold;
						font-size: 20px;
						color: #609bca;
					}

					.characteristics {
						font-family: firaSansRegular;
						font-size: 14px;
						color: #3f4549;
						margin-top: 7px;
						padding-left: 30px;
					}

					.more-link {
						font-family: firaSansMedium;
						font-size: 13px;
						color: #5d8cae;
						text-decoration: underline;
						cursor: pointer;
						margin-top: 17px;
						padding-left: 30px;
					}
				}

				.footer {
					background-color: #f8f4e1;
					padding-bottom: 18px;

					.promo {
						font-family: firaSansMedium;
						font-size: 15px;
						color: #000;
						padding-left: 26px;
						padding-top: 14px;
					}

					.promo-div {
						margin-top: 10px;
						padding-left: 24px;

						.promo-input {
							width: 100%;
							min-height: 33px;
							border-radius: 4px;
							border: 1px solid #c8c4b0;
							padding-left: 10px;
						}
					}

					.activate-promo {
						margin-left: 6%;
						padding-top: 16px;
						font-family: firaSansMedium;
						font-size: 15px;
						color: #609bca;
						text-decoration: underline;
						cursor: pointer;
					}
				}
			}
		}

		.right {
			margin-left: 50px;
			margin-top: 8px;
			background-color: #fff;
			border: 1px solid #9fb4c1;
			border-radius: 4px;
			overflow: hidden;

			.top {
				padding-left: 28px;
				padding-top: 25px;
				padding-bottom: 35px;

				.to-pay-text {
					font-family: firaSansMedium;
					font-size: 21px;
					color: #3f4549;
				}

				.info {
					margin-top: 24px;

					.column-name {
						font-family: firaSansRegular;
						font-size: 14px;
						color: #3f4549;
						margin-top: 5px;
					}

					.column-name:nth-child(2) {
						margin-top: 13px;
					}

					.column-value {
						font-family: helveticaNeueBold;
						font-size: 20px;
						color: #609bca;
						padding-left: 4px;
					}

					.discount-value {
						font-family: helveticaNeueBold;
						font-size: 15px;
						color: #3f4549;
						padding-left: 4px;
					}
				}
			}

			.bottom {
				background-color: #e5ebef;
				border-top: 1px solid #9fb4c1;
				text-align: center;
				padding-bottom: 24px;

				.total-text {
					font-family: firaSansMedium;
					font-size: 21px;
					color: #3f4549;
					margin-top: 21px;
				}

				.total-price {
					font-family: helveticaNeueBold;
					font-size: 37px;
					color: #609bca;
					margin-top: 7px;
				}

				.btn-pay {
					font-family: firaSansMediumItalic;
					font-size: 15px;
					color: #fff;
					background-color: #5c97c8;
					margin-top: 16px;
					padding: 11px 55px;
					border-radius: 20px;
					border: none;
					border-bottom: 1px solid #3872b4;
				}
			}
		}
	}
}