<div flex class="basket-page">
	
	<div flex class="navigation">
		<a>Главная</a>
		<span> - Корзина</span>
	</div>

	<div flex class="basket-content" layout="row">
		
		<div flex="65" class="left" layout="column">
			<div flex layout="row">
				<div flex class="server-count">В корзине 1 сервер</div>
				<div flex class="clear-basket">Очистить корзину</div>
			</div>

			<div flex class="basket-items">
				<div flex class="item">
					<div flex layout="row">
						<div flex="50" layout="column" class="column column-one">
							<div flex class="column-name">Услуга</div>
							<div flex class="service-name">Виртуальный сервер VMware</div>
						</div>
						<div flex="20" layout="column" class=" column column-two">
							<div flex class="column-name">Цена за месяц</div>
							<div flex class="service-price">1 890 ₽</div>
						</div>
						<div flex="15" layout="column" class="column column-three">
							<div flex class="column-name">Кол-во</div>
							<div flex layout="row">
								<div flex class="count-input-div">
									<input flex class="count-input" value="3">
								</div>
								<div flex layout="column" class="plus-minus-div">
									<div flex class="sign">+</div>
									<div flex class="sign">-</div>
								</div>
							</div>
						</div>
						<div flex="15" layout="column" class="column column-four">
							<div flex class="column-name">Итого</div>
							<div flex class="service-total-price">5 640 ₽</div>
						</div>
					</div>
					<div flex layout="row" class="characteristics">
						<div>1 ядро,&nbsp;</div>
						<div>32 ГБ,&nbsp;</div>
						<div>1320 Гб</div>
					</div>
					<div flex class="more-link">Подробнее</div>
				</div>
				<div flex class="footer">
					<div flex class="promo">Введите промо-код</div>
					<div flex layout="row">
						<div flex="45" class="promo-div">
							<input flex class="promo-input">
						</div>
						<div flex class="activate-promo">Активировать</div>
					</div>
				</div>
			</div>
		</div>

		<div flex class="right">
			<div flex class="top">
				<div flex class="to-pay-text">К оплате</div>
				<div flex layout="row" class="info">
					<div flex="60" layout="column">
						<div flex class="column-name">За 3 месяца</div>
						<div flex class="column-name">Скидка</div>
					</div>
					<div flex layout="column">
						<div flex class="column-value">5 640 ₽</div>
						<div flex class="discount-value">10%</div>
					</div>
				</div>
			</div>
			<div flex class="bottom">
				<div flex class="total-text">Итого</div>
				<div flex class="total-price">5 080 ₽</div>
				<button flex class="btn-pay">Оплатить</button>
			</div>
		</div>
	</div>
</div>