<md-button class="md-primary md-raised subscription-widget-button" ng-click="vm.showProlongateEdit()">Продлить</md-button>
<script type="text/ng-template" id="prolongateSubscriptionGs.tmpl.html">
    <md-dialog aria-label="Продление подписки">
        <form name="editForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Продление сервера</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="../content/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content style="min-width:400px;max-width:810px;max-height:825px; padding:23px" layout="column">
                <div layout layout-sm="column">
                    <md-input-container flex="25">
                        <label>Размерность</label>
                        <md-select ng-model="vm.prolongateGs.prolongatePeriodType">
                            <md-option ng-repeat="type in vm.periodType" value="{{type.name}}">
                                {{type.translate}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex>
                    <md-input-container flex>
                        <label>Количество</label>
                        <input ng-model="vm.prolongateGs.prolongatePeriod" name="prolongatePeriod" required type="number">
                        <div ng-messages="editForm.SubscriptionsMonthCount.$error" class="messages">
                            <div ng-message='required' ng-if="editForm.SubscriptionsMonthCount.$dirty">Поле обязательное</div>
                        </div>
                    </md-input-container>
                </div>
            </md-dialog-content>
            <div class="md-actions" layout="row">
                <md-button ng-click="vm.cancel()">Отмена</md-button>
                <md-button ng-click="vm.answer()" ng-disabled="editForm.$invalid">Продлить</md-button>
            </div>
        </form>
    </md-dialog>
</script>