<div class="vm-fixed-setting-form padding-15 height-100">
    <div class="module-info">
        <div class="header">Настройки</div>
        <div layout="row" class="name-option-div">
            <div flex="25" class="fontSize16">Имя машины</div>
            <input flex class="subscription-name-input" placeholder="{{vm.virtualMachine.name}}"
                   ng-model="vm.subscriptionUpdateOption.name">
        </div>
        <div class="subheader fontSize16">Уведомление</div>
        <md-radio-group ng-model="vm.notifyBy" class="md-primary radio-group fontSize16">
            <md-radio-button value="email" md-no-ink="true">По Email</md-radio-button>
            <md-radio-button value="sms" md-no-ink="true">По СМС</md-radio-button>
        </md-radio-group>
        <div layout="row" class="fontSize16">
            <md-checkbox class="autoProlongation"
                         ng-model="vm.subscriptionUpdateOption.autoProlongation"
                         aria-label="Автопродление"
                         md-no-ink="true">
            </md-checkbox>Автопродление
        </div>
    </div>

    <div class="module-manage">
        <div layout="row" class="btn-manage-div" layout-align="end">
            <button class="primary-button btn-item"
                    ng-class="{'disabled-btn': !vm.isEnableManageButtons}"
                    ng-click="vm.returnValue()">
                Отменить
            </button>
            <button class="primary-button btn-item"
                    ng-class="{'disabled-btn': !vm.isEnableManageButtons}"
                    ng-click="vm.setNewOptions()">
                Сохранить
            </button>
        </div>
    </div>
</div>