<div flex class="vm-Task-form padding-15">
    <div layout="row" class="header-div">
        <div flex="80" class="header">Задачи</div>
        <button flex class="btn-accent" ng-click="vm.useFilter()">Фильтры</button>
    </div>

    <div layout="row" ng-if="vm.isUseFilter">
        <resource-date-filter flex is-show-grouping="false" search-params="vm.searchParams"></resource-date-filter>
    </div>

    <div ng-class="{'task-list': vm.changePage || vm.taskList.items.length == vm.paginationSettings.pageSize }" >
        <div dir-paginate="vmTaskV2 in vm.vmTaskList.items |  itemsPerPage: vm.paginationSettings.pageSize"
             current-page="vm.paginationSettings.pageNumber"
             total-items="vm.vmTaskList.totalRows"
             pagination-id="vm.myPaginationId"
             ng-show="vm.vmTaskList.items.length">

            <div class="task-row" layout="row">
                <div flex="20">{{vmTaskV2.createdAt | date:'d.MM.yyyy h:mm'}}</div>
                <div flex="55" class="type-task">{{vm.typeTask.arrayItems[vmTaskV2.typeTask].translate}}</div>
                <div flex="25" class="type-task">{{vm.statusTask.arrayItems[vmTaskV2.statusTask].translate}}</div>
            </div>
        </div>

        <div class="task-row" layout="row" ng-show="vm.vmTaskList.$resolved && !vm.vmTaskList.items.length && !vm.changePage">
            <div flex="15">{{vm.currentDate | date:'d.MM.yyyy'}}</div>
            <div flex="85" class="type-task">Событий не найдено</div>
        </div>

    </div>

    <div layout="row" layout-align="center">
        <dir-pagination-controls
                pagination-id="vm.myPaginationId"
                boundary-links="true"
                on-page-change="vm.pageChangeHandler(newPageNumber)"
                template-url="content/pagination/dirPagination.tpl.html">
        </dir-pagination-controls>
    </div>
</div>