<div class="config">
    <div class="header">Конфигурация</div>

    <div ng-if="!vm.updating" layout="row">
        <div flex class="subheader-div" layout="column">
            <div class="subheader">Параметры</div>
            <div flex="25" layout="row" class="item">
                <div flex="25">Количество слотов:</div>
                <div flex class="value">{{vm.gameServer.slotCount}}</div>
            </div>
            <div flex="25" class="btn-div">
                <button flex class="primary-button"
                        ng-click="vm.startUpdate()">
                    Изменить
                </button>
            </div>
        </div>

    </div>

    <div ng-if="vm.updating">
        <div flex layout-padding="">
            <div flex="55">Количество слотов:</div>
            <input flex class="text-input" type="text" ng-model="vm.slotCount" required/>
        </div>
        <div class="footer" layout="row" layout-align="start center">
            <div flex="20" class="btn-div">
                <button flex class="primary-button" ng-click="vm.updating = false">Отменить</button>
            </div>

            <div flex="30" class="total-price">
                Сейчас: {{vm.oldPrice|money}} ₽/мес

            </div>
            <div flex="30" class="total-price" >
                Новая : {{vm.newPrice |money}} ₽/мес
            </div>

            <div flex="20" class="btn-div">
                <button flex class="primary-button" ng-click="vm.modify()">Cохранить</button>
            </div>
        </div>
    </div>
</div>