.edit-user {

  .flat-primary-button {
     width: 200px;
  }

  .crytex-header{
    font: 24px firasansMedium
  }

  .crytex-title-display-2{
    font-size: 14px;
    font-family: firaSansRegular;
  }
}