.test-period-form {
  height: auto;
  padding-bottom: 25px;

  .header-text {
    margin: 0;
  }

  .message {
    font-family: firaSansRegular;
    font-size: 16px;
    text-align: justify;
    line-height: 1.4;
    margin-top: 15px;
  }

  .btn-form-action {
    height:40px;
    font-size: 16px;
  }

  .btn-form-action:first-child {
    margin-right: 10%;
  }

  .btn-ok {
    margin-right: 0 !important;
  }
}