<div class="auth-form test-period-form">
    <div class="btn-close">
        <img class="btn-close-image" src="client/content/images/btn-close.png" alt="Close" ng-click="vm.close()"/>
    </div>
    <div class="form-content">
        <div class="header-text">Тестовый период</div>

        <div class="message">{{vm.testPeriodState.message}}</div>

        <div layout="row" ng-if="vm.testPeriodState.btnGroupLoginRegister">
            <button flex="45" class="btn-form-action" ng-click="vm.showRegisterForm()">Регистрация</button>
            <button flex="45" class="btn-form-action" ng-click="vm.showLoginForm()">Войти</button>
        </div>

        <div layout="row" ng-if="vm.testPeriodState.btnGroupYesNo">
            <button flex="47" class="btn-form-action" ng-click="vm.close()">Нет, спасибо</button>
            <button flex="47" class="btn-form-action" ng-click="vm.getTestPeriod()">Получить</button>
        </div>

        <div layout="row" ng-if="vm.testPeriodState.btnGroupOk" layout-align="end">
            <button flex="45" class="btn-form-action btn-ok" ng-click="vm.close()">OK</button>
        </div>
    </div>
</div>