.game-configuration-form {

  .parameter {
    margin-top: 22px;

    .param-image-div {

      .param-image {
        width: 100%;
      }
    }

    .param-name {
      font-family: firaSansMedium;
      font-size: 14px;
      color: #3f4549;
      padding-left: 10px;
      max-width: 13%;
    }

    .param-select-div {
      //padding-left: 38px;
      //max-width: 43%;
      margin-left: 31px;
      width: 97%;
      padding: 8px 10px;
      font-family: firaSansMedium;
      font-size: 14px;
      color: #3f4549;
      border-radius: 4px;
      border: 1px solid #b8c4cc;
      background-color: #dfe5e9;

      .param-select {
        cursor: pointer;
        width: 97%;
        padding: 8px 10px;
        font-family: firaSansMedium;
        font-size: 14px;
        color: #3f4549;
        border-radius: 4px;
        border: 1px solid #b8c4cc;
        background-color: #dfe5e9;
      }
    }

    .param-calendar-div {
      padding-left: 38px;
      max-width: 56%;

      .param-time-switcher {

        .discount {
          text-align: center;
          font-family: firaSansMedium;
          font-size: 13px;
          color: #5a95c7;
          margin-top: 5px;
        }

        .btn-time-switcher {
          font-family: firaSansMedium;
          padding: 10px 0;
          font-size: 14px;
          color: #4d5d69;
          border: 1px solid #b8c4cc;
          box-shadow: inset 0 1px 2px #fff, 0 1px 2px #b8c4cc;
          border-right: none;
        }

        .btn-time-switcher:first-child {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }

        .btn-time-switcher:last-child {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          border-right: 1px solid #b8c4cc;
        }

        .btn-selected {
          background-color: #5e99c9;
          color: #fff;
          box-shadow: inset 0 2px 3px #183788;
        }
      }
    }

    .help-icon {
      padding-left: 12px;
      cursor: pointer;
    }
  }

  .parameter-location {
    margin-top: 7px;
  }
}