<div class="game-configuration-form">
    <div class="parameter" layout="row">
        <div flex="5" class="param-image-div">
            <img class="param-image" flex src="client/content/images/server-type-icon.png" alt="Server Type">
        </div>
        <div flex="15" class="param-name" layout="row" layout-align="start center">Тип сервера</div>
        <div flex="50" class="param-select-div"
             dropdown-select="vm.serverTypes"
             dropdown-model="vm.serverType"
             dropdown-item-label="value">
        </div>
        <div flex="2" class="help-icon" ng-click="vm.showTooltip(0)" layout="row" layout-align="center center">
            <img class="help-icon-image" flex src="client/content/images/help-icon.png" alt="Help">
        </div>
        <div flex="25">
            <help-tooltip show='vm.showHelpTooltip[0]' message="vm.message"></help-tooltip>
        </div>
    </div>

    <div class="parameter" layout="row">
        <div flex="5" class="param-image-div">
            <img class="param-image" flex src="client/content/images/dollar-icon.png" alt="$">
        </div>
        <div flex="15" class="param-name" layout="row" layout-align="start center">Тариф</div>
        <div flex="50" class="param-select-div"
            dropdown-select="vm.buyOptions.game.gameServerTariffs"
            dropdown-model="vm.buyOptions.tariff"
            dropdown-item-label="slot">
        </div>
        <div flex="2" class="help-icon" ng-click="vm.showTooltip(1)" layout="row" layout-align="center center">
            <img class="help-icon-image" flex src="client/content/images/help-icon.png" alt="Help">
        </div>
        <div flex="25">
            <help-tooltip show='vm.showHelpTooltip[1]' message="vm.message"></help-tooltip>
        </div>
    </div>

    <div class="parameter" layout="row">
        <div flex="5" class="param-image-div">
            <img class="param-image" flex src="client/content/images/sharp-icon.png" alt="#">
        </div>
        <div flex="15" class="param-name" layout="row" layout-align="start center">Слотов</div>
        <div flex="50" class="param-select-div"
             dropdown-select="vm.slots"
             dropdown-model="vm.selectedSlot"
             dropdown-item-label="value"
             dropdown-onchange="vm.selectSlotCount(selected)">
        </div>
        <div flex="2" class="help-icon" ng-click="vm.showTooltip(2)" layout="row" layout-align="center center">
            <img class="help-icon-image" flex src="client/content/images/help-icon.png" alt="Help">
        </div>
        <div flex="25">
            <help-tooltip show='vm.showHelpTooltip[2]' message="vm.message"></help-tooltip>
        </div>
    </div>

    <div class="parameter" layout="row">
        <div flex="5" class="param-image-div">
            <img class="param-image" flex src="client/content/images/calendar-icon.png" alt="Calendar">
        </div>
        <div flex="15" class="param-name" layout="row" layout-align="start">Оплата <br/>за период</div>

        <div flex="70" class="param-calendar-div" layout="column">
            <div class="param-time-switcher" layout="row">
                <button ng-repeat="period in vm.periods" flex class="btn-time-switcher"
                        ng-class="{'btn-selected':period.isSelected}"
                        ng-click="vm.btnSelect($index)" class="btn-time-switcher">
                    {{period.day}} дней
                </button>
            </div>
            <div class="param-time-switcher" layout="row">
                <div flex class="discount"
                     ng-repeat="period in vm.periods">
                    <span ng-if="period.discount !== 0">-{{period.discount}}%</span>
                </div>
            </div>
        </div>

        <div flex="2" class="help-icon" ng-click="vm.showTooltip(3)" layout="row" layout-align="center center">
            <img class="help-icon-image" flex src="client/content/images/help-icon.png" alt="Help">
        </div>
        <div flex="25">
            <help-tooltip show='vm.showHelpTooltip[3]' message="vm.message"></help-tooltip>
        </div>
    </div>

    <div class="parameter parameter-location" layout="row">
        <div flex="5" class="param-image-div">
            <img class="param-image" flex src="client/content/images/location-icon.png" alt="Location">
        </div>
        <div flex="15" class="param-name" layout="row" layout-align="start center">Локация сервера</div>
        <div flex="50" class="param-select-div"
             dropdown-select="vm.locations"
             dropdown-model="vm.location"
             dropdown-item-label="name"
             dropdown-onchange="vm.selectLocation(selected)">
        </div>
        <div flex="2" class="help-icon" ng-click="vm.showTooltip(4)" layout="row" layout-align="center center">
            <img class="help-icon-image" flex src="client/content/images/help-icon.png" alt="Help">
        </div>
        <div flex="25">
            <help-tooltip show='vm.showHelpTooltip[4]' message="vm.message"></help-tooltip>
        </div>
    </div>

    <div class="parameter" layout="row" ng-if="vm.isLocationSelected">
        <div flex="5" class="param-image-div">
            <img class="param-image" flex src="client/content/images/ip-icon.png" alt="IP">
        </div>
        <div flex="15" class="param-name" layout="row" layout-align="start center">IP <br/> сервера</div>
        <div flex="50" class="param-select-div"
             dropdown-select="vm.locationSelected.gameHosts"
             dropdown-model="vm.locationSelected.gameHosts"
             dropdown-item-label="serverAddress"
             dropdown-onchange="vm.selectGameHost(selected)">
        </div>
        <div flex="2" class="help-icon" ng-click="vm.showTooltip(5)" layout="row" layout-align="center center">
            <img class="help-icon-image" flex src="client/content/images/help-icon.png" alt="Help">
        </div>
        <div flex="25">
            <help-tooltip show='vm.showHelpTooltip[5]' message="vm.message"></help-tooltip>
        </div>
    </div>
</div>