﻿<md-content class="md-padding page-content">
    <md-button ng-show="isShowAddBtn" aria-label="menu" class="md-fab md-warn btn-add-entity" ng-click="showEdit()">
        <md-tooltip>
            Добавить
        </md-tooltip>
        +
    </md-button>
    <md-content class="page-content">
        <md-card flex>
            <md-card-content>            
                <div layout layout-sm="column">
                    <md-input-container flex="20">
                        <label>Фамилия</label>
                        <input ng-model="searchParam.lastname" name="userInfo">
                    </md-input-container>
                    <md-input-container flex="20">
                        <label>Имя</label>
                        <input ng-model="searchParam.name" name="userInfo">
                    </md-input-container>
                    <md-input-container flex="20">
                        <label>Отчество</label>
                        <input ng-model="searchParam.patronymic" name="userInfo">
                    </md-input-container>
                    <md-input-container flex="20">
                        <label>Email</label>
                        <input ng-model="searchParam.email" name="userInfo">
                    </md-input-container>
                    <md-input-container flex="20">
                        <label>Логин</label>
                        <input ng-model="searchParam.userName" name="userInfo">
                    </md-input-container>
                </div>
                <div layout layout-sm="column">                
                    <md-input-container flex="25">
                        <label>Тип пользователя</label>
                        <md-select ng-model="searchParam.typeOfUser">
                            <md-option ng-repeat="type in userType.arrayItems" value="{{type.value}}">
                                {{type.translate}}
                            </md-option>
                        </md-select>
                    </md-input-container> 
                    <md-input-container flex="20">
                        <label class="register-date-label">Дата регистрации с:</label>
                    </md-input-container>
                    <md-datepicker flex="25" ng-model="searchParam.registerDateFrom" 
                        class="datepicker-register-date"
                        md-placeholder="Введите дату">
                    </md-datepicker>
                    <md-input-container flex="5" class="register-date-to-label">
                        <label class="register-date-label">По:</label>
                    </md-input-container>
                    <md-datepicker flex="25" ng-model="searchParam.registerDateTo"
                        class="datepicker-register-date"
                        md-placeholder="Введите дату" 
                        md-min-date="searchParam.registerDateFrom">
                    </md-datepicker>
                </div>
            </md-card-content>
            <div class="md-actions card-actions" layout="row" layout-align="end center">
                <md-button class="md-raised" ng-click="clearSearchParams()">Сбросить</md-button>
                <md-button class="md-raised" ng-click="applyFilter()">Применить</md-button>
            </div>
        </md-card>

    <md-card dir-paginate="user in users.items |  itemsPerPage: users.pageSize"
            current-page="users.currentPage"
            total-items="users.totalRows"
          >
        <md-card-content>
            <h2 class="link" ui-sref="usersSingle({id:user.id})" class="md-title">{{user.userName}}</h2>
            <div layout="row" flex>
                <div flex layout="column">
                    <md-input-container flex="25">
                        <label>Баланс</label>
                        <input readonly="" ng-model="user.balance" name="Balance">
                    </md-input-container>
                    <md-input-container flex="25">
                        <label>email</label>
                        <input readonly="" value='{{user.email}}'>
                    </md-input-container>
                    <md-input-container flex="25">
                        <label>Имя</label>
                        <input ng-model="user.name" name="Name" readonly="">
                    </md-input-container>
                    <md-input-container flex="25">
                        <label>Отчество</label>
                        <input readonly="" ng-model="user.patronymic" name="Patronymic">
                    </md-input-container>
                    <md-input-container flex="25">
                        <label>Тип пользователя</label>
                        <input readonly="" ng-model="userType.arrayItems[user.userType].translate" name="UserType">
                    </md-input-container>
                </div>
                <div flex layout="column">
                    <md-input-container flex="25">
                        <label>Город</label>
                        <input readonly="" ng-model="user.city" name="City">
                    </md-input-container>
                    <md-input-container flex="25">
                        <label>Страна</label>
                        <input readonly="" ng-model="user.country" name="Country">
                    </md-input-container>
					<md-input-container flex="25">
                        <label>Контактное лицо</label>
                        <input readonly="" ng-model="user.contactPerson" name="ContactPerson">
                    </md-input-container>
                    <md-input-container flex="25">
                        <label>Плательщик</label>
                        <input readonly="" ng-model="user.payer" name="Payer">
                    </md-input-container>
                    <md-input-container flex="25">
                        <label>Идентификатор</label>
                        <input readonly="" value='{{user.id}}'>
                    </md-input-container>
                </div>
            </div>
            </md-card-content>
            <div class="md-actions card-actions" layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" ui-sref="usersSingle({id:user.id})" style="margin-right: 8px">Просмотр</md-button>
                <md-button class="md-primary md-raised" ng-click="showConfirm($index)">Удалить</md-button>
                <md-button class="md-primary md-raised" ng-click="showEdit($index)">Редактировать</md-button>
            </div>
        </md-card>
        <div class="pagination-center">
            <dir-pagination-controls
                    boundary-links="true"
                    on-page-change="pageChangeHandler(newPageNumber)"
                    template-url="content/pagination/dirPagination.tpl.html">
            </dir-pagination-controls>
        </div>
    </md-content>
</md-content>


<script type="text/ng-template" id="editUserForm.tmpl.html">
    <md-dialog aria-label="Создание/Редактирование пользователя">
        <form name="editForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Создание/Редактирование</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="../content/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content style="max-width:810px;max-height:810px; padding:23px">
                <div flex layout="column" ng-show="!changePasswordView">
                    <md-input-container flex ng-if="userEdit.id">
                        <label>id</label>
                        <input readonly="true" value="{{userEdit.id}}}" ng-model="userEdit.id">
                    </md-input-container>
                    <md-input-container flex>
                        <label>username</label>
                        <input ng-model="userEdit.userName" name="UserName" required>

                        <div ng-messages="editForm.UserName.$error" class="messages">
                            <div ng-message='required' ng-if="editForm.UserName.$dirty">Поле обязательное</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>email</label>
                        <input type="email" ng-model="userEdit.email" name="UserEmail" required>

                        <div ng-messages="editForm.UserEmail.$error" class="messages">
                            <div ng-message='required' ng-if="editForm.UserEmail.$dirty">Поле обязательное</div>
                            <div ng-message='email' ng-if="editForm.UserEmail.$dirty">Invalid email address.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Name</label>
                        <input ng-model="userEdit.name" name="Name">
                    </md-input-container>
                    <md-input-container flex>
                        <label>City</label>
                        <input ng-model="userEdit.city" name="City">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Areas</label>
                        <input ng-model="userEdit.country" name="Country">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Payer</label>
                        <input ng-model="userEdit.payer" name="Payer">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Contact Person</label>
                        <input ng-model="userEdit.contactPerson" name="ContactPerson">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Patronymic</label>
                        <input ng-model="userEdit.patronymic" name="Patronymic">
                    </md-input-container>
                    <md-input-container flex>
                        <label>UserType</label>
                        <md-select ng-model="userEdit.userType" placeholder="Выберите тип пользователя" name="UserType"
                                   required>
                            <md-option ng-value="opt.value" ng-repeat="opt in userType.arrayItems">{{opt.translate}}
                            </md-option>
                        </md-select>
                        <div ng-messages="userEdit.userType.$error" class="messages">
                            <div ng-message='required' ng-if="editForm.UserEmail.$dirty">Поле обязательное</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex ng-if="userEdit.userType == userType.JuridicalPerson">
                        <label>Компания</label>
                        <input ng-model='userEdit.companyName' name="companyName" required>
                        <div ng-messages="editForm.companyName.$error" class="messages">
                            <div ng-message='required' ng-if="editForm.companyName.$dirty">Поле обязательное</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex ng-if="userEdit.userType == userType.JuridicalPerson">
                        <label>ИНН</label>
                        <input ng-model='userEdit.inn' name="inn" required>
                        <div ng-messages="editForm.inn.$error" class="messages">
                            <div ng-message='required' ng-if="editForm.inn.$dirty">Поле обязательное</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex ng-if="userEdit.userType == userType.JuridicalPerson">
                        <label>КПП</label>
                        <input ng-model='userEdit.kpp' name="kpp" required>
                        <div ng-messages="editForm.kpp.$error" class="messages">
                            <div ng-message='required' ng-if="editForm.kpp.$dirty">Поле обязательное</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="25" ng-if="userEdit.userType == userType.JuridicalPerson">
                        <label>Юридический адрес</label>
                        <input ng-model='userEdit.juridicalAddress' name="juridicalAddress" required>
                        <div ng-messages="editForm.juridicalAddress.$error" class="messages">
                            <div ng-message='required' ng-if="editForm.juridicalAddress.$dirty">Поле обязательное</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="25" ng-if="userEdit.userType == userType.JuridicalPerson">
                        <label>Почтовый адрес</label>
                        <input ng-model='userEdit.mailAddress' name="mailAddress" required>
                        <div ng-messages="editForm.mailAddress.$error" class="messages">
                            <div ng-message='required' ng-if="editForm.mailAddress.$dirty">Поле обязательное</div>
                        </div>
                    </md-input-container>
                </div>
                <div ng-show="!userEdit.id || changePasswordView" flex>
                    <md-input-container flex>
                        <label for="UserPassword">password</label>
                        <input type="password" ng-model="userEdit.password" id="UserPassword" name="UserPassword"
                               required
                               maxlength="{{15}}"
                               ng-minlength="{{6}}"
                               required>

                        <div ng-messages="editForm.UserPassword.$error">
                            <div ng-message='required' ng-if="editForm.UserPassword.$dirty">Поле обязательное</div>
                            <div ng-message="maxlength">Пароль слишком длинный</div>
                            <div ng-message="minlength">Пароль слишком короткий</div>
                            <div ng-message="compareTo">Пароли должны совпадать</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label for="ConfirmPassword">confirmPassword</label>
                        <input type="password" ng-model="confirmPassword" id="ConfirmPassword" name="ConfirmPassword"
                               maxlength="{{15}}"
                               ng-minlength="{{6}}"
                               compare-to="userEdit.password"
                               required>

                        <div ng-messages="editForm.ConfirmPassword.$error">
                            <div ng-message="compareTo">Пароли должны совпадать</div>
                        </div>
                    </md-input-container>
                </div>

            </md-dialog-content>
            <div class="md-actions" layout="row">
                <md-button ng-click="passwordTrigger()" ng-if="userEdit.id">
                    <div ng-if="!changePasswordView">Изменить пароль</div>
                    <div ng-if="changePasswordView">Редактирование записи</div>
                </md-button>
                <md-button ng-click="cancel()">Отмена</md-button>
                <md-button ng-click="answer()"
                           ng-disabled="!(editForm.$valid || (editForm.$error.required.length == 2&&editForm.UserPassword.$error.required&&editForm.ConfirmPassword.$error.required&&!changePasswordView))"
                           style="margin-right:20px;">Применить
                </md-button>
            </div>
        </form>
    </md-dialog>
</script>
