.full-registration-content{

	.header {
		background-color: #94ca60;
		margin-top: 0px;
		height: 68px;
		padding-left: 21px;
		padding-top: 18px;

		.attention-sign {
			float: left;
			width:30px;
		    height:30px;
		    color: #557337;

		    border-radius:28px;
		    border-style: solid;
		    border-color: #557337;
		    border-width: 2px;

		    font-size:20px;
		    line-height:30px;
		    text-align:center;
		    font-family: firaSansHeavy;
		}

		.attention-text {
			color: #3a4f26;
			font-size: 15px;
			font-family: firaSansRegular;

			margin-left: 50px;
			margin-top: -2px;
			line-height: 1.3;
		}
	}

	.main-block {
		padding-top: 30px;
		padding-left: 25px;

		.item {
			padding-top: 4px;
			padding-bottom: 17px;
			padding-right: 10px;
			line-height: 38px;


			.left {
				font-family: firaSansMedium;
				font-size: 13px;
				color: #4d5d69;
				float: left;
			}


			.right {
				font-family: firaSansRegular;
				font-size: 15px;
				color: #4d5d69;
				border-radius: 4px;
				border: 1px solid #d7d7d7;
				margin-left: 17px;
				padding-left: 20px;
				overflow: hidden;

				.switcher {
					font-family: firaSansRegular;
					font-size: 14px;
					text-align: center;
					cursor: pointer;
					padding: 0;
					padding-top: 10px;
				}

				.switcher-first-element {
					border-right: 1px solid #d7d7d7;
				}

				.plus-7 {
					font-family: firaSansRegular;
					font-size: 15px;
					color: #4d5d69;
					background-color: #f8f8f8;
					padding-left: 15px;
				}

				.phone-input{
					background-color: transparent;
					border: none;
					padding-left: 5px;
					font-family: firaSansRegular;
					font-size: 15px;
					color: #4d5d69;
				}

				.selected {
					background-color: #609bca;
					color: #fff;
				}

			}
			.select-type{
				padding-left: 0px;
			}
			.right-with-phone {
				padding-left: 0;
			}

			.btn-confirm {
				width: 165px;
				margin-left: 25px;
				font-size: 18px;
			}

			.send-code {
				margin-left: 10px;
				font-size: 15px;
			}
		}

		.highlite-item {

			.left {
				color: #457fbb;
			}

			.right {
				border-color: #457fbb;
				color: #457fbb;

				.phone-input {
					color: #457fbb;
				}
			}
		}



		.item:last-child {
			padding-bottom: 10px;
		}

		.text-after-item {
			color: #737c82;
			font-size: 13px;
			font-family: firaSansRegular;
			padding-left: 27%;
			margin-left: 2px;
			margin-bottom: 20px;
			padding-right: 35px;
		}

		.error-text-after-item{
			  color: #96324e;
		}



	}

}
