<div flex class="full-registration-content">
    <div flex class="header">
        <div class="attention-sign">!</div>
        <div class="attention-text">Внимание! Для доступа ко всем функциям и услугам, пройдите полную регистрацию
            пользователя. После заполнения всех данных, услуги автоматически станут доступны!
        </div>
    </div>
    <div flex class="main-block">
        <form name="form" ng-submit="vm.send(form)">

            <div flex layout="row" class="item">
                <div flex="25" class="left">Выберите тип аккаунта:</div>
                <div flex="50" class="right  select-type" layout="row">
                    <div flex="50" ng-class="{'selected':vm.user.userType === vm.userType.PhysicalPerson}"
                         ng-click="vm.user.userType = vm.userType.PhysicalPerson" class="switcher switcher-first-element">Физическое лицо
                    </div>
                    <div flex="50" ng-class="{'selected':vm.user.userType === vm.userType.JuridicalPerson}"
                         ng-click="vm.user.userType = vm.userType.JuridicalPerson" class="switcher">Юридическое лицо
                    </div>
                </div>
            </div>
            <div flex layout="row" class="item" ng-class="{'highlite-item': vm.selectedInput[1]}">
                <div flex="25" class="left">Имя *</div>
                <input flex="50" class="right" ng-click="vm.selectInput(1)" name="name" ng-model="vm.user.name"
                       required>
            </div>

            <div flex layout="row" class="text-after-item error-text-after-item"
                 ng-show="vm.submitted&&form.name.$error.required">
                Имя обязательно
            </div>

            <div flex layout="row" class="item" ng-class="{'highlite-item': vm.selectedInput[2]}">
                <div flex="25" class="left">Фамилия *</div>
                <input flex="50" class="right" ng-click="vm.selectInput(2)" name="lastName" ng-model="vm.user.lastName"
                       required>
            </div>
            <div flex layout="row" class="text-after-item error-text-after-item"
                 ng-show="vm.submitted&&form.lastName.$error.required">
                Фамилия обязательно
            </div>
            <div flex layout="row" class="item" ng-class="{'highlite-item': vm.selectedInput[3]}">
                <div flex="25" class="left">Отчество *</div>
                <input flex="50" class="right" ng-click="vm.selectInput(3)" name="patronymic"
                       ng-model="vm.user.patronymic" required>
            </div>
            <div flex layout="row" class="text-after-item error-text-after-item"
                 ng-show="vm.submitted&&form.patronymic.$error.required">
                Отчество обязательно
            </div>
            <div flex layout="row" class="item" ng-class="{'highlite-item': vm.selectedInput[4]}">
                <div flex="25" class="left">Страна</div>
                <input flex="50" class="right" ng-click="vm.selectInput(4)" name="country"
                       ng-model="vm.user.country">
            </div>
            <div flex layout="row" class="item" ng-class="{'highlite-item': vm.selectedInput[5]}">
                <div flex="25" class="left">Город</div>
                <input flex="50" class="right" ng-click="vm.selectInput(5)" name="city" ng-model="vm.user.city">
            </div>
            <div flex layout="row" class="item" ng-class="{'highlite-item': vm.selectedInput[6]}">
                <div flex="25" class="left">Область/регион</div>
                <input flex="50" class="right" ng-click="vm.selectInput(6)" name="region"
                       ng-model="vm.user.region">
            </div>
            <div flex layout="row" class="item" ng-class="{'highlite-item': vm.selectedInput[7]}">
                <div flex="25" class="left">Адрес</div>
                <input flex="50" class="right" ng-click="vm.selectInput(7)" name="address"
                       ng-model="vm.user.address">
            </div>

            <div ng-if="vm.user.userType == vm.userType.JuridicalPerson">
                <div flex layout="row" class="item" ng-class="{'highlite-item': vm.selectedInput[13]}">
                    <div flex="25" class="left">Название компании</div>
                    <input flex="50" class="right" ng-click="vm.selectInput(13)" name="companyName"
                           ng-model="vm.user.companyName" placeholder='Пример: ООО "ИТ-Град 1Клауд"' required>
                </div>
                <div flex layout="row" class="text-after-item error-text-after-item"
                     ng-show="vm.submitted&&form.companyName.$error.required">
                    Название компании обязательно
                </div>
                <div flex layout="row" class="item" ng-class="{'highlite-item': vm.selectedInput[14]}">
                    <div flex="25" class="left">ИНН</div>
                    <input flex="50" class="right" ng-click="vm.selectInput(14)" name="inn"
                           ng-model="vm.user.inn" required>
                </div>
                <div flex layout="row" class="text-after-item error-text-after-item"
                     ng-show="vm.submitted&&form.inn.$error.required">
                    ИНН обязательно
                </div>
                <div flex layout="row" class="item" ng-class="{'highlite-item': vm.selectedInput[15]}">
                    <div flex="25" class="left">КПП</div>
                    <input flex="50" class="right" ng-click="vm.selectInput(15)" name="kpp"
                           ng-model="vm.user.kpp" required>
                </div>
                <div flex layout="row" class="text-after-item error-text-after-item"
                     ng-show="vm.submitted&&form.kpp.$error.required">
                    КПП обязательно
                </div>
                <div flex layout="row" class="item" ng-class="{'highlite-item': vm.selectedInput[16]}">
                    <div flex="25" class="left">Юридический адрес</div>
                    <input flex="50" class="right" ng-click="vm.selectInput(16)" name="juridicalAddress"
                           ng-model="vm.user.juridicalAddress" required>
                </div>
                <div flex layout="row" class="text-after-item error-text-after-item"
                     ng-show="vm.submitted&&form.juridicalAddress.$error.required">
                    Юридический адрес обязательно
                </div>
                <div flex layout="row" class="item" ng-class="{'highlite-item': vm.selectedInput[17]}">
                    <div flex="25" class="left">Почтовый адрес </div>
                    <input flex="50" class="right" ng-click="vm.selectInput(17)" name="mailAddress"
                           ng-model="vm.user.mailAddress" placeholder="Адрес на который будут отправляться акты" required>
                </div>
                <div flex layout="row" class="text-after-item error-text-after-item"
                     ng-show="vm.submitted&&form.mailAddress.$error.required">
                    Почтовый адрес обязательно
                </div>
            </div>

            <div flex layout="row" class="item" ng-class="{'highlite-item': vm.selectedInput[8]}">
                <div flex="25" class="left">Мобильный телефон *</div>
                <div flex="50" layout="row" class="right right-with-phone">
                    <div flex="15" class="plus-7">+7</div>
                    <input flex class="phone-input" ng-click="vm.selectInput(8)" ng-model="vm.phoneNumber">
                </div>
                <button flex="20" class="flat-primary-button send-code" type="button"
                        ng-click="vm.changeNumberRequest()">Выслать
                    код
                </button>
            </div>
            <div flex layout="row" class="text-after-item">
                Для регистрации необходим действующий номер мобильного телефона. На него будет отправлена SMS для
                подтверждения. В дальнейшем все пароли от ваших серверов будут приходить в виде SMS.
            </div>

            <div flex layout="row" class="item" ng-class="{'highlite-item': vm.selectedInput[10]}"
                 ng-show="vm.showCode">
                <div flex="25" class="left">Введите sms-код.</div>
                <input flex="15" class="right" ng-click="vm.selectInput(10)" ng-model="vm.code">
                <button flex="25" class="flat-primary-button btn-confirm" type="button" ng-click="vm.changeNumber()">
                    Подтвердить
                </button>
            </div>
            <div flex layout="row" class="text-after-item" ng-show="vm.changeSuccess">
                Телефонный номер успешно подтвержден.
            </div>
            <div flex layout="row" class="text-after-item error-text-after-item" ng-show="vm.submitted&&!vm.changeSuccess">
                Необходимо подтвердить телефонный номер
            </div>
            <div flex layout="row" class="item" ng-class="{'highlite-item': vm.selectedInput[9]}">
                <div flex="25" class="left" flex>Кодовое слово *</div>
                <input flex="50" class="right" flex ng-click="vm.selectInput(9)" name="codePhrase"
                       ng-model="vm.user.codePhrase" required>
            </div>
            <div flex layout="row" class="text-after-item error-text-after-item"
                 ng-show="vm.submitted&&form.codePhrase.$error.required">
                Кодовое слово обязательно
            </div>
            <div flex layout="row" class="text-after-item ">
                Для подтверждения деструктивных действий с вашими серверами мы можем опознавать вас по кодовому слову,
                как альтернатива SMS.
            </div>
            <div flex layout="row" layout-align="center center" class="item">
                <button class="flat-primary-button" type="submit">Сохранить данные</button>
            </div>
        </form>
    </div>
</div>
