.news-form {
  .about-header-news {
    margin-bottom: 5px;
  }

  .subscription {
    padding-left: 17px;
    a {
      font-size: 14px;
      font-family: "firaSansMediumItalic";
      background-color: rgb(213, 226, 234);
      padding-left: 17px;
      padding-right: 23px;
      padding-bottom: 9px;
      padding-top: 9px;
      border: 1px solid transparent;
      border-radius: 18px;
    }

  }

  .news {
    margin-top: 30px;
    font-family: "firaSansRegular";

    .news-header {
      font-size: 18px;

    }
    .news-date {
      font-size: 13px;
      margin-bottom: 10px;
    }
    .news-body {
      padding-top: 10px;
      font-size: 13px;
      line-height: 1.538;
    }
  }

  .ng-hide-remove {
    animation: 1.5s showNewsAnimate ease;
  }

  @keyframes showNewsAnimate {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .pagination > li > a, .pagination > li > span {
    background-color: #f7f7f7;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #548fc4;
    border-color: #548fc4;
  }
}


