<div layout="column" class="news-form">
    <div class="about-header-news" layout="row" layout-align="center center">
        <div class="about-header-title">
            Новости
        </div>
        <div class="subscription">
            <a href="">Оформить подписку</a>
        </div>
        <div flex layout-fill="">

        </div>
    </div>

    <div class="newses">
        <div dir-paginate="news in vm.news.items |  itemsPerPage: vm.paginationSettings.pageSize"
             current-page="vm.paginationSettings.pageNumber"
             total-items="vm.news.totalRows"
             ng-show="vm.news.items.length">

            <div layout="column" class="news">
                <div class="news-date">{{news.createTime | date: 'd.MM.yyyy'}}</div>
                <div class="news-header">{{news.title}}</div>
                <div class="news-body">{{news.body}}</div>
            </div>

        </div>

        <div layout="row" layout-align="center">
            <dir-pagination-controls
                    boundary-links="true"
                    on-page-change="vm.pageChangeHandler(newPageNumber)"
                    template-url="content/pagination/dirPagination.tpl.html"
                    ng-show="vm.news.items.length">
            </dir-pagination-controls>
        </div>

    </div>
</div>