
<button flex class="md-no-style md-button inner-list-button" md-ink-ripple class="md-clickable" ng-click="changePresentation()">
    <div class="width-100" ng-show="periodType">
        <div layout="row" flex ng-hide="show">
            <div layout="row" flex ng-if="periodType != 'Месяц'">
                <span class="bold">Машина: {{usageVm.userVmName}}</span>
            </div>
            <div layout="row" flex>
                <span class="bold">Тип: {{periodType}}</span>
            </div>
            <div layout="row" flex layout-align="center">
                <span class="bold">Сумма: {{usageVm.totalAmount}}</span>
            </div>
            <div ng-show="usageVm.month" layout="row" flex layout-align="end">
                <span class="bold">Месяц: {{usageVm.month}}</span>
            </div>
            <div ng-show="!usageVm.month" layout="row" flex layout-align="end">
                <span class="bold">Дата: {{usageVm.date | FormatToStandartDate}}</span>
            </div>
        </div>

    </div>

    <div class="width-100 paymentList" ng-hide="periodType">
        <div layout="row" flex ng-hide="show">
            <div layout="row" flex >
                <span class="bold">Машина: {{usageVm.userVmName}}</span>
            </div>
            <div layout="row" flex>
                <span class="bold">Сумма: {{usageVm.amount}}</span>
            </div>
            <div layout="row" flex layout-align="end">
                <span class="bold">Дата: {{usageVm.date | FormatToStandartDate}}</span>
            </div>
        </div>
    </div>

    <div class="width-100" ng-show="show"
         ng-include="'app/pages/money/virtualMachinePayment/cloudPaymentTemplate/cloudPayment.template.html'">
    </div>

</button>