$text-color: #3f4549;
$text-input-color: #3f4549;
.personalAccount {

  min-height: 600px;

  .pre-header {
    margin-left: -2px;
    padding-top: 20px;
    font-size: 13px;
    font-family: firaSansBook;

    a {
      color: #548fc4;
    }

    span {
      color: $text-color;
    }
  }

  .header {
    margin-top: 43px;
    margin-left: -1px;
    display: inline-block;
    width: 100%;

    span {
      font-family: firaSansMedium;
      font-size: 27px;
      color: $text-color;
    }

    a {
      float: right;
      font-family: firaSansMedium;
      font-size: 13px;
      color: #cc3535;
      margin-top: 17px;
      margin-right: 8px;
    }
  }

  .main-content {
    margin-top: 23px;

    .menu {
      background-color: #fff;
      margin-left: -2px;
      margin-right: 0px;
      border-radius: 5px;
      border: 1px solid #c8d0d6;
      overflow: hidden;
      height: 100%;
      .arrow-icon {
        -webkit-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
        -moz-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
        -ms-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
        -o-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
        transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;

      }
      .main-item-active {

        .arrow-icon {
          transform: rotate(90deg)
        }
      }

      .item {
        width: 100%;
        height: 30px;
        padding-left: 19px;
        padding-top: 14px;
        font-family: firaSansRegular;
        font-size: 15px;
        border-bottom: 1px solid #c8d0d6;

        cursor: pointer;
        a {
          color: $text-color;
        }

        span {
          color: $text-color;
          float: right;
          margin-right: 37px;
        }

        .children-item-text {
          margin-left: 20px;
        }

      }
      .menu-children-containers{

        -webkit-transition: 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
        -moz-transition: 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
        -ms-transition: 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
        -o-transition: 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
        transition: 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;

        overflow: hidden;
        position: relative;

      }


      .personal-account-selected-item {
        background-color: #609bca;

        a {
          color: #fff;
        }

        span {
          color: #fff;
        }

      }

      .children-item {
        border-bottom: 1px solid #c8d0d6;
      }
    }

    .content-view {
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid #c8d0d6;
      overflow: hidden;
      margin-left: 30px;
      flex: 1 1 72%;
      max-width: 72%;
      margin-bottom: 25px;
      min-height: 700px;
      .view-style {
        width: 100%;
      }
    }

  }

}

.block {
  background-color: #f6f6f6;
  border: 1px solid #dedede;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: 0 26px;
  padding-left: 24px;
}

.header-text {
  font-family: firaSansMedium;
  font-size: 27px;
  color: #3f4549;
  margin-top: 31px;
  margin-left: 23px;
}

.sub-header {
  font-family: firaSansMedium;
  font-size: 20px;
  color: #3f4549;
  margin-top: 31px;
  margin-left: 23px;
}

.text-input {
  font-family: firaSansRegular;
  height: 36px;
  margin-top: 9px;
  border-radius: 4px;
  border: 1px solid #d6dee1;
  color: $text-input-color;
  padding: 0 15px;
}