<div class="base-content personalAccount">
    <div class="pre-header" flex layout="row">
        <a href="#">Главная</a>
    <span>
      - Личный кабинет</span>
    </div>
    <div flex layout="row" class="header">
        <span>Личный кабинет</span>
        <!--<a href="#">Выйти</a>-->
    </div>
    <div class="main-content" flex layout="row">

        <div class="menu" flex="25">

            <user-menu items="items"></user-menu>

        </div>


        <div class="content-view" flex="70" layout="row">

            <ui-view class="view-style"></ui-view>

        </div>

    </div>
</div>
