<div flex class="server">

    <game-short game-server="vm.gameServer"  control="vm.control=!vm.control"></game-short>
    <div style="overflow: hidden ;   margin-top: -4px;">
        <div ng-if="vm.control" class="cloud-control">

            <div flex class="extension-info">
                <div flex class="extension-menu" layout-align="center center" layout="row">

                    <ul class="extension-menu-list">
                        <li ng-class="{'selected-item':vm.choosed('status')}" ng-click="vm.chooseMenu('status')">
                            Статус
                        </li>
                        <li ng-class="{'selected-item':vm.choosed('conf')}" ng-click="vm.chooseMenu('conf')">
                            Конфигурация
                        </li>

                        <li ng-class="{'selected-item':vm.choosed('console')}" ng-click="vm.chooseMenu('console')">
                            Консоль
                        </li>
                        <li ng-class="{'selected-item':vm.choosed('task')}" ng-click="vm.chooseMenu('task')">
                            Задачи
                        </li>
                        <li ng-class="{'selected-item':vm.choosed('money')}" ng-click="vm.chooseMenu('money')">
                            Финансы
                        </li>
                        <li ng-class="{'selected-item':vm.choosed('settings')}" ng-click="vm.chooseMenu('settings')">
                            Настройки
                        </li>

                    </ul>
                </div>
                <div layout="column" class="tab-content" >

                    <div ng-switch="vm.select">
                        <div ng-switch-when="status">
                            <game-status game-server="vm.gameServer"
                                         update-game-server-status="vm.updateGameServerStatus({gameServer:vm.gameServer,status:status})"></game-status>
                        </div>
                        <div ng-switch-when="conf">
                            <game-config  game-server="vm.gameServer"
                                          update-game-server-slot="vm.updateGameServerSlot({gameServer:gameServer,slotCount:slotCount})"></game-config>
                        </div>
                        <div ng-switch-when="console">
                            <game-console  game-server="vm.gameServer"></game-console>
                        </div>
                        <div ng-switch-when="task">
                            <game-task  game-server="vm.gameServer"></game-task>
                        </div>
                        <div ng-switch-when="money">
                            <game-finance  game-server="vm.gameServer"></game-finance>
                        </div>
                        <div ng-switch-when="settings">
                            <game-setting  game-server="vm.gameServer"
                                           update-game-server-conf="vm.updateGameServerConf({gameServer:gameServer,conf:conf})"></game-setting>
                        </div>
                        <div ng-switch-default>
                            <game-status  game-server="vm.gameServer"></game-status>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>
