﻿<md-content class="md-padding page-content">
    <md-card class="statistic-card">
        <md-card-content>
            <h3>Активные подписки на виртуальные машины</h3>
            <ul>
                <li><span>Всего: {{statisticSubscriptionVm.numberAllSubscriptionVm}}</span></li>
                <li><span>Облачные: {{statisticSubscriptionVm.numberUsageSubscriptionVm}}</span></li>
                <li><span>Фиксированные: {{statisticSubscriptionVm.numberFixedSubscriptionVm}}</span></li>
            </ul>
        </md-card-content>
    </md-card>
    <md-card class="statistic-card">
        <md-card-content>
            <h3>Подписки на виртуальные машины за сегодня</h3>
            <ul>
                <li><span>Всего: {{statisticSubscriptionVmToday.numberAllSubscriptionVm}}</span></li>
                <li><span>Облачные: {{statisticSubscriptionVmToday.numberUsageSubscriptionVm}}</span></li>
                <li><span>Фиксированные: {{statisticSubscriptionVmToday.numberFixedSubscriptionVm}}</span></li>
            </ul>
        </md-card-content>
    </md-card>
</md-content>
