<div ng-repeat="item in vm.items">

    <div ng-if="!item.subItems">
        <div  ng-click="vm.goMain(item)" class="item"
              ng-class="{'personal-account-selected-item':item.active}" ng-click="vm.select=item.sref">
            <a>{{item.name}}</a>
            <!--  <a ui-sref="personalAccount.fullRegistration">Мой аккаунт</a> -->
            <span>&#8250;</span>
        </div>
    </div>
    <div ng-if="item.subItems">
        <div class="main-item item" ng-class="{'main-item-active': vm.$state.includes(item.sref)||vm.select==item.sref}" ng-click="item.expand=!item.expand">
            <a>{{item.name}}</a>
            <span class="arrow-icon">&#8250;</span>
        </div>

        <div class="menu-children-containers flex"



          ng-style="{'height':item.expand?item.height:'0px'}">
            <div class="item children-item" ng-click="vm.go(subItems,item)"


                 ng-class="{'personal-account-selected-item':subItems.active}"
                 ui-sref-active="" ng-repeat="subItems in item.subItems">
                <a class="children-item-text">{{subItems.name}}</a>
                <span>&#8250;</span>
            </div>
        </div>
    </div>
</div>