<div flex class="server">

    <virtual-machine-short virtual-machine="vm.virtualMachine" control="vm.control=!vm.control"></virtual-machine-short>
    <div style="overflow: hidden ;   margin-top: -4px;">
        <div ng-if="vm.control" class="cloud-control">

            <div flex class="extension-info">
                <div flex class="extension-menu" layout-align="center center">

                    <ul class="extension-menu-list">
                        <li ng-class="{'selected-item':vm.choosed('status')}" ng-click="vm.chooseMenu('status')">
                            Статус
                        </li>
                        <li ng-class="{'selected-item':vm.choosed('conf')}" ng-click="vm.chooseMenu('conf')">
                            Конфигурация
                        </li>

                        <li ng-class="{'selected-item':vm.choosed('backup')}" ng-click="vm.chooseMenu('backup')">
                            BuckUp
                        </li>
                        <li ng-class="{'selected-item':vm.choosed('snapshot')}" ng-click="vm.chooseMenu('snapshot')">
                            Snapshot
                        </li>
                        <li ng-class="{'selected-item':vm.choosed('task')}" ng-click="vm.chooseMenu('task')">
                            Задачи
                        </li>
                        <li ng-class="{'selected-item':vm.choosed('money')}" ng-click="vm.chooseMenu('money')">
                            Финансы
                        </li>
                        <li ng-class="{'selected-item':vm.choosed('settings')}" ng-click="vm.chooseMenu('settings')">
                           Настройки
                        </li>

                    </ul>
                </div>
                <div layout="column" class="tab-content">

                    <div ng-switch="vm.select" class="height-100">
                        <div ng-switch-when="status" class="height-100">

                            <vm-status class="height-100" virtual-machine="vm.virtualMachine" update-machine-status="vm.updateMachineStatus({subscription:subscription,status:status})"></vm-status>
                        </div>
                        <div ng-switch-when="conf" class="height-100">

                            <vm-config class="height-100" virtual-machine="vm.virtualMachine" update-machine-status="vm.updateMachineStatus({subscription:subscription,status:status})"></vm-config>
                        </div>
                        <div ng-switch-when="backup" class="height-100">
                            <vm-backup class="height-100" virtual-machine="vm.virtualMachine" update-machine-backup-storing="vm.updateMachineBackupStoring({subscription:subscription,dailyBackupStorePeriodDays:dailyBackupStorePeriodDays})"></vm-backup>
                        </div>
                        <div ng-switch-when="snapshot" class="height-100">
                            <vm-snapshot class="height-100" virtual-machine="vm.virtualMachine"></vm-snapshot>
                        </div>
                        <div ng-switch-when="task" class="height-100">
                            <vm-task class="height-100" virtual-machine="vm.virtualMachine"></vm-task>
                        </div>
                        <div ng-switch-when="money" class="height-100">
                            <vm-fixed-payment class="height-100" virtual-machine="vm.virtualMachine"></vm-fixed-payment>
                        </div>
                        <div ng-switch-when="settings" class="height-100">
                            <vm-fixed-setting class="height-100" virtual-machine="vm.virtualMachine"
                                              update-machine-settings="vm.updateMachineSettings({subscription:subscription, conf:conf})">

                            </vm-fixed-setting>
                        </div>
                        <div ng-switch-default class="height-100">
                            <vm-status class="height-100" virtual-machine="vm.virtualMachine"></vm-status>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>
