﻿<md-card ng-repeat="template in defaultTemplates" class="card-SCVM">
    <md-card-content>
        <h2 class="md-title">{{template.name}}</h2>
        <div layout="column">
            <md-input-container flex>
                <label>Id</label>
                <input readonly="" value='{{template.id}}'></input>
            </md-input-container>
            <md-input-container flex>
                <label>Image File Id</label>
                <input readonly="" value='{{template.imageFileId}}'></input>
            </md-input-container>
            <md-input-container flex>
                <label>Operating System Id</label>
                <input readonly="" value='{{template.operatingSystemId}}'></input>
            </md-input-container>
            <md-input-container flex>
                <label>Тип Сервера</label>
                <input readonly="" value='{{typeServerTemplate.arrayItems[template.typeServerTemplate].name}}'></input>
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>Core Count</label>
                <input readonly="" value='{{template.coreCount}}'></input>
            </md-input-container>
            <md-input-container flex>
                <label>Ram Count</label>
                <input readonly="" value='{{template.ramCount}}'></input>
            </md-input-container>
            <md-input-container flex>
                <label>Hard Drive Size</label>
                <input readonly="" value='{{template.hardDriveSize}}'></input>
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>Image Src</label>
                <textarea readonly="" columns="1">{{template.imageSrc}}</textarea>
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>Description</label>
                <textarea readonly="" columns="1">{{template.description}}</textarea>
            </md-input-container>
        </div>
    </md-card-content>
    <div class="md-actions card-actions" layout="row" layout-align="end center">
        <md-button class="md-primary md-raised" ng-click="showConfirm($index)">Удалить</md-button>
        <md-button class="md-primary md-raised" ng-click="showAdvanced($index)">Редактировать</md-button>
    </div>
</md-card>
<md-button aria-label="menu" class="md-fab md-warn btn-add-entity" ng-click="showAdvanced()">
    <md-tooltip>
        Добавить
    </md-tooltip>+
</md-button>   

<script type="text/ng-template" id="NewOrEditServerTemplate.tmpl.html">
    <md-dialog aria-label="Template">
        <form name="TemplateForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Добавление / Редактирование</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="content/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content style="max-width:800px;max-height:810px; padding:23px" layout="column">
                <md-input-container flex>
                    <label>Name</label>
                    <input ng-model="template.name" name="Name" required>
                    <div ng-messages="TemplateForm.Name.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Необходимо Имя</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Description</label>
                    <textarea columns="1" ng-model="template.description"  name="Description" required></textarea>
                    <div ng-messages="TemplateForm.Description.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Необходимо описание</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Core Count</label>
                    <input ng-model="template.coreCount" name="CoreCount" required>
                    <div ng-messages="TemplateForm.CoreCount.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Необходимо мин ядер</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Ram Count</label>
                    <input ng-model="template.ramCount" name="RamCount" required>
                    <div ng-messages="TemplateForm.RamCount.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Необходимо мин памяти</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Hard Drive Size</label>
                    <input ng-model="template.hardDriveSize" name="HardDriveSize" required>
                    <div ng-messages="TemplateForm.HardDriveSize.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Необходимо  мин жесткого</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Operating System</label>
                    <md-select ng-model="template.operatingSystemId" name="operatingSystemId" required>
                        <md-option ng-repeat="os in operatingSystems" value="{{os.id}}">
                            {{os.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="TemplateForm.operatingSystemId.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Необходимо выбрать операционную систему</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Тип Сервера</label>
                    <md-select ng-model="template.typeServerTemplate" name="typeServerTemplateId" required>
                        <md-option ng-repeat="type in typeServerTemplate.arrayItems" value="{{type.value}}">
                            {{type.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="TemplateForm.operatingSystemId.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Необходимо выбрать операционную систему</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                            accept="image/*" ngf-max-height="1000" ngf-max-size="1MB" ng-model="picFile">
                        Select Image File
                    </button>
                    <img ngf-src="picFile" class="pic-style">
                </md-input-container>
            </md-dialog-content>
            <div class="md-actions" layout="row">
                <md-button ng-click="cancel()">Отмена</md-button>
                <md-button ng-click="answer()" style="margin-right:20px;">Применить</md-button>
            </div>
        </form>
    </md-dialog>
</script> 