<div class="top">
    <div class="row large-12">
        <div class="large-7 small-12 medium-6 link">
            <div class="large-5 medium-5 small-4">
                <div class="logo">
                    <a href="index.html"><img src="@Url.Content("/Content/images/logo.png")" alt=""></a>
                </div>
            </div>
            <ul class="large-4 sup">
                <li><span>Техподдержка:</span></li>
                <li class="phone">+7 965 <span>925-60-60</span></li>
                <li><a href="#" data-reveal-id="recall">Можем перезвонить</a></li>
            </ul>
            <div class="sup icon">24/7</div>

        </div>
        <div class="large-5 medium-6 small-12 login right">
            <div class="login">
                <button>Задать вопрос</button>
                <a href="#" data-reveal-id="registration">Создать аккаунт</a>
                <a href="#" data-reveal-id="login">Войти</a>
                <nav class="mobile-menu">
                    <ul>
                        <li>
                            <a href="@Url.Action(" Index", "Services")">Услуги</a>
                            <ul class="sub-menu">
                                <li><a href="#">Облачный хостинг</a></li>
                                <li><a href="#">Частные и публичные сети</a></li>
                                <li><a href="#">Игровые серверы</a></li>
                                <li><a href="#">Голосоые серверы</a></li>
                                <li><a href="#">Веб-хостинг</a></li>
                                <li><a href="#">Домены</a></li>
                            </ul>
                        </li>
                        <li><a href="#">База Знаний</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Форум</a></li>
                        <li><a href="#">Техническая поддержка</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="row large-12 medium-12 menu">
        <nav class="desktop-menu">
            <ul class="sf-menu">
                <li class="arrow">@Html.ActionLink("Услуги", "Index", "Services")@*<a href="@Url.Action(" Index",
                    "Services")">Услуги</a>*@
                    <ul class="sub-menu">
                        <li><a href="#" runat="server">Облачный хостинг</a></li>
                        <li><a href="#">Частные и публичные сети</a></li>
                        <li><a href="#">Игровые серверы</a></li>
                        <li><a href="#">Голосовые серверы</a></li>
                        <li><a href="#">Веб-хостинг</a></li>
                        <li><a href="#">Домены</a></li>
                    </ul>
                </li>
                <li><a href="#">База Знаний</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Форум</a></li>
                <li><a href="#">Техническая поддержка</a>
                </li>
                <li><a href="#">Контакты</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="bigline"></div>
<div class="subheader">
    <a class="button" href="#">Пригласить друга</a>

    <div id="home-horizontal-slider" class="owl-carousel owl-theme">

        <div class="item">

            <div class="rtext-horizontal">
                <div class="slbox">Проанализируем Ваш сайт и предложим <span>1 лучший тариф</span></div>
                <div class="slsbox">За каждого активного пользователя, пришедшего к нам по Вашей рекомендации, мы
                    пополним Ваш счет на 200 рублей
                </div>
            </div>
            <img src="@Url.Content("/Content/images/slider/1.jpg")" alt="">

        </div>
        <div class="item">
            <div class="rtext-horizontal">
                <div class="slbox">Проанализируем Ваш сайт и предложим <span>2 лучший тариф</span></div>
                <div class="slsbox">За каждого активного пользователя, пришедшего к нам по Вашей рекомендации, мы
                    пополним Ваш счет на 200 рублей
                </div>

            </div>
            <img src="Content/images/slider/2.jpg" alt="">
        </div>
        <div class="item">
            <div class="rtext-horizontal">
                <div class="slbox">Проанализируем Ваш сайт и предложим <span>3 лучший тариф</span></div>
                <div class="slsbox">За каждого активного пользователя, пришедшего к нам по Вашей рекомендации, мы
                    пополним Ваш счет на 200 рублей
                </div>
            </div>
            <img src="Content/images/slider/3.jpg" alt="">
        </div>
        <div class="item">
            <div class="rtext-horizontal">
                <div class="slbox">Проанализируем Ваш сайт и предложим <span> 4</span></div>
                <div class="slsbox">За каждого активного пользователя, пришедшего к нам по Вашей рекомендации, мы
                    пополним Ваш счет на 200 рублей
                </div>
            </div>
            <img src="/Content/images/slider/4.jpg" alt="">
        </div>
        <div class="item">
            <div class="rtext-horizontal">
                <div class="slbox">Проанализируем Ваш сайт и предложим <span> 5</span></div>
                <!-- <hr class="small"/>-->
                <div class="slsbox">За каждого активного пользователя, пришедшего к нам по Вашей рекомендации, мы
                    пополним Ваш счет на 200 рублей
                </div>
            </div>
            <img src="Content/images/slider/5.jpg" alt="">
        </div>
    </div>
</div>
<div id="featuretabs">
    <p>С <span>Crytex Networks</span> у Вас неограниченные возможности</p>
    <ul class="resp-tabs-list">
        <li>Облачная виртуализация</li>
        <li>Частные и публичные сети</li>
        <li>Игровые, голосовые серверы</li>
        <li>Веб-хостинги и доменные имена</li>
        <li>Сервис хранения данных</li>
    </ul>
    <div class="resp-tabs-container">
        <div>
            <div>
                <img src="/Content/images/cloud.png" />
            </div>
            <ul class="large-block-grid-1 medium-block-grid-1 small-block-grid-1">
                <li>
                    <div class="featuretitle">Облачная виртуализация</div>
                    <p>Виртуальные выделенные серверы VPS, VDS, построенные на основе технологий VMware и Hyper-V,
                        виртуальные и облачные хостинги, колокации</p>
                    <a class="tiny radius button" href="#">Узнать подробнее</a>
                </li>
            </ul>
        </div>
        <div>
            <div class="row">
                <div class="small-12 columns">
                    <hr/>
                    2
                </div>
            </div>
        </div>
        <div>
            <ul class="small-block-grid-1">
                <li>
                    <div class="featuretitle">?</div>
                    <p>3 </p>
                </li>
            </ul>
        </div>
        <div>
            <ul class="small-block-grid-1">
                <li>
                    <div class="featuretitle">?</div>
                    <p>4 </p>
                </li>
            </ul>
        </div>
        <div>
            <ul class="small-block-grid-1">
                <li>
                    <div class="featuretitle">?</div>
                    <p>5 </p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="bg-why">
    <div class="why large-12 medium-12 small-12">
        <span class="left"></span>

        <h1>Почему Crytex?</h1><span class="right"></span>
        <ul class="large-block-grid-3 medium-block-grid-3 small-block-grid-3">
            <li>
                <div style="background-image:url('content/images/icons/support.png')">
    </div>
    <a href="#" style="">Техническая поддержка 24/7/365</a>

    <p> Вы всегда можете получить квалифицированную техпомощь по любому возникающему вопросу. Время ответа специалиста
        CRYTEX - не более 15 мин.</p>
    </li>
    <li>
        <div style="background:url('Content/images/icons/setting.png')">
</div>
<a href="#">Неограниченные возможности виртуализации</a>
<p> Забудьте об ограничениях на количество дискового пространства, электронных адресов и доменов на обычных хостингах.
    Выбрав CRYTEX, Вы можете увеличивать выделяемые мощности по мере растущих потребностей без остановки в работе своих
    проектов. </p>
</li>
<li>
    <div style="background:url('@Url.Content(" ~
    /Content/images/icons/technology.png")');"></div>
    <a href="#">Современное&nbsp;ПО и&nbsp;технологии</a>

    <p> Облачная виртуализация у нас осуществляется с использованием двух технологий: VMware и Hyper-V, в работе мы
        используем Ceph и другое профессиональное оборудование.</p>
</li>
<li>
    <div style="background:url('@Url.Content(" ~
    /Content/images/icons/online.png")');"></div>
    <a href="#" style="">Доступность хостинга 99,95%</a>

    <p> Заявленная производительность и доступность облака обеспечивается в режиме 24x7. Суммарное время простоя
        составит не более 20 минут в месяц. </p>
</li>
<li>
    <div style="background:url('@Url.Content(" ~
    /Content/images/icons/security.png")');"></div>
    <a href="#">Конфиденциальность и&nbsp;безопасное хранение&nbsp;данных</a>

    <p>Вся Ваша информация хранится в зашифрованном виде, и воспользоваться ею можете только Вы. Даже в случае перехвата
        данных третьими лицами, их расшифровка окажется невозможной.</p>
</li>
<li>
    <div style="background:url('@Url.Content(" ~
    /Content/images/icons/test.png")');"></div>
    <a href="#">Бесплатный тестовый период</a>

    <p> Вы всегда можете попробовать наш сервис в деле, прежде чем стать нашим клиентом на постоянной основе.</p>
</li>
<li class="pay-text">
    <div style="background:url('@Url.Content(" ~
    /Content/images/icons/payment.png")');"></div>
    <a href="#">Любые&nbsp;способы&nbsp;оплаты</a><br>
    <span> Пополнять счет и оплачивать услуги CRYTEX Вы можете любым удобным способом: электронными платежами, банковскими картами и переводами и т.д.</span>
</li>
<li></li>
<li class="pay">
    <p>
        <img src="@Url.Content("/Content/images/icons/card1.png")" />
        <img src="@Url.Content("/Content/images/icons/card2.png")" />
        <img src="@Url.Content("/Content/images/icons/card3.png")" />
        <img src="@Url.Content("/Content/images/icons/card4.png")" />
    </p>

    <p>
        <img src="@Url.Content("/Content/images/icons/card5.png")" />
        <img src="@Url.Content("/Content/images/icons/card6.png")" />
        <img src="@Url.Content("/Content/images/icons/card7.png")" />
        <a class="all" href="#">все</a>
    </p>
</li>

</ul>
</div>
</div>
<div class="sectionarea frs">
    <div class="row">
        <div class="large-7 medium-7 small-7 columns">
            <h2><span>Пользователи выбирают</span> CRYTEX!</h2>

            <p class="large-10">На данный момент нами создано 537 виртуальных дата-центров, количество клиентов,
                пользующихся нашими услугами более 1 месяца составляет 97,3% </p>
            <ul>
                <li>
                    <div class="cub lf"></div>
                    <div>537
                        <span>дата-центров</span>
                    </div>
                    <div class="cub rg"></div>
                </li>
                <li>
                    <div class="cub lf"></div>
                    <div class="smaller">97,3%</div>
                    <div class="cub rg"></div>
                </li>
                <li class="last">
                    <p>клиентов пользуются услугами более 1&nbsp;месяца! </p>
                </li>
            </ul>
            <p class="comment-reply-link">
                <img width="70" height="70" src="@Url.Content("/Content/images/icons/user-icon.png")" />
                <a href="#">Cалибаев Нигмат</a><br/>
                <i>nigmat.kz</i>
            </p>

            <div class="quote">
                Пользуюсь услугами Crytex вот уже три года. Главное в этом деле это качественная тех.поддержка и работа
                без сбоев. За эти три года был лишь один случай, который поддержка решила за 5 минут. однозначно доволен
                и буду пользоваться дальше!
                <span></span>
            </div>
            <a class="other" href="#">Другой отзыв</a>
        </div>
    </div>
</div>
<div class="footer">
    <div class="row">

        <div class="small-3 large-3 medium-3 columns">
            <h2>Услуги</h2>
            <ul>
                <li><a href="#">Облако</a></li>
                <li><a href="#">VDS</a></li>
                <li><a href="#">Игровые сервера</a></li>
                <li><a href="#">Голосовые сервера</a></li>
                <li><a href="#">Хостинг</a></li>
                <li><a href="#">Доменные имена</a></li>
            </ul>
        </div>

        <div class="small-3 large-3 medium-3 columns">
            <h2>О нас</h2>
            <ul>
                <li><a href="#">Документы</a></li>
                <li><a href="#">Лицензии и сертификаты</a></li>
                <li><a href="#">Новости</a></li>
            </ul>
        </div>

        <div class="small-3 large-3 medium-3 columns">
            <h2>Другое</h2>
            <ul>
                <li><a href="#">База Знаний</a></li>
                <li><a href="#">Форум</a></li>
                <li><a href="#">Поддержка</a></li>
            </ul>
        </div>
        <div class="small-3 large-3 medium-3 columns link">
            <div class="large-10">
                <ul class="sup">
                    <li><span>Техподдержка:</span></li>
                    <li class="phone">+7 965 <span>925-60-60</span></li>
                    <li><a href="#">Можем перезвонить</a></li>
                </ul>
                <div class="sup icon">24/7</div>
                <div class="login">
                    <button>Задать вопрос</button>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="copyright">
    <div class="row">
        <div class="small-12 large-7 medium-7 columns mg">
            <img style="" src="@Url.Content("/Content/images/logo-light.png")" />
            <div class="foot">
                2015<br/> Все права защищены.
            </div>
            <span> Дизайн сайта - nigmat.kz</span>
        </div>

        <div class="small-12 large-4 medium-4 columns">
            <div class="social">
                <ul>
                    <li><a href="#" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" title="facebook" target="_blank"><i class="fa fa-vk"></i> </a></li>
                    <li><a href="#" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="twitter" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" title="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" title="rss" target="_blank"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
<a href="#top" id="back-to-top"><img src="@Url.Content("/Content/images/icons/to_top.png")" alt="В начало страницы"></a>
<div id="registration" class="reveal-modal tiny" data-reveal>
    <div class="login-container">
        <div class="row">
            <div class="small-12 small-centered large-12 large-centered medium-12 medium-centered columns">
                <div class="login-form">
                    <form method="post" action="#">
                        <div class="wrap">
                            <h4>Создание аккаунта</h4>
                            E-mail: <input class="ng-invalid" type="text" placeholder="Ваш e-mail " name="username"
                                           size="50"/>
                            Создайте пароль: <input class="ng-invalid" type="password" placeholder="Создайте пароль"
                                                    name="password" size="20"/>
                            Повторите пароль: <input type="password" placeholder="Повторите пароль"
                                                     name="confirmPassword" size="20"/>
                            <input type="submit" value="Регистрация"/>
                            <span class="ng-invalid" style="display:block;"> Некорректный e-mail.</span>
                            <span class="ng-invalid" style="display:block;"> Некорректный логин или пароль.</span>
                            <a class="lgn" href="#">Уже есть аккаунт? </a>
                        </div>
                        <div class="small-12 large-12 medium-12 columns bg">
                            <span style="">Или войдите через:</span>

                            <div class="social-login">
                                <ul>
                                    <li><a href="#" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="#" title="vk" target="_blank"><i class="fa fa-vk"></i> </a></li>
                                    <li><a href="#" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="#" title="google-plus" target="_blank"><i
                                            class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>
<div id="login" class="reveal-modal tiny" data-reveal>
    <div class="login-container">
        <div class="row">
            <div class="small-12 small-centered large-12 large-centered medium-12 medium-centered columns">
                <div class="login-form">
                    <form method="post" action="#">
                        <div class="wrap">
                            <h4>Вход</h4>
                            Логин или e-mail:
                            <input class="fa-user ng-invalid" type="text" placeholder="Введите логин или e-mail "
                                   name="username" size="50"/>
                            Пароль: <input class="fa-key" type="password" placeholder="Введите пароль" name="password"
                                           size="20"/>
                            <input type="submit" value="Войти"/>
                            <span class="ng-invalid" style="display:block;"> Неправильно введен логин или пароль.</span>
                            <a class="lgn" href="#">Забыли пароль? </a>
                            <a class="lgn right" href="#">Еще нет аккаунта? </a>
                        </div>
                        <div class="small-12 large-12 medium-12 columns bg">
                            <span style="">Или войдите через:</span>

                            <div class="social-login">
                                <ul>
                                    <li><a href="#" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="#" title="vk" target="_blank"><i class="fa fa-vk"></i> </a></li>
                                    <li><a href="#" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="#" title="google-plus" target="_blank"><i
                                            class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>
<div id="recall" class="reveal-modal tiny" data-reveal>
    <div class="login-container">
        <div class="row">
            <div class="small-12 small-centered large-12 large-centered medium-12 medium-centered columns">
                <div class="login-form">
                    <form method="post" action="#">
                        Ваш телефон:
                        <input type="text" placeholder="" name="username" size="50"/>
                        <input type="submit" value="Перезвоните мне"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>



    