<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crytex.Net</title>
      <meta name="viewport" content="width=device-width, user-scalable=no">
    <!-- inject:css -->

    <!-- endinject -->
</head>
<body ng-app="crytexUser" id="popupContainer">
<login-form show='showLoginForm'></login-form>

<div id="global-block" style="min-width: 1280px">
    <div id="header">
        <div class="content-main-width">
            <div class="logo">
                <a href="index.html">
                    <div class="img-logo"></div>
                </a>
            </div>
            <div class="call-me">
                <div class="call-me-content">
                    <div class="circle-call-me">24/7</div>
                    <div class="call-me-text">
                        <ul class="call-me-list">
                            <li>
                                <div>Техподдержка:</div>
                            </li>
                            <li class="phone">+7 965 <span>925-60-60</span></li>
                            <li><a class="header-link" ng-click='showCallMeForm = !showCallMeForm'>Можем перезвонить</a>
                            </li>
                            <call-me-form show='showCallMeForm'></call-me-form>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-right-panel" layout="row" layout-align="end">
                <div class="header-right-panel-content" layout="row">
                    <button class="btn-ask-question btn-ask-question-first ">
                        <em class="btn-left-image"></em>
                        <a ui-sref="support">Задать вопрос</a>
                    </button>

                    <top-login></top-login>

                </div>
            </div>
        </div>
    </div>
    <div id="menu">
        <div class="content-main-width">
            <div class="menu-content">
                <nav class="menu">
                    <ul class="clearfix">
                        <li>
                            <a href="#">Услуги <span class="arrow">&#9660;</span></a>

                            <ul class="sub-menu">
                                <li><a ui-sref="cloudHosting">Облачный хостинг</a></li>
                                <li><a ui-sref="game">Игровые серверы</a></li>
                                <li><a href="#">Физические серверы</a></li>
                                <li><a ui-sref="webHosting">Веб-хостинг</a></li>
                                <li><a ui-sref="domen">Домены</a></li>
                            </ul>

                        </li>
                        <li><a class="menu-two-tab" href="#">База знаний</a></li>
                        <li><a class="menu-three-tab" href="#">О нас <span class="arrow">&#9660;</span></a>
                            <ul class="sub-menu">
                                <li><a ui-sref="about.summary">Общая информация</a></li>
                                <li><a ui-sref="about.news ">Новости</a></li>
                                <li><a ui-sref="about.license ">Лицензии и сертификаты</a></li>
                                <li><a ui-sref="about.document ">Документы</a></li>
                            </ul>

                        </li>
                        <li><a class="menu-four-tab" href="#">Форум</a></li>
                        <li><a class="menu-five-tab" ui-sref="support">Техническая поддержка</a></li>
                        <li class="last-li-with-button">
                            <button class="primary-button dark" test-period="true">Бесплатный тест</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="content" style="background-color: #e5ebef;">
        <ui-view></ui-view>
    </div>
    <div id="footer">
        <div class="content-main-width">
            <div class="footer-top">
                <div class="footer-top-content">
                    <div class="footer-list">
                        <ul>
                            <li><a ui-sref="cloudHosting">Услуги</a></li>
                            <li><a ui-sref="cloudHosting">Облако</a></li>
                            <li><a href="#">VDS</a></li>
                            <li><a href="#">Игровые сервера</a></li>
                            <li><a href="#">Голосовые сервера</a></li>
                            <li><a ui-sref="webHosting">Хостинг</a></li>
                            <li><a ui-sref="domen">Доменные имена</a></li>
                        </ul>
                    </div>
                    <div class="footer-list footer-second-list">
                        <ul>
                            <li><a ui-sref="about.summary">О нас</a></li>
                            <li><a ui-sref="about.document ">Документы</a></li>
                            <li><a ui-sref="about.license ">Лицензии и сертификаты</a></li>
                            <li><a ui-sref="about.news ">Новости</a></li>
                        </ul>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#">Другое</a></li>
                            <li><a href="#">База знаний</a></li>
                            <li><a href="#">Форум</a></li>
                            <li><a href="support">Поддержка</a></li>
                        </ul>
                    </div>
                    <div class="footer-list-four">
                        <div>
                            <button class="primary-button footer-btn-free-test" test-period="true">Бесплатный тест</button>
                        </div>
                        <div>
                            <div class="footer-arrow">
                                <img class="arrow-test" src="client/content/images/home/arrow.png" alt="Arrow"/>
                            </div>
                            <div class="test-text">Вы всегда можете попробовать наш сервис в деле, прежде чем стать
                                нашим клиентом на постоянной основе.
                            </div>
                        </div>
                    </div>
                    <div class="footer-list-five">
                        <div class="footer-list-five-top">
                            <div class="footer-list-five-top-left">
                                <ul class="footer-call-me-list">
                                    <li><span>Техподдержка:</span></li>
                                    <li class="phone">+7 965 <span>925-60-60</span></li>
                                    <li><a class="header-link footer-recall" href="#">Можем перезвонить</a></li>
                                </ul>
                            </div>
                            <div class="footer-list-five-top-right">
                                <div class="circle-call-me-white">24/7</div>
                            </div>
                        </div>
                        <div class="footer-list-five-bottom">
                            <button class="btn-ask-question footer-btn-ask-question">
                                <em class="btn-left-image"></em>
                                <a ui-sref="support">Задать вопрос</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom-content">
                    <div class="footer-column-one">
                        <img class="human-face-image" src="client/content/images/home/footer-crytex-network.png"
                             alt="Crytex Network"/>
                    </div>
                    <div class="footer-column-two">
                        <div>2016</div>
                        <div>Все права защищены</div>
                    </div>
                    <div class="footer-column-three">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- vendor:js -->
<!--endinject -->
<!-- templates:js -->
<!--endinject -->
<!-- inject:js -->
<!-- endinject -->

</html>
