<md-card>
    <md-tabs md-dynamic-height="" md-border-bottom="" md-selected="tabs.selectedIndex">
        <md-tab label="Задачи"></md-tab>
        <md-tab label="Бекапы"></md-tab>
        <md-tab label="Снепшоты"></md-tab>
    </md-tabs>
    <md-card-content>
        <ng-switch on="tabs.selectedIndex">
            <div ng-switch-when="0">
                <div flex class="md-padding" ng-show="vm.processingTasks.items.length">
                    <h4>В процессе</h4>
                    <md-list class="task-border-list md-whiteframe-5dp">
                        <md-list-item ng-repeat="task in vm.processingTasks.items"
                                      ng-init="task.show = false"
                                      ng-click="vm.visibleTask(task)">

                            <div ng-show="!task.show" flex layout="column" class="proccesingTask">
                                <div layout="row" flex>
                                    <span class="bold">{{vm.typeTask.arrayItems[task.typeTask].translate}}</span>
                                    <div layout="row" flex layout-align="end center">
                                        <span>Начата: {{task.createdAt | date:'dd.MM.yyyy hh:mm:ss'}}</span>
                                    </div>
                                </div>
                                <md-progress-linear flex md-mode="indeterminate"></md-progress-linear>
                            </div>


                            <div ng-show="task.show" flex>
                                <md-card-content>
                                    <div layout layout-sm="column">
                                        <md-input-container flex>
                                            <label>ID</label>
                                            <input readonly="" value={{task.id}}></input>
                                        </md-input-container>
                                    </div>
                                    <div layout layout-sm="column">
                                        <md-input-container flex>
                                            <label>Type Task</label>
                                            <input readonly="" value={{vm.typeTask.arrayItems[task.typeTask].translate}}></input>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Status Task</label>
                                            <input readonly="" value={{task.statusTask.name}}></input>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Resource Type</label>
                                            <input readonly="" value={{task.resourceType.name}}></input>
                                        </md-input-container>
                                    </div>
                                    <div layout layout-sm="column">
                                        <md-input-container flex>
                                            <label>Created At</label>
                                            <input readonly="" value="{{task.createdAt | date:'dd.MM.yyyy hh:mm:ss'}}"></input>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Started At</label>
                                            <input readonly="" value="{{task.startedAt}}"></input>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Completed At</label>
                                            <input readonly="" value="{{task.completedAt}}"></input>
                                        </md-input-container>
                                    </div>
                                    <div layout layout-sm="column">
                                        <md-input-container flex>
                                            <label>Options</label>
                                            <input readonly="" value="{{task.arrayOptions}}"></input>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Error Message</label>
                                            <input readonly="" value="{{task.errorMessage}}"></input>
                                        </md-input-container>
                                    </div>
                                </md-card-content>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </div>
                <div flex class="md-padding" ng-show="vm.completedTasks.items.length">
                    <h4>Выполнены</h4>
                    <md-list class="task-border-list md-whiteframe-5dp">
                        <md-list-item dir-paginate="task in vm.completedTasks.items | itemsPerPage: vm.paginationSettingCompletedTasks.pageSize"
                                      total-items="vm.completedTasks.totalRows"
                                      current-page="vm.paginationSettingCompletedTasks.pageNumber"
                                      pagination-id="tasks"

                                      ng-init="task.show = false"
                                      ng-click="vm.visibleTask(task)">

                            <div layout="row" flex ng-show="!task.show">
                                        <span class="bold">{{vm.typeTask.arrayItems[task.typeTask].translate}}
                                            <span class="taskOptions" ng-show="task.typeTask == vm.typeTask.UpdateVm">
                                                CPU:{{task.arrayOptions.Cpu}},
                                                RAM:{{task.arrayOptions.Ram}},
                                                HDD:{{task.arrayOptions.Hdd}}
                                            </span>
                                        </span>

                                <div layout="row" flex layout-align="end center">
                                    <span>Выполнена: {{task.completedAt  | FormatToStandartDate}}</span>
                                </div>
                            </div>

                            <div ng-show="task.show" flex style="margin: 0; width:100%">
                                <md-card-content>
                                    <div layout layout-sm="column">
                                        <md-input-container flex>
                                            <label>ID</label>
                                            <input readonly="" value={{task.id}}></input>
                                        </md-input-container>
                                    </div>
                                    <div layout layout-sm="column">
                                        <md-input-container flex>
                                            <label>Type Task</label>
                                            <input readonly="" value={{vm.typeTask.arrayItems[task.typeTask].translate}}></input>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Status Task</label>
                                            <input readonly="" value={{task.statusTask.name}}></input>
                                        </md-input-container>
                                    </div>
                                    <div layout layout-sm="column">
                                        <md-input-container flex>
                                            <label>Created At</label>
                                            <input readonly="" value="{{task.createdAt | FormatToStandartDate}}"></input>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Started At</label>
                                            <input readonly="" value="{{task.startedAt | FormatToStandartDate}}"></input>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Completed At</label>
                                            <input readonly="" value="{{task.completedAt  | FormatToStandartDate}}"></input>
                                        </md-input-container>
                                    </div>
                                    <div layout layout-sm="column">
                                        <md-input-container flex ng-init="value = vm.updateTaskValue(task)">
                                            <label>Options</label>
                                            <input readonly="" value={{value}}></input>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Error Message</label>
                                            <input readonly="" value={{task.errorMessage}}></input>
                                        </md-input-container>
                                    </div>
                                </md-card-content>
                            </div>

                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                    <div layout="row" layout-align="center">
                        <dir-pagination-controls
                                boundary-links="true"
                                on-page-change="vm.newPageChangeHandler('task', newPageNumber)"
                                template-url="content/pagination/dirPagination.tpl.html"
                                pagination-id="tasks">
                        </dir-pagination-controls>
                    </div>

                </div>
            </div>
            <div ng-switch-when="1">
                <md-content>
                    <md-list class="task-border-list md-whiteframe-5dp">
                        <md-list-item dir-paginate="backup in vm.backupVms | itemsPerPage: vm.paginationSettingBackupVms.pageSize"
                                      total-items="vm.backupVms.totalRows"
                                      current-page="vm.paginationSettingBackupVms.pageNumber"
                                      pagination-id="backups"
                        >

                            <div layout="row" flex>
                                <span class="bold">{{backup.name}}</span>

                                <div layout="row" flex layout-align="end center">
                                    <span>{{backup.dateCreated | FormatToStandartDate}}</span>
                                </div>
                            </div>

                            <md-divider ng-if="!$last"></md-divider>

                        </md-list-item>
                    </md-list>

                    <dir-pagination-controls
                            boundary-links="true"
                            on-page-change="vm.newPageChangeHandler('backup', newPageNumber)"
                            template-url="content/pagination/dirPagination.tpl.html"
                            pagination-id="backups">
                    </dir-pagination-controls>
                </md-content>
            </div>
            <div ng-switch-when="2">
                <md-content>
                    <md-card dir-paginate="snapshot in vm.snapshotVms | itemsPerPage: vm.paginationSettingSnapshotVms.pageSize"
                             total-items="vm.snapshotVms.totalRows"
                             current-page="vm.paginationSettingSnapshotVms.pageNumber"
                             pagination-id="snapshots">
                        <md-card-content>
                            <h2 class="md-title">{{snapshot.id}}</h2>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>name</label>
                                    <input readonly="" value='{{snapshot.name}}'>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>date</label>
                                    <input readonly="" value="{{snapshot.date | FormatToStandartDate}}">
                                </md-input-container>
                            </div>
                        </md-card-content>
                    </md-card>
                    <div layout="row" layout-align="center">
                        <dir-pagination-controls
                                boundary-links="true"
                                on-page-change="vm.newPageChangeHandler('snapshot', newPageNumber)"
                                template-url="content/pagination/dirPagination.tpl.html"
                                pagination-id="snapshots">
                        </dir-pagination-controls>
                    </div>
                </md-content>
            </div>
        </ng-switch>
    </md-card-content>
</md-card>