<div flex class="my-resources-form">
    <div layout="row" layout-align="center center">
        <div flex class="header-text">Игровые сервера</div>

        <div>
            <button flex class="btn-accent add-resource" ui-sref="personalAccount.buyService.buyGame">Купить ресурс</button>
        </div>

    </div>
    <div flex class="server-content">


        <preloader flex promise="vm.gameServers.$promise" margin="200px"></preloader>

        <div dir-paginate="gameServer in vm.gameServers.items | itemsPerPage: vm.paginationSettings.pageSize"
             total-items="vm.gameServers.totalRows"
             current-page="vm.paginationSettings.pageNumber"
             pagination-id="subscriptionGsId"
             style=" transition: 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;">
            <div ng-if="!(vm.gameServers.$promise.$$state.status === 0)">
                <game-item game-server="gameServer" update-game-server-status="vm.updateGameServerStatus(gameServer,status)"
                           update-game-server-slot="vm.updateGameServerSlot(gameServer,slotCount)"
                           update-game-server-conf="vm.updateGameServerConf(gameServer,conf)"></game-item>
            </div>

        </div>

        <div layout="row" layout-align="center">
            <dir-pagination-controls
                    boundary-links="true"
                    on-page-change="vm.pageChangeHandler(newPageNumber)"
                    pagination-id="subscriptionGsId"
                    template-url="content/pagination/dirPagination.tpl.html">
            </dir-pagination-controls>
        </div>

    </div>
</div>