﻿<md-content class="md-padding page-content">
    <md-card>
        <md-card-content>
            <h2 class="md-title ">Фильтры</h2>
            <md-input-container>
                <label>Статус</label>
                <md-select ng-model="helpRequests.filter" placeholder="Фильтр обращений" ng-change="loadPage()">
                    <md-option ng-value="opt.value" ng-repeat="opt in typeFilter">{{ opt.translate }}</md-option>
                </md-select>
            </md-input-container>
        </md-card-content>
    </md-card>
    <md-card dir-paginate="helpRequest in helpRequests.items | itemsPerPage: helpRequests.pageSize"
             total-items="helpRequests.totalRows"
             current-page="helpRequests.pageNumber"
             ng-class="{'unread-message': !helpRequest.read}"
             pagination-id="helpDesk">
        <md-card-content>
            <div layout="row">
                <div flex="40">
                    <h2 class="md-title request-title" 
                        ui-sref="userHelpDeskRequest({id:helpRequest.id})">
                        {{'Обращение № '+ helpRequest.id}}
                    </h2>
                    <h2 class="md-title">{{helpRequest.summary}}</h2>
                </div>
                <div flex="10"></div>
                <div flex = "25">
                    <md-input-container class="link" ui-sref="usersSingle({id:helpRequest.userId})">
                            <label>Имя пользователя</label>
                            <input readonly="" value='{{helpRequest.userName}}'>
                        </md-input-container>                     
                </div>
                <div flex="25">
                    <md-input-container>
                        <label>Дата создания</label>
                        <input readonly="" value="{{helpRequest.creationDate | FormatToStandartDate}}"></input>
                    </md-input-container>
                </div>
            </div>
            <div layout layout-sm="row">
                <md-input-container flex="95">
                    <label>Описание</label>
                    <textarea msd-elastic readonly="" ng-model="helpRequest.details"></textarea>
                </md-input-container>
            </div>
            <div layout="column" flex="20">
                <md-input-container flex>
                    <label>Email</label>
                    <input readonly="" value='{{helpRequest.email}}'>
                </md-input-container>
                <md-input-container flex>
                    <label>Серьезность</label>
                    <input readonly="" value='{{urgencyLevel.arrayItems[helpRequest.urgency].translate}}'>
                </md-input-container>
                <div flex ng-repeat="file in helpRequest.fileDescriptorParams">
                    <a href="file.path">{{file.name}}</a>
                </div>
            </div>
        </md-card-content>
        <div class="md-actions card-actions" layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ui-sref="userHelpDeskRequest({id:helpRequest.id})">Просмотр
            </md-button>
            <div class="request-box">
                <md-input-container>
                    <label>Статус</label>
                    <md-select ng-model="helpRequest.status" placeholder="Статус обращения"
                               ng-change="updateRequest(helpRequest)">
                        <md-option ng-value="opt.value" ng-repeat="opt in typeRequest">{{ opt.translate }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </md-card>
    <dir-pagination-controls
            boundary-links="true"
            on-page-change="pageChangeHandler(newPageNumber)"
            template-url="content/pagination/dirPagination.tpl.html"
            pagination-id="helpDesk">
    </dir-pagination-controls>
</md-content>