<div flex class="vm-fixed-payment-form">
    <div layout="row" class="header-div">
        <div flex="80" class="header">Платежи игровой машины</div>
        <button flex class="btn-accent" ng-click="vm.useFilter()">Фильтры</button>
    </div>

    <div layout="row" ng-if="vm.isUseFilter">
        <resource-date-filter flex is-show-grouping="false" search-params="vm.searchParams"></resource-date-filter>
    </div>

    <div ng-class="{'task-list': vm.changePage || vm.gamePaymentList.items.length == vm.paginationSettings.pageSize }" >
        <div dir-paginate="gamePayment in vm.gamePaymentList.items |  itemsPerPage: vm.paginationSettings.pageSize"
             current-page="vm.paginationSettings.pageNumber"
             total-items="vm.gamePaymentList.totalRows"
             pagination-id="vm.myPaginationId"
             ng-show="vm.gamePaymentList.items.length">

            <div class="task-row" layout="row">
                <div flex="15">{{gamePayment.date | date:'d.MM.yyyy'}}</div>
                <div ng-if="gamePayment.monthCount !== 0" flex="60" class="type-task">Списывание за {{gamePayment.monthCount}}
                    <span ng-if="gamePayment.monthCount === 1">месяц</span>
                    <span ng-if="gamePayment.monthCount > 1 && gamePayment.monthCount < 5">месяца</span>
                    <span ng-if="gamePayment.monthCount > 4">месяцев</span>
                </div>
                <div ng-if="gamePayment.monthCount === 0" flex="60" class="type-task">Списывание за использование</div>
                <div flex="25" class="type-task">{{gamePayment.amount|money}}</div>
            </div>
        </div>

        <div class="task-row" layout="row" ng-show="vm.gamePaymentList.$resolved && !vm.gamePaymentList.items.length && !vm.changePage">
            <div flex="15">{{vm.currentDate | date:'d.MM.yyyy'}}</div>
            <div flex="85" class="type-task">Платежей не найдено</div>
        </div>

    </div>

    <div layout="row" layout-align="center">
        <dir-pagination-controls
                boundary-links="true"
                pagination-id="vm.myPaginationId"
                on-page-change="vm.pageChangeHandler(newPageNumber)"
                template-url="content/pagination/dirPagination.tpl.html">
        </dir-pagination-controls>
    </div>
</div>