.summary {
  font-family: firaSansRegular;
  font-size: 15px;
  color: #3f4549;
}

.contact {
  padding-bottom: 12px;
  font-family: firaSansRegular;

  line-height: 1.222;

}
.address{
  font-size: 15px;
  color: #3f4549;
  font-family: firaSansRegular;
}