
<div>

    <img src="client/content/images/about/people_comp.png"/>
</div>

<div class="about-header about-header-margin" layout="row" >
    <div class="about-header-title">
       О нас
    </div>

</div>
<div class="summary">
    Более пятнадцати лет «Crytex» прокладывает собственный путь на рынке услуг хостинга и поддержки интернет-проектов. Мы не копируем чужие разработки, а смотрим в будущее. Сегодня «Crytex» не просто хостинг-провайдер: мы стараемся предложить вам максимум возможного, чтобы вы были уверены — и завтра наши услуги превзойдут любые ваши ожидания. Работа над новыми веб-сервисами не прекращается ни на сутки.
</div>

<div class="about-header about-header-margin" layout="row" >
    <div class="about-header-title">
       Контакты
    </div>

</div>
<div layout="column">
    <div class="contact">Телефон/факс: +7 495 229-30-31</div>
    <div class="contact">E-mail: info@сrytex.net</div>
    <div class="address">
        Москва, ул. Юннатов, д. 18, офис 709<br/>
        Прием клиентов: понедельник—пятница 10:00 — 18:00
    </div>
</div>
<div class="about-header-margin">

    <img src="client/content/images/about/map.png"/>
</div>