<div class="my-resources-form">
    <div layout="row" layout-align="center center">
        <div flex class="header-text">Виртуальные машины</div>

        <div>
            <button flex class="btn-accent add-resource" ui-sref="personalAccount.buyService.buyCloud">Купить ресурс</button>
        </div>

    </div>
    <div flex class="server-content">


        <preloader flex promise="vm.SubscriptionVms.$promise" margin="200px"></preloader>

        <div dir-paginate="virtualMachine in vm.SubscriptionVms.items | itemsPerPage: vm.paginationSettings.pageSize"
             total-items="vm.SubscriptionVms.totalRows"
             current-page="vm.paginationSettings.pageNumber"
             pagination-id="subscriptionVmId"

             style=" transition: 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;">

            <div ng-if="virtualMachine.subscriptionType==  vm.subscriptionTypes.Usage && !(vm.SubscriptionVms.$promise.$$state.status === 0)">
                <virtual-machine-cloud virtual-machine="virtualMachine"
                                       update-machine-status="vm.updateMachineStatus(subscription,status)"
                                       update-machine-backup-storing="vm.updateMachineBackupStoring(subscription,dailyBackupStorePeriodDays)"
                                       update-machine-settings="vm.updateMachineSettings(subscription,conf)">

                </virtual-machine-cloud>
            </div>
            <div ng-if="virtualMachine.subscriptionType== vm.subscriptionTypes.Fixed && !(vm.SubscriptionVms.$promise.$$state.status === 0)">
                <virtual-machine-fix virtual-machine="virtualMachine"
                                     update-machine-status="vm.updateMachineStatus(subscription,status)"
                                     update-machine-backup-storing="vm.updateMachineBackupStoring(subscription,dailyBackupStorePeriodDays)"
                                     update-machine-settings="vm.updateMachineSettings(subscription,conf)">

                </virtual-machine-fix>
            </div>

        </div>

        <div layout="row" layout-align="center">
            <dir-pagination-controls
                    boundary-links="true"
                    on-page-change="vm.pageChangeHandler(newPageNumber)"
                    pagination-id="subscriptionVmId"
                    template-url="content/pagination/dirPagination.tpl.html">
            </dir-pagination-controls>
        </div>

    </div>
</div>