.cloud-control.ng-enter,
.cloud-control.ng-leave {

  -webkit-transition: 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  -moz-transition: 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  -ms-transition: 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  -o-transition: 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  transition: 700ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;

  position: relative;

}

.cloud-control.ng-enter.ng-enter-active, .cloud-control.ng-leave {
  top: 0px;
  height: 550px;
}

.cloud-control.ng-leave.ng-leave-active, .cloud-control.ng-enter {
  top: -550 px;
  height: 0px;
}

.server {
  .disabled-btn {
    background-color: #fff;
    box-shadow: none;
    text-shadow: none;
    color: #609bca;
    border: 1px solid;
    cursor: default;
    pointer-events: none;
  }

  .sub-header {
    font-family: firaSansMedium;
    font-size: 20px;
    color: #3f4549;
    margin-top: 10px;
    margin-left: 23px;
  }
  .header {
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
  }

  .tab-content {
    height: 90%;

    .height-100 {
      height: 100%;
    }


    .header {
      font-size: 24px;
      font-family: firaSansMedium;
      margin: 0;
    }

    .subheader-div {
      margin-top: 15px;
      margin-left: 10px;

      .subheader {
        font-size: 18px;
        font-family: firaSansMedium;
        margin-left: 0;
      }

      .item {
        margin: 10px 5px;
        font-size: 16px;
        font-family: firaSansRegular;

        .value {
          font-family: firaSansMedium;
          color: #609bca;;
        }
      }

      .manage-btn {
        margin-right: 15px;
        width: 140px;
        margin-top: 25px;
      }

      .disabled-btn {
        background-color: #fff;
        box-shadow: none;
        text-shadow: none;
        color: #609bca;
        border: 1px solid;
        cursor: default;
        pointer-events: none;
      }
    }
    
  }
}



