﻿<md-content class="md-padding page-content">
    <md-card  class="card-SCVM">
        <md-card-content>
            <div layout="row">
                <div flex="50">
                    <h2 class="md-title">{{'Обращение № '+ helpRequest.id}}</h2>
                    <h2 class="md-title">{{helpRequest.summary}}</h2>
                </div>
                <md-input-container class="link" ui-sref="usersSingle({id:helpRequest.userId})" flex="25">
                    <label>Имя пользователя</label>
                    <input readonly="" value='{{helpRequest.userName}}'>
                </md-input-container>
                <md-input-container flex="25">
                    <label>Дата создания</label>
                    <input readonly="" value="{{helpRequest.creationDate | FormatToStandartDate}}"></input>
                </md-input-container>
            </div>
            <div layout layout-sm="row">
                <md-input-container flex="95">
                    <label>Описание</label>
                    <textarea msd-elastic readonly="" ng-model="helpRequest.details"></textarea>
                </md-input-container>
            </div>
            <div layout="column" flex="20">
                <md-input-container flex>
                    <label>Email</label>
                    <input readonly="" value='{{helpRequest.email}}'>
                </md-input-container>
                <md-input-container flex>
                    <label>Серьезность</label>
                    <input readonly="" value='{{urgencyLevel.arrayItems[helpRequest.urgency].translate}}'>
                </md-input-container>
                <div flex ng-repeat="file in helpRequest.fileDescriptorParams">
                    <a href="file.path">{{file.name}}</a>
                </div>
            </div>
        </md-card-content>
        <div class="md-actions card-actions" layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-click="showEdit()">Ответить</md-button>
            <div class="request-box">
                <md-input-container>
                    <label>Статус</label>
                    <md-select ng-model="helpRequest.status" placeholder="Статус обращения" ng-change="updateRequest(helpRequest)">
                        <md-option ng-value="opt.value" ng-repeat="opt in typeRequest">{{ opt.translate }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </md-card>

    <md-card class="request-comment comment-block" ng-repeat="comment in helpRequestComments"
             ng-style="{
                    true: {'float': 'right', 'margin-right': '3%'},
                    false: {'float': 'left', 'margin-left': '3%'}}
                    [!isAdmin(helpRequest.userId, comment.userId)]"
             flex>
        <md-card-content>
            <div layout="row">
                <div flex="30">
                    <h3 class="md-title">{{'comment № '+ comment.id}}</h3>
                </div>
                <md-input-container flex="35">
                    <input readonly="" value='{{comment.userEmail}}'>
                </md-input-container>
                <md-input-container flex="35">
                    <input readonly="" value="{{comment.creationDate | FormatToStandartDate}}">
                </md-input-container>
            </div>
            <div layout layout-sm="row">
                <md-input-container flex="95">
                    <textarea msd-elastic readonly="" ng-model="comment.comment"></textarea>
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
</md-content>
<script type="text/ng-template" id="editCommentForm.tmpl.html">
    <md-dialog aria-label="Написать коментарий">
        <form name="editForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Написать коментарий</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="../content/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content style="max-width:800px; max-height:810px; min-height: 200px" class="md-padding">
                <md-input-container flex ng-if="newComment.id">
                    <label>id</label>
                    <input readonly="true" value="{{newComment.id}}}" ng-model="userEdit.id">
                </md-input-container>
                <md-input-container flex>
                    <label>Comment Text</label>
                    <textarea ng-model="newComment.comment" name="CommentText" required></textarea>
                    <div ng-messages="editForm.CommentText.$error" class="messages">
                        <div ng-message='required' ng-if="editForm.CommentText.$dirty">Поле обязательное</div>
                    </div>
                </md-input-container>
            </md-dialog-content>
            <div class="md-actions" layout="row">
                <md-button ng-click="cancel()">Отмена</md-button>
                <md-button ng-click="answer()" ng-disabled="editForm.$invalid" style="margin-right:20px;" >Применить</md-button>
            </div>
        </form>
    </md-dialog>
</script>
