﻿.request-box{
    padding: 15px 0 0 30px;
    margin-right: 58px;
}
.request-box md-select{
    min-width: 140px;
}

.margin-right-30{
    margin-right: 30px;
}

.left-request-data,.left-log-data md-input-container:first-child{
    margin-right: 30px;
}

.left-request-data md-input-container input{
    text-align: center;
}

.comment-block{
	width: 60%;
	display: block;
}