﻿<md-content class="md-padding page-content">
    <md-card>

        <md-card-content>
            <h2 flex class="md-title">{{user.userName}}</h2>
            <div layout="row" flex>
                <div flex layout="column">
                    <md-input-container flex="25">
                        <label>Идентификатор</label>
                        <input readonly="" value='{{user.id}}'>
                    </md-input-container>
                    <md-input-container flex="25">
                        <label>email</label>
                        <input readonly="" value='{{user.email}}'>
                    </md-input-container>
                    <md-input-container flex="25">
                        <label>Имя</label>
                        <input ng-model="user.name" name="Name" readonly="">
                    </md-input-container>
                    <md-input-container flex="25">
                        <label>Отчество</label>
                        <input readonly="" ng-model="user.patronymic" name="Patronymic">
                    </md-input-container>
                    <md-input-container flex="25">
                        <label>Тип пользователя</label>
                        <input readonly="" ng-model="userType.arrayItems[user.userType].translate" name="UserType">
                    </md-input-container>
                </div>
                <div flex layout="column">
                    <md-input-container flex="25">
                        <label>Город</label>
                        <input readonly="" ng-model="user.city" name="City">
                    </md-input-container>
                    <md-input-container flex="25">
                        <label>Страна</label>
                        <input readonly="" ng-model="user.country" name="Country">
                    </md-input-container>
                    <md-input-container flex="25">
                        <label>Контактное лицо</label>
                        <input readonly="" ng-model="user.contactPerson" name="ContactPerson">
                    </md-input-container>
                    <md-input-container flex="25">
                        <label>Плательщик</label>
                        <input readonly="" ng-model="user.payer" name="Payer">
                    </md-input-container>
                    <div flex style="height: 94px;"></div>
                </div>
                <div flex layout="column">
                    <div  style="text-align: center">
                        <div style="font-size: 24px;">{{user.balance}}</div>
                        <div>Баланс</div>
                    </div>
                    <div >
                        <div flex layout="row" ng-show="user.showBack||user.showUpper" layout-align="start center">
                            <md-input-container flex="25" style="margin:0">
                                <label></label>
                                <input type="number" min="1" ng-model="user.amount" required placeholder="1 $">
                            </md-input-container>
                            <md-button flex class="md-primary" ng-show="user.showUpper" ng-click="up(user)">Пополнить</md-button>
                            <md-button flex class="md-primary" ng-show="user.showBack" ng-click="back(user)">Убавить</md-button>
                            <md-button flex class="md-primary" ng-click="user.showUpper = false; user.showBack = false;">Отмена</md-button>
                        </div>
                        <div flex layout="row" ng-hide="user.showBack||user.showUpper">
                            <md-button class="md-primary" ng-click="user.showUpper=!user.showUpper">Пополнить</md-button>
                            <md-button class="md-primary" ng-click="user.showBack=!user.showBack">Убавить</md-button>
                        </div>

                    </div>
                </div>
            </div>

            <div ng-if="userType.JuridicalPerson == user.userType">
                <h2 flex class="md-title" >Юридические данные</h2>

                <div layout="row" flex>
                    <div flex layout="column">
                        <md-input-container flex="25">
                            <label>Компания</label>
                            <input readonly="" value='{{user.companyName}}'>
                        </md-input-container>
                        <md-input-container flex="25">
                            <label>ИНН</label>
                            <input readonly="" value='{{user.inn}}'>
                        </md-input-container>
                        <md-input-container flex="25">
                            <label>КПП</label>
                            <input readonly="" value='{{user.kpp}}'>
                        </md-input-container>
                    </div>
                    <div flex layout="column">
                        <md-input-container flex="25">
                            <label>Юридический адресс</label>
                            <input readonly="" value='{{user.juridicalAddress}}'>
                        </md-input-container>
                        <md-input-container flex="25">
                            <label>Почтовый адрес</label>
                            <input readonly="" value='{{user.mailAddress}}'>
                        </md-input-container>
                        <div flex style="height: 94px;"></div>
                    </div>
                </div>
            </div>



            <div flex layout-align="start center" layout="row">
                <div>Пользователь активен: </div>
                <md-switch  ng-model="isActive"  aria-label="Отключить" ng-change="locking(user)">

                </md-switch>
            </div>
        </md-card-content>
        <div class="md-actions card-actions" layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-click="showConfirm()">Удалить</md-button>
            <md-button class="md-primary md-raised" ng-click="showEdit()">Редактировать</md-button>
            <subscription-buy-button success="getVirtualMachineSubscriptions()" user-id="user.id"></subscription-buy-button>
        </div>
    </md-card>
    <md-card>
        <h3 style="margin-left:14px">Платежная информация</h3>
        <md-tabs md-dynamic-height="" md-border-bottom="" md-selected="money.selectedIndex">
            <md-tab label="Пополнения"></md-tab>
            <md-tab label="Транзакции"></md-tab>
            <md-tab label="Платежи фиксированных машин"></md-tab>
            <md-tab label="Платежи облачных машин"></md-tab>
            <md-tab label="Платежи игровых серверов"></md-tab>
        </md-tabs>
        <md-card-content>
            <ng-switch on="money.selectedIndex">
                <div ng-switch-when="0">
                    <md-list class="task-border-list md-whiteframe-5dp">
                        <md-list-item dir-paginate="payment in payments.items | itemsPerPage: payments.pageSize"
                                      total-items="payments.totalRows"
                                      current-page="payments.currentPage"
                                      pagination-id="paymentsId"
                                      class="list-directive-item">

                            <payment-field payment="payment" flex></payment-field>

                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                        <md-list-item ng-show="!payments.items.length">
                            Ещё не было пополнений
                        </md-list-item>
                    </md-list>
                    <dir-pagination-controls layout="row" layout-align="center"
                            boundary-links="true"
                            on-page-change="pageChangeHandler('payment', newPageNumber)"
                            template-url="content/pagination/dirPagination.tpl.html"
                            pagination-id="paymentsId">
                    </dir-pagination-controls>
                </div>
                <div ng-switch-when="1">
                    <md-list class="task-border-list md-whiteframe-5dp">
                        <md-list-item dir-paginate="transaction in transactions.items | itemsPerPage: transactions.pageSize"
                                      total-items="transactions.totalRows"
                                      current-page="transactions.currentPage"
                                      pagination-id="transactionsId"
                                      class="list-directive-item">

                            <transaction-field transaction="transaction" flex></transaction-field>

                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                    <dir-pagination-controls layout="row" layout-align="center"
                            boundary-links="true"
                            on-page-change="pageChangeHandler('transaction', newPageNumber)"
                            template-url="content/pagination/dirPagination.tpl.html"
                            pagination-id="transactionsId">
                    </dir-pagination-controls>
                </div>
                <div ng-switch-when="2">
                    <md-list class="task-border-list md-whiteframe-5dp">
                        <md-list-item dir-paginate="fixedSubscriptionPayment in fixedSubscriptionPayments.items | itemsPerPage: fixedSubscriptionPayments.pageSize"
                                      total-items="fixedSubscriptionPayments.totalRows"
                                      current-page="fixedSubscriptionPayments.currentPage"

                                      pagination-id="fixedSubscriptionPaymentsId"
                                      class="list-directive-item">

                            <fixed-subscription-payment-field vps-subscription-payment="fixedSubscriptionPayment" flex></fixed-subscription-payment-field>

                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                    <div class="pagination-center">
                        <dir-pagination-controls layout="row" layout-align="center"
                                boundary-links="true"
                                pagination-id="fixedSubscriptionPaymentsId"
                                on-page-change="pageChangeHandler('fixedSubscriptionPayments', newPageNumber)"
                                template-url="content/pagination/dirPagination.tpl.html">
                        </dir-pagination-controls>
                    </div>
                </div>
                <div ng-switch-when="3">
                    <md-card  flex>
                        <md-card-content>
                            <div layout layout-sm="column">
                                <md-input-container flex="25">
                                    <label>Группировать по</label>
                                    <md-select ng-model="searchUsageSubscriptionPaymentParams.periodType">
                                        <md-option ng-repeat="type in periodType | filter:{isShow:true}" value="{{type.value}}">
                                            {{type.translate}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </md-card-content>
                        <div class="md-actions card-actions" layout="row" layout-align="end center">
                            <md-button class="md-raised" ng-click="clearSearchUsageParams()">Сбросить</md-button>
                            <md-button class="md-raised" ng-click="applyFilter()">Применить</md-button>
                        </div>
                    </md-card>
                    <md-list class="task-border-list md-whiteframe-5dp">
                        <md-list-item dir-paginate="usageVm in usageSubscriptionPayments.items | itemsPerPage: usageSubscriptionPayments.pageSize"
                                      total-items="usageSubscriptionPayments.totalRows"
                                      current-page="usageSubscriptionPayments.currentPage"

                                      pagination-id="usageSubscriptionPaymentId"
                                      class="list-directive-item">

                            <usage-subscription-payment-field cloud-subscription-payment="usageVm" period-type="usageSubscriptionPayments.periodType" flex></usage-subscription-payment-field>

                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                    <div layout="row" flex layout-align="center">
                        <dir-pagination-controls
                                boundary-links="true"
                                pagination-id="usageSubscriptionPaymentId"
                                on-page-change="pageChangeHandler('usageSubscriptionPayments', newPageNumber)"
                                template-url="content/pagination/dirPagination.tpl.html">
                        </dir-pagination-controls>
                    </div>
                </div>
                <div ng-switch-when="4">
                    <md-list class="task-border-list md-whiteframe-5dp">
                        <md-list-item dir-paginate="paymentGameServer in paymentsGameServer.items | itemsPerPage: paymentsGameServer.pageSize"
                                      total-items="paymentsGameServer.totalRows"
                                      current-page="paymentsGameServer.currentPage"
                                      pagination-id="paymentsGameServerId"
                                      class="list-directive-item"
                                      ng-click="visiblePaymentGameServer(paymentGameServer)">

                            <div layout="row" flex ng-show="!paymentGameServer.show">
                                <div layout="row" flex layout-align="start center">
                                    <span class="bold">Количество месяцев: {{paymentGameServer.monthCount}}</span>
                                </div>
                                <div layout="row" flex layout-align="start center">
                                    <span class="bold">Количество слотов: {{paymentGameServer.slotCount}}</span>
                                </div>
                                <div layout="row" flex layout-align="center">
                                    <span class="bold">Сумма: {{paymentGameServer.amount}}</span>
                                </div>
                                <div layout="row" flex layout-align="end center">
                                    <span class="bold">Дата: {{paymentGameServer.date | FormatToStandartDate}}</span>
                                </div>
                            </div>

                            <div class="width-100" ng-show="paymentGameServer.show">
                                <md-card-content flex>
                                    <h2>{{paymentGameServer.id}}</h2>
                                    <div layout="row" flex>
                                        <md-input-container flex="40">
                                            <label>SubscriptionGameServerId</label>
                                            <input readonly="" value='{{paymentGameServer.gameServerId}}' name="gameServerId">
                                        </md-input-container>
                                        <md-input-container flex="40">
                                            <label>Игровой сервер</label>
                                            <input readonly="" value='{{paymentGameServer.gameServerName}}' name="gameServerName">
                                        </md-input-container>
                                    </div>
                                    <div layout="row" flex>
                                        <md-input-container flex="40">
                                            <label>Количество месяцев</label>
                                            <input readonly="" value='{{paymentGameServer.monthCount}}' name="gameServerId">
                                        </md-input-container>
                                        <md-input-container flex="40">
                                            <label>Сумма</label>
                                            <input readonly="" value='{{paymentGameServer.amount}}' name="gameServerName">
                                        </md-input-container>
                                        <md-input-container flex="40">
                                            <label>Дата</label>
                                            <input readonly="" value='{{paymentGameServer.date | FormatToStandartDate}}' name="gameServerName">
                                        </md-input-container>
                                    </div>
                                    <div layout="row" flex>
                                        <md-input-container flex>
                                            <label>Количество слотов</label>
                                            <input readonly="" value='{{paymentGameServer.slotCount}}' name="coreCount">
                                        </md-input-container>
                                    </div>
                                    <div layout="row" flex>
                                        <md-input-container flex>
                                            <label>paymentModelType</label>
                                            <input readonly="" value='{{paymentViewModelType[paymentGameServer.paymentModelType]}}' name="paymentModelType">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>billingTransactionId</label>
                                            <input readonly="" value='{{paymentGameServer.billingTransactionId}}' name="billingTransactionId">
                                        </md-input-container>
                                    </div>
                                </md-card-content>
                            </div>

                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                    <dir-pagination-controls layout="row" layout-align="center"
                            boundary-links="true"
                            on-page-change="pageChangeHandler('paymentsGameServer', newPageNumber)"
                            template-url="content/pagination/dirPagination.tpl.html"
                            pagination-id="paymentsGameServerId">
                    </dir-pagination-controls>
                </div>
            </ng-switch>
        </md-card-content>
    </md-card>

    <md-card >
        <h3 style="margin-left:14px">Ресурсы пользователя</h3>
        <md-tabs md-dynamic-height="" md-border-bottom="" md-selected="resource.selectedIndex">
            <md-tab label="Виртуальные машины"></md-tab>
            <md-tab label="Веб-приложения"></md-tab>
            <md-tab label="Игровые сервера"></md-tab>
        </md-tabs>
        <md-card-content>
            <ng-switch on="resource.selectedIndex">
                <div ng-switch-when="0">
                    <md-list class="task-border-list md-whiteframe-5dp">
                        <md-list-item dir-paginate="virtualMachine in subscribeVirtualMachines.items | itemsPerPage: subscribeVirtualMachines.pageSize"
                                      total-items="subscribeVirtualMachines.totalRows"
                                      current-page="subscribeVirtualMachines.currentPage"
                                      pagination-id="subscribeVirtualMachineId"
                                      ng-click="visibleVirtualMachineSubscription(virtualMachine)">
                            
                            <div layout="row" flex ng-show="!virtualMachine.show">
                                <span class="bold">{{virtualMachine.name}}</span>
                            </div>

                            <div ng-show="virtualMachine.show" class="vmWidth-100">
                                <vm-short virtual-machine="virtualMachine"></vm-short>
                            </div>

                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                    <dir-pagination-controls layout="row" layout-align="center"
                            boundary-links="true"
                            on-page-change="pageChangeHandler('virtualMachine', newPageNumber)"
                            template-url="content/pagination/dirPagination.tpl.html"
                            pagination-id="subscribeVirtualMachineId">
                    </dir-pagination-controls>
                </div>
                <div ng-switch-when="1"></div>
                <div ng-switch-when="2">
                    <md-list class="task-border-list md-whiteframe-5dp">
                        <md-list-item dir-paginate="gameServer in gameServers.items | itemsPerPage: gameServers.pageSize"
                                      total-items="gameServers.totalRows"
                                      current-page="gameServers.currentPage"
                                      pagination-id="gameServerId"                                      

                                      ng-click="visibleGameServerSubscription(gameServer)">

                            <div layout="row" flex ng-show="!gameServer.show">
                                <span class="bold">{{gameServer.name}}</span>                                
                            </div>

                            <div ng-show="gameServer.show"
                              ng-include="'app/pages/subscriptions/singleGameServerTemplate/singleGameServer.template.html'">
                            </div>                            

                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                    <dir-pagination-controls layout="row" layout-align="center"
                            boundary-links="true"
                            on-page-change="pageChangeHandler('gameServer', newPageNumber)"
                            template-url="content/pagination/dirPagination.tpl.html"
                            pagination-id="gameServerId">
                    </dir-pagination-controls>
                </div>
            </ng-switch>
        </md-card-content>
    </md-card>

    <md-card>
        <h3 style="margin-left:14px">Созданные виртуальные машины</h3>
        <md-card-content>
            <md-list class="task-border-list md-whiteframe-5dp">
                <md-list-item dir-paginate="virtualMachine in virtualMachines.items | itemsPerPage: virtualMachines.pageSize"
                              total-items="virtualMachines.totalRows"
                              current-page="virtualMachines.currentPage"
                              pagination-id="virtualMachinesId"

                              ng-click="visibleMachine(virtualMachine)">

                    <div layout="row" flex ng-show="!virtualMachine.show">
                        <span class="bold">{{virtualMachine.name}}</span>
                        <div layout="row" flex layout-align="end center">
                            <span>{{virtualizationType.arrayItems[virtualMachine.virtualizationType].name}}</span>
                        </div>
                    </div>

                    <md-card-content flex ng-show="virtualMachine.show">
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>Название машины</label>
                                <input readonly="" value='{{virtualMachine.name}}'></input>
                            </md-input-container>
                        </div>
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>Ядра</label>
                                <input readonly="" value='{{virtualMachine.coreCount}}'></input>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Память</label>
                                <input readonly="" value='{{virtualMachine.ramCount}}'></input>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Жесткий диск</label>
                                <input readonly="" value='{{virtualMachine.hardDriveSize}}'></input>
                            </md-input-container>
                        </div>
                    </md-card-content>

                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
            <dir-pagination-controls layout="row" layout-align="center"
                    boundary-links="true"
                    on-page-change="pageChangeHandler('machine', newPageNumber)"
                    template-url="content/pagination/dirPagination.tpl.html"
                    pagination-id="virtualMachinesId">
            </dir-pagination-controls>
        </md-card-content>
    </md-card>
</md-content>


<script type="text/ng-template" id="editUserFormOne.tmpl.html">
    <md-dialog aria-label="Редактирование пользователя">
        <form name="editForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Создание/Редактирование</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="../content/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content style="max-width:810px;max-height:810px; padding:23px">
                <div flex layout="column" ng-show="!changePasswordView">
                    <md-input-container flex ng-if="userEdit.id">
                        <label>id</label>
                        <input readonly="true" value="{{userEdit.id}}}" ng-model="userEdit.id">
                    </md-input-container>
                    <md-input-container flex>
                        <label>username</label>
                        <input ng-model="userEdit.userName" name="UserName" required>

                        <div ng-messages="editForm.UserName.$error" class="messages">
                            <div ng-message='required' ng-if="editForm.UserName.$dirty">Поле обязательное</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>email</label>
                        <input type="email" ng-model="userEdit.email" name="UserEmail" required>

                        <div ng-messages="editForm.UserEmail.$error" class="messages">
                            <div ng-message='required' ng-if="editForm.UserEmail.$dirty">Поле обязательное</div>
                            <div ng-message='email' ng-if="editForm.UserEmail.$dirty">Invalid email address.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Name</label>
                        <input ng-model="userEdit.name" name="Name">
                    </md-input-container>
                    <md-input-container flex>
                        <label>City</label>
                        <input ng-model="userEdit.city" name="City">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Areas</label>
                        <input ng-model="userEdit.areas" name="Areas">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Patronymic</label>
                        <input ng-model="userEdit.patronymic" name="Patronymic">
                    </md-input-container>
                    <md-input-container flex>
                        <label>UserType</label>
                        <md-select ng-model="userEdit.userType" placeholder="Выберите тип пользователя" name="UserType"
                                   required>
                            <md-option ng-value="opt.value" ng-repeat="opt in userType.arrayItems">{{opt.translate}}
                            </md-option>
                        </md-select>
                        <div ng-messages="userEdit.userType.$error" class="messages">
                            <div ng-message='required' ng-if="editForm.UserEmail.$dirty">Поле обязательное</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex ng-if="userEdit.userType == userType.JuridicalPerson">
                        <label>Компания</label>
                        <input ng-model='userEdit.companyName' name="companyName" required>
                        <div ng-messages="editForm.companyName.$error" class="messages">
                            <div ng-message='required' ng-if="editForm.companyName.$dirty">Поле обязательное</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex ng-if="userEdit.userType == userType.JuridicalPerson">
                        <label>ИНН</label>
                        <input ng-model='userEdit.inn' name="inn" required>
                        <div ng-messages="editForm.inn.$error" class="messages">
                            <div ng-message='required' ng-if="editForm.inn.$dirty">Поле обязательное</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex ng-if="userEdit.userType == userType.JuridicalPerson">
                        <label>КПП</label>
                        <input ng-model='userEdit.kpp' name="kpp" required>
                        <div ng-messages="editForm.kpp.$error" class="messages">
                            <div ng-message='required' ng-if="editForm.kpp.$dirty">Поле обязательное</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="25" ng-if="userEdit.userType == userType.JuridicalPerson">
                        <label>Юридический адрес</label>
                        <input ng-model='userEdit.juridicalAddress' name="juridicalAddress" required>
                        <div ng-messages="editForm.juridicalAddress.$error" class="messages">
                            <div ng-message='required' ng-if="editForm.juridicalAddress.$dirty">Поле обязательное</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="25" ng-if="userEdit.userType == userType.JuridicalPerson">
                        <label>Почтовый адрес</label>
                        <input ng-model='userEdit.mailAddress' name="mailAddress" required>
                        <div ng-messages="editForm.mailAddress.$error" class="messages">
                            <div ng-message='required' ng-if="editForm.mailAddress.$dirty">Поле обязательное</div>
                        </div>
                    </md-input-container>

                </div>
                <div ng-show="changePasswordView" flex>
                    <md-input-container flex>
                        <label for="UserPassword">password</label>
                        <input type="password" ng-model="userEdit.password" id="UserPassword" name="UserPassword"
                               required
                               maxlength="{{15}}"
                               ng-minlength="{{6}}"
                               required>

                        <div ng-messages="editForm.UserPassword.$error">
                            <div ng-message='required' ng-if="editForm.UserPassword.$dirty">Поле обязательное</div>
                            <div ng-message="maxlength">Пароль слишком длинный</div>
                            <div ng-message="minlength">Пароль слишком короткий</div>
                            <div ng-message="compareTo">Пароли должны совпадать</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label for="ConfirmPassword">confirmPassword</label>
                        <input type="password" ng-model="confirmPassword" id="ConfirmPassword" name="ConfirmPassword"
                               maxlength="{{15}}"
                               ng-minlength="{{6}}"
                               compare-to="userEdit.password"
                               required>

                        <div ng-messages="editForm.ConfirmPassword.$error">
                            <div ng-message="compareTo">Пароли должны совпадать</div>
                        </div>
                    </md-input-container>
                </div>
            </md-dialog-content>
            <div class="md-actions" layout="row">
                <md-button ng-click="passwordTrigger()" ng-if="userEdit.id">
                    <div ng-if="!changePasswordView">Изменить пароль</div>
                    <div ng-if="changePasswordView">Редактирование записи</div>
                </md-button>
                <md-button ng-click="cancel()">Отмена</md-button>
                <md-button ng-click="answer()"
                           ng-disabled="!(editForm.$valid || (editForm.$error.required.length == 2&&editForm.UserPassword.$error.required&&editForm.ConfirmPassword.$error.required&&!changePasswordView))"
                           style="margin-right:20px;">Применить
                </md-button>
            </div>
        </form>
    </md-dialog>
</script>
