<div class="base-content replenish-balance-form">
    <div class="navigation" flex layout="row">
        <a href="#">Главная</a>
    <span>
      - Пополнение баланса</span>
    </div>

    <div class="main-content">

        <div layout="row" class="header">Пополнение баланса</div>

        <div class="block-header">1. Введите реквизиты</div>

        <div flex layout="column" class="detail-block">
            <div layout="row" layout-align="start center" class="item">
                <div flex="20" class="text">Сумма пополнения</div>
                <div flex="10">
                    <input type="text" ng-model="vm.payment.cashAmount" numbers-only="true">
                </div>
            </div>
            <div layout="row" layout-align="start center" class="item">
                <div flex="20" class="text">Сумма с учетом бонусов</div>
                <div flex="10">
                    <input type="text" ng-model="vm.payment.cashAmount" numbers-only="true">
                </div>
            </div>
        </div>

        <div class="block-header">2. Выберите платёжную систему</div>

        <div layout="row" class="payment-system-block">
            <div class="item"
                 ng-class="{'selected-payment-system': paymentSystem.isSelected}"
                 ng-click="vm.selectPaymentSystem(paymentSystem)"
                 ng-repeat="paymentSystem in vm.paymentSystemList">
                <div flex class="image-div">
                    <img flex ng-src="{{vm.baseInfo.URL}}{{vm.baseInfo.PORT}}{{paymentSystem.imageFileDescriptor.path}}" alt="Payment System">
                </div>
            </div>
        </div>

        <div class="block-header">3. Проверьте данные и подтвердите платёж</div>

        <div layout="column" class="detail-block confirmation-block">
            <div layout="row" layout-align="start center" class="item">
                <div flex="20" class="text">Сумма пополнения :</div>
                <div flex="25">{{vm.payment.cashAmount}}</div>
            </div>
            <div layout="row" layout-align="start center" class="item">
                <div flex="20" class="text">Система платежей :</div>
                <div flex="25">{{vm.selectedPaymentSystem.name}}</div>
            </div>
            <div flex>
                <button class="btn-confirm"
                        ng-class="{'disabled-btn': !(vm.selectedPaymentSystem && vm.payment.cashAmount > 0)}"
                        ng-click="vm.replenishBalance()">Подтвердить</button>
            </div>
        </div>

    </div>
</div>

