.replenish-balance-form {
  min-height: 800px;

  .navigation {
    margin-left: -2px;
    padding-top: 20px;
    font-size: 13px;
    font-family: firaSansBook;

    span {
      color: #3f4549;
    }
  }

  .main-content {
    margin-top: 43px;
    font-family: firaSansMedium;
    color: #3f4549;

    .header {
      font-size: 27px;
    }

    .block-header {
      font-size: 20px;
      margin: 15px 0;
    }

    .detail-block {
      .item {
        margin: 5px 5px;
        .text {
          font-size: 16px;
        }

        input {
          font-size: 15px;
          color: #4d5d69;
          width: 102%;
          height: 100%;
          line-height: 28px;
          border-radius: 4px;
          border: 1px solid #8595a1;
          padding: 0 11px;
        }
      }
    }

    .payment-system-block {
      display: inline-table;

      .selected-payment-system {
        box-shadow: 0 0 8px 0 #66AD08;
      }

      .selected-payment-system:hover {
        box-shadow: 0 0 8px 0 #66AD08 !important;
      }

      .item {
        margin-right: 40px;
        margin-bottom: 10px;
        margin-top: 10px;
        display: inline-block;
        width: 135px;
        height: 135px;
        vertical-align: top;
        cursor: pointer;

        .image-div {
          width: 135px;
          height: 135px;
          overflow: hidden;
          cursor: pointer;
          border-radius: 5px;
          border: 1px solid transparent;
          border-bottom-color: #dae4e6;

          img {
            width: 100%;
          }
        }
      }

      .item:hover {
        box-shadow: 0 0 8px 0 #82d989;
      }
    }

    .confirmation-block {

      .btn-confirm{
        font-family: firaSansMedium;
        font-size: 16px;
        border-radius: 3px;
        box-shadow: inset 0px 1px 1px #ffffff;
        background-color: #66AD08;
        color: #fff;
        border: none;
        line-height: 29px;
        padding: 5px 20px;
        margin: 10px 0;
      }

      .disabled-btn {
        background-color: #fff;
        box-shadow: none;
        text-shadow: none;
        color: #609bca;
        border: 1px solid;
        cursor: default;
        pointer-events: none;
      }
    }

  }
}