<md-content class="md-padding page-content">
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="Vps" ui-sref="virtualMachinePayment.vps">
		</md-tab>
		<md-tab label="Cloud" ui-sref="virtualMachinePayment.cloud">
		</md-tab>
	</md-tabs>
	<div ui-view></div>
</md-content>
