$support-text-color: #3f4549;

.main-support-page {
  width: 1000px;
  margin: 0 auto;
  font-size: 13px;
  color: $support-text-color;

  .navigation {
    margin-left: -2px;
    padding-top: 20px;
    font-size: 13px;
    font-family: firaSansBook;

    span {
      color: #3f4549;
    }
  }

  .header-text {
    font-family: firaSansBook;
    font-size: 27px;
    color: $support-text-color;
    margin-top: 42px;
  }

  .left {
    max-width: 63%;
    padding-bottom: 50px;

    .under-header-div {
      background-color: #dce1e5;
      margin-top: 25px;
      border-radius: 4px;
      padding: 20px 7px 16px 21px;
      font-size: 13px;

      .subheader {
        font-family: firaSansMedium;
      }

      .subheader-text {
        font-family: firaSansRegular;
        margin-top: 1px;
      }

      .subheader-two {
        margin-top: 22px;
      }
    }

    .ask-question-header {
      font-family: firaSansBook;
      font-size: 27px;
      margin-top: 40px;
    }

    .main-block {
      background-color: #dce1e5;
      border-radius: 4px;
      padding: 23px 21px 6px 21px;
      margin-top: 16px;
      font-family: firaSansMedium;

      .item {
        margin-bottom: 16px;

        .error-message {
          text-align: right;
          font-size: 13px;
          font-family: firaSansRegular;
          color: #96324e;
          padding-top: 9px;
        }

        .text-input {
          height: 36px;
          width: 100%;
          border-radius: 4px;
          border: 1px solid #d6dee1;
          color: $support-text-color;
          padding: 0 15px;
        }

        .down {
          margin-top: 8px;
        }
      }

      .item-email {
        margin-left: 28px;
      }

      .input-question {
        min-height: 120px;
        padding-top: 5px !important;
      }

      .footer {
        padding-top: 3px;

        .item {
          border: 1px dashed #b2b8bd;
          padding-left: 12px;
          line-height: 14px;
          border-radius: 5px;
          padding-top: 11px;
          padding-bottom: 9px;

          .btn-attach {
            float: left;
            background-color: #b2b8bd;
            border-radius: 5px;
            color: #fff;
            font-family: firaSansMedium;
            font-size: 13px;
            white-space: nowrap;
            overflow: visible;
            border: 1px;

            em {
              vertical-align: middle;
              margin-left: -4px;
              margin-top: -2px;
              margin-right: 6px;
              display: inline-block;
              width: 15px;
              height: 15px;
              background: url(../../../../client/content/images/attach-image.png) no-repeat 100% 0;
              -webkit-background-size: cover;
              -moz-background-size: cover;
              background-size: cover;
              background-position: left top;
              background-size: 15px;

              font-size: 13px;
              font-family: "FiraSans";
              color: rgb(108, 126, 140);
              line-height: 1.154;
            }
          }

          .btn-attach:active {
            position: relative;
            top: -1px;
            left: -1px;
            box-shadow: 0 0 0px #b8c3cc;
          }

          .text {
            font-family: firaSansRegular;
            font-size: 13px;
            color: #858d94;
            margin-left: 28px;
          }

          .uploaded-files-div {
            font-family: firaSansRegular;
            font-size: 13px;
            color: #858d94;
            margin-top: 10px;

            div {
              padding: 2px 10px;
              border: 1px solid;
              border-radius: 4px;
              margin: 5px;
              float: left;
              max-width: 45%;
              overflow: hidden;

              span {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                display: inline-block;
                max-width: 80%;
              }

              img {
                cursor: pointer;
                margin-left: 5px;
                display: inline-block;
                margin-bottom: 2px;
              }
            }
          }
        }

        .btn-send {
          font-family: firaSansRegular;
          font-size: 18px;
          background-color: #619ccb;
          color: #fff;
          border-radius: 6px;
          border-width: 0px;
          margin: 3px 0 18px 40px;
          max-height: 50px;
        }
      }
    }
  }

  .right {
    padding-left: 10%;
    margin-top: 3%;

    .item {
      margin: 30px 0;

      .left-side {
        padding-right: 7px;

        .main-text {
          font-family: firaSansMediumItalic;
          font-size: 20px;
          color: #538ec4;
          text-decoration: underline;
          text-align: right;
          cursor: pointer;
        }

        .simple-text {
          font-family: firaSansRegular;
          font-size: 13px;
          color: #495965;
          text-align: right;
          margin-top: 8px;
        }
      }

      .circle-call-me {
        float: left;
        width: 45px;
        height: 45px;

        border-radius: 23px;
        border: 1px solid #495965;

        font-size: 15px;
        line-height: 45px;
        text-align: center;
        font-family: firaSansMedium;
        margin-left: 15px;
        margin-top: -5px;
        color: #495965;

        img {
          width: 50%;
          position: relative;
          top: 15%;
        }
      }
    }

    .item:first-child {
      margin-top: 7px;

      .circle-call-me {
        margin-top: 5px;
      }
    }
  }
}