<md-content class="md-padding page-content">

    <game-server game-server="vm.gameServer" single="true" show-edit-gs="vm.showEdit()"></game-server>

    <payment-game-server game-server-id="vm.gameServerId"></payment-game-server>

    <payment-task game-server-id="vm.gameServerId"></payment-task>

</md-content>