﻿<md-content class="md-padding page-content">
    <md-card if="phoneCalls.items.length" ng-repeat="phoneCall in phoneCalls.items" class="card-entity" ng-class="{'unread-message': !phoneCall.isRead}">
        <md-card-content>
            <h2 class="md-title">{{phoneCall.id}}</h2>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Номер телефона</label>
                    <input readonly="" value='{{phoneCall.phoneNumber}}'>
                </md-input-container>
                <md-input-container flex>
                    <label>Дата создания</label>
                    <input readonly="" value='{{phoneCall.creationDate| FormatToStandartDate}}'>
                </md-input-container>
                <md-input-container flex>
                    <label>Статус</label>
                    <input value="{{readType.arrayItems[+phoneCall.isRead].translate}}" name="isRead">
                </md-input-container>
            </div>
        </md-card-content>
        <div class="md-actions card-actions" layout="row" layout-align="end center">
            <md-button ng-if="!phoneCall.isRead" class="md-primary md-raised" ng-click="readCallRequest(phoneCall)">Прочитано</md-button>
        </div>
    </md-card>
</md-content>