﻿<md-content class="md-padding page-content">
    <md-card class="statistic-card">

        <md-card-content>
            <h3>Пользователи</h3>
            <ul class="statistic-list">
                <li><span>Количество пользователей: {{statistic.numberUsers}}</span></li>
                <li><span>Количество активных пользователей: {{statistic.numberActiveUsers}}</span></li>
            </ul>
        </md-card-content>
    </md-card>
    <md-card class="statistic-card">
        <md-card-content>
            <h3>Денежные средства</h3>
            <ul>
                <li><span>Сумму баланса пользователей: {{statistic.sumBalanceUsers}}</span></li>
                <li><span>Заработано за сегодня: {{statistic.earnedToday}}</span></li>
                <li><span>Потрачено пользователями на покупку: {{statistic.spentMoneyUsers}}</span></li>
                <li><span>Заработано за месяц: {{statistic.earnedMonth}}</span></li>
            </ul>
        </md-card-content>
    </md-card>
    <md-card class="statistic-card">
        <md-card-content>
            <h3>Виртуальные машины</h3>
            <ul>
                <li><span>Количество машин: {{statistic.numberMachine}}</span></li>
                <li><span>Количество работающих машин: {{statistic.numberRunningMachine}}</span></li>
                <li><span>Создано машин за сегодня: {{statistic.createdMachinesToday}}</span></li>
                <li><span>Создано машин за сегодня на сумму: {{statistic.createdMachinesTodayInAmount}}</span></li>
            </ul>
        </md-card-content>
    </md-card>
</md-content>
