﻿<md-card ng-repeat="OS in defaultOS" class="card-SCVM">
    <md-card-content>
        <div layout="row">
            <div flex="23">
                <div class="machineImage">
                    <img ng-src="{{BASE_INFO.URL}}{{BASE_INFO.PORT}}{{OS.imageSrc}}">
                </div>
            </div>
            <div flex layout="column" flex-offset="5">
                <div flex style="height: 0px;">
                    <h2 class="md-title">{{OS.name}}</h2>
                </div>
                <div flex>
                    <md-input-container flex="30" style="margin-top:26px;">
                        <label>Server Template Name</label>
                        <input class=" height: 70px;" readonly="" value='{{OS.serverTemplateName}}'></input>
                    </md-input-container>
                </div>
            </div>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>Минимальное количество ядер</label>
                <input value='{{OS.minCoreCount}}'>
            </md-input-container>
            <md-input-container flex>
                <label>Минимальное количество оперативной памяти</label>
                <input value='{{OS.minRamCount + " Мб"}}'>
            </md-input-container>
            <md-input-container flex>
                <label>Минимальный размер жесткого диска</label>
                <input value='{{OS.minHardDriveSize+ " Гб"}}'>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>Description</label>
                <textarea readonly="" columns="1">{{OS.description}}</textarea>
            </md-input-container>
            <md-input-container flex>
                <label>DefaultAdminPassword</label>
                <textarea readonly="" columns="1">{{OS.defaultAdminPassword}}</textarea>
            </md-input-container>
            <md-input-container flex>
                <label>Family</label>
                <input class="" readonly="" value='{{osSource.arrayItems[OS.family].name}}'></input>
            </md-input-container>
        </div>
    </md-card-content>
    <div class="md-actions card-actions" layout="row" layout-align="end center">
        <md-button class="md-primary md-raised" ng-click="showConfirm($index)">Удалить</md-button>
        <md-button class="md-primary md-raised" ng-click="showAdvanced($index)">Редактировать</md-button>
    </div>
</md-card>
<md-button aria-label="menu" class="md-fab md-warn btn-add-entity" ng-click="showAdvanced()">
    <md-tooltip>
        Добавить
    </md-tooltip>
    +
</md-button>

<script type="text/ng-template" id="NewOrEditOS.tmpl.html">
    <md-dialog aria-label="OS">
        <form name="OSForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Добавление / Редактирование</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="content/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content style="max-width:800px;max-height:820px; padding:23px;" layout="column">
                <md-input-container flex>
                    <label>Name</label>
                    <input ng-model="OS.name" name="Name" required>
                    <div ng-messages="OSForm.Name.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message"></div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Server Template Name</label>
                    <input ng-model="OS.serverTemplateName" name="serverTemplateName" required>
                    <div ng-messages="OSForm.serverTemplateName.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message"></div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Выберите тип ОС</label>
                    <md-select ng-model="OS.family" name="family" required>
                        <md-option ng-value="opt.value" ng-repeat="opt in osSource.arrayItems">{{ opt.name }}
                        </md-option>
                    </md-select>
                    <div ng-messages="OSForm.family.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message"></div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>DefaultAdminPassword</label>
                    <input ng-model="OS.defaultAdminPassword" name="defaultAdminPassword" required>
                    <div ng-messages="OSForm.defaultAdminPassword.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Необходимо пароль</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Description</label>
                    <textarea columns="1" ng-model="OS.description" name="description" required></textarea>
                    <div ng-messages="OSForm.description.$error" role="alert">
                        <div ng-message="required" class="my-message">Необходимо описание</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Минимальное количество ядер</label>
                    <input ng-model="OS.minCoreCount" name="CoreCount" required>
                    <div ng-messages="OSForm.CoreCount.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Необходимо мин ядер</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Минимальное количество оперативной памяти</label>
                    <input ng-model="OS.minRamCount" name="RamCount" required>
                    <div ng-messages="OSForm.RamCount.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Необходимо мин памяти</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Минимальный размер жесткого диска</label>
                    <input ng-model="OS.minHardDriveSize" name="HardDriveSize" required>
                    <div ng-messages="OSForm.HardDriveSize.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Необходимо мин жесткого</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                            accept="image/*" ngf-max-height="1000" ngf-max-size="1MB" ng-model="picFile">
                        Select Image File
                    </button>
                    <img ngf-src="picFile" class="pic-style">
                </md-input-container>
            </md-dialog-content>
            <div class="md-actions" layout="row">
                <md-button ng-click="cancel()">Отмена</md-button>
                <md-button ng-click="answer(OSForm)" style="margin-right:20px;">Применить</md-button>
            </div>
        </form>
    </md-dialog>
</script> 