<div layout="row" class="about-header">
    <div class="about-header-title" flex>
        Документы
    </div>
</div>
<div layout="column">


    <div class="ground-text">
        «Crytex» предоставляет свои услуги на основании публичного договора-оферты. Это значит, что для заключения
        договора вам не нужно его подписывать, достаточно лишь выразить свое согласие с условиями оферты, поставив
        соответствующую галочку при создании аккаунта. Вместе с тем, юридические лица могут заключить с «Crytex» и
        договор в письменном виде. Текст его идентичен тексту оферты — вам необходимо лишь ввести свои данные в
        контрольной панели. Договор поступит в ваше распоряжение в электронном виде; обменяться подписанными
        экземплярами можно по почте или в московском офисе «Crytex».
    </div>

    <div class="about-header about-header-margin" layout="row" layout-align="center center">
        <div class="about-header-title">
            Публичная оферта
        </div>
        <div class="subscription">
            <a href="">Скачать в .pdf</a>
        </div>
        <div flex layout-fill="">

        </div>
    </div>

    <div layout="column" class="document">

        <div ng-scrollbar class="scrollbar-body">
            <div class="scrollbar-padding">
                <div class="document-header">
                    Условия предоставления услуг хостинга на условиях предоплаты
                    (Договор-оферта для физических лиц, юридических лиц и ИП)

                </div>
                <div class="document-body">
                    Общество с ограниченной ответственностью «Авгуро Технолоджис», именуемое в дальнейшем «Исполнитель»,
                    в
                    лице Генерального директора Магдесиева Евгения Львовича, действующего на основании Устава, публикует
                    настоящие Условия, являющиеся публичной офертой (предложением) по оказанию услуг хостинга и иных
                    сопутствующих услуг.
                    <br/><br/>
                    /noindex
                    1. Общие положения
                    <br/><br/>
                    1.1. Настоящие Условия в соответствии со ст. 435, 437 Гражданского Кодекса РФ являются публичной
                    офертой
                    (предложением) Исполнителя в адрес физических лиц, юридических лиц и индивидуальных
                    предпринимателей,
                    содержащей существенные условия договора на оказание и использование Услуг.
                    <br/><br/>
                    1.2. Полным и безоговорочным акцептом настоящей оферты являются любые действия по выполнению
                    указанных в
                    данной оферте условий, в т. ч. регистрация в качестве Клиента Исполнителя, оплата Услуг любым
                    предусмотренным настоящей офертой способом, а также иные аналогичные действия, подтверждающие
                    намерения
                    лица пользоваться Услугами.
                    <br/><br/>
                    1.3. С момента совершения акцепта Клиент считается ознакомившимся и согласившимся с настоящей
                    офертой и
                    в соответствии с Гражданским Кодексом РФ считается вступившим с Исполнителем в договорные отношения
                    в
                    соответствии с настоящими Условиями.
                    Общество с ограниченной ответственностью «Авгуро Технолоджис», именуемое в дальнейшем «Исполнитель»,
                    в
                    лице Генерального директора Магдесиева Евгения Львовича, действующего на основании Устава, публикует
                    настоящие Условия, являющиеся публичной офертой (предложением) по оказанию услуг хостинга и иных
                    сопутствующих услуг.
                    <br/><br/>
                    /noindex
                    1. Общие положения
                    <br/><br/>
                    1.1. Настоящие Условия в соответствии со ст. 435, 437 Гражданского Кодекса РФ являются публичной
                    офертой
                    (предложением) Исполнителя в адрес физических лиц, юридических лиц и индивидуальных
                    предпринимателей,
                    содержащей существенные условия договора на оказание и использование Услуг.
                    <br/><br/>
                    1.2. Полным и безоговорочным акцептом настоящей оферты являются любые действия по выполнению
                    указанных в
                    данной оферте условий, в т. ч. регистрация в качестве Клиента Исполнителя, оплата Услуг любым
                    предусмотренным настоящей офертой способом, а также иные аналогичные действия, подтверждающие
                    намерения
                    лица пользоваться Услугами.
                    <br/><br/>
                    1.3. С момента совершения акцепта Клиент считается ознакомившимся и согласившимся с настоящей
                    офертой и
                    в соответствии с Гражданским Кодексом РФ считается вступившим с Исполнителем в договорные отношения
                    в
                    соответствии с настоящими Условиями.
                    <br/><br/>
                    1.1. Настоящие Условия в соответствии со ст. 435, 437 Гражданского Кодекса РФ являются публичной
                    офертой
                    (предложением) Исполнителя в адрес физических лиц, юридических лиц и индивидуальных
                    предпринимателей,
                    содержащей существенные условия договора на оказание и использование Услуг.
                    <br/><br/>
                    1.2. Полным и безоговорочным акцептом настоящей оферты являются любые действия по выполнению
                    указанных в
                    данной оферте условий, в т. ч. регистрация в качестве Клиента Исполнителя, оплата Услуг любым
                    предусмотренным настоящей офертой способом, а также иные аналогичные действия, подтверждающие
                    намерения
                    лица пользоваться Услугами.
                    <br/><br/>
                    1.3. С момента совершения акцепта Клиент считается ознакомившимся и согласившимся с настоящей
                    офертой и
                    в соответствии с Гражданским Кодексом РФ считается вступившим с Исполнителем в договорные отношения
                    в
                    соответствии с настоящими Условиями.
                    <br/><br/>
                    1.1. Настоящие Условия в соответствии со ст. 435, 437 Гражданского Кодекса РФ являются публичной
                    офертой
                    (предложением) Исполнителя в адрес физических лиц, юридических лиц и индивидуальных
                    предпринимателей,
                    содержащей существенные условия договора на оказание и использование Услуг.
                    <br/><br/>
                    1.2. Полным и безоговорочным акцептом настоящей оферты являются любые действия по выполнению
                    указанных в
                    данной оферте условий, в т. ч. регистрация в качестве Клиента Исполнителя, оплата Услуг любым
                    предусмотренным настоящей офертой способом, а также иные аналогичные действия, подтверждающие
                    намерения
                    лица пользоваться Услугами.
                    <br/><br/>
                    1.3. С момента совершения акцепта Клиент считается ознакомившимся и согласившимся с настоящей
                    офертой и
                    в соответствии с Гражданским Кодексом РФ считается вступившим с Исполнителем в договорные отношения
                    в
                    соответствии с настоящими Условиями.
                    <br/><br/>
                    1.1. Настоящие Условия в соответствии со ст. 435, 437 Гражданского Кодекса РФ являются публичной
                    офертой
                    (предложением) Исполнителя в адрес физических лиц, юридических лиц и индивидуальных
                    предпринимателей,
                    содержащей существенные условия договора на оказание и использование Услуг.
                    <br/><br/>
                    1.2. Полным и безоговорочным акцептом настоящей оферты являются любые действия по выполнению
                    указанных в
                    данной оферте условий, в т. ч. регистрация в качестве Клиента Исполнителя, оплата Услуг любым
                    предусмотренным настоящей офертой способом, а также иные аналогичные действия, подтверждающие
                    намерения
                    лица пользоваться Услугами.
                    <br/><br/>
                    1.3. С момента совершения акцепта Клиент считается ознакомившимся и согласившимся с настоящей
                    офертой и
                    в соответствии с Гражданским Кодексом РФ считается вступившим с Исполнителем в договорные отношения
                    в
                    соответствии с настоящими Условиями.
                    <br/><br/>
                    1.1. Настоящие Условия в соответствии со ст. 435, 437 Гражданского Кодекса РФ являются публичной
                    офертой
                    (предложением) Исполнителя в адрес физических лиц, юридических лиц и индивидуальных
                    предпринимателей,
                    содержащей существенные условия договора на оказание и использование Услуг.
                    <br/><br/>
                    1.2. Полным и безоговорочным акцептом настоящей оферты являются любые действия по выполнению
                    указанных в
                    данной оферте условий, в т. ч. регистрация в качестве Клиента Исполнителя, оплата Услуг любым
                    предусмотренным настоящей офертой способом, а также иные аналогичные действия, подтверждающие
                    намерения
                    лица пользоваться Услугами.
                    <br/><br/>
                    1.3. С момента совершения акцепта Клиент считается ознакомившимся и согласившимся с настоящей
                    офертой и
                    в соответствии с Гражданским Кодексом РФ считается вступившим с Исполнителем в договорные отношения
                    в
                    соответствии с настоящими Условиями.
                    <br/><br/>
                    1.1. Настоящие Условия в соответствии со ст. 435, 437 Гражданского Кодекса РФ являются публичной
                    офертой
                    (предложением) Исполнителя в адрес физических лиц, юридических лиц и индивидуальных
                    предпринимателей,
                    содержащей существенные условия договора на оказание и использование Услуг.
                    <br/><br/>
                    1.2. Полным и безоговорочным акцептом настоящей оферты являются любые действия по выполнению
                    указанных в
                    данной оферте условий, в т. ч. регистрация в качестве Клиента Исполнителя, оплата Услуг любым
                    предусмотренным настоящей офертой способом, а также иные аналогичные действия, подтверждающие
                    намерения
                    лица пользоваться Услугами.
                    <br/><br/>
                    1.3. С момента совершения акцепта Клиент считается ознакомившимся и согласившимся с настоящей
                    офертой и
                    в соответствии с Гражданским Кодексом РФ считается вступившим с Исполнителем в договорные отношения
                    в
                    соответствии с настоящими Условиями. <br/><br/>
                    1.1. Настоящие Условия в соответствии со ст. 435, 437 Гражданского Кодекса РФ являются публичной
                    офертой
                    (предложением) Исполнителя в адрес физических лиц, юридических лиц и индивидуальных
                    предпринимателей,
                    содержащей существенные условия договора на оказание и использование Услуг.
                    <br/><br/>
                    1.2. Полным и безоговорочным акцептом настоящей оферты являются любые действия по выполнению
                    указанных в
                    данной оферте условий, в т. ч. регистрация в качестве Клиента Исполнителя, оплата Услуг любым
                    предусмотренным настоящей офертой способом, а также иные аналогичные действия, подтверждающие
                    намерения
                    лица пользоваться Услугами.
                    <br/><br/>
                    1.3. С момента совершения акцепта Клиент считается ознакомившимся и согласившимся с настоящей
                    офертой и
                    в соответствии с Гражданским Кодексом РФ считается вступившим с Исполнителем в договорные отношения
                    в
                    соответствии с настоящими Условиями.
                    <br/><br/>
                    1.1. Настоящие Условия в соответствии со ст. 435, 437 Гражданского Кодекса РФ являются публичной
                    офертой
                    (предложением) Исполнителя в адрес физических лиц, юридических лиц и индивидуальных
                    предпринимателей,
                    содержащей существенные условия договора на оказание и использование Услуг.
                    <br/><br/>
                    1.2. Полным и безоговорочным акцептом настоящей оферты являются любые действия по выполнению
                    указанных в
                    данной оферте условий, в т. ч. регистрация в качестве Клиента Исполнителя, оплата Услуг любым
                    предусмотренным настоящей офертой способом, а также иные аналогичные действия, подтверждающие
                    намерения
                    лица пользоваться Услугами.
                    <br/><br/>
                    1.3. С момента совершения акцепта Клиент считается ознакомившимся и согласившимся с настоящей
                    офертой и
                    в соответствии с Гражданским Кодексом РФ считается вступившим с Исполнителем в договорные отношения
                    в
                    соответствии с настоящими Условиями.
                    <br/><br/>
                    1.3. С момента совершения акцепта Клиент считается ознакомившимся и согласившимся с настоящей
                    офертой и
                    в соответствии с Гражданским Кодексом РФ считается вступившим с Исполнителем в договорные отношения
                    в
                    соответствии с настоящими Условиями.

                    <br/><br/>
                    1.3. С момента совершения акцепта Клиент считается ознакомившимся и согласившимся с настоящей
                    офертой и
                    в соответствии с Гражданским Кодексом РФ считается вступившим с Исполнителем в договорные отношения
                    в
                    соответствии с настоящими Условиями.

                    <br/><br/>
                    1.3. С момента совершения акцепта Клиент считается ознакомившимся и согласившимся с настоящей
                    офертой и
                    в соответствии с Гражданским Кодексом РФ считается вступившим с Исполнителем в договорные отношения
                    в
                    соответствии с настоящими Условиями.
                    <br/><br/>
                    1.3. С момента совершения акцепта Клиент считается ознакомившимся и согласившимся с настоящей
                    офертой и
                    в соответствии с Гражданским Кодексом РФ считается вступившим с Исполнителем в договорные отношения
                    в
                    соответствии с настоящими Условиями.
                    соответствии с настоящими Условиями.
                    <br/><br/>
                    1.1. Настоящие Условия в соответствии со ст. 435, 437 Гражданского Кодекса РФ являются публичной
                    офертой
                    (предложением) Исполнителя в адрес физических лиц, юридических лиц и индивидуальных
                    предпринимателей,
                    содержащей существенные условия договора на оказание и использование Услуг.
                    <br/><br/>
                    1.2. Полным и безоговорочным акцептом настоящей оферты являются любые действия по выполнению
                    указанных в
                    данной оферте условий, в т. ч. регистрация в качестве Клиента Исполнителя, оплата Услуг любым
                    предусмотренным настоящей офертой способом, а также иные аналогичные действия, подтверждающие
                    намерения
                    лица пользоваться Услугами.
                    <br/><br/>
                    1.3. С момента совершения акцепта Клиент считается ознакомившимся и согласившимся с настоящей
                    офертой и
                    в соответствии с Гражданским Кодексом РФ считается вступившим с Исполнителем в договорные отношения
                    в
                    соответствии с настоящими Условиями.
                    <br/><br/>
                    1.3. С момента совершения акцепта Клиент считается ознакомившимся и согласившимся с настоящей
                    офертой и
                    в соответствии с Гражданским Кодексом РФ считается вступившим с Исполнителем в договорные отношения
                    в
                    соответствии с настоящими Условиями.

                    <br/><br/>
                    1.3. С момента совершения акцепта Клиент считается ознакомившимся и согласившимся с настоящей
                    офертой и
                    в соответствии с Гражданским Кодексом РФ считается вступившим с Исполнителем в договорные отношения
                    в
                    соответствии с настоящими Условиями.

                    <br/><br/>
                    1.3. С момента совершения акцепта Клиент считается ознакомившимся и согласившимся с настоящей
                    офертой и
                    в соответствии с Гражданским Кодексом РФ считается вступившим с Исполнителем в договорные отношения
                    в
                    соответствии с настоящими Условиями.
                    <br/><br/>
                    1.3. С момента совершения акцепта Клиент считается ознакомившимся и согласившимся с настоящей
                    офертой и
                    в соответствии с Гражданским Кодексом РФ считается вступившим с Исполнителем в договорные отношения
                    в
                    соответствии с настоящими Условиями.


                </div>
            </div>
        </div>
    </div>

</div>