.document {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(193, 201, 207);
  border-radius: 3px;
  background-color: rgb(250, 248, 248);
  padding-left: 15px;
  paddding-right: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  height: 510px;
  overflow: hidden;
}

.document-header {
  font-family: firaSansMedium;
  font-size: 18px;
  color: #3f4549;

}

.document-body {
  font-family: firaSansRegular;
  font-size: 14px;
  color: #3f4549;
}
.scrollbar-body{
  height: 470px;
}
.scrollbar-padding{
  padding-right: 50px;
}


.ngsb-wrap .ngsb-scrollbar .ngsb-track {

  background-color: rgb(214, 222, 227);

  width: 3px;

}

.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos .ngsb-thumb {

  background-color: rgb(84, 142, 196);

  width: 5px;

}

