<md-button ng-if="userId" class="md-primary md-raised subscription-widget-button" ng-click="showSubscriptionEdit()">Купить машину</md-button>
<md-button ng-if="!userId" aria-label="menu" class="md-fab md-warn btn-add-entity" ng-click="showSubscriptionEdit()">
    <md-tooltip>
        Добавить
    </md-tooltip>
    +
</md-button>
<script type="text/ng-template" id="addSubscriptionVmForm.tmpl.html">
    <md-dialog aria-label="Создание подписки">
        <form name="editForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Создание/Редактирование</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="../content/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content style="min-width:400px;max-width:810px;max-height:825px; padding:23px" layout="column">
                <select-user ng-hide="subscriptionVm.userId" flex="30" ng-model="user"></select-user>
                <md-input-container flex>
                    <label>Название машины</label>
                    <input ng-model="subscriptionVm.name">
                </md-input-container>
                <md-input-container flex>
                    <label>Тип виртуализации</label>
                    <md-select ng-model="subscriptionVm.virtualization" placeholder="Тип виртуализации" name="Virtualization"
                               required>
                        <md-option ng-value="opt.value" ng-repeat="opt in typeVirtualization.arrayItems">{{opt.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="editForm.Virtualization.$error" class="messages">
                        <div ng-message='required' ng-if="editForm.Virtualization.$dirty">Поле обязательное</div>
                    </div>
                </md-input-container>
                <div flex layout="row">
                    <md-input-container flex>
                        <label>Количество ядер</label>
                        <input ng-model="subscriptionVm.cpu" name="Cpu" required type="number">
                        <div ng-messages="editForm.Cpu.$error" class="messages">
                            <div ng-message='required' ng-if="editForm.Cpu.$dirty">Поле обязательное</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Оперативной памяти</label>
                        <input ng-model="subscriptionVm.ram" name="Ram" required type="number">
                        <div ng-messages="editForm.Ram.$error" class="messages">
                            <div ng-message='required' ng-if="editForm.Ram.$dirty">Поле обязательное</div>
                        </div>
                    </md-input-container>
                </div>
                <div flex layout="row">
                    <md-radio-group flex="30" ng-model="typeDisk">
                        <label>Тип диска</label>
                        <md-radio-button value="HDD" class="md-primary">HDD</md-radio-button>
                        <md-radio-button value="SSD">SSD</md-radio-button>
                    </md-radio-group>
                    <div flex ng-if="typeDisk == 'HDD'">
                        <md-input-container flex style="margin: 47px 0 0 0">
                            <label>Размер жесткого диска</label>
                            <input ng-model="subscriptionVm.hdd" name="Hdd" required type="number">
                            <div ng-messages="editForm.Hdd.$error" class="messages">
                                <div ng-message='required' ng-if="editForm.Hdd.$dirty">Поле обязательное</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex ng-if="typeDisk == 'SSD'">
                        <md-input-container style="margin: 47px 0 0 0">
                            <label>Размер жесткого диска</label>
                            <input ng-model="subscriptionVm.SSD" name="SSD" required type="number">
                            <div ng-messages="editForm.SSD.$error" class="messages">
                                <div ng-message='required' ng-if="editForm.SSD.$dirty">Поле обязательное</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <md-input-container>
                    <label>Операционная система</label>
                    <md-select ng-model="subscriptionVm.operatingSystemId" placeholder="Операционная система" name="OperatingSystem"
                               required>
                        <md-option ng-value="opt.id" ng-repeat="opt in operatingSystem">{{opt.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="editForm.OperatingSystem.$error" class="messages">
                        <div ng-message='required' ng-if="editForm.OperatingSystem.$dirty">Поле обязательное</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Тип машины</label>
                    <md-select ng-model="subscriptionVm.subscriptionType" placeholder="Тип машины" name="SubscriptionType"
                               required>
                        <md-option ng-value="opt.value" ng-repeat="opt in subscriptionType.arrayItems">{{opt.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="editForm.SubscriptionType.$error" class="messages">
                        <div ng-message='required' ng-if="editForm.SubscriptionType.$dirty">Поле обязательное</div>
                    </div>
                </md-input-container>
                <div flex ng-if="subscriptionVm.subscriptionType == subscriptionType.Fixed">
                    <md-input-container flex>
                        <label>Количество месяцев</label>
                        <input ng-model="subscriptionVm.subscriptionsMonthCount" name="SubscriptionsMonthCount" required type="number">
                        <div ng-messages="editForm.SubscriptionsMonthCount.$error" class="messages">
                            <div ng-message='required' ng-if="editForm.SubscriptionsMonthCount.$dirty">Поле обязательное</div>
                        </div>
                    </md-input-container>
                </div>
                <md-checkbox ng-if="subscriptionVm.subscriptionType == subscriptionType.Fixed" ng-model="subscriptionVm.autoProlongation">
                    Автопродление
                </md-checkbox>
            </md-dialog-content>
            <div class="md-actions" layout="row">
                <md-button ng-click="cancel()">Отмена</md-button>
                <md-button ng-click="answer()" ng-disabled="editForm.$invalid">Купить</md-button>
            </div>
        </form>
    </md-dialog>
</script>