<div flex class="server">


    <virtual-machine-short virtual-machine="vm.virtualMachine" control="vm.control=!vm.control"></virtual-machine-short>
    <div style="overflow: hidden ;   margin-top: -4px;">
        <div ng-if="vm.control" class="cloud-control">

            <div flex class="extension-info" layout="column">
                <div flex class="extension-menu">
                    <ul class="extension-menu-list">
                        <li ng-class="{'selected-item':vm.choosed('status')}" ng-click="vm.chooseMenu('status')">
                            Статус
                        </li>
                        <li ng-class="{'selected-item':vm.choosed('conf')}" ng-click="vm.chooseMenu('conf')">
                            Конфигурация
                        </li>

                        <li ng-class="{'selected-item':vm.choosed('backup')}" ng-click="vm.chooseMenu('backup')">
                            BuckUp
                        </li>
                        <li ng-class="{'selected-item':vm.choosed('snapshot')}" ng-click="vm.chooseMenu('snapshot')">
                            Snapshot
                        </li>
                        <li ng-class="{'selected-item':vm.choosed('task')}" ng-click="vm.chooseMenu('task')">
                            Задачи
                        </li>
                        <li ng-class="{'selected-item':vm.choosed('money')}" ng-click="vm.chooseMenu('money')">
                            Финансы
                        </li>
                        <li ng-class="{'selected-item':vm.choosed('settings')}" ng-click="vm.chooseMenu('settings')">
                            Настройки
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="height-100" ng-switch="vm.select">
                        <div ng-switch-when="status" class="height-100">
                            <vm-status class="height-100" virtual-machine="vm.virtualMachine" update-machine-status="vm.updateMachineStatus({subscription:subscription,status:status})"></vm-status>
                        </div>
                        <div ng-switch-when="conf" class="height-100">
                            <vm-config-cloud class="height-100" virtual-machine="vm.virtualMachine" update-machine-status="vm.updateMachineStatus({subscription:subscription,status:status})"></vm-config-cloud>
                        </div>
                        <div ng-switch-when="reinstall" class="height-100">
                            <vm-reinstall class="height-100" virtual-machine="vm.virtualMachine"></vm-reinstall>
                        </div>
                        <div ng-switch-when="backup" class="height-100">
                            <vm-backup class="height-100" virtual-machine="vm.virtualMachine" update-machine-backup-storing="vm.updateMachineBackupStoring({subscription:subscription,dailyBackupStorePeriodDays:dailyBackupStorePeriodDays})"></vm-backup>
                        </div>
                        <div ng-switch-when="task" class="height-100">
                            <vm-task class="height-100" virtual-machine="vm.virtualMachine"></vm-task>
                        </div>
                        <div ng-switch-when="money" class="height-100">
                            <vm-usage-payment class="height-100" virtual-machine="vm.virtualMachine"></vm-usage-payment>
                        </div>
                        <div ng-switch-when="settings" class="height-100">
                            <vm-usage-setting class="height-100" virtual-machine="vm.virtualMachine"
                                              update-machine-settings="vm.updateMachineSettings({subscription:subscription, conf:conf})">

                            </vm-usage-setting>
                        </div>
                        <div ng-switch-default class="height-100">
                            <vm-status class="height-100" virtual-machine="vm.virtualMachine"></vm-status>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>