<div flex class="cloud-hosting-page cloud-hosting-calculator-page">

    <div flex class="navigation">
        <a>Главная</a>
        <span> - </span><a>Услуги</a>
        <span> - </span><a>Облачный хостинг</a>
        <span> - VMware</span>
    </div>

    <div class="hosting-content" layout="row">

        <div class="left" flex="65">
            <div layout="row" class="header"><span> {{vm.vmOption.virtualization==vm.virtualizations.VmWare?"VMware. ":"HyperV. "}}</span> Калькулятор аренды сервера</div>

            <cloud-hosting-calculator layout="row" vm-option="vm.vmOption">

            </cloud-hosting-calculator>

            <div class="advantages" flex>
                <div class="main-advantage" layout="row">
                    <div flex="5" class="image-div">
                        <img flex src="client/content/images/crown.png" alt="Crown">
                    </div>
                    <div flex class="header-text">Преимущества облачных хостингов от Crytex</div>
                </div>
                <div flex="80" class="main-advantage-text">
                    Применение облачных технологий характеризуется массой преимуществ, но мы выделим 4 ключевых,
                    благодаря которым Вы сможете комфортно и безопасно работать в сети с любыми проектами:
                </div>

                <div class="advantage" layout="row">
                    <div flex="15" class="left">
                        <div flex class="circle-with-number">1</div>
                        <div flex class="image-div">
                            <img class="advantage-image" flex src="client/content/images/advantage-1.png"
                                 alt="Advantage-1">
                        </div>
                    </div>
                    <div flex="80" class="right">
                        Динамическая гибкость ресурсов. Здесь все просто: если потребности в выделяемых ресурсах растут,
                        вы увеличиваете их потребление. Изменение ресурсоемкости совершается в несколько кликов, без
                        необходимости выбирать другой тарифный план и согласовывать объем выделяемых мощностей с
                        хостером. Обычный shared-хостинг не отличается такой гибкостью.
                    </div>
                </div>

                <div class="advantage" layout="row">
                    <div flex="15" class="left">
                        <div class="circle-with-number">2</div>
                        <div class="image-div">
                            <img class="advantage-image" src="client/content/images/advantage-2.png" alt="Advantage-2">
                        </div>
                    </div>
                    <div flex="80" class="right">
                        Существенное сокращение расходов на запуск любого веб-проекта. Второе преимущество является
                        прямым следствием первого. Работая с облачным хостингом, вы платите лишь за ресурсы, которые
                        реально используете.
                    </div>
                </div>

                <div class="advantage" layout="row">
                    <div flex="15" class="left">
                        <div flex class="circle-with-number">3</div>
                        <div flex class="image-div">
                            <img class="advantage-image" flex src="client/content/images/advantage-3.png"
                                 alt="Advantage-3">
                        </div>
                    </div>
                    <div flex="80" class="right">
                        Создание полномасштабной сетевой инфраструктуры. Использование облачного хостинга предполагает
                        создание виртуальной сети, установку элементов многоуровневой защиты, регуляторов нагрузки,
                        работу сразу с несколькими серверами и т.д.
                    </div>
                </div>

                <div class="advantage" layout="row">
                    <div flex="15" class="left">
                        <div flex class="circle-with-number">4</div>
                        <div flex class="image-div">
                            <img class="advantage-image" flex src="client/content/images/advantage-4.png"
                                 alt="Advantage-4">
                        </div>
                    </div>
                    <div flex="80" class="right">
                        Отказоустойчивость. Даже если во время работы вышел из строя физический носитель с сервером, это
                        не станет причиной потери информации пользователя. Виртуальная система запустится на другом
                        носителе, и в течение всего 2-5 минут работоспособность веб-проекта будет полностью
                        восстановлена.
                    </div>
                </div>
            </div>
        </div>

        <div class="right" flex="35">
            <cloud-price  vm-option="vm.vmOption" vm-buy="vm.buy()"></cloud-price>
            <div flex class="under-form">
                <div flex class="pay-text">Платить удобно и безопасно!</div>
                <div flex class="cards-div">
                    <img flex src="client/content/images/icons/cards_full.png" alt="Cards">
                </div>
                <div flex class="under-card-text">
                    При единовременной оплате:<br/>
                    от <span>5 000 рублей</span> вы получаете бонус <span>10%</span><br/>
                    от <span>10 000 рублей</span> вы получаете бонус <span>20%</span>
                </div>
                <div flex class="phone">+7 916 332 78 98</div>
                <div flex class="under-phone-text">круглосуточно, без выходных</div>
            </div>
        </div>
    </div>
</div>