﻿
input.input-danger, input.input-danger:focus {
    border-color: #E9422E;
}

.divider{
    border-bottom: 1px solid rgba(0,0,0,0.12);;
    margin-bottom: 7px;
}
.divider:last-child{
    border-bottom: none;
    margin-bottom: 0px;
}