<div layout="row" class="about-header">
    <div class="about-header-title" flex>
        Лицензии и сертификаты
    </div>
</div>
<div layout="column">

    <div>

        <div class="ground-text">
            «Crytex» предоставляет свои услуги как физическим, так и юридическим лицам, среди которых немало бюджетных
            организаций. Почему нам доверяют? Дело в том, что в отличие от многих других хостинг-провайдеров, «Crytex» —
            реальная,
            а не виртуальная компания. Мы располагаемся в Москве и имеем все необходимые документы и лицензии в области
            оказания информационных услуг. Выбирая «Crytex», вы можете быть уверены в том, что вся работа будет
            полностью соответствовать законодательным нормам.
        </div>
    </div>
    <div layout="row" class="licenses">

        <div class="license" flex="20" layout="column" layout-align="center start">
            <div class="license-image" layout="row">
                <img src="client/content/images/about/license.png"/>
            </div>
            <div class="document-link-div">
                <a href="">Лицензия на телематические услуги связи</a>
            </div>
        </div>
        <div  class="license" flex="20" layout="column" layout-align="center start">
            <div class="license-image" layout="row">
                <img src="client/content/images/about/license.png"/>

            </div>
            <div class="document-link-div">
                <a href="">Лицензия на телематические услуги связи</a>
            </div>
        </div>
        <div  class="license" flex="20" layout="column" layout-align="center start">
            <div class="license-image" layout="row">
                <img src="client/content/images/about/license.png"/>

            </div>
            <div class="document-link-div">
                <a href="">Лицензия на телематические услуги связи</a>
            </div>
        </div>
        <div  class="license" flex="20" layout="column" layout-align="center start">
            <div class="license-image" layout="row">
                <img src="client/content/images/about/license.png"/>

            </div>
            <div class="document-link-div">
                <a href="">Лицензия на телематические услуги связи</a>
            </div>
        </div>
    </div>
</div>