.license-image{

    border-style: solid;
    border-width: 1px;
    border-color: rgb(132, 150, 163);
    border-radius: 3px;
    box-shadow: 0px 3px 3px 0px rgba(5, 6, 6, 0.14);




}

.licenses{
    font-size: 13px;
    font-family: firaSansItalic;
    margin-top: 40px;
    &:last-child
    {
        padding-right: 0px;
    }
    .license{
        //padding-right: 54px;
        margin-right: 65px;
    }
    .license:last-child{
        //padding-right: 54px;
        margin-right: 0px;
    }
    .document-link-div {
        width: 100%;
        margin-top: 15px;
    }
}