<md-button class="md-primary md-raised subscription-widget-button" ng-click="showConfigurationEdit()">Изменить машину</md-button>
<script type="text/ng-template" id="updateMachineConfiguration.tmpl.html">
    <md-dialog aria-label="Virtual Machines">
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Изменить параметры</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="../content/images/ic_close_24px.svg"
                                 aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content style="min-width:800px; max-width:1024px;max-height:810px;">
                <md-content class="md-padding">
                    <div>
                        <div layout="">
                            <div flex="10" layout="" layout-align="center center">
                                <span class="md-body-1">CPU</span>
                            </div>
                            <md-slider flex="75" class="md-primary" md-discrete="" ng-model="machine.cpu" step="1" min="{{operatingSystem.minCoreCount}}" max="16" aria-label="rating">
                            </md-slider>
                            <div  flex="10" layout layout-align="center center">
                                <span>{{machine.cpu}} ЦП</span>
                            </div>
                        </div>
                        <div layout="">
                            <div flex="10" layout="" layout-align="center center">
                                <span class="md-body-1">RAM</span>
                            </div>
                            <md-slider flex="75" class="md-primary" md-discrete="" ng-model="machine.ram" step="512" min="{{operatingSystem.minRamCount}}" max="16384" aria-label="rating">
                            </md-slider>
                            <div flex="10"  layout layout-align="center center">
                                <span>{{machine.ram}} Мб</span>
                            </div>
                        </div>
                        <div layout="">
                            <div flex="10" layout="" layout-align="center center">
                                <span class="md-body-1">HDD</span>
                            </div>
                            <md-slider flex="75" class="md-primary" md-discrete="" ng-model="machine.hdd" step="1" min="{{operatingSystem.minHardDriveSize}}" max="512" aria-label="rating">
                            </md-slider>
                            <div flex="10"  layout layout-align="center center">
                                <span>{{machine.hdd}} Гб</span>
                            </div>
                        </div>
                        <div layout="">
                            <div flex layout="" layout-align="center center">
                                <md-input-container>
                                    <label flex>Cколько дней хранить бекапы</label>
                                    <input ng-model="machine.backapingStoring" name="backapingStoring" required>
                                </md-input-container>
                            </div>

                        </div>

                    </div>
                </md-content>
            </md-dialog-content>
            <div class="md-actions" layout="row">
                <md-button ng-click="cancel()">Отмена</md-button>
                <md-button ng-click="answer()" style="margin-right:20px;">Изменить</md-button>
            </div>
        </form>
    </md-dialog>
</script>