<div flex class="server">

    <div flex class="main-info" layout="row">
        <div flex="75" layout="row" class="left">
            <div flex layout="column">
                <div flex layout="row">
                    <div flex="25" class="server-name">{{vm.gameServer.name}}</div>

                    <game-state state="vm.gameServer.serverState"></game-state>
                </div>
                <div flex layout="row" class="server-characteristics">
                    <div>{{vm.gameServer.IpAdresses!=undefined?vm.gameServer.IpAdresses.iPv4:"Ip не назначен"}},&nbsp;</div>

                    <div>{{vm.gameServer.slotCount}} Слотов,&nbsp;</div>
                </div>
            </div>
        </div>
        <div flex layout="row" class="right">
            <div flex="70" class="edit-link" ng-click="vm.control()">Управление</div>
            <div flex class="edit-image-div">
                <img class="edit-image" flex src="client/content/images/settings-icon.png" alt="Edit" ng-click="vm.control()">
            </div>
        </div>
    </div>

</div>
