<md-card>
    <md-card-content>
        <h1 class="md-padding">Задачи</h1>
        <div flex class="md-padding" ng-show="vm.processingTasks.length">
            <h4>В процессе</h4>
            <md-list class="task-border-list md-whiteframe-5dp">
                <md-list-item ng-repeat="task in vm.processingTasks"
                              ng-init="task.show = false"
                              ng-click="vm.visibleTask(task)">
                    <div ng-show="!task.show" flex layout="column" class="proccesingTask">
                        <div layout="row" flex>
                            <span class="bold">{{vm.TypeTask.arrayItems[task.typeTask].translate}}</span>
                            <div layout="row" flex layout-align="end center">
                                <span>Начата: {{task.createdAt | date:'dd.MM.yyyy hh:mm:ss'}}</span>
                            </div>
                        </div>
                        <md-progress-linear flex md-mode="indeterminate"></md-progress-linear>
                    </div>


                    <div ng-show="task.show" flex>
                        <md-card-content>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>ID</label>
                                    <input readonly="" value={{task.id}}></input>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>ResourceId</label>
                                    <input readonly="" value={{task.resourceId}}></input>
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>Type Task</label>
                                    <input readonly="" value={{vm.TypeTask.arrayItems[task.typeTask].translate}}></input>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Status Task</label>
                                    <input readonly="" value={{vm.StatusTask.arrayItems[task.statusTask].translate}}></input>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Resource Type</label>
                                    <input readonly="" value={{task.resourceType.name}}></input>
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>Created At</label>
                                    <input readonly="" value="{{task.createdAt | date:'dd.MM.yyyy hh:mm:ss'}}"></input>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Started At</label>
                                    <input readonly="" value="{{task.startedAt}}"></input>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Completed At</label>
                                    <input readonly="" value="{{task.completedAt}}"></input>
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>Options</label>
                                    <input readonly="" value="{{task.arrayOptions}}"></input>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Error Message</label>
                                    <input readonly="" value="{{task.errorMessage}}"></input>
                                </md-input-container>
                            </div>
                        </md-card-content>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </div>
        <div flex class="md-padding" ng-show="vm.completedTasks.length">
            <h4>Выполнены</h4>
            <md-list class="task-border-list md-whiteframe-5dp">
                <md-list-item dir-paginate="task in vm.completedTasks | itemsPerPage: vm.paginationSettingCompletedTasks.pageSize"
                              total-items="vm.completedTasks.totalRows"
                              current-page="vm.paginationSettingCompletedTasks.pageNumber"
                              pagination-id="tasksId"

                              ng-init="task.show = false"
                              ng-click="vm.visibleTask(task)">

                    <div layout="row" flex ng-show="!task.show">
                        <span class="bold">{{vm.TypeTask.arrayItems[task.typeTask].translate}}
                            <span class="taskOptions" ng-show="task.typeTask == vm.TypeTask.UpdateVm">
                                CPU:{{task.arrayOptions.Cpu}},
                                RAM:{{task.arrayOptions.Ram}},
                                HDD:{{task.arrayOptions.Hdd}}
                            </span>
                        </span>

                        <div layout="row" flex layout-align="end center">
                            <span>Выполнена: {{task.completedAt  | FormatToStandartDate}}</span>
                        </div>
                    </div>

                    <div ng-show="task.show" flex style="margin: 0; width:100%">
                        <md-card-content>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>ID</label>
                                    <input readonly="" value={{task.id}}></input>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>ResourceId</label>
                                    <input readonly="" value={{task.resourceId}}></input>
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>Type Task</label>
                                    <input readonly="" value={{vm.TypeTask.arrayItems[task.typeTask].translate}}></input>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Status Task</label>
                                    <input readonly="" value={{vm.StatusTask.arrayItems[task.statusTask].translate}}></input>
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>Created At</label>
                                    <input readonly="" value="{{task.createdAt | FormatToStandartDate}}"></input>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Started At</label>
                                    <input readonly="" value="{{task.startedAt | FormatToStandartDate}}"></input>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Completed At</label>
                                    <input readonly="" value="{{task.completedAt  | FormatToStandartDate}}"></input>
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                                <md-input-container flex ng-init="value = vm.updateTaskValue(task)">
                                    <label>Options</label>
                                    <input readonly="" value={{value}}></input>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Error Message</label>
                                    <input readonly="" value={{task.errorMessage}}></input>
                                </md-input-container>
                            </div>
                        </md-card-content>
                    </div>

                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
            <dir-pagination-controls
                    boundary-links="true"
                    on-page-change="vm.pageChangeHandler(newPageNumber)"
                    template-url="content/pagination/dirPagination.tpl.html"
                    pagination-id="tasksId">
            </dir-pagination-controls>
        </div>
    </md-card-content>
</md-card>