﻿<md-dialog aria-label="Sign In Modal Form" ng-controller="SignInController">
    <form name="formSignIn" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Вход</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" type="button">
                    <md-icon md-svg-src="content/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content      >
            <div class="md-dialog-content" layout="column">
                <md-input-container flex>
                    <label>Логин (email)</label>
                    <input ng-model="user.signInData.userName" required>
                </md-input-container>
                <md-input-container flex>
                    <label>Пароль</label>
                    <input type="password" ng-model="user.signInData.password" required>
                </md-input-container>
                <md-input-container flex>
                    <md-checkbox ng-model="user.signInData.useRefreshToken" class="remember-me md-primary"
                                 label="md-checkbox">Оставаться в системе
                    </md-checkbox>
                </md-input-container>
                <div layout="column" layout-fill>
                    <md-button class="md-raised md-primary" ng-click="signIn(formSignIn)">
                        <span>Войти</span>
                    </md-button>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>