.filter-window {
  padding: 5px;
  border: 1px solid #609bca;

  font-size: 16px;
  font-family: firaSansRegular;
  margin: 0 auto;
  margin-top: 5px;

  .text {
    margin: 0 5px;
    margin-left: 10px;
    text-align: center;
    padding-top: 10px;
  }
}

.two-parameters {
  md-datepicker {
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
}

.three-parameters {
  md-datepicker {
    margin: 0;
    padding: 0;
    background-color: transparent;

    .md-datepicker-input-container {
      margin-left: 0;
      input {
        min-width: 80px;
        width: 80px;
      }
    }

    button {
      margin: 0;
      padding: 0;
    }
  }

  .grouping-select {
    margin: 3px 3%;
    padding: 0;
    font-size: 15px;
  }
}