<div ng-if="vm.isShowGrouping" layout="row" class="filter-window three-parameters">
    <div flex="5" class="text">С: </div>
    <md-datepicker flex="25" md-ink-ripple="false"
                   md-placeholder="Дата"
                   ng-model="vm.searchParams.dateFrom"
                   md-max-date="vm.maxDate"
                   ng-change="vm.setCurrentTime()">
    </md-datepicker>
    <div flex="5" class="text">По: </div>
    <md-datepicker flex="25" md-ink-ripple="false"
                   md-placeholder="Дата"
                   ng-model="vm.searchParams.dateTo"
                   md-min-date="vm.searchParams.dateFrom"
                   md-max-date="vm.maxDate"
                   ng-change="vm.setCurrentTime()">
    </md-datepicker>
    <md-input-container class="grouping-select" flex="40">
        <label>Группировать по</label>
        <md-select ng-model="vm.searchParams.countingPeriodType">
            <md-option ng-repeat="type in vm.periods" value="{{type.value}}">
                {{type.translate}}
            </md-option>
        </md-select>
    </md-input-container>
</div>

<div layout="row" ng-if="!vm.isShowGrouping" class="filter-window two-parameters">
    <div flex="10" class="text">С: </div>
    <md-datepicker flex="40" md-ink-ripple="false"
                   md-placeholder="Дата"
                   ng-model="vm.searchParams.dateFrom"
                   md-max-date="vm.maxDate">
    </md-datepicker>
    <div flex="10" class="text">По: </div>
    <md-datepicker flex="40" md-ink-ripple="false"
                   md-placeholder="Дата"
                   ng-model="vm.searchParams.dateTo"
                   md-min-date="vm.searchParams.dateFrom"
                   md-max-date="vm.maxDate">
    </md-datepicker>
</div>