.help-tooltip-body {
  position: absolute;
  max-width: 210px;
  margin-left: 15px;

  .help-tooltip-form {
    background-color: #353c41;
    border-radius: 4px;
    border: 1px solid;
    padding: 7px 15px;

    .content {
      font-family: firaSansMedium;
      font-size: 13px;
      color: #e5ebef;
      line-height: 1.4;
    }

    span {
      position: absolute;
      left: -7px;
      top: 12px;
      width: 14px;
      height: 14px;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      border-right: 1px solid #353c41;
      border-top: 1px solid #353c41;
      background-color: #353c41;
    }
  }
}