<div class="auth-form register-form" style="    height: auto; ">
    <div class="btn-close">
        <img class="btn-close-image" src="client/content/images/btn-close.png" alt="Close" ng-click='vm.close()'/>
    </div>
    <div class="form-content">
        <form ng-submit="vm.register(form)" name="form">
            <div class="header-text">Создание аккаунта</div>

            <div class="main-text first-header">E-mail</div>
            <input type="email" class="form-input register-form-input" placeholder="Ваш e-mail" name="email" ng-model="vm.user.email" required/>

            <div class="error-text first-header"  ng-show="vm.submitted&&form.email.$error.required">Email обязателен</div>

            <div class="main-text second-header">Создайте пароль</div>
            <input ng-minlength="6" type="password" class="form-input password-text" placeholder="Создайте пароль" name="password" ng-model="vm.user.password" required/>

            <input type="password" class="form-input repeat-password-input" placeholder="Повторите пароль" name="confirmPassword"  ng-model="vm.user.confirmPassword" compare-to="vm.user.password" required/>

            <div class="error-text first-header"  ng-show="vm.submitted&&form.password.$error.required">Пароль обязателен</div>
            <div class="error-text first-header"  ng-show="vm.submitted&&form.confirmPassword.$error.compareTo">Пароли не совпадают</div>
            <div class="error-text first-header"  ng-show="vm.submitted&&form.password.$error.minlength">Короткий пароль</div>



            <button ladda="vm.regLoading" data-style="zoom-in" class="btn-form-action btn-register " ripple type="submit">Регистрация</button>

            <div ng-messages="form.$error">


                <div ng-messages-include="widgets/messages/error-messages.html"></div>
            </div>
            <div class="main-text have-accaunt-text" ng-click="vm.login()">Уже есть аккаунт?</div>
        </form>
    </div>
    <div class="form-footer" flex="" style="    height: auto; ">
        <div class="input-by-text" >Или войдите через:</div>
        <div class="login-by-div" style="padding-bottom: 22px">
            <img class="login-by-image" src="client/content/images/facebook.png" alt="Facebook" />
            <img class="login-by-image" src="client/content/images/twitter.png" alt="Twitter"/>
            <img class="login-by-image" src="client/content/images/google-plus.png" alt="GooglePlus"/>
            <img class="login-by-image" src="client/content/images/vk.png" alt="GooglePlus"/>
        </div>
    </div>
</div>