<md-card>
    <md-card-content>
        <div layout="row" flex>
            <div  flex="25">
                <h2 ng-show="!virtualMachine.show" class="link" ui-sref="subscriptionVirtualMachine({id:virtualMachine.id})">{{virtualMachine.name}}</h2>
                <h2 ng-show="virtualMachine.show" flex="25">{{virtualMachine.name}}</h2>
                <div class="machineImage" flex="25">
                    <img ng-src="{{BASE_INFO.URL}}{{BASE_INFO.PORT}}{{virtualMachine.userVm.osImageFilePath}}">
                </div>
            </div>
            <div layout="column" flex="75">
                <div flex="35">
                    <md-input-container>
                        <label>Память</label>
                        <input readonly="" value='{{virtualMachine.userVm.ramCount}} Мб'></input>
                    </md-input-container>
                    <md-input-container ng-hide="virtualMachine.userVm.pendingStatus">
                        <label>Состояние</label>
                        <input readonly="" value='{{statusVm.arrayItems[virtualMachine.userVm.status].translate}}'></input>
                    </md-input-container>
                    <md-input-container>
                        <label>Дата создания</label>
                        <input readonly="" value='{{virtualMachine.dateCreate | FormatToStandartDate}}' name="DateCreate">
                    </md-input-container>
                    <md-input-container ng-show="virtualMachine.subscriptionType == 1">
                        <label>Дата завершения</label>
                        <input readonly="" value='{{virtualMachine.dateEnd | FormatToStandartDate}}' name="DateEnd">
                    </md-input-container>
                </div>
                <div  flex="35">
                    <md-input-container>
                        <label>Жесткий диск</label>
                        <input readonly="" value='{{virtualMachine.userVm.hardDriveSize}} Гб'></input>
                    </md-input-container>
                    <md-input-container ng-show="!virtualMachine.show" class="link" ui-sref="usersSingle({id:virtualMachine.userId})">
                        <label>Создатель</label>
                        <input readonly="" value='{{virtualMachine.userName}}' name="userName">
                    </md-input-container>
                    <md-input-container ng-show="virtualMachine.show">
                        <label>Создатель</label>
                        <input readonly="" value='{{virtualMachine.userName}}' name="userName">
                    </md-input-container>
                    <md-input-container>
                        <label>Тип подписки</label>
                        <input readonly="" value='{{subscriptionType.arrayItems[virtualMachine.subscriptionType].translate}}' name="SubscriptionType">
                    </md-input-container>
                    <md-input-container ng-if="virtualMachine.subscriptionType == subscriptionType.Fixed">
                        <label>Автопродление</label>
                        <input readonly="" value='{{virtualMachine.autoProlongation ? "Включено" : "Отключено"}}' name="AutoProlongation">
                    </md-input-container>
                </div>
            </div>
        </div>
        <div class="md-actions card-actions" layout="row" layout-align="end center">
            <md-button ng-if="showEdit" class="md-primary md-raised" ng-click="vm.showEdit()">Редактировать</md-button>
            <subscription-prolongation-button ng-show="virtualMachine.subscriptionType == 1" success="vm.prolongateSuccess()" vm-id="virtualMachine.id" ng-if="vm.virtualMachine.subscriptionType == vm.subscriptionType.Fixed"></subscription-prolongation-button>
            <update-machine-status-button vm-id="virtualMachine.id" pending="virtualMachine.pending"></update-machine-status-button>
            <update-machine-configuration-button user-vm="virtualMachine.userVm"></update-machine-configuration-button>
            <md-button ng-if="showConfirm" class="md-raised md-warn" ng-click="vm.showConfirm()">Удалить</md-button>
        </div>
    </md-card-content>
</md-card>

<md-card ng-show="!virtualMachine.isShowButton && !virtualMachine.show">
        <md-card-content>
            <h1 class="md-padding">Расходы</h1>

            <md-card ng-if="usageSubscriptionPayments.items.length" flex>
                <md-card-content>
                    <div layout layout-sm="column">
                        <md-input-container flex="25">
                            <label>Группировать по</label>
                            <md-select ng-model="searchParams.periodType">
                                <md-option ng-repeat="type in periodType | filter:{isShow:true}" value="{{type.value}}">
                                    {{type.translate}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </md-card-content>
                <div class="md-actions card-actions" layout="row" layout-align="end center">
                    <md-button class="md-raised" ng-click="vm.clearSearchParams()">Сбросить</md-button>
                    <md-button class="md-raised" ng-click="vm.applyFilter()">Применить</md-button>
                </div>
            </md-card>

            <div class="md-padding" flex ng-if="subscriptionPayments.items.length">
                <md-list class="task-border-list md-whiteframe-5dp">
                    <md-list-item dir-paginate="subscriptionPayment in subscriptionPayments.items | itemsPerPage: subscriptionPayments.pageSize"
                                  total-items="subscriptionPayments.totalRows"
                                  current-page="subscriptionPayments.pageNumber"
                                  pagination-id="subscriptionPaymentId"
                                  ng-click="vm.visibleSubscriptionPayment(subscriptionPayment)">

                        <div layout="row" flex ng-show="!subscriptionPayment.show">
                            <span class="bold">Количество месяцев: {{subscriptionPayment.monthCount}}</span>
                            <div layout="row" flex layout-align="center">
                                <span class="bold">Сумма: {{subscriptionPayment.amount}}</span>
                            </div>
                            <div layout="row" flex layout-align="end center">
                                <span class="bold">Дата: {{subscriptionPayment.date | FormatToStandartDate}}</span>
                            </div>
                        </div>

                        <div class="width-100" ng-show="subscriptionPayment.show"
                             ng-include="'app/pages/money/virtualMachinePayment/vpsSingleTemplate/vpsSingle.template.html'">
                        </div>

                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </div>


            <div class="pagination-center" ng-if="subscriptionPayments.items.length">
                <dir-pagination-controls
                        boundary-links="true"
                        pagination-id="subscriptionPaymentId"
                        on-page-change="vm.pageChangeHandler('subscriptionPayment', newPageNumber)"
                        template-url="content/pagination/dirPagination.tpl.html">
                </dir-pagination-controls>
            </div>

            <div class="md-padding" flex ng-if="usageSubscriptionPayments.items.length">
                <md-list class="task-border-list md-whiteframe-5dp">
                    <md-list-item dir-paginate="usageVm in usageSubscriptionPayments.items | itemsPerPage: usageSubscriptionPayments.pageSize"
                                  total-items="usageSubscriptionPayments.totalRows"
                                  current-page="usageSubscriptionPayments.pageNumber"
                                  pagination-id="usageSubscriptionPaymentId"
                                  ng-click="vm.visibleUsageSubscriptionPayment(usageVm)">

                        <div class="width-100" ng-show="usageSubscriptionPayments.periodType">
                            <div layout="row" flex ng-show="!usageVm.show">
                                <div layout="row" flex>
                                    <span class="bold">Тип: {{usageSubscriptionPayments.periodType}}</span>
                                </div>
                                <div layout="row" flex layout-align="center">
                                    <span class="bold">Сумма: {{usageVm.totalAmount}}</span>
                                </div>
                                <div ng-show="usageVm.month" layout="row" flex layout-align="end">
                                    <span class="bold">Месяц: {{usageVm.month}}</span>
                                </div>
                                <div ng-show="!usageVm.month" layout="row" flex layout-align="end">
                                    <span class="bold">Дата: {{usageVm.date | FormatToStandartDate}}</span>
                                </div>
                            </div>

                            <div class="width-100" ng-show="usageVm.show"
                                 ng-include="'app/pages/money/virtualMachinePayment/cloudPaymentTemplate/cloudPayment.template.html'">
                            </div>

                            <md-divider ng-if="!$last"></md-divider>
                        </div>

                        <div class="width-100" ng-show="!usageSubscriptionPayments.periodType">
                            <div layout="row" flex ng-show="!usageVm.show">
                                <div layout="row" flex>
                                    <span class="bold">Сумма: {{usageVm.amount}}</span>
                                </div>
                                <div layout="row" flex layout-align="end">
                                    <span class="bold">Дата: {{usageVm.date | FormatToStandartDate}}</span>
                                </div>
                            </div>

                            <div class="width-100" ng-show="usageVm.show"
                                 ng-include="'app/pages/money/virtualMachinePayment/cloudPaymentTemplate/cloudPayment.template.html'">
                            </div>

                            <md-divider ng-if="!$last"></md-divider>
                        </div>
                    </md-list-item>
                </md-list>
            </div>


            <div class="pagination-center" ng-if="usageSubscriptionPayments.items.length">
                <dir-pagination-controls
                        boundary-links="true"
                        pagination-id="usageSubscriptionPaymentId"
                        on-page-change="vm.pageChangeHandler('usageSubscriptionPayment', newPageNumber)"
                        template-url="content/pagination/dirPagination.tpl.html">
                </dir-pagination-controls>
            </div>

        </md-card-content>
    </md-card>

<md-card ng-show="!virtualMachine.isShowButton && !virtualMachine.show">
        <md-tabs md-dynamic-height="" md-border-bottom="" md-selected="tabs.selectedIndex">
            <md-tab label="Задачи"></md-tab>
            <md-tab label="Бекапы"></md-tab>
            <md-tab label="Снепшоты"></md-tab>
        </md-tabs>
        <md-card-content>
            <ng-switch on="tabs.selectedIndex">
                <div ng-switch-when="0">
                    <div flex class="md-padding" ng-show="processingTasks.items.length">
                        <h4>В процессе</h4>
                        <md-list class="task-border-list md-whiteframe-5dp">
                            <md-list-item ng-repeat="task in processingTasks.items"
                                          ng-init="task.show = false"
                                          ng-click="vm.visibleTask(task)">

                                <div ng-show="!task.show" flex layout="column" class="proccesingTask">
                                    <div layout="row" flex>
                                        <span class="bold">{{typeTask.arrayItems[task.typeTask].translate}}</span>
                                        <div layout="row" flex layout-align="end center">
                                            <span>Начата: {{task.createdAt | date:'dd.MM.yyyy hh:mm:ss'}}</span>
                                        </div>
                                    </div>
                                    <md-progress-linear flex md-mode="indeterminate"></md-progress-linear>
                                </div>


                                <div ng-show="task.show" flex>
                                    <md-card-content>
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>ID</label>
                                                <input readonly="" value={{task.id}}></input>
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Type Task</label>
                                                <input readonly="" value={{typeTask.arrayItems[task.typeTask].translate}}></input>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Status Task</label>
                                                <input readonly="" value={{task.statusTask.name}}></input>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Resource Type</label>
                                                <input readonly="" value={{task.resourceType.name}}></input>
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Created At</label>
                                                <input readonly="" value="{{task.createdAt | date:'dd.MM.yyyy hh:mm:ss'}}"></input>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Started At</label>
                                                <input readonly="" value="{{task.startedAt}}"></input>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Completed At</label>
                                                <input readonly="" value="{{task.completedAt}}"></input>
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Options</label>
                                                <input readonly="" value="{{task.arrayOptions}}"></input>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Error Message</label>
                                                <input readonly="" value="{{task.errorMessage}}"></input>
                                            </md-input-container>
                                        </div>
                                    </md-card-content>
                                </div>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list>
                    </div>
                    <div flex class="md-padding" ng-show="completedTasks.items.length">
                        <h4>Выполнены</h4>
                        <md-list class="task-border-list md-whiteframe-5dp">
                            <md-list-item dir-paginate="task in completedTasks.items | itemsPerPage: completedTasks.pageSize"
                                          total-items="completedTasks.totalRows"
                                          current-page="completedTasks.pageNumber"
                                          pagination-id="tasks"

                                          ng-init="task.show = false"
                                          ng-click="vm.visibleTask(task)">

                                <div layout="row" flex ng-show="!task.show">
                                        <span class="bold">{{typeTask.arrayItems[task.typeTask].translate}}
                                            <span class="taskOptions" ng-show="task.typeTask == typeTask.UpdateVm">
                                                CPU:{{task.arrayOptions.Cpu}},
                                                RAM:{{task.arrayOptions.Ram}},
                                                HDD:{{task.arrayOptions.Hdd}}
                                            </span>
                                        </span>

                                    <div layout="row" flex layout-align="end center">
                                        <span>Выполнена: {{task.completedAt  | FormatToStandartDate}}</span>
                                    </div>
                                </div>

                                <div ng-show="task.show" flex style="margin: 0; width:100%">
                                    <md-card-content>
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>ID</label>
                                                <input readonly="" value={{task.id}}></input>
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Type Task</label>
                                                <input readonly="" value={{typeTask.arrayItems[task.typeTask].translate}}></input>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Status Task</label>
                                                <input readonly="" value={{task.statusTask.name}}></input>
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Created At</label>
                                                <input readonly="" value="{{task.createdAt | FormatToStandartDate}}"></input>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Started At</label>
                                                <input readonly="" value="{{task.startedAt | FormatToStandartDate}}"></input>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Completed At</label>
                                                <input readonly="" value="{{task.completedAt  | FormatToStandartDate}}"></input>
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex ng-init="value = vm.updateTaskValue(task)">
                                                <label>Options</label>
                                                <input readonly="" value={{value}}></input>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Error Message</label>
                                                <input readonly="" value={{task.errorMessage}}></input>
                                            </md-input-container>
                                        </div>
                                    </md-card-content>
                                </div>

                                <md-divider ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list>
                        <dir-pagination-controls
                                boundary-links="true"
                                on-page-change="vm.newPageChangeHandler('task', newPageNumber)"
                                template-url="content/pagination/dirPagination.tpl.html"
                                pagination-id="tasks">
                        </dir-pagination-controls>
                    </div>
                </div>
                <div ng-switch-when="1">
                    <md-content>
                        <md-list class="task-border-list md-whiteframe-5dp">
                            <md-list-item dir-paginate="backup in backupVms.items | itemsPerPage: backupVms.pageSize"
                                          total-items="backupVms.totalRows"
                                          current-page="backupVms.pageNumber"
                                          pagination-id="backups"
                            >

                                <div layout="row" flex>
                                    <span class="bold">{{backup.name}}</span>

                                    <div layout="row" flex layout-align="end center">
                                        <span>{{backup.dateCreated | FormatToStandartDate}}</span>
                                    </div>
                                </div>

                                <md-divider ng-if="!$last"></md-divider>

                            </md-list-item>
                        </md-list>

                        <dir-pagination-controls
                                boundary-links="true"
                                on-page-change="vm.newPageChangeHandler('backup', newPageNumber)"
                                template-url="content/pagination/dirPagination.tpl.html"
                                pagination-id="backups">
                        </dir-pagination-controls>
                    </md-content>
                </div>
                <div ng-switch-when="2">
                    <md-content>
                        <md-card dir-paginate="snapshot in snapshotVms.items | itemsPerPage: snapshotVms.pageSize"
                                 total-items="snapshotVms.totalRows"
                                 current-page="snapshotVms.pageNumber"
                                 pagination-id="snapshots"
                        >
                            <md-card-content>
                                <h2 class="md-title">{{snapshot.id}}</h2>
                                <div layout layout-sm="column">
                                    <md-input-container flex>
                                        <label>name</label>
                                        <input readonly="" value='{{snapshot.name}}'>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label>date</label>
                                        <input readonly="" value="{{snapshot.date | FormatToStandartDate}}">
                                    </md-input-container>
                                </div>
                            </md-card-content>
                        </md-card>
                        <dir-pagination-controls
                                boundary-links="true"
                                on-page-change="vm.newPageChangeHandler('snapshot', newPageNumber)"
                                template-url="content/pagination/dirPagination.tpl.html"
                                pagination-id="snapshots">
                        </dir-pagination-controls>
                    </md-content>
                </div>
            </ng-switch>
        </md-card-content>
    </md-card>



