<div flex class="personal-account-event-form">
    <div class="header">События</div>

    <div ng-class="{'task-list': vm.changePage || vm.taskList.items.length == vm.paginationSettings.pageSize }" >
        <div dir-paginate="taskV2 in vm.taskList.items |  itemsPerPage: vm.paginationSettings.pageSize"
             pagination-id="accountEvent"
             current-page="vm.paginationSettings.pageNumber"
             total-items="vm.taskList.totalRows"
             ng-show="vm.taskList.items.length">

            <div class="task-row crytex-display-3" layout="row">
                <div flex="15">{{taskV2.completedAt | date:'M.d.yyyy'}}</div>
                <div flex="45" class="type-task">{{vm.typeTask.arrayItems[taskV2.typeTask].translate}}</div>
                <div flex="40" class="type-task">{{taskV2.vmName}}</div>
            </div>
        </div>

        <div class="task-row" layout="row" ng-show="!vm.taskList.items.length && !vm.changePage">
            <div flex="15">{{vm.currentDate | date:'M.d.yyyy'}}</div>
            <div flex="85" class="type-task">Событий не найдено</div>

        </div>

    </div>

    <div layout="row" layout-align="center">
        <dir-pagination-controls
                pagination-id="accountEvent"
                boundary-links="true"
                on-page-change="vm.pageChangeHandler(newPageNumber)"
                template-url="content/pagination/dirPagination.tpl.html">
        </dir-pagination-controls>
    </div>
</div>