.personal-account-event-form {

  .header {
    font-size: 24px;
    font-family: firaSansMedium;
    margin: 0;
    margin-bottom: 10px;
  }

  .task-row {
    background-color: #f6f6f6;
    border: 1px solid #609bca;
    border-radius: 4px;
    margin: 10px 5px;
    padding: 15px;

    .type-task {
      border-left: 1px solid #609bca;
      padding-left: 25px;
    }
  }

  .ng-hide-remove {
    animation: 1.5s showTaskAnimate ease;
  }

  @keyframes showTaskAnimate {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .task-list {
    min-height: 295px;
  }
}