<md-card>
    <div class="md-padding">
        <div flex>
            Бонус при пополнении
        </div>

        <md-card-content layout="row">
            <div layout="column" flex>
                <div class="divider" flex layout="row"
                     ng-repeat="bonus in vm.bonuses"
                     ng-form="form_repeat"
                     ng-class="{'active':bonus.disable}">

                    <div flex="30" layout="row" layout-align="start center" ng-if="!bonus.edit">
                        <div flex><span>{{bonus.userReplenishmentSize}} </span></div>
                        <div flex><span>{{bonus.bonusSize}}%</span></div>
                    </div>

                    <div flex="40" layout="row" layout-align="start center" ng-if="bonus.edit">
                        <md-input-container flex>
                            <input type="number"
                                   name="count" style="width:100%;"
                                   ng-model="bonus.userReplenishmentSizeEdit"
                                   placeholder="Размер пополнения"
                                   ng-class="{ 'input-danger': bonus.try&&form_repeat.count.$invalid }"
                                   integer min="0" required>
                        </md-input-container>
                        <md-input-container flex>
                            <input type="number"
                                   name="size" style="width:100%;"
                                   ng-model="bonus.bonusSizeEdit"
                                   ng-class="{ 'input-danger': bonus.try&&form_repeat.size.$invalid }"
                                   placeholder="Процент" integer min="0" max="100" required>
                        </md-input-container>
                    </div>
                    <div flex layout="row" layout-align="center center">
                        <div ng-hide="bonus.edit">
                            <md-button class="md-raised md-primary" ng-click="vm.startEdit(bonus)">Изменить</md-button>
                            <md-button class="md-raised md-warn" ng-click="vm.removeBonus($index)">Удалить</md-button>
                        </div>
                        <div>
                            <md-button class="md-raised md-primary" ng-show="bonus.disable &&!bonus.edit" ng-click="vm.unBlockBonus(bonus)">Включить</md-button>
                            <md-button class="md-raised md-primary" ng-hide="bonus.disable||bonus.edit" ng-click="vm.blockBonus(bonus)">Выключить</md-button>
                        </div>
                        <div ng-show="bonus.edit">
                            <md-button class="md-raised md-primary" ng-click="vm.endEdit(bonus, form_repeat)">Принять</md-button>
                            <md-button class="md-raised md-warn" ng-click="vm.backEdit(bonus)">Отмена</md-button>
                        </div>
                    </div>
                </div>
            </div>
        </md-card-content>
        <div class="md-actions card-actions" layout="column" ng-form="form">
            <div flex layout="row">
                <md-input-container flex="30">
                    <label></label>
                    <input type="number" name="replenishmentSize" style="width:100%;"
                           ng-model="vm.newBonus.userReplenishmentSize"
                           name=""
                           placeholder="Размер пополнения"
                           ng-class="{ 'input-danger': vm.try&&form.count.$invalid }"
                           integer min="0" required>
                </md-input-container>
                <md-input-container flex="20">
                    <label></label>
                    <input type="number" name="size" style="width:100%;"
                           ng-model="vm.newBonus.bonusSize" name=""
                           ng-class="{ 'input-danger': vm.try&&form.size.$invalid }"
                           placeholder="Процент" integer min="0" required>
                </md-input-container>
                <div flex="20" layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" ng-click="vm.addBonus(form)">Добавить</md-button>
                </div>
            </div>
            <div flex>
                <p class="text-danger" ng-show="vm.try&&(form.replenishmentSize.$error.number||form.size.$error.number)">
                    Необходимо
                    число, без символов</p>

                <p class="text-danger" ng-show="vm.try&&(form.replenishmentSize.$error.min||form.size.$error.min)">Должно быть
                    больше нуля</p>

                <p class="text-danger" ng-show="vm.try&&(form.replenishmentSize.$error.required||form.size.$error.required)">
                    Обязательно</p>
            </div>
        </div>
    </div>
</md-card>
