<div class="about knowledgeBase">

    <div flex class="navigation">
        <a>Главная</a>
        <span> - База знаний</span>
    </div>

    <div class="main-content" layout="row">
        <div class="left" flex="65">
            <ui-view flex class="view-style"></ui-view>
        </div>

        <div flex="35" class="right">
            <div flex class="header-text">По категориям</div>

            <ul flex class="knowledge-menu">
                <li class="item"
                    ui-sref="knowledgeBase.generalQuestion"
                    ui-sref-active="selected-item">
                    Общие вопросы
                </li>

                <li class="item"
                    ui-sref="knowledgeBase.personalAccount"
                    ui-sref-active="selected-item">
                    Личный кабинет и биллинг
                </li>

                <li class="item"
                    ui-sref="knowledgeBase.SLA"
                    ui-sref-active="selected-item">
                    SLA
                </li>

                <li class="item"
                    ui-sref="knowledgeBase.controlPanel"
                    ui-sref-active="selected-item">
                    Инструкции по панели управления
                </li>

                <li class="item"
                    ui-sref="knowledgeBase.manageVirtualMachine"
                    ui-sref-active="selected-item">
                    Настройка и управление виртуальными машинами
                </li>

                <li class="item"
                    ui-sref="knowledgeBase.manageNet"
                    ui-sref-active="selected-item">
                    Настройка сети
                </li>

                <li class="item"
                    ui-sref="knowledgeBase.directoryTemplateUser"
                    ui-sref-active="selected-item">
                    Каталоги, шаблоны, пользователи
                </li>

                <li class="item"
                    ui-sref="knowledgeBase.techniqueQuestion"
                    ui-sref-active="selected-item">
                    Технические вопросы
                </li>
            </ul>

            <div flex class="header-text didnt-find-answer">Не нашли ответа?</div>

            <div flex class="simple-text">Вы можете задать вопрос через специальную форму</div>

            <button class="btn-ask-question btn-knowledge-base">
                <em class="btn-left-image"></em>
                Задать вопрос
            </button>
        </div>
    </div>

</div>