.knowledgeBase {
  color: #3f4549;

  .navigation {
    margin-left: -2px;
    padding-top: 20px;
    font-size: 13px;
    font-family: firaSansBook;

    span {
      color: #3f4549;
    }
  }

  .main-content {
    margin-top: 43px;
  }

  .left {
    min-width: 65%;
  }

  .right {
    padding-left: 12%;

    .header-text {
      font-family: firaSansMedium;
      font-size: 27px;
      margin-left: 15px;
    }

    .knowledge-menu {
      padding: 0;
      list-style: none;

      .item {
        font-family: firaSansMediumItalic;
        font-size: 14px;
        color: #548fc4;
        text-decoration: underline;
        cursor: pointer;
        margin: 20px 0;
        padding: 9px 18px;
        margin: 2px;
      }

      .selected-item {
        color: #4d5d69;
        border: 1px solid #bec4d2;
        border-radius: 25px;
        text-decoration: none;
      }
    }

    .didnt-find-answer {
      margin-top: 37px;
    }

    .simple-text {
      font-family: firaSansRegular;
      margin-top: 10px;
      margin-left: 15px;
      line-height: 1.2;
    }

    .btn-knowledge-base {
      float: left;
      margin: 15px;
    }
  }
}