<md-button class="md-primary md-raised subscription-widget-button" ng-click="vm.showUpdateSlotCountEdit()">Изменить сервер</md-button>

<script type="text/ng-template" id="updateSlotCountGameServer.tmpl.html">
    <md-dialog aria-label="Изменение сервера">
        <form name="editForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Изменение сервера</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="dialog.cancel()">
                        <md-icon md-svg-src="../content/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content style="min-width:400px;max-width:810px;max-height:825px; padding:23px" layout="column">
                <div flex>
                    <md-input-container flex>
                        <label>Количество слотов</label>
                        <input ng-model="dialog.editSubscriptionGs.slotCount" name="slotCount" ng-min="5" required type="number">
                        <div ng-messages="editForm.slotCount.$error" class="messages">
                            <div ng-message='required' ng-if="editForm.SubscriptionsMonthCount.$dirty">Поле обязательное</div>
                        </div>
                    </md-input-container>
                </div>
            </md-dialog-content>
            <div class="md-actions" layout="row">
                <md-button ng-click="dialog.cancel()">Отмена</md-button>
                <md-button ng-click="dialog.answer()" ng-disabled="editForm.$invalid">Изменить</md-button>
            </div>
        </form>
    </md-dialog>
</script>