﻿<md-content class="md-padding page-content">
    <md-card>
        <md-card-content>
            <md-input-container>
                <label>Логи</label>
                <md-select ng-model="logs.sourceLog" placeholder="Выберите тип Логов" ng-change="loadPage()">
                    <md-option ng-value="opt" ng-repeat="opt in typeSource">{{ opt }}</md-option>
                </md-select>
            </md-input-container>
            <div>
                <span>С</span>
                <md-datepicker ng-model="logs.dateFrom" md-placeholder="Введите дату"
                               ng-change="loadPage()">
                </md-datepicker>
                <span>числа</span>
            </div>
            <div>
                <span>По</span>
                <md-datepicker ng-model="logs.dateTo" md-placeholder="Введите дату"
                               ng-change="loadPage()">
                </md-datepicker>
                <span>число</span>
            </div>
        </md-card-content>
    </md-card>


    <md-card dir-paginate="log in logs.items | itemsPerPage: logs.pageSize"
         total-items="logs.totalRows"
         current-page="logs.pageNumber"
         pagination-id="logsPag"
     >
        <md-card-content>
            <div layout="row">
                <div flex>
                    <div layout="column">
                        <div flex>
                            <h2 class="md-title">{{'Сообщение'+log.id}}</h2>
                        </div>
                        <div flex>
                            <div layout="row">
                                <md-input-container class="margin-right-30">
                                    <label>Идентификатор пользователя</label>
                                    <input readonly="" value='{{log.userId}}'>
                                </md-input-container>
                                <md-input-container flex="30" class="margin-right-30">
                                    <label>Имя пользователя</label>
                                    <input readonly="" value='{{log.userName}}'>
                                </md-input-container>
                                <md-input-container flex="20">
                                    <label>Уровень</label>
                                    <input readonly="" value='{{log.level}}'>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div flex>
                    <div layout="row" class="left-log-data" flex layout-align="end center">
                        <md-input-container flex="25">
                            <label>Ресурс</label>
                            <input readonly="" value="{{log.source}}">
                        </md-input-container>
                        <md-input-container flex="35">
                            <label>Дата</label>
                            <input readonly="" value="{{log.date | FormatToStandartDate}}">
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div layout layout="row">
                <div layout="column" flex>
                    <div flex layout="row">
                        <md-input-container flex="90">
                            <label>Сообщение</label>
                            <textarea msd-elastic readonly="" ng-model="log.message"></textarea>
                        </md-input-container>
                    </div>

                    <div flex layout="row">
                        <md-input-container flex>
                            <label>stackTrace</label>
                            <textarea msd-elastic readonly="" ng-model="log.stackTrace"></textarea>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <dir-pagination-controls
            boundary-links="true"
            on-page-change="pageChangeHandler(newPageNumber)"
            template-url="content/pagination/dirPagination.tpl.html"
            pagination-id="logsPag">
    </dir-pagination-controls>
</md-content>
