<div flex class="game-servers-page">

    <div flex class="navigation">
        <a>Главная</a>
        <span> - </span><a>Услуги</a>
        <span> - </span><a>Игровые сервера</a>
    </div>

    <div flex class="header">Игровые сервера</div>

    <div flex class="games-content">
        <div flex="20" class="item"
             ng-click="vm.buyGame(game.id)"
             ng-repeat="game in vm.gameList.items">
            <div flex class="image-div">
                <img flex ng-src="{{vm.baseInfo.URL}}{{vm.baseInfo.PORT}}{{game.imageFileDescriptor.path}}" alt="Game">
            </div>
            <div flex class="game-name">{{game.name}}</div>
        </div>
    </div>

</div>