.game-servers-page {
  width: 1000px;
  margin: 0 auto;

  .navigation {
    margin-left: -2px;
    padding-top: 20px;
    font-size: 13px;
    font-family: firaSansBook;

    a {
      color: #548fc4;
      text-decoration: underline;
      cursor: pointer;
    }

    span {
      color: #3f4549;
    }
  }

  .header {
    font-family: firaSansMedium;
    font-size: 27px;
    color: #3f4549;
    margin-top: 42px;
  }

  .games-content {
    margin-top: 40px;
    margin-left: -7px;
    display: inline-table;

    .item {
      margin-right: 75px;
      margin-bottom: 45px;
      display: inline-block;
      width: 135px;
      vertical-align: top;

      .image-div {
        width: 135px;
        height: 135px;
        overflow: hidden;
        cursor: pointer;
        border-radius: 30px;
        border: 1px solid #b6babd;
        box-shadow: 0 4px 2px -2px #c2cbd1;

        img {
          width: 100%;
        }
      }

      .minecraft-div {
        overflow: visible;

        img {
          width: 113%;
        }
      }

      .game-name {
        font-family: firaSansMedium;
        font-size: 15px;
        color: #2677c0;
        text-decoration: underline;
        text-align: left;
        margin-top: 8px;
        padding-left: 3px;
        line-height: 1.4;
        word-wrap: break-word;
        cursor: pointer;
      }
    }

    .item:nth-child(5n) {
      margin-right: 0;
    }
  }

}