<div flex class="cloud-hosting-page">
	
	<div flex class="navigation">
		<a>Главная</a>
		<span> - </span><a>Услуги</a>
		<span> - </span><a>Облачный хостинг</a>
	</div>

	<div class="hosting-content" layout="row">
		
		<div class="left" flex="65">
			<div layout="row" class="header">Облачный хостинг</div>

			<div flex class="under-header-text">
				Одной из тенденций развития IT-инфраструктуры является постепенное снижение популярности обычных (shared) хостингов. Ограничение пропускной способности канала лишь в рамках выбранного тарифа, а также недостаточная гибкость настроек уже не устраивают пользователей, и они все чаще делают выбор в пользу облачных технологий.
			</div>

			<div class="manage-hosting" flex >
				<div layout="row" class="header-div">
					<div flex="5" class="image-div">
						<img flex src="client/content/images/manage-hosting-icon.png" alt="Manage hosting">
					</div>
					<div flex class="header-text">
						Управление хостингом и хранение файлов
					</div>
				</div>
				
				<div flex class="under-header-text">
					Для построения облачной виртуализации компания CRYTEX использует 2 самые популярные на сегодняшний день технологии:
				</div>

				<div class="virtualization" layout="row">
					<div flex="20" class="virtualization-div"
					 ui-sref="cloudHostingCalculator({virtualization:1})" layout="row" layout-align="center center">
						<span>vm</span>ware
					</div>
					<div flex="20" class="virtualization-div" layout="row" layout-align="center center"
						 ui-sref="cloudHostingCalculator({virtualization:0})" >
						<ul>
							<li >Microsoft</li>
							<li >Hyper-V</li>
						</ul>
					</div>
					<div flex="20" class="virtualization-div" layout="row" layout-align="center center">
						<span>KVM</span>
					</div>
					<div flex class="text" layout="column">
						<div>Прочесть об этом в</div>
						<div>Базе знаний</div>
					</div>
				</div>

				<div class="texts" layout="column">
					<div class="first" layout="row">
						Процесс управления облачным хостингом осуществляется из контрольной панели, позволяющей взаимодействовать с клиентами, создавать любое количество новых виртуальных систем, работать с билингом и решать многие другие задачи.
					</div>
					<div class="second" layout="row">
						Файлы пользователя хранятся в построенном на основе ПО Ceph, отказоустойчивом и распределенном хранилище. За корректное соединение виртуальных машин с сетью отвечают группы маршрутизаторов, обрабатывающие защитные элементы фаерволов, и позволяющие входить в частные и публичные сети.
					</div>
				</div>
			</div>

			<div class="advantages" flex>
				<div class="main-advantage" layout="row">
					<div flex="5" class="image-div">
						<img flex src="client/content/images/crown.png" alt="Crown">
					</div>
					<div flex class="header-text">Преимущества облачных хостингов от Crytex</div>
				</div>
				<div flex="80" class="main-advantage-text">
					Применение облачных технологий характеризуется массой преимуществ, но мы выделим 4 ключевых, благодаря которым Вы сможете комфортно и безопасно работать в сети с любыми проектами:
				</div>

				<div class="advantage" layout="row">
					<div flex="15" class="left">
						<div flex class="circle-with-number">1</div>
						<div flex class="image-div">
							<img class="advantage-image" flex src="client/content/images/advantage-1.png" alt="Advantage-1">
						</div>
					</div>
					<div flex="80" class="right">
						Динамическая гибкость ресурсов. Здесь все просто: если потребности в выделяемых ресурсах растут, вы увеличиваете их потребление. Изменение ресурсоемкости совершается в несколько кликов, без необходимости выбирать другой тарифный план и согласовывать объем выделяемых мощностей с хостером. Обычный shared-хостинг не отличается такой гибкостью.
					</div>
				</div>

				<div  class="advantage" layout="row">
					<div flex="15" class="left">
						<div class="circle-with-number">2</div>
						<div class="image-div">
							<img class="advantage-image" src="client/content/images/advantage-2.png" alt="Advantage-2">
						</div>
					</div>
					<div flex="80" class="right">
						Существенное сокращение расходов на запуск любого веб-проекта. Второе преимущество является прямым следствием первого. Работая с облачным хостингом, вы платите лишь за ресурсы, которые реально используете.
					</div>
				</div>

				<div  class="advantage" layout="row">
					<div flex="15" class="left">
						<div flex class="circle-with-number">3</div>
						<div flex class="image-div">
							<img class="advantage-image" flex src="client/content/images/advantage-3.png" alt="Advantage-3">
						</div>
					</div>
					<div flex="80" class="right">
						Создание полномасштабной сетевой инфраструктуры. Использование облачного хостинга предполагает создание виртуальной сети, установку элементов многоуровневой защиты, регуляторов нагрузки,  работу сразу с несколькими серверами и т.д.
					</div>
				</div>

				<div  class="advantage" layout="row">
					<div flex="15" class="left">
						<div flex class="circle-with-number">4</div>
						<div flex class="image-div">
							<img class="advantage-image" flex src="client/content/images/advantage-4.png" alt="Advantage-4">
						</div>
					</div>
					<div flex="80" class="right">
						Отказоустойчивость. Даже если во время работы вышел из строя физический носитель с сервером, это не станет причиной потери информации пользователя. Виртуальная система запустится на другом носителе, и в течение всего 2-5 минут работоспособность веб-проекта будет полностью восстановлена.
					</div>
				</div>
			</div>
		</div>

		<div flex class="right">
			<div flex class="form">
				<div flex class="header">Заинтересованы?</div>
				<div layout="row" class="our-phone-div">
					<div flex="25" class="phone-image-div">
						<img flex src="client/content/images/icons/call.png" alt="Call us!">
					</div>
					<div layout="column" class="text">
						<div flex class="our-phone-text">+7 916 332 78 98</div>
						<div flex class="our-schedule">круглосуточно, без выходных</div>
					</div>
				</div>
				<div flex class="text-under-our-phone">
					Свяжитесь с нашим консультантом по телефону и мы подберем для вас оптимальный тариф!
				</div>
				<div flex class="recall-you-text">Перезвонить вам?</div>
				<div flex class="user-phone" layout="row">
					<div flex="20" class="call-image-div">
						<img flex src="client/content/images/icons/phone.png" alt="Phone">
					</div>
					<input flex class="user-phone-template" ui-mask="+7 (999) 999 - 99 - 99" ng-model="vm.userPhone">
				</div>
				<button flex class="order-call-btn" ng-click="vm.orderCall()">Заказать звонок</button>
			</div>
			<div flex class="under-form">
				Выбор в пользу облачного хостинга позволит вам создать максимально эффективную IT-инфраструктуру, быстро и легко интегрировать новые проекты в уже имеющиеся бизнес-модели, оптимизировать бюджет.
			</div>
		</div>
	</div>
</div>