.cloud-hosting-page {
  width: 1000px;
  margin: 0 auto;

  .navigation {
    margin-left: -2px;
    padding-top: 20px;
    font-size: 13px;
    font-family: firaSansBook;

    a {
      color: #548fc4;
      text-decoration: underline;
      cursor: pointer;
    }

    span {
      color: #3f4549;
    }
  }

  .hosting-content {
    margin-top: 42px;
    padding-bottom: 50px;

    .left {
      .header {
        font-family: firaSansRegular;
        font-size: 27px;
        color: #3f4549;

        span {
          font-family: firaSansMedium;
        }
      }

      .under-header-text {
        font-family: firaSansRegular;
        font-size: 15px;
        color: #3f4549;
        background-color: #dce1e5;
        border-radius: 5px;
        border-width: 1px;
        margin-top: 27px;
        padding: 17px 25px 20px 19px;
        line-height: 1.4;
        max-width: 85%;
      }

      .manage-hosting {
        margin-top: 30px;

        .image-div {

          img {
            width: 100%;
          }
        }

        .header-text {
          padding-left: 10px;
          padding-top: 6px;
          font-family: firaSansRegular;
          font-size: 18px;
          color: #3f4549;
          margin: 0;
        }

        .under-header-text {
          font-family: firaSansRegular;
          font-size: 15px;
          color: #3f4549;
          margin: 0;
          padding: 0;
          margin-top: 8px;
          background-color: transparent;
          max-width: 80%;
        }



        .texts {
          font-family: firaSansRegular;
          font-size: 15px;
          color: #3f4549;
          margin-top: 25px;
          line-height: 1.4;
          max-width: 80%;

          .first {

          }

          .second {
            margin-top: 18px;

          }
        }
      }

      .advantages {
        margin-top: 20px;

        .main-advantage {

          .image-div {

            img {
              width: 100%;
            }
          }

          .header-text {
            font-family: firaSansRegular;
            font-size: 18px;
            color: #3f4549;
            padding-left: 11px;
            padding-top: 7px;
            margin: 0;
          }
        }

        .main-advantage-text {
          font-family: firaSansRegular;
          font-size: 15px;
          color: #3f4549;
          line-height: 1.4;
          margin-top: 18px;
          padding-bottom: 15px;
        }

        .advantage {
          margin-top: 25px;
          min-height: 85px;

          .left {
            position: relative;

            .circle-with-number {
              float: left;
              width: 26px;
              height: 26px;

              border-radius: 13px;
              border-style: solid;
              border-color: #495965;
              border-width: 1px;

              line-height: 26px;
              text-align: center;
              font-family: firaSansMedium;
              font-size: 13px;
              color: #fff;
              background-color: #4d5d69;
              position: relative;
              z-index: 10;
            }

            .image-div {
              float: left;
              width: 80px;
              height: 80px;

              border-radius: 40px;
              border-style: solid;
              border-color: #495965;
              border-width: 1px;
              background-color: #fcb859;
              position: absolute;
              top: 5%;
              left: 3%;

              img {
                width: 90%;
                padding-left: 5%;
                padding-top: 7%;
              }
            }
          }

          .right {
            margin: 0;
            background-color: transparent;
            border: none;
            max-width: 79%;
            position: relative;
            font-family: firaSansRegular;
            font-size: 13px;
            color: #3f4549;
            margin-top: 4px;
            line-height: 1.3;
          }
        }
      }
    }

    .right {
      height: 100%;

      .form {
        margin-left: 50px;
        margin-top: 58px;
        background-color: #fff;
        border: 1px solid #9fb4c1;
        border-radius: 4px;
        overflow: hidden;
        padding-bottom: 20px;

        .header {
          font-family: firaSansItalic;
          font-size: 21px;
          color: #3f4549;
          margin-top: 21px;
          padding-left: 26px;
        }

        .our-phone-div {
          border: 1px solid #3f4549;
          border-radius: 28px;
          line-height: 28px;
          margin: 17px 19px;

          .phone-image-div {
            padding-left: 18px;
            padding-top: 14px;

            img {
              width: 65%;
            }
          }

          .text {
            font-family: firaSansMediumItalic;
            font-size: 22px;
            color: #3f4549;

            .our-phone-text {
              padding-top: 6px;
            }

            .our-schedule {
              font-size: 12px;
              margin-top: -7px;
            }
          }
        }

        .text-under-our-phone {
          font-family: firaSansRegular;
          font-size: 14px;
          color: #3f4549;
          padding-left: 27px;
          line-height: 1.4;
          max-width: 92%;
        }

        .recall-you-text {
          font-family: firaSansItalic;
          font-size: 21px;
          color: #3f4549;
          padding-left: 26px;
          margin-top: 29px;
        }

        .user-phone {
          margin-top: 15px;
          margin-left: 26px;
          background-color: #e5ebef;
          border: 1px solid #d2d8dc;
          color: #7b8992;

          margin-right: 20px;
          line-height: 40px;
          border-radius: 20px;

          .call-image-div {

            img {
              width: 50%;
              padding-left: 10px;
              padding-top: 10px;
            }
          }

          .user-phone-template {
            font-family: firaSansRegular;
            font-size: 15px;
            width: 100%;
            background: none;
            border: none;
          }
        }

        .order-call-btn {
          margin-top: 25px;
          margin-left: 26px;
          padding: 0 35px;
          background-color: #5690c4;
          line-height: 40px;
          border-radius: 20px;
          border: none;
          border-bottom: 1px solid #3872b4;

          font-family: firaSansMedium;
          font-size: 15px;
          color: #fff;
        }
      }

      .calculator-form {
        padding-bottom: 0;
      }

      .under-form {
        font-family: firaSansItalic;
        font-size: 16px;
        color: #4d5d69;
        margin-left: 53px;
        margin-top: 30px;
        line-height: 1.4;
      }
    }
  }
}



.virtualization {
  margin-top: 25px;

  .choosed-type {
    background-color: #609bca;
    color: #fff !important;
    border: solid 1px transparent;
  }

  .virtualization-div {
    max-width: 22%;
    line-height: 26px;
    border-radius: 25px;
    border: 1px solid #4d5d69;
    border-width: 1px;
    margin-right: 15px;

    font-family: firaSansRegular;
    font-size: 25px;
    color: #3f4549;
    cursor: pointer;

    padding: 10px 35px;
    &:hover
    {
      background-color: #609bca;
      color: #fff ;
      border: 1px solid transparent;
    }
    span {
      font-family: firaSansMedium;
    }

  }

  .virtualization-div:nth-child(2) {



    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        line-height: 0.9;
        font-size: 18px;
      }

      li:nth-child(2) {
        font-size: 13px;
        padding-left: 13px;
      }
    }
  }

  .text {
    padding-top: 11px;
    line-height: 1.4;
    padding-left: 2px;
    font-family: firaSansMediumItalic;
    font-size: 13px;
    color: #959fa7;
  }

  .text div:nth-child(2) {
    color: #5590c5;
    text-decoration: underline;
    cursor: pointer;
  }
}