<div class="parameter" layout="row">
    <div flex="5" class="param-image-div">
        <img class="param-image" flex src="client/content/images/processor-icon.png" alt="Processor">
    </div>
    <div flex="15" class="param-name">Количество ядер</div>
    <div flex="60" class="param-slider">
        <slider first-text="1 ядро"
                second-text="12 ядер"
                third-text="24 ядра"
                ng-model="vm.sliderModel.coreCount">
        </slider>
    </div>
    <div flex="10" class="param-input">
        <input flex
               ng-change="vm.paramCountChange('core')"
               ng-model="vm.sliderModel.coreCountValue"
               ng-model-options='{ debounce: 1000 }'>
    </div>
    <div flex="10" class="param-total">
        {{vm.corePrice|money}} ₽/ч
    </div>
</div>

<div flex class="parameter" layout="row">
    <div flex="5" class="param-image-div">
        <img class="param-image" flex src="client/content/images/memory-icon.png" alt="Processor">
    </div>
    <div flex="15" class="param-name">Оперативная память</div>
    <div flex="60" class="param-slider">
        <slider first-text="512 Мб"
                second-text="32 Гб"
                third-text="64 Гб"
                ng-model="vm.sliderModel.ramCount">
        </slider>
    </div>
    <div flex="10" class="param-input">
        <input flex
               ng-model="vm.sliderModel.ramCountValue"
               ng-change="vm.paramCountChange('ram')"
               numbers-only="true"
               ng-model-options='{ debounce: 1000 }'>
    </div>
    <div flex="10" class="param-total">
        {{vm.ramPrice|money}} ₽/ч
    </div>
</div>
<div flex class="parameter" layout="row">
    <div flex="5" class="param-image-div">
        <img class="param-image" flex src="client/content/images/hdd-icon.png" alt="Processor">
    </div>
    <div flex="15" class="param-name">Дисковое пространство</div>
    <div flex="60" class="param-slider">
        <slider first-text="10 Гб"
                second-text="1000 Гб"
                third-text="2000 Гб"
                ng-model="vm.sliderModel.hddCount">
        </slider>
    </div>
    <div flex="10" class="param-input">
        <input flex
               ng-model="vm.sliderModel.hddCountValue"
               ng-change="vm.paramCountChange('hdd')"
               numbers-only="true"
               ng-model-options='{ debounce: 1000 }'>
    </div>
    <div flex="10" class="param-total">
        {{vm.hddPrice|money}} ₽/ч
    </div>
</div>
