<md-content>
	<md-card flex>
        <md-card-content>
            <h2 class="md-title ">Фильтры</h2>

            <div layout layout-sm="column">
                <select-user flex="40" ng-model="searchParam.user"></select-user>
                <md-input-container flex>
                    <label>Технология виртуализации</label>
                    <md-select ng-model="searchParam.virtualizationType">
                        <md-option ng-repeat="type in virtualizationType.arrayItems" value="{{type.value}}">
                            {{type.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <label>Операционная система</label>
                    <md-select ng-model="searchParam.operatingSystem">
                        <md-option ng-repeat="type in operatingSystems.arrayItems" value="{{type.value}}">
                            {{type.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-datepicker class="margin-top10" ng-model="searchParam.dateFrom"
                               md-placeholder="С " class="margin-top10">
                </md-datepicker>
                <md-datepicker class="margin-top10" ng-model="searchParam.dateTo"
                               md-min-date="searchParam.dateFrom"
                               md-placeholder="До" class="margin-top10">
                </md-datepicker>

            </div>
        </md-card-content>
        <div class="md-actions card-actions" layout="row" layout-align="end center">
            <md-button class="md-raised" ng-click="clearSearchParams()">Сбросить</md-button>
            <md-button class="md-raised" ng-click="applyFilter()">Применить</md-button>
        </div>
    </md-card>
	<md-card dir-paginate="subscriptionPayment in subscriptionPayments.items |  itemsPerPage: subscriptionPayments.pageSize"
            current-page="subscriptionPayments.currentPage"
            total-items="subscriptionPayments.totalRows"
            class="card-entity">    	
		    <div ng-include="'app/pages/money/virtualMachinePayment/vpsSingleTemplate/vpsSingle.template.html'"></div>
    </md-card>
    <div class="pagination-center">
        <dir-pagination-controls
                boundary-links="true"
                on-page-change="pageChangeHandler(newPageNumber)"
                template-url="content/pagination/dirPagination.tpl.html">
        </dir-pagination-controls>
    </div>
</md-content>