.config {
  padding: 15px;

    .prolongation-change {
      .top {
        color: #4d5d69;

        .text {
          font-family: firaSansMedium;
          font-size: 15px;
        }

        input {
          font-family: firaSansMedium;
          font-size: 15px;
          padding: 5px;
          border-radius: 4px;
          border: 1px solid #8595a1;
          width: 50px;
          margin: 0 15px;
        }
      }

      .footer {
        margin-top: 15px !important;

        .btn-div {
          margin: 0 !important;
          padding: 0 !important;

          .primary-button {

          }
        }
      }
    }

    .total-price {
      max-width: 27%;
    }

    .btn-div {
      padding-left: 18px !important;

      .primary-button {
        width: 120px;
      }
    }
}