<div class="config padding-15">
    <div class="header">Конфигурация</div>

    <div ng-if="!vm.updating">
        <div layout="row">
            <div class="subheader-div" flex="">
                <div class="subheader">Параметры</div>
                <div layout="row" class="item">
                    <div flex="25">CPU:</div>
                    <div flex class="value">{{vm.virtualMachine.userVm.coreCount}}</div>
                </div>
                <div layout="row" class="item">
                    <div flex="25">RAM:</div>
                    <div flex class="value">{{vm.virtualMachine.userVm.ramCount}}MB</div>
                </div>
                <div layout="row" class="item">
                    <div flex="25">Hdd:</div>
                    <div flex class="value">{{vm.virtualMachine.userVm.hardDriveSize}}Gb</div>
                </div>
            </div>
            <div class="subheader-div" flex>
                <div class="subheader">Стоимость</div>
                <div layout="row" class="item">
                    <div flex="25">В час:</div>
                    <div flex class="value">{{vm.currentPriceVm.priceHourly.Sum|money}}Р</div>
                </div>
                <div layout="row" class="item">
                    <div flex="25">За день:</div>
                    <div flex class="value">{{vm.currentPriceVm.priceDay.Sum|money}}Р</div>
                </div>
                <div layout="row" class="item">
                    <div flex="25">За месяц:</div>
                    <div flex class="value">{{vm.currentPriceVm.priceMonth.Sum|money}}Р</div>
                </div>
            </div>

        </div>

        <div flex layout="row" layout-align="center center">

            <div flex class="btn-div">
                <button flex class="primary-button" ng-click="vm.startUpdate()"  ng-class="{'disabled-btn': vm.virtualMachine.userVm.status==vm.status.UpdatingConf}" >Изменить</button>
            </div>
        </div>
    </div>


    <div ng-if="vm.updating">
        <cloud-param-sliders vm-option="vm.vmOption"></cloud-param-sliders>

        <div flex class="footer" layout="row" layout-align="start center">
            <div flex="20" class="btn-div">
                <button flex class="primary-button" ng-click="vm.updating = false">Назад</button>
            </div>
            <div flex="30" class="total-price">Сейчас: {{vm.currentPriceVm.priceHourly.Sum|money}} ₽/час</div>
            <div flex="30" class="total-price">Новая: {{vm.newPriceVm.priceHourly.Sum|money}} ₽/час</div>
            <div flex="20" class="btn-div">
                <button flex class="primary-button"
                        ng-click="vm.modify()"
                        ng-class="{'disabled-btn': !vm.wasChanges}">
                    Применить
                </button>
            </div>
        </div>
    </div>
</div>