.web-hosting-page {
  width: 1000px;
  margin: 0 auto;

  .navigation {
    margin-left: -2px;
    padding-top: 20px;
    font-size: 13px;
    font-family: firaSansBook;

    a {
      color: #548fc4;
      text-decoration: underline;
      cursor: pointer;
    }

    span {
      color: #3f4549;
    }
  }

  .hosting-content {
    margin-top: 42px;
    padding-bottom: 50px;

    .left {
      overflow: hidden;

      .header {
        font-family: firaSansRegular;
        font-size: 27px;
        color: #3f4549;
        margin-top: 5px;
      }

      .under-header-text {
        font-family: firaSansRegular;
        font-size: 15px;
        color: #3f4549;
        line-height: 1.4;
        max-width: 85%;
        margin-top: 24px;
      }

      .tariff-plan-header {
        margin-top: 40px;
      }

      .tariff-table {
        text-align: center;
        margin-top: 30px;

        .column {
          font-family: firaSansRegular;
          font-size: 15px;
          color: #3f4549;
          height:100%;

          div {
            padding: 15px 0;
            border-bottom: 1px dashed #919191;
            border-right: 1px dashed #d4d9dc;
          }

          div:nth-child(6) {
            border: none;
          }

          div:last-child {
            border: none;
          }
        }

        .tariff-column {

          .tariff-name-div {
            padding: 12px 0;

            .tariff-name {
              font-family: firaSansBold;
              font-size: 13px;
              color: #fff;
              background-color: #5d8cae;
              border-radius: 4px;
              padding: 4px 0;
              width:80%;
              margin: 0 auto;
              text-transform: uppercase;
            }
          }

          .btn-order {
            width: auto;

            background-color: #4b85bf;
            border: none;
            border-radius: 15px;
            border-bottom: 1px solid #6cacd3;

            font-family: firaSansMedium;
            font-size: 13px;
            color: #fff;

            margin-top: 4px;
            padding: 8px 20px;
          }

          .infinity-sign-div {
            padding: 13.8px 0;

            .infinity-sign {
              font-family: firaSansMedium;
              font-size: 17px;
              color: #8db61f;
              padding: 1px 0;
            }
          }

          .economy-text-div {
            padding: 0;
            padding-bottom: 15px;

            .economy-text {
              font-family: firaSansMediumItalic;
              font-size: 12px;
              padding: 0;
              width: 70%;
              margin: 0 auto;
            }
          }
        }

        .gold-tariff-column {

          .tariff-name-div{
            .tariff-name {
              background-color: #ef7419;
            }
          }

          .btn-order {
            background-color: #ef7419;
            border-radius: 15px;
            border-bottom: 1px solid #e9470c;
          }
        }

        .fisrt-column {
          text-align: left;

          div {
            border-right: 1px dashed #919191;
          }


          div:nth-child(6) {
            border-right: 1px dashed #919191;
          }

          span {
            padding-left: 10px;
          }

          .tariff-name {
            font-family: firaSansMedium;
            font-size: 15px;
            color: #5d8cae;
          }
        }

        .last-colum {
          div {
            border-right: none;
          }
        }

        .selected-column {
          border: 1px solid #c4d1da;
          border-radius: 5px;
          box-shadow: 0px 0px 5px #c4d1da;

          div {
            border-color: #d3d8dc;
          }
        }
      }

      .are-you-sure {
        background-color: #dfe6ea;
        border: 1px dashed #b4c8d6;
        border-radius: 4px;
        margin-top: 35px;
        padding-bottom: 40px;
        padding-left: 5%;

        .header {
          font-family: firaSansMedium;
          font-size: 27px;
          color: #3f4549;
          margin-top: 31px;
        }

        .undex-header-text {
          font-family: firaSansRegular;
          font-size: 15px;
          color: #3f4549;
          margin-top: 20px;
          line-height: 1.4;
        }

        .site-div {
          margin-top: 20px;
          line-height: 32px;

          .http-text {
            font-family: firaSansMedium;
            font-size: 13px;
            color: #75818a;
            background-color: #e5ebef;
            border: 1px solid #a2bccd;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            padding-left: 13px;
            max-width: 13%;
          }

          .http-url {
            max-width: 57%;

            input {
              width: 95%;
              padding: 8px 10px;
              border: 1px solid #a2bccd;
              border-left: none;
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
            }
          }

          .btn-pick-up {
            font-family: firaSansMedium;
            font-size: 13px;
            color: #fff;
            background-color: #528cc2;
            border-radius: 4px;
            border: 1px solid #5185af;
            margin-left: 15px;
            max-width:21%;
            box-shadow: inset 0px 1px 1px #6cacd3;
          }
        }
      }

      .optimized-for {
        margin-top: 17px;

        .header {
          font-family: firaSansMedium;
          font-size: 27px;
          color: #3f4549;
        }

        ul {
          list-style: none;
          padding: 0;

          li {
            display: inline;
            margin: 0 10px;
          }

          li:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .right {
      height: 100%;

      .form {
        margin-left: 50px;
        margin-top: 58px;
        background-color: #fff;
        border: 1px solid #9fb4c1;
        border-radius: 4px;
        overflow: hidden;
        height: 100%;
        padding-bottom: 25px;

        .header {
          font-family: firaSansItalic;
          font-size: 21px;
          color: #3f4549;
          margin-top: 21px;
          padding-left: 26px;
        }

        .our-phone-div {
          border: 1px solid #3f4549;
          border-radius: 28px;
          line-height: 28px;
          margin: 17px 19px;

          .phone-image-div {
            padding-left: 18px;
            padding-top: 14px;

            img {
              width: 65%;
            }
          }

          .text {
            font-family: firaSansMediumItalic;
            font-size: 22px;
            color: #3f4549;

            .our-phone-text {
              padding-top: 6px;
            }

            .our-schedule {
              font-size: 12px;
              margin-top: -7px;
            }
          }
        }

        .text-under-our-phone {
          font-family: firaSansRegular;
          font-size: 14px;
          color: #3f4549;
          padding-left: 27px;
          line-height: 1.4;
          max-width: 92%;
        }

        .recall-you-text {
          font-family: firaSansItalic;
          font-size: 21px;
          color: #3f4549;
          padding-left: 26px;
          margin-top: 29px;
        }

        .user-phone {
          margin-top:15px;
          margin-left: 26px;
          background-color: #e5ebef;
          border: 1px solid #d2d8dc;
          color: #7b8992;

          margin-right: 20px;
          line-height: 40px;
          border-radius: 20px;

          .call-image-div {

            img {
              width: 50%;
              padding-left: 10px;
              padding-top: 10px;
            }
          }

          .user-phone-template {
            font-family: firaSansRegular;
            font-size: 15px;
            width: 100%;
            background: none;
            border: none;
          }
        }

        .order-call-btn {
          margin-top: 25px;
          margin-left: 26px;
          padding: 0 35px;
          background-color: #5690c4;
          line-height: 40px;
          border-radius: 20px;
          border: none;
          border-bottom: 1px solid #3872b4;

          font-family: firaSansMedium;
          font-size: 15px;
          color: #fff;
        }
      }
    }
  }
}