<div flex class="web-hosting-page">

    <div flex class="navigation">
        <a>Главная</a>
        <span> - </span><a>Услуги</a>
        <span> - </span><a>Веб-хостинг</a>
    </div>

    <div class="hosting-content" layout="row">

        <div flex="65" class="left">
            <div layout="row" class="header">Веб-хостинг</div>

            <div layout="row" class="under-header-text">
                Процесс управления облачным хостингом осуществляется из контрольной панели, позволяющей взаимодействовать с клиентами,
                создавать любое количество новых виртуальных систем, работать с билингом и решать многие другие задачи.
            </div>

            <div layout="row" class="header tariff-plan-header">Тарифные планы</div>

            <div class="tariff-table" layout="row">
                <div class="column fisrt-column" flex>
                    <div flex>
                        <span flex class="tariff-name">Тариф</span>
                    </div>
                    <div flex><span flex >Место</span></div>
                    <div flex><span flex>Домены</span></div>
                    <div flex><span flex>FTP-аккаунты</span></div>
                    <div flex><span flex>MySql</span></div>
                    <div flex><span flex>+ CMS на выбор</span></div>
                    <div flex></div>
                </div>
                <div class="column tariff-column" flex
                     ng-mouseover="selectedColumn[0] = true"
                     ng-mouseleave="selectedColumn[0] = false"
                     ng-class="{'selected-column': selectedColumn[0]}">
                    <div flex class="tariff-name-div">
                        <div flex class="tariff-name">СТАРТ+</div>
                    </div>
                    <div flex><span>1 Gb</span></div>
                    <div flex><span>1</span></div>
                    <div flex><span>1</span></div>
                    <div flex><span>2</span></div>
                    <div flex>
                            <button flex class="btn-order" ripple>Заказать</button>
                    </div>
                    <div flex class="economy-text-div">
                        <div class="economy-text">Экономия при оплате за год 241 руб.</div>
                    </div>
                </div>
                <div class="column tariff-column gold-tariff-column" flex
                     ng-mouseover="selectedColumn[1] = true"
                     ng-mouseleave="selectedColumn[1] = false"
                     ng-class="{'selected-column': selectedColumn[1]}">
                    <div flex class="tariff-name-div">
                        <div flex class="tariff-name">СТАНДАРТ+</div>
                    </div>
                    <div flex><span>3 Gb</span></div>
                    <div flex><span>2</span></div>
                    <div flex><span>2</span></div>
                    <div flex><span>4</span></div>
                    <div flex>
                        <button flex class="btn-order" ripple>Заказать</button>
                    </div>
                    <div flex class="economy-text-div">
                        <div class="economy-text">Экономия при оплате за год 441 руб.</div>
                    </div>
                </div>
                <div class="column tariff-column" flex
                     ng-mouseover="selectedColumn[2] = true"
                     ng-mouseleave="selectedColumn[2] = false"
                     ng-class="{'selected-column': selectedColumn[2]}">
                    <div flex class="tariff-name-div">
                        <div flex class="tariff-name">СУПЕР+</div>
                    </div>
                    <div flex><span>5 Gb</span></div>
                    <div flex><span>3</span></div>
                    <div flex class="infinity-sign-div">
                        <span class="infinity-sign">&infin;</span>
                    </div>
                    <div flex class="infinity-sign-div">
                        <span class="infinity-sign">&infin;</span>
                    </div>
                    <div flex>
                        <button flex class="btn-order" ripple>Заказать</button>
                    </div>
                    <div flex class="economy-text-div">
                        <div class="economy-text">Экономия при оплате за год 335 руб.</div>
                    </div>
                </div>
                <div class="column tariff-column last-colum" flex
                     ng-mouseover="selectedColumn[3] = true"
                     ng-mouseleave="selectedColumn[3] = false"
                     ng-class="{'selected-column': selectedColumn[3]}">
                    <div flex class="tariff-name-div">
                        <div flex class="tariff-name">ГИГАНТ</div>
                    </div>
                    <div flex><span>10 Gb</span></div>
                    <div flex><span>5</span></div>
                    <div flex class="infinity-sign-div">
                        <span class="infinity-sign">&infin;</span>
                    </div>
                    <div flex class="infinity-sign-div" >
                        <span class="infinity-sign">&infin;</span>
                    </div>
                    <div flex>
                        <button flex class="btn-order" ripple>Заказать</button>
                    </div>
                    <div flex class="economy-text-div">
                        <div class="economy-text">Экономия при оплате за год 410 руб.</div>
                    </div>
                </div>
            </div>

            <div flex class="are-you-sure">
                <div flex class="header">Не уверены?</div>
                <div flex="75" class="undex-header-text">
                    Не знаете какой тариф выбрать? Введите адрес Вашего сайта,
                    мы проанализируем его и сразу предложим лучший вариант!
                </div>
                <div flex="85" layout="row" class="site-div">
                    <div flex="15" class="http-text">http://</div>
                    <div flex="60" class="http-url">
                        <input>
                    </div>
                    <button flex="25" class="btn-pick-up" ripple>Подобрать</button>
                </div>
            </div>

            <div flex class="optimized-for">
                <div flex class="header">Оптимизировано под:</div>
                <ul flex>
                    <li flex><img src="client/content/images/optimized-for-1.png" alt="Optimized"></li>
                    <li flex><img src="client/content/images/optimized-for-2.png" alt="Optimized"></li>
                    <li flex><img src="client/content/images/optimized-for-3.png" alt="Optimized"></li>
                    <li flex><img src="client/content/images/optimized-for-4.png" alt="Optimized"></li>
                    <li flex><img src="client/content/images/optimized-for-5.png" alt="Optimized"></li>
                    <li flex><img src="client/content/images/optimized-for-6.png" alt="Optimized"></li>
                </ul>
            </div>

        </div>

        <div flex class="right">
            <div flex class="form">
                <div flex class="header">Заинтересованы?</div>
                <div flex layout="row" class="our-phone-div">
                    <div flex="25" class="phone-image-div">
                        <img flex src="client/content/images/icons/call.png" alt="Call us!">
                    </div>
                    <div flex layout="column" class="text">
                        <div flex class="our-phone-text">+7 916 332 78 98</div>
                        <div flex class="our-schedule">круглосуточно, без выходных</div>
                    </div>
                </div>
                <div flex class="text-under-our-phone">
                    Свяжитесь с нашим консультантом по телефону и мы подберем для вас оптимальный тариф!
                </div>
                <div flex class="recall-you-text">Перезвонить вам?</div>
                <div flex class="user-phone" layout="row">
                    <div flex="20" class="call-image-div">
                        <img flex src="client/content/images/icons/phone.png" alt="Phone">
                    </div>
                    <input flex class="user-phone-template" ui-mask="+7 (999) 999 - 99 - 99" ng-model="vm.userPhone">
                </div>
                <button flex class="order-call-btn" ng-click="vm.orderCall()">Заказать звонок</button>
            </div>
        </div>
    </div>
</div>