
    <md-card-content>
        <div layout="row" flex>
            <div flex="20" layout="row" layout-align="center center">
                <img ng-src="{{BASE_INFO.URL}}{{BASE_INFO.PORT}}{{gameServer.gameServerTariff.game.imageFileDescriptor.path}}"
                     alt="{{game.imageFileDescriptor.name}}"
                     class="game-image">
            </div>
            <div layout="column" flex="75">
                <h2 ng-show="!gameServer.show" class="link" ui-sref="subscriptionGameServer({id:gameServer.id})">{{gameServer.name}}</h2>
                <h2 ng-show="gameServer.show">Подписка {{gameServer.name}}</h2>
                <div layout="column" flex>

                    <div flex>
                        <md-input-container ng-show="!gameServer.show" class="link" ui-sref="subscriptionGameServer({id:gameServer.id})">
                            <label>Машина</label>
                            <input readonly="" value='{{gameServer.name}}' name="Machine">
                        </md-input-container>
                        <md-input-container ng-show="gameServer.show">
                            <label>Машина</label>
                            <input readonly="" value='{{gameServer.name}}' name="Machine">
                        </md-input-container>

                        <md-input-container>
                            <label>Количество слотов</label>
                            <input readonly="" value='{{gameServer.slotCount}}' name="slotCount">
                        </md-input-container>

                        <md-input-container class="link" ui-sref="usersSingle({id:gameServer.userId})">
                            <label>Создатель</label>
                            <input readonly="" value='{{gameServer.userName}}' name="User">
                        </md-input-container>
                    </div>

                    <div flex>
                        <md-input-container class="link" ui-sref="singleGame({id:gameServer.gameServerTariff.game.id})">
                            <label>Тариф</label>
                            <input readonly="" value='{{gameServer.gameServerTariff.name}}' name="gameServerTariffName">
                        </md-input-container>

                        <md-input-container ng-show="gameServer.gameServerTariff.disabled">
                            <label>Архивный</label>
                            <input readonly="" value='{{gameServer.gameServerTariff.disabled}}' name="gameServerTariffDisabled">
                        </md-input-container>

                        <md-input-container class="link" ui-sref="singleGame({id:gameServer.gameServerTariff.game.id})">
                            <label>Игра</label>
                            <input readonly="" value='{{gameServer.gameServerTariff.game.name}}' name="game">
                        </md-input-container>

                        <md-input-container>
                            <label>Семейство</label>
                            <input readonly="" value='{{gameFamily.arrayItems[gameServer.gameServerTariff.game.family].name}}' name="family">
                        </md-input-container>

                        <md-input-container ng-show="gameServer.gameServerTariff.game.disabled">
                            <label>Архивный</label>
                            <input readonly="" value='{{gameServer.gameServerTariff.game.disabled}}' name="disabledGame">
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="gameServer.isShowButton" class="md-actions card-actions" layout="row" layout-align="end center">
            <md-button ui-sref="subscriptionGameServer({id:gameServer.id})" class="md-raised">Просмотр</md-button>
        </div>
        <div ng-show="!gameServer.isShowButton" class="md-actions card-actions" layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-click="showEdit()">Редактировать</md-button>
            <md-button class="md-primary md-raised" ng-click="showEdit()">Продлить</md-button>
            <update-game-server-status-button gs-id="gameServer.id" pending="gameServer.pending"></update-game-server-status-button>
            <md-button class="md-primary md-raised" ng-click="showEdit()">Изменить сервер</md-button>
            <md-button class="md-warn md-raised" ng-click="showEdit()">Удалить</md-button>
        </div>

    </md-card-content>