.domen-page {
  width: 1000px;
  margin: 0 auto;

  .navigation {
    margin-left: -2px;
    padding-top: 20px;
    font-size: 13px;
    font-family: firaSansBook;

    a {
      color: #548fc4;
      text-decoration: underline;
      cursor: pointer;
    }

    span {
      color: #3f4549;
    }
  }

  .header {
    font-family: firaSansMedium;
    font-size: 27px;
    color: #3f4549;
    margin-top: 46px;
  }

  .under-header-text {
    font-family: firaSansRegular;
    font-size: 15px;
    color: #3f4549;
    margin-top: 25px;
    line-height: 1.4;
    max-width: 58%;
  }

  .domen-content {
    margin-top: 38px;
    padding-bottom: 50px;

    .left {
      overflow: hidden;
      max-width: 73%;

      .header {
        font-family: firaSansMedium;
        font-size: 27px;
        color: #3f4549;
        margin: 0px;
      }

      .header-2 {
        margin-top: 32px;
      }

      .board {
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid #a4bdd3;
        margin-top: 33px;

        .user-domen-div {
          margin: 15px;
          margin-bottom: 8px;

          .user-domen {
            width: 75%;
            padding: 12px;
            margin-top: 3px;
            border-radius: 4px;
            background-color: #e5ebef;
            border: 1px solid #becbd5;
            box-shadow: inset 1px 2px 4px #d2dde4;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }

          .btn-check {

            font-family: firaSansMedium;
            font-size: 17px;
            margin-top: -1px;
            margin-left: -8px;
            padding: 11px 28px;
            border-right: none;

            color: #fff;
            border-radius: 4px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            background: #5994c7;
            border: none;
            text-shadow: -1px -1px 0px rgba(0,0,0,.2);
            border-bottom: 2px solid #153a65;
            position: relative;
          }
          .btn-check:after, .btn-buy:before {
            left: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
          }
          .btn-check:after {
            border-color: rgba(136, 183, 213, 0);
            border-left-color: #5994c7;
            border-width: 21px;
            margin-top: -21px;
          }
        }

        .domens-div {
          padding: 15px;
          padding-bottom: 5px;

          .domen {
            background-color: #e5ebef;
            padding: 3px 8px;
            margin: 0 14px 18px 0;
            box-shadow: inset 0px 0px 2px #d2dde4;
            display: inline-table;
            border-radius: 4px;
            position: relative;
            line-height: 20px;
            cursor: pointer;

            .image-div {
              background: url('../../../../client/content/images/green-check-mark.png') no-repeat center center;
              background-size: 95%;
              padding-left: 5px;
              float: left;
              width: 20px;
              height: 20px;
            }

            .domen-text {
              font-family: firaSansMedium;
              font-size: 15px;
              color: #73777a;
              margin-top: 3px;
              float: left;
              padding-left: 12px;
              text-transform: uppercase;
            }
          }

          .disable-domen {
            background-color: #f4f4f4;
            border-color: #dadada;

            .image-div {
              background: transparent;
            }
          }
        }
      }

      .international-domens-div {
        margin-top: 45px;
        margin-bottom: 45px;

        .column {
          max-width: 32%;
          float: left;
          border-right: 1px dashed #609bca;
          padding-right: 14px;
          margin-left: 15px;

          .item {
            margin: 15px 0 ;

            .checkbox {
              height: 19px;
              background-color: #fff;
              border: 1px solid #5a95c7;
              border-radius: 4px;
              cursor: pointer;
              max-width: 9%;
              min-height: 19px;

              .check-mark {
                width: 100%;
                display: none;
              }

              .show-check-mark {
                display: block;
              }
            }

            .domen-name {
              font-family: firaSansMedium;
              font-size: 15px;
              color: #3f4549;
              margin-left: 6px;
              padding-top: 1px;
            }

            .amount {
              text-align: right;
              font-family: firaSansRegular;
              font-size: 15px;
              color: #3f4549;
            }
          }

          .item:first-child {
            margin-top: 0;
          }
        }

        .column:first-child {
          margin-left: 0;
        }

        .column:last-child {
          border-right: none;
        }
      }
    }

    .right {
      padding-left: 39px;

      .header {
        font-family: firaSansMedium;
        font-size: 27px;
        color: #3f4549;
        margin: 0;
      }

      .services-div {
        margin-top: 30px;

        .service {
          font-family: firaSansMedium;
          font-size: 13px;
          color: #4193d2;
          text-decoration: underline;
          margin: 15px 0;
          cursor: pointer;
        }
      }
    }
  }
}