<div flex class="domen-page">

    <div flex class="navigation">
        <a>Главная</a>
        <span> - </span><a>Услуги</a>
        <span> - </span><a>Домены</a>
    </div>

    <div flex class="header">Регистрация домена</div>

    <div flex class="under-header-text">
        Регистрация домена — первый шаг к запуску долгосрочного интернет-проекта.
        Доменные имена регистрируются вами самостоятельно через контрольную панель
        в режиме онлайн на физическое или юридическое лицо.
    </div>

    <div flex class="domen-content" layout="row">

        <div flex="75" class="left">
            <div flex class="header">Проверить домен</div>

            <div flex class="board">
                <div flex class="user-domen-div">
                    <input class="user-domen" flex placeholder="Введите доменное имя">
                    <button flex class="btn-check" ripple>Проверить</button>
                </div>
                <div flex class="domens-div">
                    <div flex class="domen" layout="column">
                        <div flex class="image-div"></div>
                        <div flex class="domen-text">.RU</div>
                    </div>
                    <div flex class="domen" layout="column">
                        <div flex class="image-div"></div>
                        <div flex class="domen-text">.RU.COM</div>
                    </div>
                    <div flex class="domen" layout="column">
                        <div flex class="image-div"></div>
                        <div flex class="domen-text">.МОСКВА</div>
                    </div>
                    <div flex class="domen" layout="column">
                        <div flex class="image-div"></div>
                        <div flex class="domen-text">.COM</div>
                    </div>
                    <div flex class="domen" layout="column">
                        <div flex class="image-div"></div>
                        <div flex class="domen-text">.NET</div>
                    </div>
                    <div flex class="domen" layout="column">
                        <div flex class="image-div"></div>
                        <div flex class="domen-text">.INFO</div>
                    </div>
                    <div flex class="domen" layout="column">
                        <div flex class="image-div"></div>
                        <div flex class="domen-text">.KZ.COM</div>
                    </div>
                    <div flex class="domen" layout="column">
                        <div flex class="image-div"></div>
                        <div flex class="domen-text">.KZ</div>
                    </div>
                    <div flex class="domen" layout="column">
                        <div flex class="image-div"></div>
                        <div flex class="domen-text">.GURU</div>
                    </div>
                    <div flex class="domen" layout="column">
                        <div flex class="image-div"></div>
                        <div flex class="domen-text">.ORG</div>
                    </div>
                    <div flex class="domen" layout="column">
                        <div flex class="image-div"></div>
                        <div flex class="domen-text">.ASIA</div>
                    </div>
                    <div flex class="domen disable-domen" layout="column">
                        <div flex class="image-div"></div>
                        <div flex class="domen-text">.МОСКВА</div>
                    </div>
                    <div flex class="domen" layout="column">
                        <div flex class="image-div"></div>
                        <div flex class="domen-text">.МОСКВА</div>
                    </div>
                    <div flex class="domen" layout="column">
                        <div flex class="image-div"></div>
                        <div flex class="domen-text">.RU</div>
                    </div>
                    <div flex class="domen" layout="column">
                        <div flex class="image-div"></div>
                        <div flex class="domen-text">.NET</div>
                    </div>
                    <div flex class="domen" layout="column">
                        <div flex class="image-div"></div>
                        <div flex class="domen-text">.INFO</div>
                    </div>
                    <div flex class="domen" layout="column">
                        <div flex class="image-div"></div>
                        <div flex class="domen-text">.RU.COM</div>
                    </div>
                    <div flex class="domen disable-domen" layout="column">
                        <div flex class="image-div"></div>
                        <div flex class="domen-text">.COM</div>
                    </div>
                </div>
            </div>

            <div flex class="header header-2">Международные</div>

            <div flex class="international-domens-div">
                <div layout="row">

                    <div flex class="column">
                        <div layout="row" class="item">
                            <div flex="10" class="checkbox" ng-click="showMark[0] = !showMark[0]">
                                <img flex ng-class="{'show-check-mark': showMark[0]}"
                                     class="check-mark"
                                     src="client/content/images/green-check-mark.png"/>
                            </div>
                            <div flex class="domen-name">.рф</div>
                            <div flex class="amount">2000 руб.</div>
                        </div>
                        <div layout="row" class="item">
                            <div flex="10" class="checkbox" ng-click="showMark[1] = !showMark[1]">
                                <img flex ng-class="{'show-check-mark': showMark[1]}"
                                     class="check-mark"
                                     src="client/content/images/green-check-mark.png"/>
                            </div>
                            <div flex class="domen-name">.com</div>
                            <div flex class="amount">3200 руб.</div>
                        </div>
                        <div layout="row" class="item">
                            <div flex="10" class="checkbox" ng-click="showMark[2] = !showMark[2]">
                                <img flex ng-class="{'show-check-mark': showMark[2]}"
                                     class="check-mark"
                                     src="client/content/images/green-check-mark.png"/>
                            </div>
                            <div flex class="domen-name">.info</div>
                            <div flex class="amount">3200 руб.</div>
                        </div>
                        <div layout="row" class="item">
                            <div flex="10" class="checkbox" ng-click="showMark[3] = !showMark[3]">
                                <img flex ng-class="{'show-check-mark': showMark[3]}"
                                     class="check-mark"
                                     src="client/content/images/green-check-mark.png"/>
                            </div>
                            <div flex class="domen-name">.рф</div>
                            <div flex class="amount">2000 руб.</div>
                        </div>
                        <div layout="row" class="item">
                            <div flex="10" class="checkbox" ng-click="showMark[4] = !showMark[4]">
                                <img flex ng-class="{'show-check-mark': showMark[4]}"
                                     class="check-mark"
                                     src="client/content/images/green-check-mark.png"/>
                            </div>
                            <div flex class="domen-name">.com</div>
                            <div flex class="amount">3200 руб.</div>
                        </div>
                        <div layout="row" class="item">
                            <div flex="10" class="checkbox" ng-click="showMark[5] = !showMark[5]">
                                <img flex ng-class="{'show-check-mark': showMark[5]}"
                                     class="check-mark"
                                     src="client/content/images/green-check-mark.png"/>
                            </div>
                            <div flex class="domen-name">.info</div>
                            <div flex class="amount">3200 руб.</div>
                        </div>
                    </div>

                    <div flex class="column">
                        <div layout="row" class="item">
                            <div flex="10" class="checkbox" ng-click="showMark[6] = !showMark[6]">
                                <img flex ng-class="{'show-check-mark': showMark[6]}"
                                     class="check-mark"
                                     src="client/content/images/green-check-mark.png"/>
                            </div>
                            <div flex class="domen-name">.рф</div>
                            <div flex class="amount">2000 руб.</div>
                        </div>
                        <div layout="row" class="item">
                            <div flex="10" class="checkbox" ng-click="showMark[7] = !showMark[7]">
                                <img flex ng-class="{'show-check-mark': showMark[7]}"
                                     class="check-mark"
                                     src="client/content/images/green-check-mark.png"/>
                            </div>
                            <div flex class="domen-name">.com</div>
                            <div flex class="amount">3200 руб.</div>
                        </div>
                        <div layout="row" class="item">
                            <div flex="10" class="checkbox" ng-click="showMark[8] = !showMark[8]">
                                <img flex ng-class="{'show-check-mark': showMark[8]}"
                                     class="check-mark"
                                     src="client/content/images/green-check-mark.png"/>
                            </div>
                            <div flex class="domen-name">.info</div>
                            <div flex class="amount">3200 руб.</div>
                        </div>
                        <div layout="row" class="item">
                            <div flex="10" class="checkbox" ng-click="showMark[9] = !showMark[9]">
                                <img flex ng-class="{'show-check-mark': showMark[9]}"
                                     class="check-mark"
                                     src="client/content/images/green-check-mark.png"/>
                            </div>
                            <div flex class="domen-name">.рф</div>
                            <div flex class="amount">2000 руб.</div>
                        </div>
                        <div layout="row" class="item">
                            <div flex="10" class="checkbox" ng-click="showMark[10] = !showMark[10]">
                                <img flex ng-class="{'show-check-mark': showMark[10]}"
                                     class="check-mark"
                                     src="client/content/images/green-check-mark.png"/>
                            </div>
                            <div flex class="domen-name">.com</div>
                            <div flex class="amount">3200 руб.</div>
                        </div>
                        <div layout="row" class="item">
                            <div flex="10" class="checkbox" ng-click="showMark[11] = !showMark[11]">
                                <img flex ng-class="{'show-check-mark': showMark[11]}"
                                     class="check-mark"
                                     src="client/content/images/green-check-mark.png"/>
                            </div>
                            <div flex class="domen-name">.info</div>
                            <div flex class="amount">3200 руб.</div>
                        </div>
                    </div>

                    <div flex class="column">
                        <div layout="row" class="item">
                            <div flex="10" class="checkbox" ng-click="showMark[12] = !showMark[12]">
                                <img flex ng-class="{'show-check-mark': showMark[12]}"
                                     class="check-mark"
                                     src="client/content/images/green-check-mark.png"/>
                            </div>
                            <div flex class="domen-name">.рф</div>
                            <div flex class="amount">2000 руб.</div>
                        </div>
                        <div layout="row" class="item">
                            <div flex="10" class="checkbox" ng-click="showMark[13] = !showMark[13]">
                                <img flex ng-class="{'show-check-mark': showMark[13]}"
                                     class="check-mark"
                                     src="client/content/images/green-check-mark.png"/>
                            </div>
                            <div flex class="domen-name">.com</div>
                            <div flex class="amount">3200 руб.</div>
                        </div>
                        <div layout="row" class="item">
                            <div flex="10" class="checkbox" ng-click="showMark[14] = !showMark[14]">
                                <img flex ng-class="{'show-check-mark': showMark[14]}"
                                     class="check-mark"
                                     src="client/content/images/green-check-mark.png"/>
                            </div>
                            <div flex class="domen-name">.info</div>
                            <div flex class="amount">3200 руб.</div>
                        </div>
                        <div layout="row" class="item">
                            <div flex="10" class="checkbox" ng-click="showMark[15] = !showMark[15]">
                                <img flex ng-class="{'show-check-mark': showMark[15]}"
                                     class="check-mark"
                                     src="client/content/images/green-check-mark.png"/>
                            </div>
                            <div flex class="domen-name">.рф</div>
                            <div flex class="amount">2000 руб.</div>
                        </div>
                        <div layout="row" class="item">
                            <div flex="10" class="checkbox" ng-click="showMark[16] = !showMark[16]">
                                <img flex ng-class="{'show-check-mark': showMark[16]}"
                                     class="check-mark"
                                     src="client/content/images/green-check-mark.png"/>
                            </div>
                            <div flex class="domen-name">.com</div>
                            <div flex class="amount">3200 руб.</div>
                        </div>
                        <div layout="row" class="item">
                            <div flex="10" class="checkbox" ng-click="showMark[17] = !showMark[17]">
                                <img flex ng-class="{'show-check-mark': showMark[17]}"
                                     class="check-mark"
                                     src="client/content/images/green-check-mark.png"/>
                            </div>
                            <div flex class="domen-name">.info</div>
                            <div flex class="amount">3200 руб.</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div flex class="right">
            <div flex class="header">Услуги</div>

            <div flex class="services-div">
                <div flex class="service">Перенести домен к нам</div>
                <div flex class="service">Продлить регистрацию</div>
                <div flex class="service">Сменить регистрацию</div>
                <div flex class="service">Изменить данные</div>
                <div flex class="service">Сменить администратора</div>
            </div>
        </div>
    </div>
</div>