
.auth-form {

  .remember-me{
    font-family: firaSansRegular;
    font-size: 15px;
    color: #495965;
    .checkbox-text{
      margin-top: 10px;
    }
    md-checkbox  {
      margin-bottom: 0px;
      margin-top:10px ;
    }
  }

}