<div class="auth-form">
    <div class="btn-close">
        <img class="btn-close-image" src="client/content/images/btn-close.png" alt="Close" ng-click='vm.close()'/>
    </div>
    <div class="form-content">
        <form ng-submit="vm.login(form)" name="form">
            <div class="header-text">Вход</div>

            <div class="main-text first-header">Логин или e-mail</div>
            <input type="text" class="form-input" name="userName" placeholder="Введите логин или e-mail"
                   ng-model="vm.user.userName"/>
            <div class="error-text first-header"  ng-show="vm.submitted&&form.userName.$error.required">Email обязателен</div>
            <div class="main-text second-header">Пароль:</div>
            <input type="password" class="form-input login-input-password" name="password" placeholder="Введите пароль"
                   ng-model="vm.user.password"/>
            <div class="error-text first-header"  ng-show="vm.submitted&&form.password.$error.required">Пароль обязателен</div>



            <div class="text-after-password">
                <div class="main-text forgot-password-text" ng-click="vm.resetPassword()">Забыли пароль?</div>
                <div class="main-text dont-have-accaunt-text" ng-click="vm.register()">Ещё нет аккаунта?</div>
            </div>
            <div layout="row" class="remember-me">
                <md-checkbox
                             ng-model="vm.user.useRefreshToken"
                             aria-label="Запомнить меня"
                             md-no-ink="true">
                </md-checkbox>
                <span class="checkbox-text">    Запомнить меня</span>

            </div>
            <button ladda="vm.loginLoading" data-style="zoom-in" class="btn-form-action" type="submit" ripple>Войти</button>

            <div ng-messages="form.$error">

                <div ng-messages-include="widgets/messages/error-messages.html"></div>
            </div>
        </form>
    </div>
    <div class="form-footer">
        <div class="input-by-text">Или войдите через:</div>
        <div class="login-by-div">
            <img class="login-by-image" src="client/content/images/facebook.png" alt="Facebook"/>
            <img class="login-by-image" src="client/content/images/twitter.png" alt="Twitter"/>
            <img class="login-by-image" src="client/content/images/google-plus.png" alt="GooglePlus"/>
            <img class="login-by-image" src="client/content/images/vk.png" alt="GooglePlus"/>
        </div>
    </div>
</div>