.about-header {
  margin-bottom: 30px;
}
.about-header-title {
  color: #3f4549;
  font-size: 27px;
  font-family: firaSansMedium;
}

a {
  color: rgb(84, 143, 196);
  &:hover {
    text-decoration: none;
  }

  .active &
  {
    color: rgb(77, 93, 105);
    text-decoration: none;
  }
}


.about-menu {
  font-size: 14px;
  font-family: "firaSansMediumItalic";
  padding-top: 10px;
  .about-menu-item {
    padding-left: 19px;
    padding-bottom: 9px;
    padding-top: 10px;
    border: 1px solid transparent;
    border-radius: 18px;

  }
  .about-menu-item.active {
    border-color: rgb(190, 196, 210);
  }
}

.breadcrumb {
  height: 80px;
}

.about {
  min-height: 1200px;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 25px;
}

.base-content{
  max-width: 1000px;
  margin: 0 auto;
}


.ground-text
{
  font-family: firaSansRegular;
  padding: 22px;
  font-size: 15px;
  background: #dce1e5;
  color: #3f4549;
  border-radius: 4px;
  line-height: 1.467;
}

.about-header-margin{
  margin-top: 33px;
}


