<div class="about">

    <div class="breadcrumb"></div>
    <div flex="" layout="row">

        <div flex="66">

            <ui-view></ui-view>

        </div>
        <div flex>

        </div>
        <div class="about-menu" flex="25">
            <div flex>
                <div flex="90">
                    <div class="about-menu-item" ui-sref-active="active">
                        <a ui-sref="about.summary">Общая информация</a>
                    </div>
                    <div class="about-menu-item" ui-sref-active="active">
                        <a ui-sref="about.news">Новости</a>
                    </div>
                    <div class="about-menu-item" ui-sref-active="active">
                        <a ui-sref="about.license">Лицензии и сертификаты</a>
                    </div>
                    <div class="about-menu-item" ui-sref-active="active">
                        <a ui-sref="about.document">Документы</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>