<div class="auth-form register-form" style="height: 255px;;">
    <div class="btn-close">
        <img class="btn-close-image" src="client/content/images/btn-close.png" alt="Close" ng-click='vm.close()'/>
    </div>
    <div class="form-content">
        <form ng-submit="vm.reset()">
            <div class="header-text">Восстановление пароля</div>
            <div class="main-text second-header">Ваш новый пароль</div>
            <input type="password" class="form-input password-text" placeholder="Введите пароль"  ng-model="vm.user.password"/>





            <button class="btn-form-action btn-register " ripple type="submit">Сменить</button>
        </form>
    </div>
</div>