﻿<md-content class="md-padding page-content">
    <md-button aria-label="menu" class="md-fab md-warn btn-add-entity" ng-click="showEdit()">
        <md-tooltip>
            Добавить
        </md-tooltip>
        +
    </md-button>

    <md-card ng-repeat="template in templates" class="card-entity">
        <md-card-content>
            <div layout="column">
                <div layout="row" flex>
                    <div layout="row" flex="90">
                        <div flex="5">
                            <h2 class="md-title">{{template.id}}</h2>
                        </div>
                        <md-input-container flex="35" flex-offset="5">
                            <label>subject</label>
                            <input readonly="" value='{{template.subject}}'></input>
                        </md-input-container>
                        <md-input-container flex flex-offset="20">
                            <label>type</label>
                            <input readonly=""
                                   value='{{emailTemplateTypeSource[template.emailTemplateType].type}}'></input>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" flex>
                    <md-input-container flex="90">
                        <label>body</label>
                        <textarea readonly="">{{template.body}}</textarea>
                    </md-input-container>
                </div>
            </div>
        </md-card-content>
        <div class="md-actions card-actions" layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-click="showConfirm($index)">Удалить</md-button>
            <md-button class="md-primary md-raised" ng-click="showEdit($index)">Редактировать</md-button>
        </div>
    </md-card>

</md-content>

<script type="text/ng-template" id="editTemplateForm.tmpl.html">
    <md-dialog aria-label="Создание/Редактирование пользователя">
        <form name="editForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Создание/Редактирование</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="../content/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content style="min-width:800px; max-width:1024px; max-height:810px; padding:23px">
                <md-input-container flex ng-if="templateEdit.id">
                    <label>id</label>
                    <input readonly="true" value="{{templateEdit.id}}}" ng-model="templateEdit.id">
                </md-input-container>
                <md-input-container flex>
                    <label for="TemplateSubject" l>subject</label>
                    <input ng-model="templateEdit.subject" name="TemplateSubject" id="TemplateSubject" required>

                    <div ng-messages="editForm.TemplateSubject.$error">
                        <div ng-message='required' ng-if="editForm.TemplateSubject.$dirty">Поле обязательное</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label for="TemplateBody">body</label>
                    <textarea ng-model="templateEdit.body" name="TemplateBody" id="TemplateBody" required></textarea>

                    <div ng-messages="editForm.TemplateBody.$error">
                        <div ng-message='required' ng-if="editForm.TemplateBody.$dirty">Поле обязательное</div>
                    </div>
                </md-input-container>
                <md-select ng-model="templateEdit.emailTemplateType" placeholder="Выберите тип Template"
                           id="EmailTemplateType" name="EmailTemplateType" required>
                    <md-option ng-value="opt.value" ng-repeat="opt in emailTemplateTypeSource">{{ opt.type }}
                    </md-option>
                </md-select>
                <div ng-messages="editForm.EmailTemplateType.$error">
                    <div ng-message='required' ng-if="editForm.EmailTemplateType.$dirty">Поле обязательное</div>
                </div>
                <md-chips ng-model="templateEdit.parameterNamesList"
                          readonly="true"
                          placeholder="Enter a tag"
                          delete-button-label="Remove Tag"
                          delete-hint="Press delete to remove tag" secondary-placeholder="+Parameter">
                </md-chips>
            </md-dialog-content>
            <div class="md-actions" layout="row">
                <md-button ng-click="cancel()">Отмена</md-button>
                <md-button ng-click="answer()" ng-disabled="editForm.$invalid" style="margin-right:20px;">Применить
                </md-button>
            </div>
        </form>
    </md-dialog>
</script>
