<div flex class="server">

    <div flex class="main-info" layout="row">
        <div flex="75" layout="row" class="left">
            <div flex layout="column">
                <div flex layout="row">
                    <div flex class="server-name">{{vm.virtualMachine.name}}</div>

                    <vm-state state="vm.virtualMachine.userVm.status"></vm-state>
                </div>
                <div flex layout="row" class="server-characteristics">
                    <div>{{vm.virtualMachine.userVm.IpAdresses.length()>0?vm.virtualMachine.userVm.IpAdresses[0].iPv4:"Ip не назначен"}},&nbsp;</div>

                    <div>{{vm.virtualMachine.userVm.coreCount}} Core,&nbsp;</div>
                    <div>{{vm.virtualMachine.userVm.ramCount|convertFromMb}} RAM,&nbsp;</div>
                    <div>{{vm.virtualMachine.userVm.hardDriveSize|convertFromGb}} Disk space</div>
                </div>
            </div>
        </div>
        <div flex layout="row" class="right">
            <div flex="70" class="edit-link" ng-click="vm.control()">Управление</div>
            <div flex class="edit-image-div">
                <img class="edit-image" flex src="client/content/images/settings-icon.png" alt="Edit" ng-click="vm.control()">
            </div>
        </div>
    </div>

</div>
