.card-SCVM{
	margin: 15px;
}

.btn-float-add{
	font-size: 40px;
	position: fixed;
	left: 93%;
	bottom: 5%;
}

.pic-style{
	width: 100%;
	max-width: 300px;
	max-height: 300px;
}

.tab-content-height{
	min-height: 500px;
}

.machineImage{
 	height: 200px;
 	width: 200px;
 }
.machineImage img{
 	max-height: 100%;
 	max-width: 100%;
 }