<md-content class="md-padding page-content">
	<md-tabs md-dynamic-height md-border-bottom md-selected="tabs.selectedIndex">
		<md-tab label="Операционные системы">
		</md-tab>
		<md-tab label="Шаблоны">
		</md-tab>
	</md-tabs>

	<ng-switch on="tabs.selectedIndex">
		<div ng-switch-when="0">
			<div ui-view="operatingSystemView"></div>
		</div>
		<div ng-switch-when="1">
			<div ui-view="serverTemplateView"></div>
		</div>
	</ng-switch>
</md-content>