.vm-short {
    padding: 15px;

}
.header {
    font-size: 24px;
    font-family: firaSansMedium;
    margin: 0;
    margin-bottom: 10px;

}

.subheader-div {
    margin-top: 15px;
    margin-left: 10px;
}
.subheader {
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    margin-left: 0;
}

.item {
    margin: 10px 5px;
}

.value {
    font-weight: bold;
}


.manage-btn {
    margin-right: 15px;
    width: 140px;
}

