<md-content class="md-padding page-content">
    <subscription-buy-button success="getVirtualMachines()"></subscription-buy-button>
    <md-card flex>
        <md-card-content>
            <div layout layout-sm="column" flex>
                <md-input-container flex="20">
                    <label class="register-date-label">Дата создания с:</label>
                </md-input-container>
                <md-datepicker flex="25" ng-model="searchParams.createdFrom"
                    class="datepicker-register-date"
                    md-placeholder="Введите дату">
                </md-datepicker>
                <md-input-container flex="5" class="register-date-to-label">
                    <label class="register-date-label">По:</label>
                </md-input-container>
                <md-datepicker flex="25" ng-model="searchParams.createdTo"
                    class="datepicker-register-date"
                    md-placeholder="Введите дату"
                    md-min-date="searchParam.createdFrom">
                </md-datepicker>
            </div>
            <div layout layout-sm="column" flex>
                <md-input-container flex="20">
                    <label class="register-date-label">Дата завершения с:</label>
                </md-input-container>
                <md-datepicker flex="25" ng-model="searchParams.endFrom"
                    class="datepicker-register-date"
                    md-placeholder="Введите дату">
                </md-datepicker>
                <md-input-container flex="5" class="register-date-to-label">
                    <label class="register-date-label">По:</label>
                </md-input-container>
                <md-datepicker flex="25" ng-model="searchParams.endTo"
                    class="datepicker-register-date"
                    md-placeholder="Введите дату"
                    md-min-date="searchParam.endFrom">
                </md-datepicker>
            </div>
        </md-card-content>
        <div class="md-actions card-actions" layout="row" layout-align="end center">
            <md-button class="md-raised" ng-click="clearSearchParams()">Сбросить</md-button>
            <md-button class="md-raised" ng-click="applyFilter()">Применить</md-button>
        </div>
    </md-card>
	<div dir-paginate="virtualMachine in virtualMachines.items |  itemsPerPage: virtualMachines.pageSize"
            current-page="virtualMachines.currentPage"
            total-items="virtualMachines.totalRows"
            >
        <div ng-if="virtualMachine">
            <vm-short virtual-machine="virtualMachine" single="false"></vm-short>
        </div>

    </div>
    <div layout="row" layout-align="center">
        <dir-pagination-controls
                boundary-links="true"
                on-page-change="pageChangeHandler('subscription', newPageNumber)"
                template-url="content/pagination/dirPagination.tpl.html">
        </dir-pagination-controls>
    </div>
</md-content>
