<md-card-content>
    <h2 class="md-title">Идентификатор: {{usageVm.id}}</h2>
    <div layout="row" flex>
        <div flex layout="column">
            <md-input-container flex="25">
                <label>Идентификатор подписки на машину</label>
                <input ng-model="usageVm.subscriptionVmId" name="Name" readonly="">
            </md-input-container>
            <md-input-container flex="25" class="link" ui-sref="usersSingle({id:usageVm.userId})">
                <label>Логин пользователя</label>
                <input readonly="" value='{{usageVm.userName}}'>
            </md-input-container>
            <md-input-container flex="25">
                <label>Дата</label>
                <input readonly="" value="{{usageVm.date| FormatToStandartDate}}" name="Date">
            </md-input-container>
            <md-input-container flex="25">
                <label>Сумма</label>
                <input readonly="" value="{{usageVm.amount}}" name="Amount">
            </md-input-container>
        </div>
        <div flex layout="column">
            <md-input-container flex="30" class="link" ui-sref="virtualMachine({id:usageVm.userVmId})">
                <label>Название машины‹</label>
                <input readonly="" value='{{usageVm.userVmName}}'>
            </md-input-container>
            <md-input-container flex="25">
                <label>Количество ядер</label>
                <input readonly="" value="{{usageVm.coreCount}}" name="CoreCount">
            </md-input-container>
            <md-input-container flex="25">
                <label>Количество оперативной памяти</label>
                <input readonly="" value="{{usageVm.ramCount + 'Мб'}}" name="RamCount">
            </md-input-container>
            <md-input-container flex="25">
                <label>Размер жесткого диска</label>
                <input readonly="" value="{{usageVm.hardDriveSize+ 'Гб'}}" name="HardDriveSize">
            </md-input-container>
        </div>
    </div>
</md-card-content>