<div flex class="request"
     dir-paginate="helpDesk in vm.helpDeskRequestList.items |  itemsPerPage: vm.paginationSettings.pageSize"
     current-page="vm.paginationSettings.pageNumber"
     total-items="vm.helpDeskRequestList.totalRows"
     pagination-id="helpDeskRequestListPagination">

    <div layout="row" ng-click="helpDesk.extensionRequest = !helpDesk.extensionRequest" class="request-info">
        <div flex="45" class="info" layout="row">
            <div layout="column">
                <div flex class="text">{{helpDesk.CreationDate| FormatToStandartDate}}</div>

                <div flex class="request-theme">#{{helpDesk.id}} - {{helpDesk.summary}}</div>
            </div>
            <div layout="column">
                <div flex class="info-number">2</div>
            </div>
        </div>

        <div flex="30" class="info" layout="column">
            <div flex class="text">Статус</div>
            <div flex class="status status-yellow" ng-if="helpDesk.status==vm.requestStatus.InProcessing">На рассмотрении
            </div>
            <div flex class="status status-green" ng-if="helpDesk.status==vm.requestStatus.New">Открытый</div>
            <div flex class="status status-green" ng-if="helpDesk.status==vm.requestStatus.Completed">Завершен</div>
        </div>

        <div flex class="info" layout="column">
            <div flex class="text">Срочность</div>

            <div flex class="time-important-text"
                 ng-if="helpDesk.urgency==vm.urgencyLevel.Normal||helpDesk.urgency==vm.urgencyLevel.Low">Средняя
            </div>

            <div flex class="time-important-text"
                 ng-if="helpDesk.urgency==vm.urgencyLevel.Critical||helpDesk.urgency==vm.urgencyLevel.High">Срочно
            </div>
        </div>
    </div>

    <div layout="row" style="overflow: hidden">
        <single-request flex class="cloud-control" ng-if="helpDesk.extensionRequest" help-desk-request="helpDesk"></single-request>
    </div>

</div>

<div layout="row" layout-align="center">
    <dir-pagination-controls
            pagination-id="helpDeskRequestListPagination"
            boundary-links="true"
            on-page-change="vm.pageChangeHandler(newPageNumber)"
            template-url="content/pagination/dirPagination.tpl.html">
    </dir-pagination-controls>
</div>
