
<button flex class="md-no-style md-button inner-list-button" md-ink-ripple class="md-clickable" ng-click="changePresentation()">

    <div class="paymentList" layout="row" flex ng-hide="show">
        <span class="bold" style="width: 190px;">{{transactionType.arrayItems[transaction.transactionType].translate}}</span>
        <span>{{transaction.cashAmount}}$</span>
        <div layout="row" flex layout-align="end center">
            <span>{{transaction.date | FormatToStandartDate}}</span>
        </div>
    </div>

    <md-card-content ng-show="show">
        <div layout layout-sm="column">
            <md-input-container class="link" ui-sref="usersSingle({id:transaction.userId})" flex>
                <label>Идентификатор</label>
                <input readonly="" value="{{transaction.userId}}"></input>
            </md-input-container>
            <md-input-container class="link" ui-sref="usersSingle({id:transaction.userId})" flex>
                <label>Имя пользователя</label>
                <input readonly="" value="{{transaction.userName}}"></input>
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container flex="40">
                <label>Subscription UserVm Id </label>
                <input readonly="" value="{{transaction.subscriptionVmId}}"></input>
            </md-input-container>
            <md-input-container flex>
                <label>Тип транзакции</label>
                <input readonly="" value='{{transactionType.arrayItems[transaction.transactionType].name}}'></input>
            </md-input-container>
            <md-input-container flex>
                <label>Сумма</label>
                <input readonly="" value="{{transaction.cashAmount}}"></input>
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>Описание</label>
                <input readonly="" value="{{transaction.description}}"></input>
            </md-input-container>
        </div>
    </md-card-content>
</button>