<div class="call-me-form-body "  >
    <div class="call-me-form" ng-if='show'>


        <span></span>

        <div class="content">
            <div class="text">Ваш телефон:</div>
            <input type="text" class="phone-input" ng-model="vm.userPhone"/>
            <button class="btn-call-me"  ng-click="vm.orderCall()">Перезвоните мне</button>
        </div>
    </div>
</div>