.btn-call-me{

  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  border: 0px solid;

}


.call-me-form-body
{
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
  z-index: 10;
  position: absolute;
}

.call-me-form.ng-enter ,
.call-me-form.ng-leave {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;



  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

}

.call-me-form.ng-enter ,
.call-me-form.ng-leave.ng-leave-active {
  -webkit-transform: rotateX(-60deg);
  -moz-transform: rotateX(-60deg);
  -ms-transform: rotateX(-60deg);
  transform: rotateX(-60deg);
  opacity: 0;
}

.call-me-form.ng-leave ,
.call-me-form.ng-enter.ng-enter-active {

  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
}