<div flex layout="row"  layout-align="center center" class="preloader" ng-if="vm.promise.$$state.status === 0" ng-style="{'margin-top':vm.margin}">
    <div >
        <div class="hoja">CRYTEX.NET</div>
    </div>
</div>
