
$D:250px; // size control // diametro

$R:($D/2); // radio

$B:($R/8);

$O: 0.6; // opacity

$A: 2s; // accelerate


.hoja{
  color: #619ccb;
  position:relative;
  width:$D;
  height:$D;
  text-align:center;
  font-family: 'firaSansLight';
  font-size:$R/4;
  line-height:$D;
  -webkit-font-smoothing: antialiased;
}

.hoja:after,
.hoja:before{
  content:"";
  border-radius:100%;
  position:absolute;
  top:0; left:0;
  width:100%;
  height:100%;
  transform-origin:center center;
}



.hoja:after{
  box-shadow: inset 0 $B 0 rgba(77, 93, 105, $O),
  inset $B 0 0 rgba(229, 235, 239, $O),
  inset 0 -$B 0 rgba(77, 93, 105, $O),
  inset (-$B) 0 0 rgba(229, 235, 239, $O);
  animation: rotar $A -0.5s linear infinite;
}

.hoja:before{
  box-shadow: inset 0 $B 0 rgba(93, 161, 220, $O),
  inset $B 0 0 rgba(93, 161, 220, $O),
  inset 0 -$B 0 rgba(96,155,202, $O),
  inset (-$B) 0 0 rgba(96,155,202, $O);
  animation: rotarIz $A -0.5s linear infinite;
}

@keyframes rotar{
  0%{
    transform:rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50%{
    transform:rotateZ(180deg) scaleX(0.82) scaleY(0.95);
  }
  100%{
    transform:rotateZ(360deg) scaleX(1) scaleY(1);
  }
}

@keyframes rotarIz{
  0%{
    transform:rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50%{
    transform:rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
  }
  100%{
    transform:rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}

