<md-content class="md-padding page-content">
    <div ng-repeat="paymentSystem in vm.paymentSystemList" class="money-system-form">
        <md-card ng-class="{'disabled-card': !paymentSystem.isEnabled}">
            <md-card-content ng-if="!paymentSystem.isEdit">
                <div layout="row">
                    <div flex="40" layout="row" layout-align="center center">
                        <img ng-src="{{vm.baseInfo.URL}}{{vm.baseInfo.PORT}}{{paymentSystem.imageFileDescriptor.path}}"
                             alt="{{paymentSystem.imageFileDescriptor.name}}"
                             class="game-image">
                    </div>
                    <div flex="60" layout="column" class="game-info">
                        <div>{{paymentSystem.name}}</div>
                        <md-input-container flex>
                            <label>Тип</label>
                            <input value='{{vm.paymentType.arrayItems[paymentSystem.paymentType].name}}' ng-readonly="true">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Состояние</label>
                            <input ng-if="paymentSystem.isEnabled" value='{{vm.statusType[0].name}}' ng-readonly="true">
                            <input ng-if="!paymentSystem.isEnabled" value='{{vm.statusType[1].name}}' ng-readonly="true">
                        </md-input-container>
                    </div>
                </div>
            </md-card-content>

            <md-card-content ng-if="paymentSystem.isEdit">
                <div layout="row">
                    <div flex="40">
                        <div layout="column">
                            <div layout="row" layout-align="center center">
                                <img ng-src="{{vm.baseInfo.URL}}{{vm.baseInfo.PORT}}{{vm.editablePaymentSystem.imageFileDescriptor.path}}"
                                     alt="{{vm.editablePaymentSystem.imageFileDescriptor.name}}"
                                     class="game-image">
                            </div>
                            <div layout="row" layout-align="center center">
                                <md-button type="file" class="btn-attach md-primary md-raised"
                                           ngf-select="vm.uploadFiles($file, 'edit')"
                                           ngf-max-size="5MB"
                                           ng-model="vm.tempPaymentSystemImage">
                                    Обновить
                                </md-button>
                            </div>
                        </div>
                    </div>

                    <div flex="60" class="game-info">
                        <div layout="column">
                            <md-input-container flex="20" class="edit-form">
                                <label>Название платёжной системы</label>
                                <input ng-model="vm.editablePaymentSystem.name">
                            </md-input-container>

                            <md-input-container flex="20" class="edit-form">
                                <label>Тип</label>
                                <md-select ng-model="vm.editablePaymentSystem.paymentType">
                                    <md-option ng-repeat="type in vm.paymentType.arrayItems"
                                               ng-value="type.value">
                                        {{ type.name }}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container flex="20" class="edit-form">
                                <label>Состояние</label>
                                <md-select ng-model="vm.editablePaymentSystem.isEnabled">
                                    <md-option ng-repeat="status in vm.statusType"
                                               ng-value="status.value">
                                        {{ status.name }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </md-card-content>

            <md-dialog-actions class=card-actions" layout="row" layout-align="end center">
                <div ng-if="paymentSystem.isEdit">
                    <md-button class="md-raised" ng-click="vm.cancleEditPaymentSystem(paymentSystem)">Отменить</md-button>
                    <md-button class="md-raised md-primary" ng-click="vm.saveChanges()">Сохранить</md-button>
                </div>

                <div ng-if="!paymentSystem.isEdit">
                    <md-button class="md-raised md-warn" ng-click="vm.showConfirm(paymentSystem.id)">Удалить</md-button>
                    <md-button class="md-raised md-primary" ng-click="vm.editPaymentSystem(paymentSystem)">Редактировать</md-button>
                </div>
            </md-dialog-actions>
        </md-card>
    </div>

    <md-button aria-label="menu" class="md-fab md-warn btn-add-entity" ng-click="vm.isShowNewPaymentSystemForm = true">
        <md-tooltip>
            Добавить
        </md-tooltip>
        +
    </md-button>

    <md-card class="card-SCVM money-system-new-form" ng-if="vm.isShowNewPaymentSystemForm">
        <md-card-content>
            <div layout="row">
                <div flex="40" layout="column">
                    <div layout="row" layout-align="center center" class="game-icon-div">
                        <img ngf-src="vm.paymentSystemImage" class="game-image">
                    </div>
                    <div layout="row" layout-align="center center">
                        <md-button type="file" class="btn-attach md-primary md-raised"
                                   ngf-select="vm.uploadFiles($file, 'new')"
                                   ngf-max-size="5MB"
                                   ng-model="vm.paymentSystemImage">
                            Добавить изображение
                        </md-button>
                    </div>
                </div>

                <div flex="60" layout="column" class="game-info">
                    <md-input-container flex>
                        <label>Название платёжной системы</label>
                        <input ng-model="vm.newPaymentSystem.name">
                    </md-input-container>

                    <md-input-container flex>
                        <label>Тип</label>
                        <md-select ng-model="vm.newPaymentSystem.paymentType">
                            <md-option ng-repeat="type in vm.paymentType.arrayItems"
                                       ng-value="type.value">
                                {{ type.name }}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex>
                        <label>Состояние</label>
                        <md-select ng-model="vm.newPaymentSystem.isEnabled">
                            <md-option ng-repeat="status in vm.statusType"
                                       ng-value="status.value">
                                {{ status.name }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </md-card-content>
        <md-dialog-actions class=card-actions" layout="row" layout-align="end center" style="margin-right: 6%;">
            <md-button class="md-primary md-raised" ng-click="vm.setDefaultPaymentSystem()">Отменить</md-button>
            <md-button class="md-primary md-raised" ng-click="vm.createPaymentSystem()">Создать</md-button>
        </md-dialog-actions>
    </md-card>
</md-content>