.money-system-form {
    float: left;
    width: 50%;
}

.edit-form {
    margin: 13px 0 !important;
}

.money-system-new-form {
    width: 98%;
    float: left;
}

.game-icon-div img {
    max-width: 130px;
}