﻿body {
  position:relative;
}

.body-wrapper{
    padding: 15px;
}

.intro {
  position:absolute;
  left:30px;
  top:20px;
  width : 600px;
  height: 20px;  
}

.demo {
  position:relative;  
  width : 600px;
  height : 300px; 
  background-color: #aeaeae; 
  margin-top:40px;
  margin-left:0px;
}

.demo a {
  text-decoration: none !important;
  color: white;
  height:100%;
  width:100%;
}

.demo a.visited {
  color:white;
}

.demo #content {
  background-color: rgb(255, 244, 220);
  padding:30px;
  font-weight:600;
  border: 1px solid #aeaeae;
  border-top:none;
}


.site-content-toolbar{

  color: rgba(255,255,255,1)!important;
    z-index: 70;
}

.md-whiteframe-glow-z1 {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}

.content-none-padding{
  padding: 0px !important;
}

.top-panel{
  width: 100%;
  height: 30px!important
}

.menu-link{
    font-size: 15px;
    color: #616161;
    cursor: pointer;
    padding: 10px 1px 10px 1px;
}

.main-menu{
  margin-left: -50px;
}

.menu-subElement{
  margin-left: -20px;
  margin-top: 5px;
}

.right-path-panel{
  float: right;
}


.btn-open-panel{
  float: left;
  margin: 15px;
  color: rgb(63,81,181) !important;
  margin-left: 0px;
}

.sidenav-title{
  padding: 0px;
}

.btn-main-item{
  width: 100%;
  margin: 0px;
 
}

.btn-main-item span{
  float: left;
}

.active-menu-item{
  background-color: #F7F7F7 !important;
}

.menu-subitem{
  width: 100%;
  padding: 0px;
  margin:0px;
}

.btn-subitem{
  width: 100%;
  margin: 0px !important;
  padding: 0px;

}

.btn-subitem span{
  float: left;
}

.layout-row>.flex-15 {
  max-width: 0% !important;
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./content/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(./content/fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(./content/fonts/MaterialIcons-Regular.woff) format('woff'),
  url(./content/fonts/MaterialIcons-Regular.ttf) format('truetype');



}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.unread-message {
    background-color: #f7fbff;
}

.menu-svg{
    margin-top: 8px !important;
}

.menu-title{
    color: white;
}
   
a.menu-title:link {
    text-decoration: none;
}

a.menu-title:visited {
    text-decoration: none;
}

a.menu-title:hover {
    text-decoration: none;
}

a.menu-title:active {
    text-decoration: none;
}
.btn-add-entity {
  font-size: 40px;
  position: fixed;
  left: 93%;
  bottom: 5%;
}

.page-content{
  background-color: #E1E5E9;
}
.main-content {
  background-color: #E1E5E9;
}

.link, .link input{
  cursor: pointer !important;
}

.title-label{
  color: #3F51B5;
  margin-left: 15px;
  font-size: 50px;
}
.logo-picture{
  background:#080706 url(./content/images/logo.png) no-repeat 100% 0;
  width: 100%;
}

.crytex-nav{
  top: 64px;
}

.width-100{
  width: 100%;
}

.subscription-widget-button{
  margin-left: 8px !important;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.margin-bottom-15{
  margin-bottom: 15px;
}

.margin-bottom-25{
  margin-bottom: 25px;
}
md-list-item.list-directive-item.md-no-proxy{
  padding:0
}
.list-directive-item .inner-list-button{
  height: 100%;
}
/*.list-directive-item .inner-list-button.md-ripple-container{*/
  /*display:none;*/
/*}*/