.block {
  margin-top: 10px;

  .virtualization {
    margin: 0;
    padding: 0;
  }

  .virtualization-bottom {
    margin: 0;
    padding: 0;
  }
}

.first-block {
  padding: 15px 0;
}

.my-account-buy-resource .form .bottom .polygon-discount-div span{
  left: 3%;
}