<div flex class="header-text">Покупка виртуального сервера</div>
<div layout="row">
</div>
<form name="form">
    <div flex class="sub-header">1. Выбор типа виртуализации</div>
    <div class="block first-block" layout="column" layout-padding="">
        <div class="virtualization" layout="row" flex layout-align="center center">

            <div class="virtualization-div" ng-click="vm.vmOption.virtualization=1"
                 layout="row" layout-align="center center"
                 ng-class="{'choosed-type':vm.vmOption.virtualization==1}">
                <span>vm</span>ware
            </div>
            <div class="virtualization-div" ng-click="vm.vmOption.virtualization=0"
                 layout="row" layout-align="center center"
                 ng-class="{'choosed-type':vm.vmOption.virtualization==0}">
                <ul>
                    <li>Microsoft</li>
                    <li>Hyper-V</li>
                </ul>
            </div>
            <div class="virtualization-div"
                 layout="row" layout-align="center center">
                <span>KVM</span>
            </div>

        </div>

        <div layout="column" layout-align="center center" class="error-text first-header" ng-show="vm.vmOption.virtualization!=1 && vm.vmOption.virtualization!=0">
            Типа виртуализации обязателен
        </div>

        <div class="virtualization virtualization-bottom" >
            <div flex class="text" layout="column" layout-align="center center">
                <div>Прочесть об этом в</div>
                <div>Базе знаний</div>
            </div>
        </div>

    </div>


    <div flex class="sub-header">2. Выберите необходимые характеристики</div>
    <div class="block">
        <cloud-hosting-calculator layout="row" vm-option="vm.vmOption"></cloud-hosting-calculator>
    </div>



    <div flex class="sub-header">3. Подтверждение выбора</div>
    <div class="block my-account-buy-resource" layout="column" layout-padding="">
        <cloud-price vm-option="vm.vmOption"
                     vm-buy="vm.buy(form)"
                     buy-loading="vm.buyLoading"></cloud-price>
    </div>
</form>
