﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Default Page</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <!-- inject:css -->


    <!-- endinject -->
    <!--<link rel="stylesheet" href="app/pages/preferences/machineTemplates/machineTemplates.css"  />-->




    <script type="text/ng-template" id="toast-template.html">
        <md-toast>
            <span flex>Custom toast!</span>
            <md-button ng-click="closeToast()">Close</md-button>
        </md-toast>
    </script>

</head>

<body>


<div ng-app="crytex" ng-controller="CoreController" layout="column" layout-fill ng-cloak>

    <md-toolbar class="md-whiteframe-z1 site-content-toolbar md-primary" aria-hidden="false">
        <div class="md-toolbar-tools" ng-controller="NavbarController">


            <md-button ng-click="toggleLeft()" class="md-icon-button" hide-gt-md>
                <md-icon aria-label="Menu">menu</md-icon>
                <md-tooltip md-direction="right" md-delay="100" md-autohide="true">
                    Главное меню
                </md-tooltip>
            </md-button>
            <h2>
                <span>Административная панель Crytex.Net </span>
            </h2>
            <span flex="" class="flex"></span>

            <div class="right-path-panel" ng-controller="SignInController" layout="row">
                <!--for not authorized-->
                <md-button class="md-primary btn-nav" ng-click="displaySignInForm()"
                           ng-if="!authentication.isAuth">Вход
                </md-button>
                <!--for authorized-->
                <md-button class="md-primary btn-nav" ng-href="#" ng-if="authentication.isAuth"
                           ng-bind="authentication.userName" aria-label="User Navbar Name"></md-button>


                <md-button class="md-primary btn-nav" ng-click="signOut()" ng-if="authentication.isAuth">Выход
                </md-button>
            </div>
        </div>
    </md-toolbar>
    <section layout="row" flex>

        <md-sidenav class="md-sidenav-left md-whiteframe-z2 crytex-nav" md-component-id="left"
                    md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-theme-indigo" layout="row">
                <div class="logo-picture"></div>
                <span flex></span>
            </md-toolbar>
            <md-content ng-controller="MenuController" style="margin-top: 20px">
                <md-menu-sidenav >
                    <md-menu-sidenav-item ng-repeat="item in menuItems">
                        <md-menu-sidenav-title class="sidenav-title">
                            <md-toogle-menu layout="row" flex>
                                <md-button ng-if="item.subitems.length" class="btn-main-item">
                                    <div layout="row" layout-align="start center">
                                        <div>
                                            <md-icon style="font-size:24px;margin: 8px ">{{item.icon}}</md-icon>
                                        </div>
                                        <div> {{item.name}}
                                        </div>
                                    </div>
                                </md-button>
                                <md-button ng-if="!item.subitems.length" ui-sref-active="active-menu-item"
                                           ui-sref="{{item.sref}}" class="btn-main-item" ng-click="close()" >
                                    <div layout="row" layout-align="start center">
                                        <div>
                                            <md-icon style="font-size:24px;margin: 8px ">{{item.icon}}</md-icon>
                                        </div>
                                        <div> {{item.name}}
                                        </div>
                                    </div>

                                </md-button>
                            </md-toogle-menu>
                        </md-menu-sidenav-title>
                        <md-menu-sidenav-content>
                            <md-menu-sidenav-subitem ui-sref-active="active-menu-item" class="menu-subitem"
                                                     ng-repeat="subitem in item.subitems">

                                <md-button class="btn-main-item" ui-sref-active="active-menu-item"
                                           ui-sref="{{subitem.sref}}" ng-click="close()" >

                                    <div layout="row" layout-align="start center">
                                        <div>
                                            <md-icon style="font-size:24px; margin: 8px">

                                            </md-icon>
                                        </div>
                                        <div style="font-size: 12px">
                                            {{subitem.name}}
                                        </div>
                                    </div>

                                </md-button>

                            </md-menu-sidenav-subitem>
                        </md-menu-sidenav-content>

                    </md-menu-sidenav-item>
                </md-menu-sidenav>
            </md-content>
        </md-sidenav>


        <md-content flex class="md-padding content-none-padding main-content">

            <div class="md-padding"><label class="md-title" style="color: rgba(0,0,0,0.60);"
                                           ng-bind="($title || 'Home')"></label></div>

            <ui-view flex class="main-content"></ui-view>

        </md-content>
    </section>
</div>
</body>

<!-- vendor:js -->
<!--endinject -->
<!-- templates:js -->
<!--endinject -->
<!-- inject:js -->
<!-- endinject -->
</html> 