<md-content class="md-padding page-content">
    <md-button ng-show="isShowAddBtn" aria-label="menu" class="md-fab md-warn btn-add-entity" ng-click="showAdvanced()">
        <md-tooltip>
            Добавить
        </md-tooltip>
        +
    </md-button>


    <md-card ng-if="vmWareCenters.length" ng-repeat="vmWareCenter in vmWareCenters" class="card-SCVM">
        <md-card-content>
            <div layout="column">
                <div layout="row" flex="90">
                    <md-input-container flex>
                        <label>Идентификатор</label>
                        <input readonly="" value='{{vmWareCenter.id}}'></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Название</label>
                        <input ng-model="vmWareCenter.name">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Адрес</label>
                        <input readonly="" value='{{vmWareCenter.serverAddress}}'></input>
                    </md-input-container>
                </div>
                <div layout="row" flex="90">
                    <md-input-container flex>
                        <label>Имя Пользователя</label>
                        <input readonly="" value='{{vmWareCenter.userName}}'></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Пароль</label>
                        <input readonly="" value='{{vmWareCenter.password}}'></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Сеть для доступа</label>
                        <input readonly="" value='{{vmWareCenter.defaultVmNetworkName}}'></input>
                    </md-input-container>
                </div>

            </div>
        </md-card-content>
        <div class="md-actions card-actions" layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-click="showAdvanced($index)">Редактировать</md-button>
        </div>

</md-content>

<script type="text/ng-template" id="editVmWareCenter.tmpl.html">
    <md-dialog aria-label="VmWareCenter">
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Добавление / Редактирование</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="../content/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content style="max-width:800px;max-height:810px;padding:23px" layout="column">
                <md-input-container flex>
                    <label>Название</label>
                    <input ng-model="vmWareCenter.name">
                </md-input-container>
                <md-input-container flex>
                    <label>Адресс</label>
                    <input ng-model="vmWareCenter.serverAddress">
                </md-input-container>
                <md-input-container flex>
                    <label>Имя Пользователя</label>
                    <input ng-model="vmWareCenter.userName">
                </md-input-container>
                <md-input-container flex>
                    <label>Пароль</label>
                    <input ng-model="vmWareCenter.password">
                </md-input-container>
                <md-input-container flex>
                    <label>Сеть для доступа</label>
                    <input ng-model=vmWareCenter.defaultVmNetworkName></input>
                </md-input-container>
            </md-dialog-content>
            <div class="md-actions" layout="row">
                <md-button ng-click="cancel()">Отмена</md-button>
                <md-button ng-click="answer()" style="margin-right:20px;">Применить</md-button>
            </div>
        </form>
    </md-dialog>
</script>