<md-content class="md-padding page-content">
	<div dir-paginate="gameServer in vm.gameServers.items |  itemsPerPage: vm.paginationSettings.pageSize"
            current-page="vm.paginationSettings.pageNumber"
            total-items="vm.gameServers.totalRows"
            class="card-entity">
        <game-server game-server="gameServer" single="false"></game-server>
    </div>
    <div layout="row" layout-align="center">
        <dir-pagination-controls
                boundary-links="true"
                on-page-change="vm.pageChangeHandler(newPageNumber)"
                template-url="content/pagination/dirPagination.tpl.html">
        </dir-pagination-controls>
    </div>
</md-content>