<md-card-content flex>
	<h2>{{subscriptionPayment.id}}</h2>
	<div layout="row" flex>
	    <md-input-container flex="40">
	        <label>SubscriptionVmId</label>
	        <input readonly="" value='{{subscriptionPayment.subscriptionVmId}}' name="SubscriptionVmId">
	    </md-input-container>
	    <md-input-container flex class="link" ui-sref="virtualMachine({id:subscriptionPayment.userVmId})">
	        <label>Машина</label>
	        <input readonly="" value='{{subscriptionPayment.userVmName}}' name="Machine">
	    </md-input-container>
	    <md-input-container flex class="link" ui-sref="usersSingle({id:subscriptionPayment.userId})">
	        <label>Создатель</label>
	        <input readonly="" value='{{subscriptionPayment.userName}}' name="User">
	    </md-input-container>
	</div>
	<div layout="row" flex>
		<md-input-container flex>
	        <label>Виртуализация</label>
	        <input readonly="" value='{{virtualizationType.arrayItems[subscriptionPayment.virtualization].name}}' name="virtualization">
	    </md-input-container>
	    <md-input-container flex>
	        <label>Операционная система</label>
	        <input readonly="" value='{{operatingSystems.arrayItems[subscriptionPayment.operatingSystem].name}}' name="OperatingSystem">
	    </md-input-container>
	</div>
	<div layout="row" flex>
		<md-input-container flex>
	        <label>Количество месяцев</label>
	        <input readonly="" value='{{subscriptionPayment.monthCount}}' name="MonthCount">
	    </md-input-container>
	    <md-input-container flex>
	        <label>Сумма</label>
	        <input readonly="" value='{{subscriptionPayment.amount}}' name="Amount">
	    </md-input-container>
	    <md-input-container flex>
	        <label>Дата</label>
	        <input readonly="" value='{{subscriptionPayment.date | FormatToStandartDate}}' name="Date">
	    </md-input-container>
	</div>
	<div layout="row" flex>
		<md-input-container flex>
	        <label>Количество ядер</label>
	        <input readonly="" value='{{subscriptionPayment.coreCount}}' name="CoreCount">
	    </md-input-container>
	    <md-input-container flex>
	        <label>Количество оперативной памяти</label>
	        <input readonly="" value='{{subscriptionPayment.ramCount}}' name="RamCount">
	    </md-input-container>
	    <md-input-container flex>
	        <label>Размер жёсткого диска</label>
	        <input readonly="" value='{{subscriptionPayment.hardDriveSize}}' name="HardDriveSize">
	    </md-input-container>
	</div>
</md-card-content>