<div flex ng-if="vm.state==vm.GameServerStates.Disable" class="server-status server-status-yellow">Приостановлен</div>

<div flex ng-if="vm.state==vm.GameServerStates.Enable" class="server-status server-status-green">Включен</div>
<div flex ng-if="vm.state==vm.GameServerStates.Creating" class="server-status server-status-green">Создается</div>
<div flex ng-if="vm.state==vm.GameServerStates.UpdatingConf" class="server-status  server-status-yellow">Обновление конфигурации</div>
<div flex ng-if="vm.state==vm.GameServerStates.UpdatingStatus" class="server-status  server-status-yellow">Обновление статуса</div>