
<button flex class="md-no-style md-button inner-list-button" md-ink-ripple class="md-clickable" ng-click="changePresentation()">
    <div layout="row" flex ng-hide="show" class="paymentList">
        <span class="bold" style="width:94px;">{{paymentType.arrayItems[payment.paymentSystem].name}}</span>
        <span>{{payment.cashAmount}}$</span>

        <div layout="row" flex layout-align="end center">
            <span>{{payment.date | FormatToStandartDate}}</span>
        </div>
    </div>


    <md-card-content ng-show="show">
        <h2 class="md-title">Платеж {{payment.id}}</h2>
        <div layout layout-sm="column" layout-wrap>
            <md-input-container flex-md="25">
                <label>Сумма</label>
                <input readonly="" value='{{payment.cashAmount}}'>
            </md-input-container>
            <md-input-container flex-md="25">
                <label>Платежная система</label>
                <input readonly="" value='{{paymentType.arrayItems[payment.paymentSystem].name}}'>
            </md-input-container>
            <md-input-container flex-md="25">
                <label>Дата</label>
                <input readonly="" value="{{payment.date | FormatToStandartDate}}">
            </md-input-container>
            <md-input-container flex-md="25">
                <label>Дата завершения</label>
                <input readonly="" value="{{payment.dateEnd | FormatToStandartDate}}">
            </md-input-container>
            <md-input-container class="link" ui-sref="usersSingle({id:payment.userId})" flex-md="25">
                <label>Имя пользователя</label>
                <input readonly="" value='{{payment.userName}}'>
            </md-input-container>
            <md-input-container flex-md="25">
                <label>Результат</label>
                <input readonly="" value='{{payment.success?"Успешно":"Неудачно"}}'>
            </md-input-container>
        </div>
    </md-card-content>
</button>