.form {
  background-color: #fff;
  border: 1px solid #9fb4c1;
  border-radius: 4px;
  overflow: hidden;
  color: #3f4549;
  margin-top: 17px;

  .top {
    padding-left: 25px;
    padding-top: 22px;
    padding-bottom: 24px;

    .price-text {
      font-family: firaSansMedium;
      font-size: 21px;

      span {
        font-family: firaSansItalic;
      }
    }

    .text {
      font-family: firaSansRegular;
      font-size: 14px;
      margin-top: 21px;
      margin-left: 4px;
    }

    .month-price {
      font-family: helveticaNeueBold;
      font-size: 17px;
      color: #609bca;
      margin-top: 2px;
      margin-left: 4px;
    }

    .total-div {
      margin-top: 28px;
      margin-left: 5px;

      .text {
        margin: 0;
      }

      .total-price {
        font-family: helveticaNeueBold;
        font-size: 37px;
        color: #609bca;
      }
    }
  }

  .bottom {
    background-color: #e5ebef;
    padding: 17px 0 24px 28px;

    .text {
      font-family: firaSansRegular;
      font-size: 14px;
      margin-top: 21px;
      margin-left: 4px;
    }

    .month-price {
      font-family: helveticaNeueBold;
      font-size: 17px;
      color: #609bca;
      margin-top: 2px;
      margin-left: 4px;
    }

    .total-div {
      margin-top: 28px;
      margin-left: 5px;

      .text {
        margin: 0;
      }

      .total-price {
        font-family: helveticaNeueBold;
        font-size: 37px;
        color: #609bca;
        padding-left: 0px;
      }

      .polygon-discount-div {
        margin-left: -5px;
        margin-top: 5px;
        position: relative;

        span {
          position: absolute;
          top: 29%;
          left: 25%;
          font-family: firaSansBold;
          font-size: 18px;
          color: #fff;
        }
      }
    }

    .btn-create-server {
      width: auto;
      height: auto;
      margin-top: 16px;
      padding: 11px 38px;
      font-family: firaSansMediumItalic;
      color: #fff;
      font-size: 15px;
    }

    .disabled-btn {
      background-color: #fff;
      box-shadow: none;
      text-shadow: none;
      color: #609bca;
      border: 1px solid;
      cursor: default;
      pointer-events: none;
    }
  }


}

.under-form-pay-system {
  background-color: #e5ebef;
  padding: 17px 0 24px 0px;
  .cards-div {
    margin-top: 10px;

    img {
      width: 73%;
    }
  }
  .text {
    font-family: firaSansRegular;
    font-size: 14px;
  }
}

.under-form-text {
  font-family: firaSansMedium;
  font-size: 13px;
  color: #3f4549;
  margin-top: 14px;
  margin-left: 3px;

  span {
    font-family: firaSansRegular;
  }
}