<div flex class="form">
    <div flex class="top">
        <div flex class="you-choose-text">Вы выбрали:</div>
        <div layout="row" class="info">
            <div flex="55">
                <div flex class="column-name">Название игры</div>
                <div flex class="column-name">Количество слотов</div>
                <div flex class="column-name">Локация сервера</div>
                <div flex class="column-name">Ip сервера</div>
            </div>
            <div flex layout="column">
                <div flex class="column-value">{{vm.buyOptions.game.name}}</div>
                <div flex class="column-value">{{vm.buyOptions.slotCount}}</div>
                <div flex class="column-value">{{vm.buyOptions.location.name}} </div>
                <div flex class="column-value">{{vm.buyOptions.gameHost.serverAddress}}</div>
            </div>
        </div>
    </div>
    <div flex class="bottom">

        <div layout="row" class="text">За слот</div>
        <div layout="row" class="month-price">{{vm.buyOptions.tariff.slot}} ₽ в месяц</div>
        <div layout="row" class="total-div">
            <div class="left" layout="column">
                <div class="text">Итоговая цена</div>
                <div class="total-price">{{vm.buyOptions.totalPrice - (vm.buyOptions.totalPrice * vm.discountSize) || 0}} ₽</div>
            </div>
            <div class="polygon-discount-div" ng-if="vm.discountSize">
                <img flex src="client/content/images/polygon-discount.png" alt="Polygon discount">
                <span>-{{vm.discountSize*100 || 0}}%</span>
            </div>
        </div>
        <button ladda="vm.buyLoading" data-style="zoom-in" flex ng-class="{'disabled-btn': vm.buyOptions.totalPrice === 0}"
                class="btn-yes"
                ng-click="vm.gameBuy()">Мне подходит
        </button>
    </div>

</div>