<md-card dir-paginate="gameHost in vm.gameHostList.items |  itemsPerPage: vm.paginationSettings.pageSize"
         current-page="vm.paginationSettings.pageNumber"
         total-items="vm.gameHostList.totalRows"
         class="card-SCVM">
    <md-card-content>
        <div layout="row">{{gameHost.serverAddress}} : {{gameHost.port}}</div>
        <div layout="row">
            <md-input-container flex>
                <label>Имя пользователя</label>
                <input value='{{gameHost.userName}}' readonly="true">
            </md-input-container>
            <md-input-container flex>
                <label>Пароль</label>
                <input value='{{gameHost.password}}' readonly="true">
            </md-input-container>
            <md-input-container flex>
                <label>Максимальное кол-во серверов</label>
                <input value='{{gameHost.gameServersMaxCount}}' readonly="true">
            </md-input-container>
            <md-input-container flex>
                <label>Локация</label>
                <input value='{{vm.$filter("filter")(vm.locations, { id: gameHost.locationId })[0].name}}' readonly="true">
            </md-input-container>
        </div>
        <div layout="row">
            <md-label>Поддерживаемые игры :</md-label>
            <br/>
        </div>
        <div layout="row">
            <md-chips ng-if="gameHost.supportedGames.length" ng-model="gameHost.supportedGames" readonly="true">
                <md-chip-template>
                    <strong>{{$chip.name}}</strong>
                </md-chip-template>
            </md-chips>
            <md-label ng-if="!gameHost.supportedGames.length">
                Не найдено поддерживаемых игр
            </md-label>
        </div>
    </md-card-content>
    <md-dialog-actions class=card-actions" layout="row" layout-align="end center">
        <md-button class="md-primary md-raised" ng-click="vm.showConfirm(gameHost)">Удалить</md-button>
        <md-button class="md-primary md-raised" ng-click="vm.showAdvanced(gameHost)">Редактировать</md-button>
    </md-dialog-actions>
</md-card>

<div layout="row" layout-align="center">
    <dir-pagination-controls
            boundary-links="true"
            on-page-change="vm.pageChangeHandler(newPageNumber)"
            template-url="content/pagination/dirPagination.tpl.html">
    </dir-pagination-controls>
</div>

<md-button aria-label="menu" class="md-fab md-warn btn-add-entity" ng-click="vm.showAdvanced()">
    <md-tooltip>
        Добавить
    </md-tooltip>
    +
</md-button>

<script type="text/ng-template" id="gameHostAdvanceWindow.tmpl.html">
    <md-dialog aria-label="GameHost">
        <form name="GameHostForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Добавление / Редактирование</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="vm.cancel()">
                        <md-icon md-svg-src="client/content/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content style="max-width:600px;max-height:820px; padding:23px;" layout="column">
                <md-input-container flex>
                    <label>Адрес сервера</label>
                    <input ng-model="vm.gameHost.serverAddress">
                </md-input-container>
                <md-input-container flex>
                    <label>Порт</label>
                    <input ng-model="vm.gameHost.port">
                </md-input-container>
                <md-input-container flex>
                    <label>Имя пользователя</label>
                    <input ng-model="vm.gameHost.userName">
                </md-input-container>
                <md-input-container flex>
                    <label>Пароль</label>
                    <input ng-model="vm.gameHost.password">
                </md-input-container>
                <md-input-container flex>
                    <label>Максимальное кол-во серверов</label>
                    <input ng-model="vm.gameHost.gameServersMaxCount">
                </md-input-container>
                <md-input-container flex>
                    <label>Путь к игровым серверам</label>
                    <input ng-model="vm.gameHost.path">
                </md-input-container>
                <md-input-container flex>
                    <label>Начало пула игровых портов</label>
                    <input ng-model="vm.gameHost.rangePortStart">
                </md-input-container>
                <md-input-container>
                    <label>Локация</label>
                    <md-select ng-model="vm.gameHost.locationId">
                        <md-option ng-repeat="location in vm.locations"
                                   value="{{location.id}}">
                            {{location.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-chips ng-if="vm.gameHost.supportedGames.length" ng-model="vm.gameHost.supportedGames">
                    <md-chip-template md-on-remove="vm.removeGame($chip)">
                        <strong>{{$chip.name}}</strong>
                    </md-chip-template>
                </md-chips>
                <md-label ng-if="!vm.gameHost.supportedGames.length">
                    Не найдено поддерживаемых игр
                </md-label>
                <md-input-container ng-if="vm.gameList.items.length > 0">
                    <label>Остальные игры</label>
                    <md-select ng-model="vm.selectedGame">
                        <md-option ng-repeat="game in vm.gameList.items"
                                   ng-click="vm.addGame(game)"
                                   value="{{game.id}}">
                            {{game.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-click="vm.cancel()">Отмена</md-button>
                <md-button ng-click="vm.answer()" style="margin-right:20px;">Применить</md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>