.general-question-form {
  p {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: underline;
    cursor: pointer;
  }

  .header {
    font-family: firaSansMedium;
    font-size: 27px;
  }

  .under-header-text {
    max-width: 96%;
    font-family: firaSansRegular;
    font-size: 15px;
    background-color: #dce1e5;
    border-radius: 4px;
    border: transparent;
    line-height: 1.4;
    padding: 16px;
    padding-right: 25px;
    margin-top: 23px;
  }

  .top-questions {
    margin-top: 29px;
  }

  .question-category {
    color: #3f4549;
    font-size: 18px;
    font-family: firaSansMedium;
    margin-top: 39px;
    margin-bottom: 9px;
  }

  .question {
    color: #548fc4;
    font-size: 18px;
    font-family: firaSansMedium;
    cursor: pointer;
    margin: 9px 0;
    text-decoration: underline;
  }

  .selected-question {
    color: #3f4549;
    text-decoration: none;
  }

  .selected-question:before {
    content: "•";
    padding-right: 8px;
    color: #548fc4;
  }

  .answer-div {
    margin-left: 15px;

    .answer {
      max-width: 97%;
      margin-top: 5px;
      margin-bottom: 10px;
      color: #3f4549;
      font-size: 15px;
      line-height: 1.4;
      font-family: firaSansRegular;
    }
  }
}