<div class="general-question-form">
    <div layout="row" class="header">FAQ —  часто задаваемые вопросы</div>

    <div class="under-header-text" layout="row">
        <p>Мы постарались собрать наиболее часто задаваемые вопросы и ответы на них.
        Вы всегда можете обратиться с вопросом в нашу службу техподдрежки, написав нам на info@crytex.net
        или воспользовавшись разделом <a>Задать вопроc</a></p>
    </div>

    <div layout="column" class="top-questions">
        <div class="question">Где посмотреть логин и пароль от гостевой ОС?</div>
        <div class="question">Как подключить виртуальную машину к интернету?</div>
    </div>

    <div layout="column">
        <div class="question-category">Лицензии Windows</div>
        <div class="question">Как заказать?</div>
        <div class="question">Как пополнить счет?</div>
        <div class="question">Правила тестового периода</div>
        <div class="question">Управление подключенными ресурсами в Личном кабинете</div>
        <div class="question"
             ng-click="vm.isShow[1] = !vm.isShow[1]"
             ng-class="{'selected-question': vm.isShow[1]}">
            Как обратиться в техподдержку?
        </div>
        <div layout="column" class="answer-div" ng-show="vm.isShow[1]">
            <div class="answer">
                <p>
                    1. Самый быстрый способ - написать свой запрос на <a>support@crytex.net</a>. Наш Help
                    Desk автоматически создаст инцидент на основе вашего письменного запроса. К вам
                    на почту придет уведомление о заведении инцидента.
                </p>
            </div>
            <div class="answer">
                <p>
                    2. Телефонная линия техподдержки 8 (495) 784-61-39. Она в вашем распоряжении по
                    будням с 10.00 до 18.30. Наши операторы фиксируют ваши обращения в Help Desk с
                    автоматическим уведомлением о заведении инцидента вам на почту.
                </p>
            </div>
        </div>
        <div class="question">Какие параметры фиксируются в SLA?</div>
        <div class="question">Как часто списываются средства с моего счета за используемые ресурсы?</div>
    </div>

    <div layout="column">
        <div class="question-category">Начало работы в панели управления</div>
        <div class="question">Сколько виртуальных машин можно создать в рамках пула ресурсов?</div>
        <div class="question">Какие размеры виртуальной машины являются оптимальными?</div>
        <div class="question">Что происходит с моими сервисами в случае нехватки средств на счете?</div>
    </div>
</div>