<div id="top-news">
    <div style="position: absolute;width: 100%;height: 350px;overflow: hidden;min-width: 1280px;" ng-class="{'back':backImage}">
        <div  ng-repeat="newsImage in newsImage" class="slider-image"   ng-if="newsImage.isShow" >

            <div class="slider-image-root back"  ng-style="{'background-image': 'url(' + newsImage.url + ')'}"
               >
            </div>
        </div>
    </div>



    <div style="position: absolute;width: 100%">
        <div class="content-main-width">
            <div class="top-news-content">
                <div class="top-news-header">Проанализируем Ваш сайт <br/> и предложим <span>лучший тариф</span></div>
                <div class="top-news-text">За каждого активного пользователя, пришедшего к нам по Вашей рекомендации, мы
                    пополним <br/> Ваш счёт на 200 рублей.
                </div>
                <div class="top-news-button">
                    <button class="primary-button dark" ng-click="showMessage()" >Пригласить друга</button>
                </div>
            </div>
            <div class="top-news-slider-circles">
                <ul class="news-circles">
                    <li class="one-new-circle-content">
                        <div ng-click="showImage(0)" class="outer-circle">
                            <div ng-show="newsImage[0].isShow" class="inner-circle"></div>
                        </div>
                    </li>
                    <li class="one-new-circle-content">
                        <div ng-click="showImage(1)" class="outer-circle">
                            <div ng-show="newsImage[1].isShow" class="inner-circle"></div>
                        </div>
                    </li>
                    <li class="one-new-circle-content">
                        <div ng-click="showImage(2)" class="outer-circle">
                            <div ng-show="newsImage[2].isShow" class="inner-circle"></div>
                        </div>
                    </li>
                    <li class="one-new-circle-content">
                        <div ng-click="showImage(3)" class="outer-circle">
                            <div ng-show="newsImage[3].isShow" class="inner-circle "></div>
                        </div>
                    </li>
                    <li class="one-new-circle-content">
                        <div ng-click="showImage(4)" class="outer-circle">
                            <div ng-show="newsImage[4].isShow" class="inner-circle"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="services">
    <div class="content-main-width">
        <div class="service-header" >С <span>Crytex Networks</span> у Вас неограниченные возможности</div>
        <div class="service-block">
            <div class="services-left-side" ng-mouseover="leaveService()">
                <ul class="resp-tabs-list">
                    <li ng-click="highliteService(0)"
                        ng-style="serviceStyle[0].style">
                        <b>Облачная виртуализация</b>
                    </li>
                    <li ng-click="highliteService(1)"
                        ng-style="serviceStyle[1].style">
                        <b>Частные и публичные сети</b>
                    </li>
                    <li ng-click="highliteService(2)"
                        ng-style="serviceStyle[2].style">
                        <b>Игровые, голосовые серверы</b>
                    </li>
                    <li ng-click="highliteService(3)"
                        ng-style="serviceStyle[3].style">
                        <b>Веб-хостинги и доменные имена</b>
                    </li>
                    <li ng-click="highliteService(4)"
                        ng-style="serviceStyle[4].style">
                        <b>Сервис хранения данных</b>
                    </li>
                </ul>
            </div>
            <div class="services-right-side" ng-style="serviceRightStyle">
                <div class="services-right-content">
                    <div class="services-right-content-image">
                        <img class="service-image" src="client/content/images/home/cloud.png"/>
                    </div>
                    <div class="services-right-content-info">
                        <div class="services-right-content-info-header">{{serviceInfo.header}}</div>
                        <div class="services-right-content-info-maintext">{{serviceInfo.mainText}}</div>
                        <div class="services-right-content-info-button">
                            <button class="primary-button" ripple>Узнать подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="why-crytex">
    <div class="content-main-width">
        <div class="why-header">
            <div class="why-header-content">
                <div class="hyphen-left">
                    &minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;
                </div>
                <div class="why-header-text">Почему Crytex?</div>
                <div class="hyphen-right">
                    &minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;&minus;
                </div>
            </div>
        </div>
        <div class="why-body">
            <div class="why-body-content">
                <div class="why-body-top">
                    <div class="why-cell-first-column">
                        <div class="why-cell-top">
                            <div class="why-cell-top-left">
                                <div>
                                    <img src="client/content/images/icons/support.png"/>
                                </div>
                            </div>
                            <div class="why-cell-top-right">
                                <div class="why-cell-top-text">
                                    Техническая <br/> поддержка <br/>24/7/365
                                </div>
                            </div>
                        </div>
                        <div class="why-cell-bottom why-cell-bottom-first">
                            Вы всегда можете получить квалифицированную техпомощь по любому возникающему вопросу. Время
                            ответа специалиста CRYTEX - не более 15 минут.
                        </div>
                    </div>
                    <div class="why-cell-second-column">
                        <div class="why-cell-second-column-content">
                            <div class="why-cell-top">
                                <div class="why-cell-top-left">
                                    <div>
                                        <img src="client/content/images/icons/setting.png"/>
                                    </div>
                                </div>
                                <div class="why-cell-top-right">
                                    <div class="why-cell-top-text why-cell-top-text-second">
                                        Неограниченные возможности виртуализации
                                    </div>
                                </div>
                            </div>
                            <div class="why-cell-bottom why-cell-bottom-second">
                                Забудьте об ограничениях на количество дискового пространства, электронных адресов и
                                доменов на обычных хостингах. Выбрав CRYTEX, Вы можете увеличивать выделяемые мощности
                                по мере растущих потребностей без остановки в работе своих проектов.
                            </div>
                        </div>
                    </div>
                    <div class="why-cell-third-column">
                        <div class="why-cell-third-column-content">
                            <div class="why-cell-top">
                                <div class="why-cell-top-left">
                                    <div>
                                        <img src="client/content/images/icons/technology.png"/>
                                    </div>
                                </div>
                                <div class="why-cell-top-right">
                                    <div class="why-cell-top-text why-cell-top-text-third">
                                        Современное ПО и технологии
                                    </div>
                                </div>
                            </div>
                            <div class="why-cell-bottom why-cell-bottom-third">
                                Облачная виртуализация у нас осуществляется с использованием двух технологий: <span>VMware</span>
                                и <span>Hyper-V</span>, в работе мы используем Ceph и другое профессиональное ПО.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="why-body-bottom">
                    <div class="why-cell-first-column">
                        <div class="why-cell-top why-cell-top-four">
                            <div class="why-cell-top-left">
                                <div>
                                    <img src="client/content/images/icons/online.png"/>
                                </div>
                            </div>
                            <div class="why-cell-top-right why-cell-top-right-four">
                                <div class="why-cell-top-text why-cell-top-text-four">
                                    Доступность хостинга &minus; 99,95%
                                </div>
                            </div>
                        </div>
                        <div class="why-cell-bottom why-cell-bottom-four">
                            Заявленная производительность и доступность облака обеспечивается в режиме 24x7. Суммарное
                            время простоя составит не более 20 минут в месяц.
                        </div>
                    </div>
                    <div class="why-cell-second-column">
                        <div class="why-cell-second-column-content">
                            <div class="why-cell-top why-cell-top-five">
                                <div class="why-cell-top-left">
                                    <div>
                                        <img class="why-cell-image-five"
                                             src="client/content/images/icons/security.png"/>
                                    </div>
                                </div>
                                <div class="why-cell-top-right why-cell-top-right-five">
                                    <div class="why-cell-top-text why-cell-top-text-five">
                                        Конфиденциальность и безопасное хранение данных
                                    </div>
                                </div>
                            </div>
                            <div class="why-cell-bottom why-cell-bottom-five">
                                Вся Ваша информация хранится в зашифрованном виде, и воспользоваться ею можете только
                                Вы. Даже в случае перехвата данных третьими лицами, их расшифровка окажется невозможной.
                            </div>
                        </div>
                    </div>
                    <div class="why-cell-third-column">
                        <div class="why-cell-third-column-content">
                            <div class="why-cell-top why-cell-top-six">
                                <div class="why-cell-top-left">
                                    <div>
                                        <img src="client/content/images/icons/test.png"/>
                                    </div>
                                </div>
                                <div class="why-cell-top-right">
                                    <div class="why-cell-top-text why-cell-top-text-six">
                                        Бесплатный тестовый период
                                    </div>
                                </div>
                            </div>
                            <div class="why-cell-bottom why-cell-bottom-six">
                                Вы всегда можете попробовать наш сервис в деле, прежде чем стать нашим клиентом на
                                постоянной основе.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="why-footer">
            <div class="why-footer-left">
                <div class="why-footer-card">
                    <img class="why-footer-one-card-image" src="client/content/images/icons/payment.png" alt="Карта"/>
                </div>
                <div class="why-footer-card-text">
                    <div class="why-footer-card-text-header">Любые способы оплаты</div>
                    <div class="why-footer-card-text-maintext">Пополнять счет и оплачивать услуги CRYTEX Вы можете любым
                        удобным способом: электронными платежами, банковскими картами и переводами и т.д.
                    </div>
                </div>
            </div>
            <div class="why-footer-right">
                <img class="why-footer-cards-image" src="client/content/images/icons/cards_full.png"
                     alt="Оплата картой"/>
            </div>
        </div>
    </div>
</div>
<div id="review">
    <div class="content-main-width">
        <div class="review-main-content">
            <div class="review-header-text">Пользователи выбирают <span>CRYTEX!</span></div>
            <div class="review-subheader-text">На данный момент нами создано 537 виртуальных дата-центров, количество
                клиентов, пользующихся нашими услугами более 1 месяца составляет 97,3%
            </div>
            <div class="review-hexs">
                <div class="first-hex">
                    <svg width="100%" height="90">
                        <polygon class="hex" points="160,45 120,90 40,90 0,45 40,0 120,00"
                                 style="stroke:#565d60"></polygon>
                        <text class="first-hex-text-one" x="48" y="52" fill="#565d60">537</text>
                        <text class="first-hex-text-two" x="38" y="71" fill="#565d60">дата-центров</text>
                    </svg>
                </div>
                <div class="second-hex">
                    <svg width="100%" height="90">
                        <polygon class="hex" points="160,45 120,90 40,90 0,45 40,0 120,00"
                                 style="stroke:#565d60"></polygon>
                        <text class="second-hex-text" x="40" y="55" fill="#565d60">97,3%</text>
                    </svg>
                </div>
                <div class="text-after-second-hex">
                    клиентов пользуются услугами более 1 месяца!
                </div>
            </div>
            <div class="review-human-info">
                <div class="review-human-info-left">
                    <img class="human-face-image" src="client/content/images/home/review-human-face.png"
                         alt="Пользователь"/>
                </div>
                <div class="review-human-info-right">
                    <div class="header-link review-human-name">Элон Макс</div>
                    <div class="review-human-nickname">max.spaseX.com</div>
                </div>
            </div>
            <div class="review-text">
                Пользуюсь услугами Crytex вот уже три года. Главное в этом деле это качественная тех.поддержка и работа
                без сбоев. За эти три года был лишь один случай, который поддержка решила за 5 минут. Однозначно доволен
                и буду пользоваться дальше!
                <span></span>
            </div>
            <div>
                <a class="other-review header-link" href="#">Другой отзыв</a>
            </div>
        </div>
    </div>
</div>
