.slider-image.ng-enter ,
.slider-image.ng-leave {

  -webkit-transition: 900ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  -moz-transition: 900ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  -ms-transition: 900ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  -o-transition: 900ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  transition: 900ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  position: absolute;
}

.slider-image.ng-enter {
  left: 100%;
}
.slider-image.ng-enter.ng-enter-active {
  left: 0;

}



.slider-image.ng-leave{
  left: 0;

}
.slider-image.ng-leave.ng-leave-active {
  left: -100%;

}

.back .slider-image.ng-enter ,
.back .slider-image.ng-leave {

  -webkit-transition: 900ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  -moz-transition: 900ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  -ms-transition: 900ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  -o-transition: 900ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  transition: 900ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  position: absolute;
}

 .back  .slider-image.ng-enter.ng-enter-active{
   left: 0;
 }
 .back  .slider-image.ng-enter{
  left: -100%;
}

 .back  .slider-image.ng-leave.ng-leave-active{
  left: 100%;
}
 .back  .slider-image.ng-leave{
  left: 0%;
}

.slider-image{
  width: 100%;
  min-width: 1280px;
  border-right:2px solid #495965;
}

.slider-image-root{
  height: 350px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: left top;
}

.crytex-display-3
{
  font: 16px firasansRegular;
}

.crytex-display-2
{
  font: 14px firasansRegular
}
.crytex-display-1
{
  font: 13px firasansRegular
}

.crytex-header{
  font: 24px firasansMedium
}
.crytex-title{
  font: 16px firasansMedium
}
.crytex-title-display-2{
  font: 14px firasansMedium
}
.crytex-title-display-1{
  font: 13px firasansMedium
}




