@font-face {
    font-family: firaSansMedium;

    src: url("./content/fonts/eot/FiraSans-Medium.eot");
    src: url("./content/fonts/eot/FiraSans-Medium.eot?#iefix") format("embedded-opentype"),
    url("./content/fonts/woff2/FiraSans-Medium.woff2") format("woff2"),
    url("./content/fonts/ttf/FiraSans-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;

}

@font-face {
    font-family: firaSansMediumItalic;

    src: url("./content/fonts/eot/FiraSans-MediumItalic.eot");
    src: url("./content/fonts/eot/FiraSans-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("./content/fonts/woff2/FiraSans-MediumItalic.woff2") format("woff2"),
    url("./content/fonts/ttf/FiraSans-MediumItalic.ttf") format("truetype");

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: firaSansBook;

    src: url("./content/fonts/eot/FiraSans-Book.eot");
    src: url("./content/fonts/eot/FiraSans-Book.eot?#iefix") format("embedded-opentype"),
    url("./content/fonts/woff2/FiraSans-Book.woff2") format("woff2"),
    url("./content/fonts/ttf/FiraSans-Book.ttf") format("truetype");

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: firaSansRegular;

    src: url("./content/fonts/eot/FiraSans-Regular.eot");
    src: url("./content/fonts/eot/FiraSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("./content/fonts/woff2/FiraSans-Regular.woff2") format("woff2"),
    url("./content/fonts/ttf/FiraSans-Regular.ttf") format("truetype");

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: firaSansLight;

    src: url("./content/fonts/eot/FiraSans-Light.eot");
    src: url("./content/fonts/eot/FiraSans-Light.eot?#iefix") format("embedded-opentype"),
    url("./content/fonts/woff2/FiraSans-Light.woff2") format("woff2"),
    url("./content/fonts/ttf/FiraSans-Light.ttf") format("truetype");

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: firaSansExtraLight;

    src: url("./content/fonts/eot/FiraSans-ExtraLight.eot");
    src: url("./content/fonts/eot/FiraSans-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("./content/fonts/woff2/FiraSans-ExtraLight.woff2") format("woff2"),
    url("./content/fonts/ttf/FiraSans-ExtraLight.ttf") format("truetype");

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: firaSansItalic;

    src: url("./content/fonts/eot/FiraSans-Italic.eot");
    src: url("./content/fonts/eot/FiraSans-Italic.eot?#iefix") format("embedded-opentype"),
    url("./content/fonts/woff2/FiraSans-Italic.woff2") format("woff2"),
    url("./content/fonts/ttf/FiraSans-Italic.ttf") format("truetype");

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: firaSansBold;

    src: url("./content/fonts/eot/FiraSans-Bold.eot");
    src: url("./content/fonts/eot/FiraSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("./content/fonts/woff2/FiraSans-Bold.woff2") format("woff2"),
    url("./content/fonts/ttf/FiraSans-Bold.ttf") format("truetype");

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: firaSansHeavy;
    src: url(./content/fonts/FiraSans-Heavy.otf) format("truetype");
}

@font-face {
    font-family: helveticaNeueBold;

    src: url("./content/fonts/eot/helvetica-neue-bold.eot");
    src: url("./content/fonts/eot/helvetica-neue-bold.eot?#iefix") format("embedded-opentype"),
    url("./content/fonts/woff2/helvetica-neue-bold.woff2") format("woff2"),
    url("./content/fonts/ttf/helvetica-neue-bold.ttf") format("truetype");

    font-weight: normal;
    font-style: normal;
}

*:focus {
    outline: none;
}

#global-block {
    background-color: #d8dfe7;
}

#global-block-content {
    width: 1280px;
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 110px;
}

#menu {
    width: 100%;
    height: 50px;
    background-color: #4d5d69;
    border-bottom: 3px solid #313b42;
}

#top-news {
    width: 100%;
    height: 350px;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: left top;
    padding: 0;
    margin: 0;
}

#services {
    width: 100%;
    height: 450px;
    background-color: #e5e8ee;
}

#why-crytex {
    width: 100%;
    height: 800px;
    background: url(./content/images/home/background.jpg) no-repeat 100% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: left top;
    padding: 0;
    margin: 0;
}

#review {
    width: 1280px;
    height: 600px;
    background: url(./content/images/home/bg.jpg) no-repeat 100% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: left top;
    padding: 0;
    margin: auto;
}

#footer {
    width: 100%;
    height: 350px;
    background: url(./content/images/home/bgf.jpg) no-repeat 100% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: left top;
    padding: 0;
    margin: 0;
}

.content-main-width {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.img-logo {
    background: url(./content/images/home/logo.png) no-repeat 100% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: initial;
    background-position: center;

    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.logo {
    width: 20%;
    height: 100%;
    float: left;
    padding-top: 16px;
}

.call-me {
    width: 30%;
    height: 100%;
    float: left;
}

.call-me-content {
    padding-left: 112px;
    padding-top: 41px;
    color: #495965;
    height: 100%;
    width: 100%;
}

.header-link {
    font-family: firaSansMedium;
    color: #548bb1;
    text-decoration: underline;
    line-height: inherit;
    font-size: 13px;
    cursor: pointer;
}

.circle-call-me {
    float: left;
    width: 57px;
    height: 57px;

    border-radius: 28px;
    border-style: solid;
    border-color: #495965;
    border-width: 1px;

    font-size: 15px;
    line-height: 58px;
    text-align: center;
    font-family: firaSansRegular;
}

.call-me-text {
    float: left;
    padding-left: 30px;
}

.call-me-list {
    font-family: firaSansMedium;
    list-style-type: none;
    margin-top: 0px;
    margin-left: -10px;
    color: #495965;
    padding: 0;
    line-height: 1.45;
}

.call-me-list:first-child {
    font-size: small;
    display: list-item;
    padding-top: 1px;
}

.call-me-list:last-child {
    padding-left: 1px;
}

.phone {
    font-family: firaSansBook;
    font-size: 15px;
    margin-left: -5px;
}

.phone span {
    font-family: firaSansMedium;
}

.header-right-panel {
    width: 50%;
    height: 100%;
    float: left;
}

.header-right-panel-content {
    padding-top: 55px;
    float: right;
    line-height: 1.9;
}

.ask-question-button {
    width: 144px;
    height: 31px;
    padding: 5px 0px 5px 7px;
    background-position: 7% 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid #fff;
    font-family: 'Fira Sans';

}

.link-create-account {
    padding-right: 23px;
    padding-left: 36px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.link-login {
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu-content {
    width: 100%;
    height: 100%;
    color: white;
    font-family: firaSansRegular;
    margin-left: -19px
}

.menu-list {
    list-style-type: none;
    padding: 0px;
    line-height: 3;
}

.menu-list-li {
    display: inline;
    margin: 9px 45px 2px 10px;
}

.menu-list-subli {
    margin: 9px 45px 2px 10px;
}

.menu-list-lastli {
    float: right;
    margin: 0px;
}

/*----- Menu Outline -----*/

.menu .clearfix {
    padding: 0px;
}

.menu-wrap {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: #d6dbe7;
}

.menu {
    width: 1000px;
    margin: 0px auto;
}

.menu li {
    margin: 0px;
    list-style: none;
}

.menu a {
    transition: all linear 0.2s;
    color: white;
}

.menu li:hover > a, .menu .current-item > a {
    text-decoration: none;
    color: #495965;
}

.menu .arrow {
    font-size: 11px;
    line-height: 0%;
}

/*----- Top Level -----*/
.menu > ul > li {
    float: left;
    display: inline-block;
    position: relative;
    font-size: 15px;
    padding-top: 8px;

}

.menu > ul > li > a {
    padding: 10px 23px;
    display: inline-block;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background: #d6dbe7;

}

/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index: 20;
    opacity: 1;
}

.sub-menu {
    width: 228%;
    padding: 5px 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.3s;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    background: #d6dbe7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 17px;
    padding-bottom: 15px;
}

.sub-menu li {
    display: block;
    font-size: 15px;
    line-height: 2;
}

.sub-menu li a {
    padding: 0px 10px;
    display: block;
    color: #495965;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 4px;
    border: 1px solid transparent;
}

.sub-menu li a:hover, .sub-menu .current-item a {
    background: #d6dbe7;
    text-decoration: none;
    border: 1px solid #bec4d2;
    border-radius: 25px;
}

.sub-menu li a:active {
    background: #d6dbe7;
    text-decoration: none;
    border: 1px solid #bec4d2;
    border-radius: 25px;
}

.last-li-with-button {
    margin-right: -16px !important;
    float: right !important;
}

.menu-two-tab {
    padding-left: 36px !important;
}

.menu-three-tab {
    padding-left: 35px !important;
}

.menu-four-tab {
    padding-left: 26px !important;
}

.menu-five-tab {
    padding-left: 26px !important;
}

.top-news-content {
    width: 40%;
    height: auto;
    color: white;
}

.top-news-header {
    padding-top: 66px;
    padding-left: 2px;
    font-size: 27px;
    font-family: firaSansLight;
}

.top-news-header span {
    font-family: firaSansMedium;
}

.top-news-text {
    padding-top: 18px;
    font-family: firaSansRegular;
    line-height: 1.45;
    padding-left: 2px;
}

.top-news-button {
    padding-top: 33px;
}

.top-news-slider-circles {
    width: 100%;
    height: auto;
    padding-top: 12px;
    float: right;
}

.news-circles {
    float: right;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.news-circles li {
    display: inline;
    float: left;
    margin-left: 11px;
}

.one-new-circle-content {
    width: 29px;
    margin-left: auto;
    margin-right: auto;
}

.outer-circle {
    background: white;
    border-radius: 50%;
    height: 27px;
    width: 27px;
}

.inner-circle {
    position: relative;
    background: #5d8cae;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    margin: 0 auto;
    top: 25%;
}

.service-header {
    color: #3f4549;
    width: 100%;
    font-size: 27px;
    padding-top: 49px;
    margin-left: -3px;
    font-family: firaSansBook;
}

.service-header span {
    font-family: firaSansMedium;
}

.service-block {
    width: 100%;
    height: 240px;
    padding-top: 43px;
    font-family: firaSansMedium;
    overflow: hidden;
    padding-bottom: 15px;
}

.services-left-side {
    width: 26%;
    height: 100%;
    float: left;
}

.services-right-side {
    float: left;
    width: 74%;
    height: 98%;
    background-color: white;
    border-radius: 5px;
    margin-left: -1px;
    padding-bottom: 1px;
    box-shadow: 0px 8px 8px 0px rgba(216, 225, 230, 0.47);
}

.services-right-content {
    width: 100%;
    height: 100%;

}

.services-right-content-image {
    width: 32%;
    height: 100%;
    float: left;
}

.services-right-content-info {
    width: 68%;
    height: 100%;
    float: left;
    color: black;
    font-family: firaSansRegular;
}

.services-right-content-info-header {
    color: #4d5b64;
    font-size: 25px;
    line-height: 1.4;
    padding-top: 33px;
    padding-left: 2px;
}

.services-right-content-info-maintext {
    color: #4d5b64;
    font-size: 15px;
    line-height: 1.4;
    padding-top: 10px;
    padding-left: 4px;
    width: 90%;
}

.services-right-content-info-button {
    padding-top: 20px;
}

.service-image {
    width: 81%;
    position: relative;
    top: 16%;
    left: 12%;
}

.mouse-on-service {
    color: red;
}

.resp-tabs-list {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.resp-tabs-list li {
    text-decoration: underline;
    font-weight: 100;
    border-right: 1px solid #d7dee3;
    color: #4d5b64;
    font-size: 14px;
    display: block !important;
    margin: 0;
    list-style: none;
    cursor: pointer;
    line-height: 28px;

    padding-top: 8px;
    padding-bottom: 17px;

    padding-left: 19px;
    max-height: 10%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.resp-tabs-list li b {
    font-weight: 100;
}

.why-header {
    width: 100%;
    height: 18%;
    color: white;
}

.why-header-content {
    height: 20px;
    width: 100%;
    padding-top: 89px;
    line-height: 30px;
}

.hyphen-left {
    float: left;
    width: 38%;
    height: 100%;
    overflow: hidden;
}

.hyphen-right {
    float: left;
    width: 38%;
    height: 100%;
    overflow: hidden;
}

.why-header-text {
    float: left;
    width: 24%;
    margin-left: -5px;
    height: 100%;
    text-align: center;
    font-size: 27px;
    font-family: firaSansMedium;
}

.why-body {
    width: 100%;
    height: 60%;
    color: white;
    font-family: firaSansMedium;
    margin-left: -7px;
}

.why-body-content {
    width: 100%;
    height: 100%;
}

.why-body-top {
    height: 48%;
}

.why-body-bottom {
    height: 50%;
    padding-top: 9px;
}

.why-cell-first-column {
    width: 25%;
    height: 100%;
    float: left;
}

.why-cell-second-column {
    width: 50%;
    height: 100%;
    float: left;
}

.why-cell-third-column {
    width: 25%;
    height: 100%;
    float: left;
}

.why-cell-second-column-content {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding-left: 16px;
}

.why-cell-third-column-content {
    padding-left: 13px;
    padding-top: 9px;
    height: 100%;
    width: 100%;
}

.why-cell-top-left {
    float: left;
    width: 29%;
    height: 100%;
}

.why-cell-top-right {
    float: left;
    height: 100%;
    width: 71%;
}

.why-cell-top-right-four {
    width: 45%;
}

.why-cell-top-right-five {
    margin-top: -7px;
    margin-left: -2px;
}

.why-cell-top-text {
    margin-left: 30px;
    font-size: 16px;
    padding-top: 19px;
    line-height: 1.4;
}

.why-cell-top-text-second {
    margin-left: 16px;
}

.why-cell-top-text-third {
    margin-left: 37px;
    padding-top: 14px;
}

.why-cell-top-text-four {
    padding-top: 15px;
    margin-left: 35px;
}

.why-cell-top-text-five {
    padding-top: 20px;
    margin-left: 11px;
    width: 83%;
}

.why-cell-top-text-six {
    width: 70%;
    text-decoration: underline;
    margin-left: 34px;
}

.why-cell-top {
    height: 40%;
    width: 100%;
}

.why-cell-top-four {
    padding-top: 21px;
}

.why-cell-top-five {
    padding-top: 24px;
    padding-left: 2px;
}

.why-cell-top-six {
    padding-top: 10px;
    margin-left: -10px;
}

.why-cell-image-five {
    width: 100%;
}

.why-cell-bottom {
    height: 60%;
    width: 100%;
    font-size: 13px;
    font-family: firaSansRegular;
    padding-top: 5px;
    padding-left: 16px;
    line-height: 1.45;
}

.why-cell-bottom-first {
    width: 82%;
    padding-top: 13px;
}

.why-cell-bottom-second {
    padding-top: 11px;
    padding-left: 19px;
}

.why-cell-bottom-third {
    width: 90%;
    padding-top: 1px;
    padding-left: 13px;
}

.why-cell-bottom-third span {
    text-decoration: underline;
}

.why-cell-bottom-four {
    width: 89%;
    padding-top: 3px;
}

.why-cell-bottom-five {
    padding-top: 2px;
    padding-left: 18px;
}

.why-cell-bottom-six {
    padding-top: 14px;
    padding-left: 14px;
    width: 85%;
}

.why-footer {
    width: 100%;
    height: 22%;
    color: white;
    margin-left: -9px;
}

.why-footer-left {
    width: 75%;
    height: 100%;
    float: left;
}

.why-footer-right {
    width: 25%;
    height: 80%;
    float: left;
    padding-top: 32px;
}

.why-footer-cards-image {
    width: 80%;
    padding-left: 24px;
}

.why-footer-card {
    float: left;
    width: 13%;
    height: 80%;
    margin-left: -1px;
    padding-top: 18px;
}

.why-footer-one-card-image {
    width: 97%;
}

.why-footer-card-text {
    padding-top: 33px;
    padding-left: 7px;
    float: left;
    width: 70%;
    height: 80%;
}

.why-footer-card-text-header {
    font-size: 16px;
    text-decoration: underline;
    font-family: firaSansMedium;
}

.why-footer-card-text-maintext {
    font-size: 13px;
    font-family: firaSansRegular;
    padding-top: 13px;
    line-height: 1.4;
}

.review-main-content {
    width: 53%;
    margin-left: -1px;
    height: 100%;
    color: #565d60;
}

.review-header-text {
    width: 100%;
    font-size: 27px;
    padding-top: 50px;
    font-family: firaSansBook;
}

.review-header-text span {
    font-family: firaSansMedium;
}

.review-subheader-text {
    width: 100%;
    font-size: 13px;
    padding-top: 19px;
    margin-left: -2px;
    line-height: 1.4;
    font-family: firaSansRegular;
}

.review-hexs {
    width: 100%;
    height: 100px;
    line-height: 25px;
    padding-top: 27px;
    margin-left: -3px;
}

.hex {
    fill-opacity: 0;
    stroke: black;
    stroke-width: 1;
}

.first-hex {
    float: left;
    width: 160px;
}

.second-hex {
    float: left;
    width: 160px;
    margin-left: 40px;
}

.first-hex-text-one {
    font-size: 48px;
    font-family: firaSansExtraLight;
}

.first-hex-text-two {
    font-size: 13px;
    font-family: firaSansRegular;
}

.second-hex-text {
    font-size: 36px;
    font-family: firaSansExtraLight;
}

.text-after-second-hex {
    float: left;
    width: 140px;
    font-family: firaSansRegular;
    font-size: 13px;
    padding-top: 15px;
    padding-left: 17px;
    line-height: 1.4;
}

.review-human-info {
    width: 100%;
    height: 65px;
    padding-top: 33px;
}

.review-human-info-left {
    width: 50px;
    height: 100%;
    float: left;
    padding-left: 19px;
}

.review-human-info-right {
    width: auto;
    height: 100%;
    float: left;
    padding-left: 15px;
}

.human-face-image {
    width: 100%;
}

.review-human-name {
    padding-top: 7px;
    padding-bottom: 5px;
    font-size: 15px;
}

.review-human-nickname {
    font-size: 13px;
    font-family: firaSansItalic;
}

.review-text {
    position: relative;
    width: 431px;
    height: 107px;
    padding: 25px;
    margin-top: -2px;
    border: 1px solid #565d60;
    clear: both;
    float: left;
    border-radius: 10px;
    line-height: 1.5;
    font-size: 15px;
    font-family: firaSansRegular;
    padding-right: 21px;
    padding-top: 23px;
}

.review-text span {
    position: absolute;
    top: -9px;
    left: 10px;
    width: 11px;
    height: 14px;
    display: inline-block;
    -ms-transform: skewY(130deg);
    -webkit-transform: skewY(130deg);
    transform: skewY(130deg);
    border-right: 1px solid #575c60;
    border-top: 1px solid #575c60;
    background-color: #e5e8ee;
}

.other-review {
    display: block;
    clear: both;
    margin: 20px auto;
    font-size: 13px;
    padding-top: 24px;
    padding-left: 4px;
}

.footer-top {
    width: 100%;
    height: 80%;
}

.footer-top-content {
    width: 100%;
    height: 80%;
    padding-top: 26px;
    margin-left: -2px;
}

.footer-list {
    width: 17%;
    height: 100%;
    float: left;
    color: white;
}

.footer-second-list {
    width: 21%;
    padding-left: 10px;
}

.footer-list ul {
    padding: 0px;
}

.footer-list li {
    list-style: none;
    text-decoration: underline;
    line-height: 25px;
    font-family: firaSansRegular;
    font-size: 14px;
}

.footer-list li a {
    color: #d0d0d0;
}

.footer-list li a:first-child {
    text-decoration: none;
}

.footer-list li:first-child {
    margin-bottom: 6px;
    text-decoration: none !important;
    font-family: firaSansMedium;
    font-size: 16px;
}

.footer-list-five {
    padding-top: 19px;
    padding-left: 18px;
}

.footer-list-five-top {

}

.footer-list-five-top-left {
    width: 70%;
    float: left;
    padding-right: 7px;
    padding-left: 8px;
}

.footer-list-five-top-right {
    width: 20%;
    float: left;
    padding-left: 5px;
    padding-top: 1px;
}

.footer-call-me-list {
    list-style-type: none;
    margin-top: 0px;
    text-align: right;
    padding: 0px;
    font-family: firaSansMedium;
    line-height: 1.4;
    color: #969fa4;
}

.footer-call-me-list li:first-child {
    font-size: 13px;
}

.footer-call-me-list li:last-child {
    font-size: 13px;
}

.footer-btn-ask-question {
    margin-top: 10px !important;
    margin-right: -20px !important;
}

.circle-call-me-white {
    float: left;
    width: 56px;
    height: 56px;

    border-radius: 28px;
    border-style: solid;
    border-color: #dedede;
    border-width: 2px;

    font-size: 15px;
    line-height: 58px;
    text-align: center;
    font-family: firaSansMedium;
    color: #dedede;
}

.Rounded_Rectangle_6 {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(47, 57, 65);
    background-color: rgb(97, 156, 203);
    opacity: 0.66;

    position: absolute;
    left: 974px;
    top: 121px;
    width: 164px;
    height: 34px;
    z-index: 64;
}

.primary-button {
    width: 165px;
    height: 36px;
    background-color: #538ec3;
    border-radius: 18px;
    color: white;

    font-family: firaSansMedium;
    font-size: 15px;
    border: none;

    box-shadow: 0 0 1px #000, inset 0px 1px 1px #89cae3, inset 0px -2px 1px #376bb2;
    text-shadow: 0px -1px 0px #255fa2;

}
.primary-button:hover {
    background-color: #5da1dc;
}
.primary-button:active {
    position:relative;
    top:1px;
    background-color: #5284b6;
    box-shadow:0 0 2px #000;
}

.flat-primary-button {    
    height: 36px;
    background-color: #538ec3;
    border-radius: 3px;
    color: #fff;

    font-family: firaSansMedium;
    font-size: 18px;
    border: none;
}


.footer-btn-free-test {
    margin-top: 22px;
}

.footer-arrow {
    float: left;
    height: 100%;
    width: 15%;
    margin-left: -10px;
    margin-top: 5px;
}

.arrow-test {
    float: left;
    width: 100%;
}

.test-text {
    float: left;
    height: 100%;
    width: 85%;
    margin-top: 24px;
    margin-left: 7px;
    line-height: 1.4;
    font-size: 12px;
    font-family: firaSansItalic;
    color: #969fa4;
}

.footer-list-four {
    width: 20%;
    height: 100%;
    float: left;
    color: #d0d0d0;
}

.footer-list-five {
    width: 20%;
    height: 100%;
    float: left;
    color: #d0d0d0;
}

.footer-bottom {
    width: 100%;
    height: 20%;
}

.footer-recall {
    color: #dedede;
}

.footer-bottom-content {
    width: 100%;
    height: 30px;
    color: #939ca1;
    font-family: firaSansMedium;
    font-size: 13px;
}

.footer-column-one {
    width: 10%;
    height: 100%;
    float: left;
    margin-right: 27px;
}

.footer-column-two {
    width: 60%;
    height: 100%;
    float: left;
    border-left: 1px solid #939ca1;
    padding-left: 25px;
    margin-top: 9px;
}

.footer-column-three {
    width: 20%;
    height: 100%;
    float: right;
    margin-top: 23px;
    margin-right: -35px;
}

.btn-ask-question {
    float: right;
    width: 140px;
    height: 30px;
    background-color: #e5ebef;
    border-radius: 15px;
    color: #6c7e8c;
    border-top: 1px solid #ffffff;
    margin: 0px;
    padding: 0px;
    font-family: firaSansMedium;
    font-size: 13px;
    white-space: nowrap;
    overflow: visible;
    box-shadow: 0 0 5px #b8c3cc;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.btn-ask-question:active {
    position: relative;
    top: 1px;
    box-shadow: 0 0 0px #b8c3cc;
}

.btn-ask-question:hover {

}

.btn-ask-question-first {
    float: left;
}

.btn-ask-question em {
    vertical-align: middle;
    margin-left: -4px;
    margin-top: -2px;
    margin-right: 6px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(./content/images/home/wheel-ask-question.png) no-repeat 100% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: left top;
    background-size: 15px;

    font-size: 13px;
    font-family: "FiraSans";
    color: rgb(108, 126, 140);
    line-height: 1.154;

}

.btn-ask-question em.leftImage {
    background-position: -96px -112px;
}

.auth-form {
    width: 345px;
    height: 454px;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
}

md-dialog {
    background-color: transparent;
    border-radius: 10px;
}

.auth-form .form-content {
    width: 280px;
    margin: 0 auto;
}

.auth-form .btn-close {
    height: 26px;
    width: 100%;
}

.auth-form .btn-close-image {
    float: right;
    padding-top: 15px;
    padding-right: 16px;
    cursor: pointer;
}

.auth-form .main-text {
    font-family: firaSansRegular;
    font-size: 13px;
    color: #495965;
}

.auth-form .header-text {
    font-family: firaSansMedium;
    font-size: 20px;
    color: #495965;
    margin-top: -2px;
}

.auth-form .first-header {
    margin-top: 19px;
    margin-left: 4px;
}

.auth-form .second-header {
    margin-top: 11px;
    margin-left: 4px;
}

.auth-form .form-input {
    width: 85%;
    height: 37px;
    padding-left: 15%;
    line-height: 41px;
    margin-top: 3px;
    border-radius: 5px;
    border-width: 1px;
    border: 1px solid #d8e0e2;
    background-color: #f7f7f7;
    cursor: pointer;
    background: #f7f7f7 url(./content/images/login-image.png) 10px no-repeat;
    background-size: 20px;
    font-family: firaSansRegular;
    font-size: 13px;
    color: #98a4ac;
}

.auth-form .login-input-password {
    background: #f7f7f7 url(./content/images/password-image.png) 11px no-repeat;
    background-size: 19px;
}

.auth-form .text-after-password {
    width: 100%;
    height: 20px;
    margin-top: 18px;
}

.auth-form .forgot-password-text {
    float: left;
    padding-left: 4px;
    text-decoration: underline;
    cursor: pointer;
}

.auth-form .dont-have-accaunt-text {
    float: right;
    padding-right: 6px;
    text-decoration: underline;
    cursor: pointer;
}

.auth-form .btn-form-action {
    width: 100%;
    height: 45px;
    margin-top: 21px;
    border-radius: 7px;
    border: solid 1px;
    font-family: firaSansRegular;
    font-size: 18px;
    color: #fff;
    background-color: #619ccb;
    cursor: pointer;

}

.auth-form .form-footer {
    width: 100%;
    height: 100%;
    margin-top: 27px;
    background-color: #98a4ac;
}

.auth-form .form-footer .input-by-text {
    font-family: firaSansRegular;
    font-size: 13px;
    color: #fff;
    padding-top: 20px;
    padding-left: 36px;
}

.auth-form .form-footer .login-by-div {
    padding-top: 11px;
    padding-left: 34px;
}

.auth-form .form-footer .login-by-div .login-by-image {
    width: 37px;
    margin-right: 3px;
    cursor: pointer;
}

.register-form .form-input {
    background: #f7f7f7;
    padding-left: 5%;
    width: 95%;
}

.register-form {
    width: 345px;
    height: 465px;
    border-radius: 10px;
    background-color: #fff;

}

.register-form .second-header {
    margin-top: 18px;
}

.register-form .password-text {
    margin-top: 3px;
}

.register-form .repeat-password {
    margin-top: 10px;
}

.register-form .btn-register {
    margin-top: 16px;
    cursor: pointer;
}

.register-form .have-accaunt-text {
    padding-top: 15px;
    padding-left: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.register-form .form-footer {
    margin-top: 13px;
}

.register-form .repeat-password-input {
    margin-top: 8px;
}

.call-me-form {
    width: 265px;
    height: 167px;
    margin-left: -73px;
    position: absolute;
    z-index: 10;
}

.call-me-form span {
    position: relative;
    margin-left: 47%;
    width: 15px;
    height: 15px;
    display: inline-block;
    -ms-transform: skewY(130deg);
    -webkit-transform: skewY(130deg);
    transform: rotate(-45deg);
    border-right: 1px solid #5590c4;
    border-top: 1px solid #5590c4;
    background-color: #fff;
}

.call-me-form .content {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #5aa4e7;
    margin-top: -14px;
}

.call-me-form .content .text {
    font-family: firaSansRegular;
    font-size: 13px;
    color: #495965;
    margin-top: 19px;
    margin-left: 33px;
}

.call-me-form .content .phone-input {
    width: 72%;
    height: 32px;
    padding-left: 3%;
    margin-left: 33px;
    margin-top: 7px;
    border-radius: 5px;
    border: 1px solid #5590c4;
    color: #acacac;
    font-family: firaSansLight;
    font-size: 15px;
    word-spacing: 0.5em;
}

.call-me-form .content .btn-call-me {
    margin-left: 32px;
    margin-top: 20px;
    width: 200px;
    height: 40px;
    background-color: #619ccb;
    color: #fff;
    font-family: firaSansRegular;
    font-size: 15px;
    border-radius: 4px;
    border: 0px solid;
}


.error-text{
    font-family: firaSansRegular;
    font-size: 13px;
      color: #96324e;
}