<md-card class="card-SCVM" ng-class="{'disabled-card': vm.game.disabled}">
    <md-card-content  ng-if="!vm.isEditGame">
        <div layout="row">
            <div flex="20" layout="row" layout-align="center center">
                <img ng-src="{{vm.baseInfo.URL}}{{vm.baseInfo.PORT}}{{vm.game.imageFileDescriptor.path}}"
                     alt="{{vm.game.imageFileDescriptor.name}}"
                     class="game-image">
            </div>
            <div layout="column" flex="60">
                <div layout="row">{{vm.game.name}}</div>
                <div layout="row" class="game-info">
                    <md-input-container flex>
                        <label>Семейство</label>
                        <input value='{{vm.gameFamily.arrayItems[vm.game.family].name}}'  ng-readonly="true">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Номер версии</label>
                        <input value='{{vm.game.version}}'  ng-readonly="true">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Код версии</label>
                        <input value='{{vm.game.versionCode}}' ng-readonly="true">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label>Описание</label>
                        <textarea class="show-overflow"
                                  ng-model="vm.game.description"
                                  ng-readonly="true" rows="8"
                                  md-select-on-focus></textarea>
                    </md-input-container>
                </div>
            </div>
        </div>
    </md-card-content>

    <md-card-content  ng-if="vm.isEditGame">
        <div layout="row">
            <div flex="20" layout="column">
                <div layout="row" layout-align="center center">
                    <img ng-src="{{vm.baseInfo.URL}}{{vm.baseInfo.PORT}}{{vm.game.imageFileDescriptor.path}}"
                         alt="{{vm.game.imageFileDescriptor.name}}"
                         class="game-image">
                </div>
                <div layout="row" layout-align="center center">
                    <md-button type="file" class="btn-attach md-primary md-raised"
                            ngf-select="vm.uploadFiles($file, $invalidFiles)"
                            ngf-max-size="5MB"
                            ng-model="vm.gameImage">
                        Обновить изображение
                    </md-button>
                </div>
            </div>
            <div layout="column" flex="60">
                <div layout="row">
                    <md-input-container flex>
                        <label>Название</label>
                        <input ng-model='vm.game.name'>
                    </md-input-container>
                </div>
                <div layout="row" class="game-info">
                    <md-input-container flex>
                        <label>Семейство</label>
                        <md-select ng-model="vm.game.family">
                            <md-option ng-repeat="gameFamily in vm.gameFamily.arrayItems"
                                ng-value="gameFamily.value">
                                {{ gameFamily.name }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Номер версии</label>
                        <input ng-model='vm.game.version'>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Код версии</label>
                        <input ng-model='vm.game.versionCode'>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label>Описание</label>
                        <textarea class="show-overflow"
                                  ng-model='vm.game.description' rows="8"
                                  md-select-on-focus></textarea>
                    </md-input-container>
                </div>
            </div>
        </div>
    </md-card-content>

    <md-dialog-actions class=card-actions" layout="row" layout-align="end center">
        <div ng-if="!vm.isEditGame">
            <md-button class="md-warn md-raised" ng-click="vm.showConfirm('game', vm.game.id)">Удалить</md-button>
            <md-button class="md-primary md-raised" ng-click="vm.switchStateGame()">
                <span ng-if="!vm.game.disabled">Выключить</span>
                <span ng-if="vm.game.disabled">Включить</span>
            </md-button>
            <md-button class="md-raised" ng-click="vm.editGame()">Редактировать</md-button>
        </div>
        <div ng-if="vm.isEditGame">
            <md-button class="md-primary md-raised" ng-click="vm.cancleEditGame()">Отменить</md-button>
            <md-button class="md-primary md-raised" ng-click="vm.updateGame()">Применить</md-button>
        </div>
    </md-dialog-actions>
</md-card>

<md-card class="card-SCVM game-tariff-form">
    <md-card-content>
        <div layout="row">Тарифы, доступные для данной игры</div>
        <div layout="row" layout-align="center center">
            <md-table-container>
                <table md-table>
                    <thead md-head>
                        <tr md-row>
                            <th md-column><span>Имя</span></th>
                            <th md-column><span>Производительность</span></th>
                            <th md-column>Стоимость слота (₽)</th>
                            <th md-column>Дата создания</th>
                            <th md-column>Управление</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="tariff in vm.game.gameServerTariffs" ng-class="{'disabled-tariff': tariff.disabled}">
                            <td md-cell>
                                <span ng-if="!tariff.isEdit">{{tariff.name}}</span>
                                <md-input-container ng-if="tariff.isEdit">
                                    <label>Имя</label>
                                    <input ng-model='vm.editableTariff.name'>
                                </md-input-container>
                            </td>
                            <td md-cell>
                                <span ng-if="!tariff.isEdit">{{tariff.performance}}</span>
                                <md-input-container ng-if="tariff.isEdit">
                                    <label>Имя</label>
                                    <input ng-model='vm.editableTariff.performance'>
                                </md-input-container>
                            </td>
                            <td md-cell>
                                <span ng-if="!tariff.isEdit">{{tariff.slot}}</span>
                                <md-input-container ng-if="tariff.isEdit">
                                    <label>Имя</label>
                                    <input ng-model='vm.editableTariff.slot'>
                                </md-input-container>
                            </td>
                            <td md-cell>{{tariff.createDate | date:'dd.MM.yyyy'}}</td>
                            <td md-cell>
                                <div ng-if="!tariff.isEdit">
                                    <md-button class="md-warn md-raised" ng-click="vm.showConfirm('tariff', tariff.id)">Удалить</md-button>

                                    <md-button class="md-primary md-raised" ng-click="vm.switchStateTariff(tariff)">
                                        <span ng-if="!tariff.disabled">Выключить</span>
                                        <span ng-if="tariff.disabled">Включить</span>
                                    </md-button>

                                    <md-button class="md-raised" ng-click="vm.editTariff(tariff)">Редактировать</md-button>
                                </div>

                                <div ng-if="tariff.isEdit">
                                    <md-button class="md-primary md-raised" ng-click="vm.cancleEditTariff(tariff)">Отменить</md-button>
                                    <md-button class="md-primary md-raised" ng-click="vm.updateTariff()">Применить</md-button>
                                </div>
                            </td>
                        </tr>
                        <tr md-row>
                            <td md-cell>
                                <md-input-container flex>
                                    <label>Имя</label>
                                    <input ng-model='vm.newTariff.name'>
                                </md-input-container>
                            </td>
                            <td md-cell>
                                <md-input-container flex>
                                    <label>Производительность</label>
                                    <input ng-model='vm.newTariff.performance'>
                                </md-input-container>
                            </td>
                            <td md-cell>
                                <md-input-container flex>
                                    <label>Стоимость слота</label>
                                    <input ng-model='vm.newTariff.slot'>
                                </md-input-container>
                            </td>
                            <td md-cell>
                                <md-input-container flex>
                                    <label>Дата создания</label>
                                    <input value="{{vm.newTariff.createDate | date:'dd.MM.yyyy'}}" ng-readonly="true">
                                </md-input-container>
                            </td>
                            <td md-cell>
                                <md-button class="md-primary md-raised" ng-click="vm.clearNewTariff()">Сбросить</md-button>
                                <md-button class="md-primary md-raised" ng-click="vm.createTariff()">Добавить</md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
    </md-card-content>
</md-card>