.game-tariff-form td.md-cell{
      padding: 5px 10px 0 0 !important;
}

.game-tariff-form td.md-cell md-input-container{
      margin: 0;
}

.game-tariff-form td.md-cell md-input-container .md-errors-spacer{
      min-width: 0;
}

.disabled-card {
      background-color: #dadada;
}

.disabled-tariff {
      background-color: #dadada;
}

.show-overflow {
      overflow-y: scroll;
}