.slider-directive {
	padding-top: 8px;

	.my-slider {
		margin: 0;
		margin-top: -18px;

		.rz-bubble {
			display: none !important;
		}

		.rz-pointer {
			width: 15px !important;
			height: 15px !important;
			background-color: #b9bec2 !important;
			border-radius: 3px !important;
			border: 1px solid #9ea8b0 !important;
			top: -6px !important;
		}

		.rz-pointer:after {
			display: none !important;
		}

		.rz-bar {
			background: #609bca;
			height: 3px;
			border-radius: 5px;
			border-style: inset;
			border-width: 1px;
		}

		.short-line {
			width: 0px;
			height: 7px;
			float: left;
			margin: 2.5px 1.1px;
			color: #e5ebef;
		}

		.short-line:first-child {
			margin-left: 2.1px;
		}
	}

	.lines-with-text {
		.lines {
			margin-top: -12px;

			hr.line {
				width: 0px;
				height: 9px;
				float: left;
				margin: 0 6.7px;
				color: #a8b4bd;
			} 

			hr.long-line {
				height: 20px;
			} 

			hr.first-long-line {
				margin-left: 0px;
			} 

			hr.last-long-line {
				margin-right: 0px;
			} 
		}

		.texts {
			font-family: firaSansRegular;
			font-size: 11px;
			color: #4d5d69;
			margin-top: -11px;

			.first-text {
				padding-left: 11px;
			}

			.second-text {
				padding-left: 13px;
			}

			.third-text {
				text-align: right;
				padding-right: 11px;
			}
		}
	}

	@media screen and (min-width:0\0) {
		/* IE9 and IE10 rule sets go here */
		.lines-with-text {

			.texts {
				margin-top: 10px;
			}
		}
	}
}