<div flex class="slider-directive">
	<rzslider class="my-slider"
         rz-slider-model="valueResult"
         rz-slider-options="slider.options"
         after-render="missionCompled">
     </rzslider>
	<div class="lines-with-text" layout="column">
		<div class="lines" flex>
			<hr class="line long-line first-long-line"/>
			<hr ng-repeat="i in getNumber(10) track by $index" class="line"/>
			<hr class="line long-line"/>
			<hr ng-repeat="i in getNumber(11) track by $index" class="line"/>
			<hr class="line long-line last-long-line"/>
		</div>
		<div class="texts" layout="row">
			<div flex="45" class="first-text">{{firstText}}</div>
			<div flex="40" class="second-text">{{secondText}}</div>
			<div flex class="third-text">{{thirdText}}</div>
		</div>
	</div>
</div>