$server-green-color: #7eca60; 
$server-yellow-color: #dfa70f;
$server-red-color: #df2c0f;

.my-resources-form {

	padding-bottom: 68px;

	.header-text {
		font-family: firaSansMedium;
		font-size: 27px;
		color: #3f4549;
		margin-top: 31px;
		margin-left: 23px;
	}
	.add-resource{
		margin-top:32px;
		margin-right:20px;
	}
	.server-content {
		padding-left: 20px;
		padding-right: 20px;

		.server {
			.main-info {
				background-color: #f6f6f6;
				border: 1px solid #c8d0d6;
				border-radius: 5px;
				margin-top: 27px;
				padding-bottom: 17px;
				position: relative;
				z-index: 2;

				.left {
					padding-left: 21px;
					padding-top: 20px;

					.server-name {
						font-family: firaSansMedium;
						font-size: 15px;
						color: #4d5d69;
						display: inline-table;
					}

					.server-status {
						font-family: firaSansMedium;
						font-size: 13px;
						color: #fff;
						padding: 2px 9px;
						
						margin-top: -3px;
						display: inline-table;
						border-radius: 4px;
						border-width: 1px;
						margin-left: 15px;
					}

					.server-status-green {
						background-color: $server-green-color;
					}

					.server-status-yellow {
						background-color: $server-yellow-color;
					}

					.server-status-red {
						background-color: $server-red-color;
					}


					.server-characteristics {
						font-family: firaSansRegular;
						font-size: 13px;
						color: #4d5d69;
						margin-top: 9px;
					}
				}

				.right {

					.edit-link {
						font-family: firaSansMedium;
						font-size: 13px;
						cursor: pointer;
						text-decoration: underline;
						padding-left: 21px;
						padding-top: 34px;
					}

					.edit-image-div {
						padding-top: 29px;
						padding-left: 7px;

						.edit-image {
							width: 50%;
						}
					}
				}
			}

			.server-green {
				border-color: $server-green-color;
			}

			.server-yellow {
				border-color: $server-yellow-color;
			}

			.server-red {
				border-color: $server-red-color;
			}



			.extension-info {
				background-color: #f6f6f6;
				border: 1px solid #dedede;
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
				margin-top: -4px;
				height: 540px;

				.extension-menu {
					height: 5%;
					margin-top: 12px;

					.extension-menu-list {
						list-style: none;
						padding-left: 0px;
						-moz-user-select: none;
						-webkit-user-select: none;
						li {
							display: inline;
							font-family: firaSansMedium;
							font-size: 13px;
							color: #5f9aca;
							background-color: transparent;
							padding: 6px 13px;
							margin: 0 4px;
							border-radius: 13px;
							border: 1px solid transparent;
							cursor: pointer;
							transition: 200ms linear border;
							&:hover{
								border: 1px solid #8595a1;
							}
						}

						.selected-item {
							color: #fff;
							background-color: #4d5d69;

							transition: 350ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
						}


					}
				}

				.parameter {
					margin-top: 41px;

					.param-image-div {


						.param-image {
							width: 80%;
						}
					}

					.param-name {
						font-family: firaSansMedium;
						font-size: 14px;
						color: #3f4549;
						padding-top: 2px;
					}

					.param-slider {
						padding-left: 14px;
					}

					.param-input {
						padding-left: 15px;
						padding-top: 4px;

						input {
							font-family: firaSansMedium;
							font-size: 15px;
							color: #4d5d69;
							width: 102%;
							line-height: 28px;
							border-radius: 4px;
							border: 1px solid #8595a1;
							padding-left: 11px;
						}
					}

					.param-total {
						font-family: helveticaNeue;
						font-size: 15px;
						color: #96a9b7;
						padding-left: 17px;
						padding-top: 11px;
					}
				}

				.footer {
					margin-top: 48px;
					padding-bottom: 27px;

					.total-price {
						text-align: right;
						font-family: firaSansMedium;
						font-size: 15px;
						color: #4d5d69;
						padding-top: 4px;
						padding-right: 6px;
					}

					.btn-div {
						padding-left: 13px;
						margin-top: -9px;

						.btn-reset {
							font-family: firaSansMedium;
							font-size: 15px;
							color: #fff;
							background-color: #5691c5;
							padding: 9px 30px;
							border-radius: 15px;
							border-width: 1px;
						}
					}
				}
			}
		}
	}
}

.module-info {
	height: 85%;
}

.module-manage {
	height: 15%;
}

.padding-15 {
	padding: 15px;
}