<div flex class="personal-account-transaction-form">
    <div class="header">Операции с лицевым счетом</div>

    <div class="current-balance" layout="row">
    </div>

    <div class="param-time-switcher" layout="row">
        <button class="btn-time-switcher" flex
                pagination-id="accountTransaction"
                ng-class="{'btn-selected':period.isActive}"
                ng-repeat="period in vm.periods"
                ng-click="vm.choosePeriod(period.index)">
            <img ng-if="period.isHaveIcon" src="client/content/images/icons/ic_date_range_black_24px.svg" alt="datepicker">
            {{period.text}}
        </button>
    </div>

    <div class="transactions">
        <div class="transaction-content" layout="column">

            <div flex class="custom-form" layout="row" ng-if="vm.currentPeriod.synonym == 'custom'">
                <div class="text">Начало: </div>
                <md-datepicker md-ink-ripple="false"
                               md-placeholder="Введите дату"
                               ng-model="vm.customPeriod.dateFrom"
                               md-max-date="vm.maxDate"
                               ng-change="vm.changeCustomDate()">
                </md-datepicker>
                <div class="text">Конец: </div>
                <md-datepicker md-ink-ripple="false"
                               md-placeholder="Введите дату"
                               ng-model="vm.customPeriod.dateTo"
                               md-min-date="vm.customPeriod.dateFrom"
                               md-max-date="vm.maxDate"
                               ng-change="vm.changeCustomDate()">
                </md-datepicker>
            </div>

            <div ng-class="{'transaction-list': vm.changePage || vm.billingTransactionInfoList.items.length > 0}" flex="80">
                <div dir-paginate="transaction in vm.billingTransactionInfoList.items |  itemsPerPage: vm.paginationSettings.pageSize"
                    current-page="vm.paginationSettings.pageNumber"
                    total-items="vm.billingTransactionInfoList.totalRows"
                    ng-show="vm.billingTransactionInfoList.items.length">

                    <div class="transaction-row first-transaction-row" layout="row" ng-if="$index == 0">
                        <div flex="20" class="item">Дата</div>
                        <div flex="75" class="item">Тип операции</div>
                        <div flex="15" class="item">Сумма</div>
                    </div>

                    <div class="transaction-row" layout="row"
                         ng-class="{'last-transaction-row':$index == vm.paginationSettings.pageSize - 1 }">
                        <div flex="20" class="item">{{transaction.payments[0].date | date:'d.MM.yyyy'}}</div>

                        <div flex="75" class="item">
                            {{vm.transactionType.arrayItems[transaction.transactionType].translate}}
                            <span ng-if="transaction.transactionType == vm.transactionType.UsageSubscriptionVmPayment ||
                            transaction.transactionType == vm.transactionType.FixedSubscriptionVmPayment">
                                : "{{transaction.payments[0].userVmName}}"
                            </span>
                        </div>
                        <div flex="15" class="item">{{transaction.transactionCashAmount||money}}</div>
                    </div>
                </div>

                <div flex class="transaction-row first-transaction-row"
                     layout="row" layout-align="center"
                     ng-if="!vm.billingTransactionInfoList.items.length && !vm.changePage">
                    <div flex class="item">{{vm.currentPeriod.emptyText}}</div>
                </div>
            </div>

            <div layout="row" layout-align="center">
                <dir-pagination-controls
                        pagination-id="accountTransaction"
                        boundary-links="true"
                        on-page-change="vm.pageChangeHandler(newPageNumber)"
                        template-url="content/pagination/dirPagination.tpl.html">
                </dir-pagination-controls>
            </div>
        </div>
    </div>

</div>