.personal-account-transaction-form {

  .header {
    font-size: 24px;
    font-family: firaSansMedium;
    margin: 0;
    margin-bottom: 10px;
  }

  .param-time-switcher {

    .btn-time-switcher {
      font-family: firaSansMedium;
      font-size: 14px;
      color: #4d5d69;
      border: 1px solid #b8c4cc;
      box-shadow: inset 0 1px 2px #fff, 0 1px 2px #b8c4cc;
      border-right: none;
      padding: 7px ;
    }

    .btn-selected {
      background-color: #5e99c9;
      color: #fff;
      box-shadow: inset 0 2px 3px #183788;
    }
  }

  .transactions {
    min-height: 150px;

    .transaction-content {
      background-color: #e5ebef;
      border: 1px solid #b8c4cc;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 10px;
      min-height: 60px;

      .custom-form {
        font-size: 16px;
        font-family: firaSansMedium;
        margin: 0 auto;
        margin-bottom: 10px;

        .text {
          margin: 0 10px;
          text-align: center;
          padding-top: 10px;
        }

        md-datepicker {
          margin: 0;
          padding: 0;
          background-color: transparent;
        }
      }

      .transaction-list {
        min-height: 250px;
      }

      .ng-hide-remove {
        animation: 1.5s showTransactionAnimate ease;
      }

      @keyframes showTransactionAnimate {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }

      .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        background-color: #5e99c9;
      }

      .transaction-row {

        .item {
          border: 1px dashed #919191;
          border-top: none;
          padding: 10px;
          text-align: center;
          font-family: firaSansRegular;
          font-size: 17px;
        }

        .item:first-child {
          border-left: none;
        }

        .item:last-child {
          border-right: none;
        }
      }

      .last-transaction-row {
        .item {
          border-bottom: none;
        }
      }

      .first-transaction-row {
        .item {
          font-family: firaSansMedium;
          color: #5d8cae;
          font-size: 18px;
        }
      }
    }
  }

}