<md-content class="md-padding page-content">
    <md-card ng-repeat="tariff in tariffs">
        <md-card-content flex>
            <h2>{{tariff.name}}</h2>
            <h3>Настройка оплаты</h3>
            <h3>Цена в месяц</h3>
            <div layout layout-sm="column" ng-show="!tariff.isEdit">
                <md-input-container flex class="margin-right-20">
                    <label>{{currentCurrence.sign}} 1 процессор</label>
                    <input readonly="" value='{{tariff.processor1}}'>
                </md-input-container>
                <md-input-container flex class="margin-right-20">
                    <label>{{currentCurrence.sign}} 512 Мб RAM</label>
                    <input readonly="" value='{{tariff.RAM512}}'>
                </md-input-container>
                <md-input-container flex class="margin-right-20">
                    <label>{{currentCurrence.sign}} 1 Гб HDD</label>
                    <input readonly="" value='{{tariff.HDD1}}'>
                </md-input-container>
                <md-input-container flex>
                    <label>{{currentCurrence.sign}} 1 Гб SSD</label>
                    <input readonly="" value='{{tariff.SSD1}}'>
                </md-input-container>
                <md-input-container flex>
                    <label>{{currentCurrence.sign}} Загрузки ЦП на 10%</label>
                    <input readonly="" value='{{tariff.load10Percent}}'>
                </md-input-container>
            </div>
            <div layout layout-sm="column" ng-show="tariff.isEdit">
                <md-input-container flex class="margin-right-20">
                    <label>{{currentCurrence.sign}} 1 процессор</label>
                    <input ng-model="tariff.editablePrice.processor1" decimal-digit="true">
                </md-input-container>
                <md-input-container flex class="margin-right-20">
                    <label>{{currentCurrence.sign}} 512 Мб RAM</label>
                    <input ng-model="tariff.editablePrice.RAM512" decimal-digit="true">
                </md-input-container>                                 
                <md-input-container flex class="margin-right-20">
                    <label>{{currentCurrence.sign}} 1 Гб HDD</label>
                    <input ng-model="tariff.editablePrice.HDD1" decimal-digit="true">
                </md-input-container>
                <md-input-container flex>
                    <label>{{currentCurrence.sign}} 1 Гб SSD</label>
                    <input ng-model="tariff.editablePrice.SSD1" decimal-digit="true">
                </md-input-container>
                <md-input-container flex>
                    <label>{{currentCurrence.sign}} Загрузки ЦП на 10%</label>
                    <input ng-model="tariff.editablePrice.load10Percent" decimal-digit="true">
                </md-input-container>
            </div>
            <h3>Цена в час</h3>
            <div layout layout-sm="column">
                <md-input-container flex class="margin-right-20">
                    <input readonly="" value='{{tariff.editablePrice.processor1/(30*24) | currency : currentCurrence.sign : 2}}' aria-label="processor1">
                </md-input-container>
                <md-input-container flex class="margin-right-20">
                    <input readonly="" value='{{tariff.editablePrice.RAM512/(30*24) | currency : currentCurrence.sign : 2}}' aria-label="RAM512">
                </md-input-container>
                <md-input-container flex class="margin-right-20">
                    <input readonly="" value='{{tariff.editablePrice.HDD1/(30*24) | currency : currentCurrence.sign : 2}}' aria-label="HDD1">
                </md-input-container>
                <md-input-container flex>
                    <input readonly="" value='{{tariff.editablePrice.SSD1/(30*24) | currency : currentCurrence.sign : 2}}' aria-label="SSD1">
                </md-input-container>
                <md-input-container flex>
                    <input readonly="" value='{{tariff.editablePrice.load10Percent/(30*24) | currency : currentCurrence.sign : 2}} ' aria-label="load10Percent">
                </md-input-container>
            </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center" class="tariff-card-actions">
            <md-checkbox class="update-tariff-checkbox" ng-show="tariff.isEdit && tariff.id " ng-model="tariff.editablePrice.isUpdate">
              Обновить текущий
            </md-checkbox>
            <md-button ng-show="!tariff.isEdit" ng-click="editPrice(tariff.virtualization, tariff.operatingSystem)">Редактировать</md-button>
            <md-button ng-show="tariff.isEdit" ng-click="closeEditPrice(tariff.virtualization, tariff.operatingSystem)">Отменить</md-button>
            <md-button ng-show="tariff.isEdit" ng-click="savePrice(tariff.virtualization, tariff.operatingSystem)">Сохранить</md-button>
        </md-card-actions>
    </md-card>
</md-content>